Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2018-03, with the labels that each got.

#632 Document that RemoveDuplicates preserves order
  docs/msbuild/removeduplicates-task.md
Labels: Area - msbuild

#631 Removes dashes from the sample code
  docs/extensibility/how-to-create-an-atom-feed-for-a-private-gallery.md
Labels: Area - extensibility

#576 Fix for Step 2 of the Add a Command section
  docs/extensibility/adding-a-submenu-to-a-menu.md
Labels: Area - extensibility

#654 New known issue for IntelliTrace step-back
  docs/debugger/how-to-use-intellitrace-step-back.md
Labels: Area - debugging

#672 The arguments in proxied get are out of order/missing
  scripting-docs/javascript/reference/proxy-object-javascript.md
Labels: Area - scripting

#652 Add missing parentheses in several examples
  docs/msbuild/property-functions.md
Labels: Area - msbuild
