Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2018-02, with the labels that each got.

#546 Improve the 'Suppress JIT Optimizations' debugger help topics
  docs/debugger/general-debugging-options-dialog-box.md
  docs/debugger/jit-optimization-and-debugging.md
Labels: Area - debugging

#609 Update Boost documentation link to stay up-to-date with release version
  docs/test/how-to-use-boost-test-for-cpp.md
Labels: Area - C++

#579 Updated documentation to correct reference
  docs/msbuild/msbuild-inline-tasks.md
Labels: Area - msbuild

#536 Small typo in parameters
  docs/msbuild/how-to-build-incrementally.md
Labels: Area - msbuild

#591 Mention name mangling in MSBuild solution builds
  docs/msbuild/how-to-build-specific-targets-in-solutions-by-using-msbuild-exe.md
Labels: Area - msbuild
