Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2020-11, with the labels that each got.

#6047 Repo sync for protected CLA branch
  subscriptions/faq/admin/managing/includes/github-assign-process.md
  subscriptions/faq/admin/managing/index.md
  subscriptions/subscription-expiration.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6052 Repo sync for protected CLA branch
  subscriptions/contact-my-admin.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6048 New RunConfiguration parameter
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech

#6055 Repo sync for protected CLA branch
  docs/test/code-generation-compilation-and-naming-conventions-in-microsoft-fakes.md
  docs/test/isolating-code-under-test-with-microsoft-fakes.md
  docs/test/using-shims-to-isolate-your-application-from-other-assemblies-for-unit-testing.md
  docs/test/using-stubs-to-isolate-parts-of-your-application-from-each-other-for-unit-testing.md
Labels: CLA, do-not-merge

#6058 Repo sync for protected CLA branch
  docs/debugger/how-to-debug-managed-and-native-code.md
  docs/devinit/devinit-commands.md
  docs/devinit/devinit-json.md
  docs/devinit/sample-dotnet-core.md
  docs/get-started/tutorial-open-project-from-repo.md
  docs/ide/find-in-files.md
  docs/profiling/profile-apps-from-command-line.md
Labels: CLA, do-not-merge

#6062 Update Git settings options dialog box screenshot
  docs/ide/media/git-options-settings.png
Labels: aq-pr-triaged, change sent to author, do-not-merge

#6068 Repo sync for protected CLA branch
  docs/code-quality/roslyn-analyzers-overview.md
  docs/extensibility/adding-a-command-to-the-solution-explorer-toolbar.md
  docs/extensibility/creating-custom-editors-and-designers.md
  docs/extensibility/document-data-and-document-view-in-custom-editors.md
  docs/extensibility/editor-and-language-service-extensions.md
  docs/extensibility/extending-the-editor-and-language-services.md
  docs/extensibility/internals/authoring-dot-vsct-files.md
  docs/extensibility/internals/automation-model-overview.md
  docs/extensibility/internals/checklist-creating-new-project-types.md
  docs/extensibility/internals/commands-menus-and-toolbars.md
  docs/extensibility/internals/document-windows.md
  docs/extensibility/internals/syntax-coloring-in-a-legacy-language-service.md
  docs/extensibility/registering-a-tool-window.md
  docs/extensibility/syntax-coloring-in-custom-editors.md
  docs/extensibility/ux-guidelines/colors-and-styling-for-visual-studio.md
  docs/extensibility/visual-studio-sdk.md
  docs/extensibility/vscodewindow-object.md
  docs/extensibility/vscodewindowmanager-object.md
  docs/extensibility/vstextbuffer-object.md
  docs/extensibility/vstextview-object.md
  docs/extensibility/walkthrough-adding-features-to-a-custom-editor.md
  docs/ide/whats-new-visual-studio-docs-history.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/index.yml
  docs/javascript/compile-typescript-code-npm.md
  docs/javascript/javascript-in-vs-2017.md
  docs/modeling/responding-to-and-propagating-changes.md
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
  docs/sharepoint/profiling-the-performance-of-sharepoint-applications.md
  docs/vs-2015-archive.md
  docs/vs-2015/includes/note-settings-general-md.md
  docs/xaml-tools/xaml-errors-warnings.md
  subscriptions/_img/vs-tech-support/vs-tech-support-add-contract-ID.png
  subscriptions/_img/vs-tech-support/vs-tech-support-add-contract.png
  subscriptions/_img/vs-tech-support/vs-tech-support-choose-plan.png
  subscriptions/_img/vs-tech-support/vs-tech-support-contact-info.png
  subscriptions/_img/vs-tech-support/vs-tech-support-create-new.png
  subscriptions/_img/vs-tech-support/vs-tech-support-step1.png
  subscriptions/_img/vs-tech-support/vs-tech-support-step2.png
  subscriptions/_img/vs-tech-support/vs-tech-support-step3.png
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-software-non-visualstudio.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-visual-studio-community.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-visual-studio-for-mac.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-visual-studio-ide.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-vs-code.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-locate-product.md
  subscriptions/solutions/downloading-activating-or-using-software/finding-or-using-product-keys/includes/unable-to-find-or-claim-product-keys.md
  subscriptions/solutions/downloading-activating-or-using-software/using-product-features/includes/cannot-find-ide-feature.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-marketplace.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-microsoft-store.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/where-can-i-purchase-from.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-marketplace.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-microsoft-store.md
  subscriptions/solutions/renewing-purchasing-or-canceling/order-or-purchase-status/includes/find-the-status-of-renewal-or-purchase.md
  subscriptions/solutions/renewing-purchasing-or-canceling/order-or-purchase-status/includes/viewing-my-bill.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-cloud-self.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-dev-essentials.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-retail.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-volume-licensing.md
  subscriptions/vs-tech-support.md
Labels: CLA, do-not-merge

#6070 Invalid XML in CodeCoverage data collector
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech

#5951 Prefix is cpp_, not _cpp__ for C++ .editorconfig settings
  docs/ide/cpp-editorconfig-properties.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5950 remove incorrect `\` in C++ .editorconfig example
  docs/ide/cpp-editorconfig-properties.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6086 Repo sync for protected CLA branch
  docs/designers/walkthrough-windows-forms-designer.md
  docs/ide/git-with-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/xaml-tools/xaml-designtime-data.md
  mac/accessibility-ide-options.md
  mac/accessibility.md
  mac/add-and-remove-project-items.md
  mac/asp-net-core.md
  mac/azure-functions-lab.md
  mac/azure-functions.md
  mac/building-and-cleaning-projects-and-solutions.md
  mac/building-asp-net-core.md
  mac/create-new-projects.md
  mac/customizing-the-ide.md
  mac/data-visualizations.md
  mac/debugging.md
  mac/docker-multi-container.md
  mac/docker-quickstart.md
  mac/editorconfig.md
  mac/ide-tour.md
  mac/integrated-terminal.md
  mac/keyboard-shortcuts.md
  mac/managing-references-in-a-project.md
  mac/managing-solutions-and-project-properties.md
  mac/media/customizing-the-ide-image3a.png
  mac/media/customizing-the-ide-image5a.png
  mac/media/customizing-the-ide-image6b.png
  mac/media/integrated-terminal-change-font.png
  mac/nuget-walkthrough.md
  mac/open-multiple-solutions.md
  mac/projects-and-solutions.md
  mac/publish-app-svc.md
  mac/publish-folder.md
  mac/set-startup-projects.md
  mac/set-up-git-repository.md
  mac/snippets.md
  mac/task-comments.md
  mac/testing.md
  mac/unity-walkthrough.md
  mac/vsmac-for-windows-users.md
  mac/working-with-git.md
  subscriptions/docfx.json
Labels: CLA, do-not-merge

#6087 Typo "Azure functions"→"Azure Functions"
  mac/azure-functions.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-mac/prod, vs-ide-install/tech

#6089 Fix typo
  docs/devinit/devinit-and-codespaces.md
Labels: change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#6094 Repo sync for protected CLA branch
  docs/devinit/tool-wsl-install.md
  docs/windows/index.yml
  mac/TOC.yml
  mac/index.yml
Labels: CLA, do-not-merge

#6096 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  subscriptions/faq/admin/benefits/includes/activate-with-product-keys.md
  subscriptions/faq/admin/benefits/includes/available-benefits.md
  subscriptions/faq/admin/benefits/includes/azure-dev-test-discount.md
  subscriptions/faq/admin/benefits/includes/download-visual-studio.md
  subscriptions/faq/admin/benefits/index.md
  subscriptions/faq/admin/managing/includes/github-assign-process.md
  subscriptions/faq/admin/managing/includes/no-agreement.md
  subscriptions/faq/admin/managing/index.md
  subscriptions/faq/admin/renewal-cancellation/includes/how-to-purchase.md
  subscriptions/faq/admin/renewal-cancellation/includes/renew-subscriptions.md
  subscriptions/faq/admin/renewal-cancellation/includes/renewal-cancellation.md
  subscriptions/faq/admin/renewal-cancellation/index.md
  subscriptions/faq/subscriber/benefits/includes/activate-ide.md
  subscriptions/faq/subscriber/benefits/includes/ghe-process.md
  subscriptions/faq/subscriber/benefits/index.md
  subscriptions/solutions/admin-solutions/includes/admin-task-how-to.md
  subscriptions/solutions/admin-solutions/includes/become-a-super-admin-managed.md
  subscriptions/solutions/admin-solutions/includes/become-an-admin.md
  subscriptions/solutions/admin-solutions/includes/cannot-access-subs.md
  subscriptions/solutions/admin-solutions/includes/request-subscriptions.md
Labels: CLA, do-not-merge

#6100 Repo sync for protected CLA branch
  docs/ide/git-with-visual-studio.md
  docs/ide/media/account-picker.png
  docs/ide/media/accounts-options.png
  docs/ide/media/github-enterprise-endpoint-signin.png
  docs/ide/media/github-success-signin.png
  docs/ide/media/show-both-accounts.png
  docs/ide/media/sign-in-add-github.png
  docs/ide/reference/media/inline-type-hints-csharp.png
  docs/ide/reference/options-text-editor-csharp-advanced.md
  docs/ide/signing-in-to-visual-studio.md
  docs/ide/work-with-github-accounts.md
  docs/toc.yml
  subscriptions/faq/subscriber/benefits/includes/activate-ide.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6105 Update interactive-repl-ipython.md
  docs/python/interactive-repl-ipython.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-python/tech

#6109 Repo sync for protected CLA branch
  docs/debugger/attach-to-process-running-in-docker-container.md
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/remote-debugging-dotnet-core-linux-with-ssh.md
  docs/debugger/toc.yml
  docs/devinit/devinit-json.md
  docs/devinit/tool-azurecli-login.md
  docs/devinit/tool-choco-install.md
  docs/devinit/tool-choco-upgrade.md
  docs/devinit/tool-dotnet-restore.md
  docs/devinit/tool-dotnet-toolinstall.md
  docs/devinit/tool-enable-iis.md
  docs/devinit/tool-msi-install.md
  docs/devinit/tool-npm-install.md
  docs/devinit/tool-nuget-restore.md
  docs/devinit/tool-require-azureartifactscredentialprovider.md
  docs/devinit/tool-require-azurecli.md
  docs/devinit/tool-require-choco.md
  docs/devinit/tool-require-dotnetcoresdk.md
  docs/devinit/tool-require-dotnetframeworksdk.md
  docs/devinit/tool-require-mssql.md
  docs/devinit/tool-require-nodejs.md
  docs/devinit/tool-require-npm.md
  docs/devinit/tool-require-nuget.md
  docs/devinit/tool-require-psmodule.md
  docs/devinit/tool-require-vcpkg.md
  docs/devinit/tool-require-vscomponent.md
  docs/devinit/tool-set-env.md
  docs/devinit/tool-vcpkg-install.md
  docs/devinit/tool-windowsfeature-disable.md
  docs/devinit/tool-windowsfeature-enable.md
  docs/devinit/tool-windowsfeature-list.md
  docs/devinit/tool-wsl-install.md
  docs/sharepoint/creating-web-parts-for-sharepoint.md
  docs/sharepoint/debugging-extensions-for-the-sharepoint-tools-in-visual-studio.md
  docs/sharepoint/debugging-sharepoint-solutions.md
  docs/sharepoint/defining-custom-sharepoint-project-item-types.md
  docs/sharepoint/deploying-extensions-for-the-sharepoint-tools-in-visual-studio.md
  docs/sharepoint/deploying-publishing-and-upgrading-sharepoint-solution-packages.md
  docs/sharepoint/designing-a-business-data-connectivity-model.md
  docs/sharepoint/developing-sharepoint-solutions.md
  docs/sharepoint/differences-between-sandboxed-and-farm-solutions.md
  docs/sharepoint/extending-sharepoint-packaging-and-deployment.md
  docs/sharepoint/extending-sharepoint-project-items.md
  docs/sharepoint/extending-sharepoint-projects.md
  docs/sharepoint/extending-the-sharepoint-connections-node-in-server-explorer.md
  docs/sharepoint/extending-the-sharepoint-project-system.md
  docs/sharepoint/extending-the-sharepoint-tools-in-visual-studio.md
  docs/sharepoint/extensiondata-element.md
  docs/sharepoint/extensiondataitem-element.md
  docs/sharepoint/featureproperties-element.md
  docs/sharepoint/featureproperty-element.md
  docs/sharepoint/files-element.md
Labels: CLA, do-not-merge

#6111 Removed comment regarding redirect from the old repo url as no redirect happens any more
  README.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-family/prod

#6114 Repo sync for protected CLA branch
  docs/cross-platform/develop-apps-for-the-universal-windows-platform-uwp.md
  docs/extensibility/appliesto-element-visual-studio-templates.md
  docs/extensibility/assembly-element-visual-studio-template-wizard-extension.md
  docs/extensibility/assembly-element-visual-studio-templates.md
  docs/extensibility/buildonload-visual-studio-templates.md
  docs/extensibility/buildprojectonload-element-visual-studio-templates.md
  docs/extensibility/createinplace-visual-studio-templates.md
  docs/extensibility/createnewfolder-element-visual-studio-templates.md
  docs/extensibility/customdatasignature-element-visual-studio-templates.md
  docs/extensibility/customparameter-element-visual-studio-templates.md
  docs/extensibility/customparameters-element-visual-studio-templates.md
  docs/extensibility/defaultname-element-visual-studio-templates.md
  docs/extensibility/description-element-visual-studio-templates.md
  docs/extensibility/enableeditoflocationfield-element-visual-studio-templates.md
  docs/extensibility/enablelocationbrowsebutton-element-visual-studio-templates.md
  docs/extensibility/folder-element-visual-studio-project-templates.md
  docs/extensibility/fullclassname-element-visual-studio-template-wizard-extension.md
  docs/extensibility/hidden-element-visual-studio-templates.md
  docs/extensibility/icon-element-visual-studio-templates.md
  docs/extensibility/locationfield-element-visual-studio-project-templates.md
  docs/extensibility/locationfieldmruprefix-element-visual-studio-templates.md
  docs/extensibility/maxframeworkversion-element-visual-studio-templates.md
  docs/extensibility/name-element-visual-studio-templates.md
  docs/extensibility/numberofparentcategoriestorollup-visual-studio-templates.md
  docs/extensibility/previewimage-element-visual-studio-templates.md
  docs/extensibility/project-element-visual-studio-templates.md
  docs/extensibility/projectcollection-element-visual-studio-templates.md
  docs/extensibility/projectitem-element-visual-studio-item-templates.md
  docs/extensibility/projectitem-element-visual-studio-project-templates.md
  docs/extensibility/projectsubtype-element-visual-studio-templates.md
  docs/ide/git-with-visual-studio.md
  docs/ide/signing-in-to-visual-studio.md
  docs/ide/work-with-github-accounts.md
  docs/ide/work-with-multiple-user-accounts.md
  gamedev/unity/change-log-visual-studio-tools-for-unity-mac.md
  gamedev/unity/change-log-visual-studio-tools-for-unity.md
Labels: CLA, do-not-merge

#6118 Repo sync for protected CLA branch
  docs/get-started/tutorial-projects-solutions.md
  docs/ide/git-with-visual-studio.md
  docs/ide/media/account-picker.png
  docs/ide/media/github-success-signin.png
  docs/ide/work-with-github-accounts.md
  docs/xaml-tools/xaml-designtime-data.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6120 Repo sync for protected CLA branch
  docs/ide/codespaces/customize-codespaces.md
  docs/ide/connect-team-project.md
  docs/install/using-visual-studio-vm.md
  docs/sharepoint/additional-information-for-sharepoint-errors.md
  docs/sharepoint/api-reference-sharepoint-tools-extensibility.md
  docs/sharepoint/associating-custom-data-with-sharepoint-tools-extensions.md
  docs/sharepoint/bdc-model-design-tools-overview.md
  docs/sharepoint/browsing-sharepoint-connections-using-server-explorer.md
  docs/sharepoint/building-and-debugging-sharepoint-solutions.md
  docs/sharepoint/calling-into-the-sharepoint-object-models.md
  docs/sharepoint/converting-between-sharepoint-project-system-types-and-other-visual-studio-project-types.md
  docs/sharepoint/create-sharepoint-solutions.md
  docs/sharepoint/creating-a-business-data-connectivity-model.md
  docs/sharepoint/creating-an-association-between-entities.md
  docs/sharepoint/creating-application-pages-for-sharepoint.md
  docs/sharepoint/creating-item-templates-and-project-templates-for-sharepoint-project-items.md
  docs/sharepoint/creating-pages-for-sharepoint.md
  docs/sharepoint/creating-reusable-controls-for-web-parts-or-application-pages.md
  docs/sharepoint/creating-sharepoint-features.md
  docs/sharepoint/creating-sharepoint-solution-packages.md
  docs/sharepoint/creating-sharepoint-workflow-solutions.md
  docs/sharepoint/creating-site-columns-content-types-and-lists-for-sharepoint.md
  docs/sharepoint/creating-site-definitions-for-sharepoint.md
  docs/sharepoint/how-to-add-a-project-output-reference.md
  docs/sharepoint/how-to-add-a-property-to-a-custom-sharepoint-project-item-type.md
  docs/sharepoint/how-to-add-a-property-to-a-sharepoint-project-item-extension.md
  docs/sharepoint/how-to-add-a-property-to-sharepoint-projects.md
  docs/sharepoint/how-to-add-a-resource-file.md
  docs/sharepoint/how-to-add-a-shortcut-menu-item-to-a-custom-sharepoint-project-item-type.md
  docs/sharepoint/how-to-add-a-shortcut-menu-item-to-a-sharepoint-project-item-extension.md
  docs/sharepoint/how-to-add-a-shortcut-menu-item-to-sharepoint-projects.md
  docs/sharepoint/how-to-add-a-specific-finder-method.md
  docs/sharepoint/how-to-add-items-to-a-sharepoint-project.md
  docs/sharepoint/how-to-add-or-remove-sharepoint-connections.md
  docs/sharepoint/how-to-build-sharepoint-solutions.md
  docs/sharepoint/how-to-create-a-bdc-model.md
  docs/sharepoint/how-to-create-a-sharepoint-command.md
  docs/sharepoint/how-to-create-a-sharepoint-project-extension.md
  docs/sharepoint/how-to-create-a-sharepoint-project-item-extension.md
  docs/sharepoint/how-to-create-an-application-page.md
  docs/sharepoint/how-to-create-an-association-between-entities.md
  docs/sharepoint/how-to-create-an-event-receiver-for-a-specific-list-instance.md
  docs/sharepoint/how-to-create-an-event-receiver.md
  docs/test/run-unit-tests-with-test-explorer.md
  docs/xaml-tools/xaml-designtime-data.md
  subscriptions/vs-azure-community.md
Labels: CLA, do-not-merge

#6125 Repo sync for protected CLA branch
  docs/get-started/tutorial-projects-solutions.md
  docs/ide/connect-team-project.md
  docs/ide/git-with-visual-studio.md
  docs/ide/using-intellisense.md
  docs/ide/whats-new-visual-studio-2019.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6129 Repo sync for protected CLA branch
  docs/devinit/getting-started-with-devinit.md
  docs/devinit/media/eshoponweb-csproj.png
  docs/devinit/media/eshoponweb-github-codespaces-prompt.png
  docs/devinit/media/eshoponweb-live.png
  docs/devinit/media/eshoponweb-watching-progress.png
  docs/devinit/toc.yml
  docs/devinit/tutorial.md
Labels: CLA, change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#6130 Repo sync for protected CLA branch
  docs/extensibility/best-practices-for-implementing-a-source-control-plug-in.md
  docs/extensibility/binding-keyboard-shortcuts-to-menu-items.md
  docs/extensibility/bitflags-used-by-specific-commands.md
  docs/extensibility/bitmap-element.md
  docs/extensibility/bitmaps-element.md
  docs/extensibility/breaking-changes-2017.md
  docs/extensibility/button-element.md
  docs/extensibility/buttons-element.md
  docs/extensibility/buttontext-element.md
  docs/extensibility/callback-functions-implemented-by-the-ide.md
  docs/extensibility/capability-flags.md
  docs/extensibility/changing-the-appearance-of-a-command.md
  docs/extensibility/changing-the-text-of-a-menu-command.md
  docs/extensibility/choosing-between-shared-and-versioned-vspackages.md
  docs/extensibility/com-constants-in-managed-code.md
  docs/extensibility/combo-element.md
  docs/extensibility/combos-element.md
  docs/extensibility/command-code-enumerator.md
  docs/extensibility/command-flag-element.md
  docs/extensibility/command-line-switches-visual-studio-sdk.md
  docs/extensibility/commandname-element.md
  docs/extensibility/commandplacement-element.md
  docs/extensibility/commandplacements-element.md
  docs/extensibility/commands-element.md
  docs/extensibility/commandtable-element.md
  docs/extensibility/creating-a-basic-project-system-part-1.md
  docs/extensibility/creating-a-basic-project-system-part-2.md
  docs/extensibility/creating-a-custom-start-page.md
  docs/extensibility/creating-a-multi-instance-tool-window.md
  docs/extensibility/creating-a-settings-category.md
  docs/extensibility/creating-a-software-development-kit.md
  docs/extensibility/creating-a-wpf-toolbox-control.md
  docs/extensibility/creating-an-extension-with-a-menu-command.md
  docs/extensibility/creating-an-extension-with-a-tool-window.md
  docs/extensibility/creating-an-extension-with-a-vspackage.md
  docs/extensibility/creating-an-extension-with-an-editor-item-template.md
  docs/extensibility/creating-an-options-page.md
  docs/extensibility/creating-and-managing-modal-dialog-boxes.md
  docs/extensibility/creating-custom-editors-and-designers.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/python/learn-flask-visual-studio-step-02-create-app.md
  docs/python/profiling-python-code-in-visual-studio.md
Labels: CLA, do-not-merge

#6143 Repo sync for protected CLA branch
  docs/ide/managing-project-and-solution-properties.md
  docs/ide/managing-references-in-a-project.md
  docs/ide/navigating-code.md
  docs/ide/not-in-toc/visual-studio-unrecoverable-process-error.md
  docs/ide/optimize-visual-studio-performance.md
  docs/ide/optimize-visual-studio-startup-time.md
  docs/ide/personalizing-the-visual-studio-ide.md
  docs/ide/preview-changes.md
  docs/ide/productivity-features.md
  docs/ide/quick-actions.md
  docs/ide/quickstart-ide-orientation.md
  docs/ide/reference/accounts-environment-options-dialog-box.md
  docs/ide/reference/add-debugger-display-attribute.md
  docs/ide/reference/add-existing-item-command.md
  docs/ide/reference/add-existing-project-command.md
  docs/ide/reference/add-explicit-cast.md
  docs/ide/reference/add-file-header.md
  docs/ide/reference/add-new-item-command.md
  docs/ide/reference/add-null-checks-for-parameters.md
  docs/ide/reference/add-parameter.md
  docs/ide/reference/advanced-settings-for-services-dialog-box.md
  docs/ide/reference/alias-command.md
  docs/ide/reference/application-page-project-designer-csharp.md
  docs/ide/reference/application-page-project-designer-uwp.md
  docs/ide/reference/application-page-project-designer-visual-basic.md
  docs/ide/reference/assembly-information-dialog-box.md
  docs/ide/reference/autorecover-environment-options-dialog-box.md
  docs/ide/reference/build-devenv-exe.md
  docs/ide/reference/call-hierarchy.md
  docs/ide/reference/choose-toolbox-items-wpf-components.md
Labels: CLA, do-not-merge

#6145 Repo sync for protected CLA branch
  docs/extensibility/internals/adding-directories-to-the-add-new-item-dialog-box.md
  docs/extensibility/internals/adding-directories-to-the-new-project-dialog-box.md
  docs/extensibility/internals/adding-items-to-the-add-new-item-dialog-boxes.md
  docs/extensibility/internals/adding-project-and-project-item-templates.md
  docs/extensibility/internals/additional-source-control-guidelines-for-projects-and-editors.md
  docs/extensibility/internals/application-of-settings-across-multiple-project-connections.md
  docs/extensibility/internals/authoring-a-windows-installer-package.md
  docs/extensibility/internals/authoring-dot-vsct-files.md
  docs/extensibility/internals/automatic-formatting-in-a-legacy-language-service.md
  docs/extensibility/internals/automation-for-configuration-and-selecteditem-objects.md
  docs/extensibility/internals/automation-model-overview.md
  docs/extensibility/internals/automation-support-for-options-pages.md
  docs/extensibility/internals/best-practices-for-security-in-vspackages.md
  docs/extensibility/internals/brace-matching-in-a-legacy-language-service.md
  docs/extensibility/internals/catids-for-objects-that-are-typically-used-to-extend-projects.md
  docs/extensibility/internals/checklist-creating-a-legacy-language-service.md
  docs/extensibility/internals/checklist-creating-new-project-types.md
  docs/extensibility/internals/choosing-the-installation-directory-for-a-vspackage.md
  docs/extensibility/internals/color-theming-tools.md
  docs/extensibility/internals/command-availability.md
Labels: CLA, do-not-merge

#6149 Repo sync for protected CLA branch
  docs/ide/reference/convert-if-statement-to-switch-statement-or-switch-expression.md
  docs/ide/reference/convert-local-function-method.md
  docs/ide/reference/convert-switch-statement-to-switch-expression.md
  docs/ide/reference/convert-var-to-explicit-type.md
  docs/ide/reference/devenv-command-line-switches.md
  docs/ide/reference/diff.md
  docs/ide/reference/documents-environment-options-dialog-box.md
  docs/ide/reference/encapsulate-field.md
  docs/ide/reference/environment-preview-features-options.md
  docs/ide/reference/error-list-window.md
  docs/ide/reference/evaluate-statement-command.md
  docs/ide/reference/find-command.md
  docs/ide/reference/find-in-files-command.md
  docs/ide/reference/go-to-command.md
  docs/ide/reference/go-to-line.md
  docs/ide/reference/list-call-stack-command.md
  docs/ide/reference/list-disassembly-command.md
  docs/ide/reference/list-memory-command.md
  docs/ide/reference/list-modules-command.md
  docs/ide/reference/list-registers-command.md
  docs/ide/reference/list-source-command.md
  docs/ide/reference/list-threads-command.md
  docs/ide/reference/log-command-window-output-command.md
  docs/ide/reference/new-file-command.md
  docs/ide/reference/open-file-command.md
  docs/ide/reference/open-project-command.md
  docs/ide/reference/print-command.md
  docs/ide/reference/quick-watch-command.md
  docs/ide/reference/replace-command.md
  docs/ide/reference/replace-in-files-command.md
  docs/sharepoint/how-to-include-files-by-using-a-module.md
  docs/sharepoint/how-to-localize-a-feature.md
  docs/sharepoint/how-to-localize-aspx-markup.md
  docs/sharepoint/how-to-localize-code.md
  docs/sharepoint/how-to-mark-controls-as-safe-controls.md
  docs/sharepoint/how-to-retrieve-the-sharepoint-project-service.md
  docs/sharepoint/how-to-run-code-when-a-sharepoint-project-is-deployed-or-retracted.md
  docs/sharepoint/how-to-run-code-when-deployment-steps-are-executed.md
  docs/sharepoint/how-to-set-sharepoint-deployment-commands.md
  docs/sharepoint/how-to-use-a-resource-file-to-specify-localized-names-properties-and-permissions.md
  docs/sharepoint/importing-items-from-an-existing-sharepoint-site.md
  docs/sharepoint/integrating-business-data-into-sharepoint.md
  docs/sharepoint/localizing-sharepoint-solutions.md
  docs/sharepoint/merging-xml-in-feature-and-package-manifests.md
  docs/sharepoint/msbuild-properties-supported-by-sharepoint.md
  docs/sharepoint/overview-of-the-programming-model-of-sharepoint-tools-extensions.md
  docs/sharepoint/packaging-and-deploying-sharepoint-solutions.md
  docs/sharepoint/profiling-the-performance-of-sharepoint-applications.md
  docs/sharepoint/programming-concepts-and-features-for-sharepoint-tools-extensions.md
  docs/sharepoint/projectitem-element.md
Labels: CLA, do-not-merge

#6151 Repo sync for protected CLA branch
  docs/extensibility/internals/command-contracts-in-interop-assemblies.md
  docs/extensibility/internals/command-design.md
  docs/extensibility/internals/command-implementation.md
  docs/extensibility/internals/command-placement-guidelines.md
  docs/extensibility/internals/command-routing-algorithm.md
  docs/extensibility/internals/command-routing-in-vspackages.md
  docs/extensibility/internals/commands-and-menus-that-use-interop-assemblies.md
  docs/extensibility/internals/commands-menus-and-toolbars.md
  docs/extensibility/internals/commands-that-must-be-run-after-installation.md
  docs/extensibility/internals/commenting-code-in-a-legacy-language-service.md
  docs/extensibility/internals/component-management.md
  docs/extensibility/internals/configuration-options-overview.md
  docs/extensibility/internals/considerations-for-unloading-and-reloading-nested-projects.md
  docs/extensibility/internals/context-parameters.md
  docs/extensibility/internals/contributing-to-the-add-new-item-dialog-box.md
  docs/extensibility/internals/contributing-to-the-automation-model.md
  docs/extensibility/internals/createexpinstance-utility.md
  docs/extensibility/internals/createpkgdef-utility.md
  docs/extensibility/internals/creating-a-source-control-plug-in.md
  docs/extensibility/internals/creating-a-source-control-vspackage.md
Labels: CLA, do-not-merge
