Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2020-04, with the labels that each got.

#5048 Fix git push error for protected CLA branch
  docs/debugger/debugger-security.md
  docs/ide/editorconfig-formatting-conventions.md
  docs/ide/editorconfig-language-conventions.md
  docs/ide/editorconfig-naming-conventions.md
  docs/javascript/quickstart-ide-orientation-js.md
  docs/test/media/vs-2019/codecoverage1.png
  docs/test/troubleshooting-code-coverage.md
  mac/2017/TOC.md
Labels: do-not-merge

#5052 Fix git push error for protected CLA branch
  docs/deployment/deploying-applications-services-and-components.md
  docs/get-started/csharp/tutorial-uwp.md
  docs/ide/editorconfig-formatting-conventions.md
  docs/ide/editorconfig-language-conventions.md
  docs/ide/editorconfig-naming-conventions.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/msbuild/how-to-specify-which-target-to-build-first.md
  docs/vs-2015/python/getting-started-with-python.md
  docs/vsto/includes/addinsnote.md
  docs/vsto/office-solutions-development-overview-vsto.md
  mac/2017/asp-net-core.md
  mac/asp-net-core.md
  mac/extending-visual-studio-mac.md
  mac/index.yml
  subscriptions/TOC.md
  subscriptions/vs-windows-virtual-desktop.md
  subscriptions/whats-new-in-subscriptions.md
Labels: do-not-merge

#5055 Fix git push error for protected CLA branch
  subscriptions/vs-azure-devops.md
Labels: do-not-merge

#5058 Fix git push error for protected CLA branch
  docs/index.yml
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge

#5065 Fix git push error for protected CLA branch
  docs/ai/about-ai-tools.md
  docs/ai/create-project-existing.md
  docs/ai/create-project-gallery.md
  docs/ai/create-project-repo.md
  docs/ai/create-project.md
  docs/ai/index.yml
  docs/ai/installation.md
  docs/ai/job-details.md
  docs/ai/manage-storage.md
  docs/ai/monitor-gpu.md
  docs/ai/monitor-tensorboard.md
  docs/ai/tensorflow-local.md
  docs/ai/tensorflow-vm.md
  docs/ai/train-model.md
  docs/profiling/analyze-memory-usage.md
  docs/profiling/beginners-guide-to-performance-profiling.md
  docs/profiling/cpu-usage.md
  docs/profiling/media/pdhub_chooseanalysistarget.png
  docs/profiling/memory-usage-without-debugging2.md
  docs/profiling/profile-apps-from-command-line.md
  docs/profiling/running-profiling-tools-with-or-without-the-debugger.md
  docs/profiling/toc.yml
Labels: do-not-merge

#5084 Fix git push error for protected CLA branch
  subscriptions/admin-roles.md
  subscriptions/maximum-usage.md
  subscriptions/personal-email-sign-ins.md
  subscriptions/using-admin-portal.md
Labels: do-not-merge

#5069 Update managing-python-environments-in-visual-studio.md
  docs/python/managing-python-environments-in-visual-studio.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-python/tech

#5086 Fix git push error for protected CLA branch
  .openpublishing.redirection.json
  docs/debugger/how-to-install-a-visualizer.md
  docs/deployment/how-to-debug-a-clickonce-application-with-restricted-permissions.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/test/collect-diagnostic-information-using-test-settings.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/create-a-diagnostic-data-adapter-to-collect-custom-data-or-affect-a-test-machine.md
  docs/test/customizing-code-coverage-analysis.md
  docs/test/how-to-collect-intellitrace-data-to-help-debug-difficult-issues.md
  docs/test/how-to-configure-aspnet-profiler-for-load-tests-using-test-settings.md
  docs/test/how-to-configure-network-emulation-using-test-settings-in-visual-studio.md
  docs/test/how-to-create-a-diagnostic-data-adapter.md
  docs/test/how-to-include-recordings-of-the-screen-and-voice-during-tests.md
  docs/test/how-to-set-up-your-test-agent-to-run-tests-that-interact-with-the-desktop.md
  docs/test/lab-management/install-configure-test-agents.md
  docs/test/lab-management/use-build-or-rm-instead-of-lab-management.md
  docs/test/lab-management/using-a-lab-environment-for-your-application-lifecycle.md
  docs/test/manage-test-controllers-and-test-agents.md
  docs/test/use-ui-automation-to-test-your-code.md
  docs/xaml-tools/xaml-hot-reload.md
Labels: do-not-merge

#5090 Fix git push error for protected CLA branch
  docs/ide/adding-visual-studio-editor-support-for-other-languages.md
  docs/ide/editorconfig-formatting-conventions.md
  docs/test/getting-started-with-unit-testing.md
  docs/test/media/vs-2019/unit-test-method.png
Labels: do-not-merge

#5089 Alphabetize process list
  docs/ide/not-in-toc/visual-studio-unrecoverable-process-error.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#5095 Fix git push error for protected CLA branch
  subscriptions/assign-license-bulk.md
Labels: do-not-merge

#5100 Fix git push error for protected CLA branch
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
  subscriptions/TOC.md
  subscriptions/personal-email-sign-ins.md
Labels: do-not-merge

#5066 .natvisreload must be run in the Immediate Window
  docs/debugger/create-custom-views-of-native-objects.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#5104 Fix git push error for protected CLA branch
  docs/ide/reference/how-to-manage-word-wrap-in-the-editor.md
  docs/test/live-unit-testing.md
  docs/test/media/vs-2019/lut-test-explorer.png
  docs/test/walkthrough-creating-and-running-unit-tests-for-managed-code.md
Labels: do-not-merge

#5112 Fix git push error for protected CLA branch
  docs/ide/create-a-visual-basic-winform-in-visual-studio.md
  docs/ide/create-csharp-winform-visual-studio.md
  mac/publish-folder.md
  subscriptions/vs-azure.md
Labels: do-not-merge

#5115 Fix git push error for protected CLA branch
  docs/ide/how-to-increase-chances-of-performance-issue-being-fixed.md
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/ide/report-a-problem.md
  docs/ide/suggest-a-feature.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/install/workload-and-component-ids.md
  docs/install/workload-component-id-vs-build-tools.md
  docs/install/workload-component-id-vs-community.md
  docs/install/workload-component-id-vs-enterprise.md
  docs/install/workload-component-id-vs-express.md
  docs/install/workload-component-id-vs-feedback-client.md
  docs/install/workload-component-id-vs-professional.md
  docs/install/workload-component-id-vs-team-explorer.md
  docs/install/workload-component-id-vs-test-agent.md
  docs/install/workload-component-id-vs-test-controller.md
  docs/install/workload-component-id-vs-test-professional.md
  docs/xaml-tools/xaml-errors-warnings.md
Labels: do-not-merge

#5116 Using .NET-specific signup for Azure trial
  docs/containers/includes/vs-2017/container-tools.md
  docs/containers/includes/vs-2019/container-tools.md
Labels: change sent to author, ready-to-merge, visual-studio-dev16/prod, vs-azure/tech

#5123 Fix git push error for protected CLA branch
  docs/ide/fips-support-visual-studio.md
  docs/toc.yml
  subscriptions/faq/admin/benefits/includes/activate-subscriptions.md
  subscriptions/faq/admin/benefits/includes/activate-with-product-keys.md
  subscriptions/faq/admin/benefits/includes/available-benefits.md
  subscriptions/faq/admin/benefits/includes/azure-dev-test-discount.md
  subscriptions/faq/admin/benefits/index.md
  subscriptions/faq/admin/managing/includes/assign-subscriptions.md
  subscriptions/faq/admin/managing/includes/email-types.md
  subscriptions/faq/admin/managing/includes/incorrect-subscription-quantity.md
  subscriptions/faq/admin/managing/includes/manage-admins.md
  subscriptions/faq/admin/managing/includes/new-admin.md
  subscriptions/faq/admin/managing/includes/new-agreement.md
  subscriptions/faq/admin/managing/includes/select-end-date.md
  subscriptions/faq/admin/managing/includes/slp-end-dates.md
  subscriptions/faq/admin/managing/index.md
  subscriptions/faq/admin/renewal-cancellation/includes/renew-subscriptions.md
  subscriptions/faq/admin/renewal-cancellation/includes/renewal-cancellation.md
  subscriptions/faq/admin/renewal-cancellation/index.md
  subscriptions/faq/admin/sign-in/includes/add-alternate-identities.md
  subscriptions/faq/admin/sign-in/includes/microsoft-account-vs-work-accounts.md
  subscriptions/faq/admin/sign-in/index.md
  subscriptions/faq/subscriber/azure/includes/benefit-restrictions.md
  subscriptions/faq/subscriber/azure/includes/credit-limitations.md
  subscriptions/faq/subscriber/azure/includes/credits-cost.md
  subscriptions/faq/subscriber/azure/includes/credits-for-production.md
  subscriptions/faq/subscriber/azure/includes/find-more-info.md
  subscriptions/faq/subscriber/azure/includes/get-started-with-azure-credits.md
  subscriptions/faq/subscriber/azure/includes/pool-azure-credits.md
  subscriptions/faq/subscriber/azure/includes/what-are-credits.md
  subscriptions/faq/subscriber/azure/includes/work-account-sign-in.md
  subscriptions/faq/subscriber/azure/index.md
  subscriptions/faq/subscriber/benefits/includes/available-benefits.md
  subscriptions/faq/subscriber/benefits/includes/use-benefits.md
  subscriptions/faq/subscriber/benefits/index.md
  subscriptions/faq/subscriber/portal/includes/access-without-credentials.md
  subscriptions/faq/subscriber/portal/includes/alternate-identities.md
  subscriptions/faq/subscriber/portal/includes/expiration.md
  subscriptions/faq/subscriber/portal/includes/find-admin.md
  subscriptions/faq/subscriber/portal/includes/work-or-personal-email.md
  subscriptions/faq/subscriber/portal/index.md
  subscriptions/faq/subscriber/renewals/includes/cloud-renewal.md
  subscriptions/faq/subscriber/renewals/includes/renewal-period.md
  subscriptions/faq/subscriber/renewals/index.md
  subscriptions/faq/subscriber/software/includes/access-keys.md
  subscriptions/faq/subscriber/software/includes/available-downloads.md
  subscriptions/faq/subscriber/software/includes/key-activation.md
  subscriptions/faq/subscriber/software/index.md
Labels: do-not-merge

#5124 Fix git push error for protected CLA branch
  .openpublishing.redirection.json
  docs/ai/TOC.yml
  docs/ai/index.yml
  docs/ai/overview.md
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/ide/fips-support-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge

#5125 Fix git push error for protected CLA branch
  .openpublishing.redirection.json
  docs/debugger/remote-debugging-azure.md
  docs/debugger/unable-to-connect-to-the-microsoft-visual-studio-remote-debugging-monitor.md
  subscriptions/assign-license-bulk.md
Labels: do-not-merge

#5128 Fix git push error for protected CLA branch
  docs/debugger/unable-to-connect-to-the-microsoft-visual-studio-remote-debugging-monitor.md
Labels: do-not-merge

#5131 Fix git push error for protected CLA branch
  .openpublishing.redirection.json
  docs/code-quality/ca1811.md
  docs/containers/tutorial-kubernetes-tools.md
  docs/deployment/how-to-check-for-application-updates-programmatically-using-the-clickonce-deployment-api.md
  docs/extensibility/private-galleries.md
  docs/extensibility/roslyn-analyzers-and-code-aware-library-for-immutablearrays.md
  docs/ide/quickstart-python.md
  docs/ide/reference/how-to-manage-word-wrap-in-the-editor.md
  docs/javascript/publish-nodejs-app-azure.md
  docs/modeling/vs-shell-deployment.md
  docs/sharepoint/deploying-publishing-and-upgrading-sharepoint-solution-packages.md
  docs/test/editing-coded-ui-tests-using-the-coded-ui-test-editor.md
  docs/vs-2015/debugger/debug-xaml-in-blend.md
  docs/vs-2015/deployment/how-to-check-for-application-updates-programmatically-using-the-clickonce-deployment-api.md
  docs/vs-2015/extensibility/getting-started-with-roslyn-analyzers.md
  docs/vs-2015/extensibility/private-galleries.md
  docs/vs-2015/extensibility/roslyn-analyzers-and-code-aware-library-for-immutablearrays.md
  docs/vs-2015/install/create-an-offline-installation-of-visual-studio.md
  docs/vs-2015/install/install-visual-studio-2015.md
  docs/vs-2015/msbuild/additional-msbuild-resources.md
  docs/vsto/deploying-a-vsto-solution-by-using-windows-installer.md
  docs/vsto/troubleshooting-office-solution-deployment.md
  subscriptions/TOC.md
  subscriptions/_img/manage-vs-subscriptions/current-subscription-cropped.png
  subscriptions/_img/vs-azure-community/vs-azure-community-tile.png
  subscriptions/_img/vs-azure-devops/vs-azure-devops-tile.png
  subscriptions/_img/vs-azure-payg/vs-azure-payg-tile.PNG
  subscriptions/_img/vs-azure/vs-azure-tile.PNG
  subscriptions/_img/vs-cast-highlight/vs-cast-highlight-tile.png
  subscriptions/_img/vs-cloudpilot/vs-cloudpilot-tile-ent.png
  subscriptions/_img/vs-code-magazine/vs-code-magazine-tile.png
  subscriptions/activate-store-subscriptions.md
  subscriptions/buy-activate-retail.md
  subscriptions/manage-vs-subscriptions.md
  subscriptions/vs-azure-devops.md
  subscriptions/vs-azure-payg.md
Labels: do-not-merge

#5132 Update visual-studio-unrecoverable-process-error.md
  docs/ide/not-in-toc/visual-studio-unrecoverable-process-error.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5005 Update doc for CA1034 to mention builder pattern
  docs/code-quality/ca1034.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5007 Update doc for CA2000 to mention exclusion for System.IO.StringReader
  docs/code-quality/ca2000.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5014 Update doc for CA2227 to mention exclusion of immutable and readonly collections
  docs/code-quality/ca2227.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5011 Update doc for CA1720 to stop mentioning obj
  docs/code-quality/ca1720.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5133 removing extra \ to allow copy and paste to work
  docs/ide/how-to-increase-chances-of-performance-issue-being-fixed.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5120 Add information to Framework switch
  docs/test/vstest-console-options.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech

#5006 Update doc for CA1021 to mention api surface configurability
  docs/code-quality/ca1021.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5040 We don't GAC MSBuild assemblies
  docs/msbuild/msbuild-inline-tasks.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5013 Update doc for CA1304 to mention excluded symbols
  docs/code-quality/ca1304.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5009 Update doc for CA1716 to mention configurability of symbol kinds
  docs/code-quality/ca1716.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5010 Update doc for CA1501 to mention configurability of the inheritance check
  docs/code-quality/ca1501.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5015 Update doc for CA1506 to mention exclusion of generated types
  docs/code-quality/ca1506.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5019 Update doc for CA1721 to mention exclusion of obsolete members
  docs/code-quality/ca1721.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5008 Update doc for CA1303 to mention new configurability
  docs/code-quality/ca1303.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5016 Update doc for CA1305 to mention excluded types
  docs/code-quality/ca1305.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5017 Update doc for CA1801 to mention exclusion of serialization methods
  docs/code-quality/ca1801.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5018 Update doc for CA1010 to mention new configurability
  docs/code-quality/ca1010.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5154 Fix git push error for protected CLA branch
  docs/code-quality/fxcop-rule-port-status.md
  docs/code-quality/how-to-generate-code-metrics-data.md
  docs/code-quality/mixed-minimum-rules-rule-set.md
  docs/code-quality/mixed-recommended-rules-rule-set.md
  docs/code-quality/native-minimum-rules-rule-set.md
  docs/code-quality/native-recommended-rules-rule-set.md
  docs/cross-platform/using-visual-studio-tools-for-unity.md
  docs/debugger/toc.yml
  docs/debugger/warning-script-debugging-disabled.md
  docs/deployment/code-access-security-for-clickonce-applications.md
  docs/deployment/how-to-add-a-trusted-publisher-to-a-client-computer-for-clickonce-applications.md
  docs/deployment/how-to-configure-the-clickonce-trust-prompt-behavior.md
  docs/deployment/how-to-re-sign-application-and-deployment-manifests.md
  docs/deployment/securing-clickonce-applications.md
  docs/deployment/toc.yml
  docs/extensibility/walkthrough-adding-features-to-a-custom-editor.md
  docs/ide/create-portable-custom-editor-options.md
  docs/ide/reference/debug-page-project-designer.md
  docs/ide/reference/security-page-project-designer.md
  docs/javascript/javascript-in-vs-2017.md
  docs/javascript/npm-package-management.md
  docs/sharepoint/sharepoint-project-and-project-item-templates.md
  docs/test/writing-unit-tests-for-c-cpp.md
  docs/vsto/excel-object-model-overview.md
  docs/xaml-tools/creating-a-ui-by-using-xaml-designer-in-visual-studio.md
  docs/xaml-tools/designing-xaml-in-visual-studio.md
  docs/xaml-tools/pen-tool-modifier-keys-in-blend.md
Labels: do-not-merge

#5157 Fix git push error for protected CLA branch
  docs/extensibility/managing-universal-windows-projects.md
  docs/javascript/create-application-with-vuejs.md
  docs/javascript/quickstart-vuejs-with-nodejs.md
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
  docs/javascript/tutorial-nodejs.md
  subscriptions/TOC.md
  subscriptions/_img/vs-m365/vs-m365-tile.png
  subscriptions/assign-guid.md
  subscriptions/vs-m365.md
Labels: do-not-merge

#5162 Fix git push error for protected CLA branch
  docs/code-quality/analyzers-faq.md
  docs/javascript/media/tutorial-nodejs-react-install-package.png
  docs/javascript/media/tutorial-nodejs-react-npm-modules-installed.png
  docs/javascript/media/tutorial-nodejs-react-run-webpack-cmd.png
  docs/javascript/npm-package-management.md
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
  docs/profiling/vsinstr.md
  subscriptions/assign-guid.md
Labels: do-not-merge

#5166 Change quoting in TrimEnd example
  docs/msbuild/msbuild-conditions.md
Labels: aq-pr-triaged, change sent to author, msbuild/tech, ready-to-merge, visual-studio-windows/prod

#5167 Fix git push error for protected CLA branch
  docs/deployment/how-to-specify-an-alternate-location-for-deployment-updates.md
  docs/deployment/toc.yml
  docs/get-started/csharp/breadcrumb/toc.yml
  docs/get-started/visual-basic/breadcrumb/toc.yml
  docs/vs-2015/deployment/how-to-specify-an-alternate-location-for-deployment-updates.md
  docs/vs-2015/misc/upgrading-custom-projects.md
  mac/TOC.yml
  subscriptions/buy-activate-retail.md
Labels: do-not-merge

#4872 MSBuild: SkipNonexistentTargets on MSBuild task
  docs/msbuild/msbuild-task.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#4752 Fix positioning of the `number` parameter in the `-flp` switch.
  docs/msbuild/msbuild-command-line-reference.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#4891 Update xmlpoke-task.md
  docs/msbuild/xmlpoke-task.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#4963 Update how-to-specify-which-target-to-build-first.md
  docs/msbuild/how-to-specify-which-target-to-build-first.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5176 Fix git push error for protected CLA branch
  docs/code-quality/ca1066.md
  docs/code-quality/ca1067.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/design-warnings.md
  docs/code-quality/toc.yml
  docs/install/using-visual-studio-vm.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/test/microsoft-visualstudio-testtools-cppunittestframework-api-reference.md
Labels: do-not-merge

#5179 Fix git push error for protected CLA branch
  docs/deployment/securing-clickonce-applications.md
Labels: do-not-merge

#5180 Fix git push error for protected CLA branch
  docs/code-quality/ca1508.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/maintainability-warnings.md
  docs/code-quality/toc.yml
  docs/get-started/csharp/media/get-started-data-tip.gif
  docs/get-started/csharp/media/get-started-set-breakpoint.gif
  docs/get-started/csharp/media/get-started-set-breakpoint.png
  docs/get-started/csharp/media/get-started-step-over.png
  docs/get-started/csharp/media/get-started-view-data-tip.png
  docs/get-started/csharp/tutorial-debugger.md
  docs/ide/template-tags.md
  docs/test/create-unit-tests-menu.md
  docs/test/getting-started-with-unit-testing.md
Labels: do-not-merge

#5188 Fix links.
  docs/code-quality/fxcop-rule-port-status.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5186 Add missing links
  docs/code-quality/fxcop-rule-port-status.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5199 Fix git push error for protected CLA branch
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
Labels: do-not-merge

#5185 Corrected "filelogparameters" to "fileLoggerParameters".
  docs/msbuild/obtaining-build-logs-with-msbuild.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#4935 Explain need for Locator API call
  docs/msbuild/updating-an-existing-application.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5205 Fix git push error for protected CLA branch
  subscriptions/assign-license-bulk.md
  subscriptions/assign-license.md
  subscriptions/edit-license.md
  subscriptions/open-migration.md
  subscriptions/vs-azure.md
Labels: do-not-merge

#5212 Fix typo
  docs/code-quality/code-metrics-values.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech
