Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2020-08, with the labels that each got.

#5665 Fix git push error for protected CLA branch
  docs/ide/customizing-window-layouts-in-visual-studio.md
  docs/ide/media/vs-2019/vertical-tabs.gif
  subscriptions/_img/buy-vs-subscriptions/enter-product-key.png
Labels: do-not-merge

#5670 Fix git push error for protected CLA branch
  .openpublishing.publish.config.json
  docker/docfx.json
Labels: do-not-merge

#5671 Fix git push error for protected CLA branch
  docker/TOC.yml
  docker/breadcrumb/toc.yml
  docker/index.md
Labels: do-not-merge

#5677 Fix git push error for protected CLA branch
  docs/ide/whats-new-visual-studio-2019.md
  docs/install/includes/vs-2019/workload-component-id-vs-build-tools.md
  docs/install/includes/vs-2019/workload-component-id-vs-community.md
  docs/install/includes/vs-2019/workload-component-id-vs-enterprise.md
  docs/install/includes/vs-2019/workload-component-id-vs-professional.md
  docs/install/includes/vs-2019/workload-component-id-vs-team-explorer.md
  docs/install/includes/vs-2019/workload-component-id-vs-test-agent.md
  docs/install/includes/vs-2019/workload-component-id-vs-test-controller.md
  docs/install/workload-and-component-ids.md
  docs/install/workload-component-id-vs-build-tools.md
  docs/install/workload-component-id-vs-community.md
  docs/install/workload-component-id-vs-enterprise.md
  docs/install/workload-component-id-vs-team-explorer.md
  docs/install/workload-component-id-vs-test-agent.md
  docs/install/workload-component-id-vs-test-controller.md
  subscriptions/TOC.md
  subscriptions/use-connected-identities.md
Labels: do-not-merge

#5679 Fix git push error for protected CLA branch
  docs/ide/whats-new-visual-studio-2019.md
Labels: do-not-merge

#5680 Fix git push error for protected CLA branch
  .openpublishing.publish.config.json
  visualstudio/gamedev/docfx.json
Labels: do-not-merge

#5681 Fix git push error for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  visualstudio/gamedev/TOC.yml
  visualstudio/gamedev/breadcrumb/toc.yml
  visualstudio/gamedev/index.md
Labels: do-not-merge

#5661 Update managing-python-environments-in-visual-studio.md
  docs/python/managing-python-environments-in-visual-studio.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-python/tech

#5682 Fix git push error for protected CLA branch
  .openpublishing.publish.config.json
Labels: do-not-merge

#5688 Remove duplicate section
  docs/msbuild/how-to-extend-the-visual-studio-build-process.md
Labels: change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5689 Fix git push error for protected CLA branch
  docs/ide/developer-community-guidelines.md
Labels: do-not-merge

#5694 Fix typo
  docs/code-quality/ca1802.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5711 Update how-to-create-an-xml-document-based-on-an-xsd-schema.md #5664
  docs/xml-tools/how-to-create-an-xml-document-based-on-an-xsd-schema.md
  docs/xml-tools/how-to-edit-xml-files.md
Labels: Write-the-Docs-2020, change sent to author, do-not-merge, visual-studio-windows/prod, vs-xml-tools/tech

#5703 Update disable-dpi-awareness.md
  docs/designers/disable-dpi-awareness.md
Labels: Write-the-Docs-2020, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-designers/tech

#5709 Update creating-a-windows-forms-toolbox-control.md
  docs/extensibility/creating-a-windows-forms-toolbox-control.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#5710 Update creating-custom-project-and-item-templates.md
  docs/extensibility/creating-custom-project-and-item-templates.md
Labels: Write-the-Docs-2020, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#5708 Update anatomy-of-a-vsix-package.md
  docs/extensibility/anatomy-of-a-vsix-package.md
Labels: Write-the-Docs-2020, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#5706 Update adding-a-menu-to-the-visual-studio-menu-bar.md
  docs/extensibility/adding-a-menu-to-the-visual-studio-menu-bar.md
Labels: Write-the-Docs-2020, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#5715 Fix git push error for protected CLA branch
  docs/vsto/global-access-to-objects-in-office-projects.md
  docs/vsto/office-ui-customization.md
Labels: do-not-merge

#5544 Fix a typo
  docs/code-quality/ca2007.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5701 Update tutorial-import-publish-settings-iis.md
  docs/deployment/tutorial-import-publish-settings-iis.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-deployment/tech

#5702 Update walkthrough-manually-deploying-a-clickonce-application.md
  docs/deployment/walkthrough-manually-deploying-a-clickonce-application.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-deployment/tech

#5716 Add Configurability - Api Surface section
  docs/code-quality/ca1002.md
  docs/code-quality/ca1046.md
  docs/code-quality/ca1700.md
  docs/code-quality/ca1707.md
  docs/code-quality/ca1822.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5695 Changes to Block 23 for VS WriteTheDocs
  docs/sharepoint/walkthrough-creating-a-web-part-for-sharepoint.md
  subscriptions/access-github.md
  subscriptions/admin-roles.md
  subscriptions/assign-license-bulk.md
  subscriptions/assign-license.md
  subscriptions/buy-activate-retail.md
  subscriptions/contact-my-admin.md
  subscriptions/download-software.md
  subscriptions/find-keys.md
  subscriptions/manage-mpn-subscriptions.md
  subscriptions/manage-vs-subscriptions.md
  subscriptions/microsoft-365-apps-for-enterprise.md
  subscriptions/mpsa.md
  subscriptions/software-download-list.md
  subscriptions/using-admin-portal.md
  subscriptions/vs-alternate-identity.md
  subscriptions/vs-azure.md
  subscriptions/vscloud-billing-faq.md
  subscriptions/vscloud-overview.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, do-not-merge, sharepoint-development/tech, visual-studio-family/prod, visual-studio-windows/prod

#5721 "double-click" fix update per PR 5711
  docs/xml-tools/how-to-edit-xml-files.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-xml-tools/tech

#5722 Repo sync for protected CLA branch
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/il3000.md
  docs/code-quality/toc.yml
  docs/extensibility/internals/microsoft-help-viewer-sdk.md
  docs/extensibility/ux-guidelines/composite-patterns-for-visual-studio.md
  docs/ide/media/SuggestStates/closed-out-of-scope.png
  docs/ide/media/report-a-problem-logs-collected.png
  docs/ide/suggest-a-feature.md
  docs/install/command-line-parameter-examples.md
  docs/install/install-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/vs-2015/extensibility/image-service-and-catalog.md
  docs/vs-2015/extensibility/license-element-vsix-language-pack-schema.md
  docs/vs-2015/extensibility/localizeddescription-element-vsix-language-pack-schema.md
  docs/vs-2015/extensibility/localizedname-element-vsix-language-pack-schema.md
  docs/vs-2015/extensibility/moreinfourl-element-vsix-language-pack-schema.md
  docs/vs-2015/extensibility/ux-guidelines/application-patterns-for-visual-studio.md
  docs/vs-2015/extensibility/ux-guidelines/composite-patterns-for-visual-studio.md
  docs/vs-2015/extensibility/vsixlanguagepack-element-vsix-language-pack-schema.md
Labels: CLA, do-not-merge

#5725 Repo sync for protected CLA branch
  docs/code-quality/ca1831.md
  docs/profiling/profiling-tools-usage-rules.md
  docs/rtvs/integrating-sql-server-with-r.md
  docs/rtvs/visualizing-data-with-r-in-visual-studio.md
  docs/test/lab-management/using-a-lab-environment-for-your-application-lifecycle.md
  scripting-docs/winscript/reference/iactivescriptparse-parsescripttext.md
  scripting-docs/winscript/reference/iactivescriptparse32-parsescripttext.md
  scripting-docs/winscript/reference/iactivescriptparseprocedure.md
  scripting-docs/winscript/reference/iactivescriptparseprocedure32.md
  scripting-docs/winscript/reference/iactivescriptsite.md
  scripting-docs/winscript/reference/iactivescriptsitetraceinfo-interface.md
  scripting-docs/winscript/reference/idispatchex-deletememberbydispid.md
  scripting-docs/winscript/reference/idispatchex-deletememberbyname.md
  scripting-docs/winscript/reference/idispatchex-getdispid.md
  scripting-docs/winscript/reference/idispatchex-getmembername.md
  scripting-docs/winscript/reference/idispatchex-getmemberproperties.md
  scripting-docs/winscript/reference/idispatchex-getnextdispid.md
  scripting-docs/winscript/reference/idispatchex-invokeex.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-dev15/prod, vs-rtvs/tech

#5720 "double-click" fix update to PR 5709
  docs/extensibility/creating-a-windows-forms-toolbox-control.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, unspecified/svc

#5729 Fix list item content indentation
  docs/install/install-visual-studio-versions-side-by-side.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#5731 Repo sync for protected CLA branch
  docs/ide/reference/trust-settings.md
  mac/TOC.yml
  mac/media/create-new-test-project.png
  mac/media/run-tests-context-menu.png
  mac/media/test-results-window.png
  mac/media/test-window.png
  mac/testing.md
Labels: CLA, do-not-merge

#5727 Typo "Azure storage emulator"→"Azure Storage Emulator"
  docs/azure/vs-azure-tools-configure-roles-for-cloud-service.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#5732 Added link in Go To Line
  docs/ide/reference/go-to-line.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#5734 Repo sync for protected CLA branch
  docs/code-quality/ca1838.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/performance-warnings.md
  docs/code-quality/toc.yml
  docs/ide/reference/media/inline-parameter-name-hints-csharp.png
  docs/ide/reference/media/inline-parameter-name-hints-visualbasic.png
  docs/ide/reference/options-text-editor-basic-visual-basic.md
  docs/ide/reference/options-text-editor-csharp-advanced.md
  docs/ide/visual-studio-performance-tips-and-tricks.md
  mac/building-asp-net-core.md
  mac/set-up-git-repository.md
Labels: CLA, do-not-merge

#5736 Typo "GitHib"→"GitHub"
  docs/rtvs/installer.md
Labels: change sent to author, do-not-merge, visual-studio-dev15/prod, vs-rtvs/tech

#5737 Typo "GitHib"→"GitHub"
  docs/python/learn-flask-visual-studio-step-04-full-flask-project-template.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-python/tech

#5745 Repo sync for protected CLA branch
  docs/code-quality/install-fxcop-analyzers.md
Labels: CLA, do-not-merge

#5750 Repo sync for protected CLA branch
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/ide/media/feedback-attachments.png
  docs/ide/media/feedback-browser-top.png
  docs/ide/media/feedback-button.png
  docs/ide/media/feedback-duplicate.png
  docs/ide/media/feedback-my-feedback.png
  docs/ide/media/feedback-need-more-info.png
  docs/ide/media/feedback-recording.png
  docs/ide/media/feedback-report.png
  docs/ide/media/feedback-screenshot.png
  docs/ide/media/feedback-search.png
  docs/ide/report-a-problem.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: CLA, do-not-merge

#5751 Repo sync for protected CLA branch
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/il3000.md
  docs/code-quality/il3001.md
  docs/code-quality/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5705 Update walkthrough-windows-forms-designer.md
  docs/designers/walkthrough-windows-forms-designer.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-designers/tech

#5697 Update quickstart-deploy-to-azure.md
  docs/deployment/quickstart-deploy-to-azure.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-deployment/tech

#5712 Write-the-docs-2020-#5664-block#1
  docs/ai/installation.md
  docs/azure/vs-azure-tools-configure-roles-for-cloud-service.md
  docs/azure/vs-azure-tools-connected-services-storage.md
  docs/azure/vs-azure-tools-debug-cloud-services-virtual-machines.md
  docs/azure/vs-azure-tools-emulator-express-debug-run.md
  docs/azure/vs-azure-tools-resources-managing-with-cloud-explorer.md
  docs/azure/vs-azure-tools-storage-resources-server-explorer-browse-manage.md
  docs/code-quality/analyzer-rule-sets.md
  docs/code-quality/code-analysis-for-managed-code-overview.md
  docs/code-quality/configure-fxcop-analyzers.md
  docs/code-quality/disable-code-analysis.md
  docs/code-quality/how-to-configure-code-analysis-for-a-managed-code-project.md
  docs/code-quality/how-to-create-a-custom-rule-set.md
  docs/code-quality/how-to-enable-and-disable-automatic-code-analysis-for-managed-code.md
  docs/code-quality/how-to-generate-code-metrics-data.md
  docs/code-quality/how-to-run-code-analysis-manually-for-managed-code.md
  docs/code-quality/in-source-suppression-overview.md
  docs/code-quality/install-fxcop-analyzers.md
  docs/code-quality/use-roslyn-analyzers.md
  docs/code-quality/working-in-the-code-analysis-rule-set-editor.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#5700 Update tutorial-import-publish-settings-azure.md
  docs/deployment/tutorial-import-publish-settings-azure.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-deployment/tech

#5713 Write the Docs - Updates for Block 22
  docs/python/publish-to-app-service-windows.md
  docs/python/python-interactive-repl-in-visual-studio.md
  docs/python/python-web-application-project-templates.md
  docs/python/quickstart-05-python-visual-studio-open-folder.md
  docs/python/refactoring-python-code.md
  docs/python/search-paths.md
  docs/python/selecting-a-python-environment-for-a-project.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-01-create-project.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-03-interactive-repl.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-04-debugging.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-05-installing-packages.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-06-working-with-git.md
  docs/python/using-python-cookiecutter-templates.md
  docs/python/visual-studio-ide.md
  docs/python/working-with-c-cpp-python-in-visual-studio.md
  docs/rtvs/getting-started-with-r.md
  docs/rtvs/rmarkdown-with-r-in-visual-studio.md
  docs/rtvs/visualizing-data-with-r-in-visual-studio.md
Labels: Write-the-Docs-2020, aq-pr-triaged, change sent to author, do-not-merge, visual-studio-dev15/prod, vs-python/tech

#5771 Repo sync for protected CLA branch
  docs/code-quality/how-to-create-a-custom-rule-set.md
  docs/code-quality/how-to-generate-code-metrics-data.md
  docs/code-quality/how-to-run-code-analysis-manually-for-managed-code.md
  docs/code-quality/in-source-suppression-overview.md
  docs/code-quality/install-fxcop-analyzers.md
  docs/code-quality/use-roslyn-analyzers.md
  docs/code-quality/working-in-the-code-analysis-rule-set-editor.md
  docs/xml-tools/how-to-create-an-xml-document-based-on-an-xsd-schema.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5770 Correct link text of links
  docs/ide/managing-application-resources-dotnet.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#5776 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: CLA, do-not-merge

#5779 Repo sync for protected CLA branch
  subscriptions/solutions/admin-solutions/includes/how-do-i-change-my-sign-in-email-admin.md
  subscriptions/solutions/other-or-no-solution/includes/no-solution.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#5668 Docker tutorial
  .openpublishing.redirection.json
  docs/docker/TOC.yml
  docs/docker/docfx.json
  docs/docker/tutorials/deploy-to-cloud.md
  docs/docker/tutorials/docker-tutorial.md
  docs/docker/tutorials/image-building-best-practices.md
  docs/docker/tutorials/media/addazureextension.png
  docs/docker/tutorials/media/attach_shell.png
  docs/docker/tutorials/media/containerinaci.png
  docs/docker/tutorials/media/contextcontainer.png
  docs/docker/tutorials/media/createnewcontext.png
  docs/docker/tutorials/media/defaultcontext.png
  docs/docker/tutorials/media/ide-screenshot.png
  docs/docker/tutorials/media/items-added.png
  docs/docker/tutorials/media/listofcontexts.png
  docs/docker/tutorials/media/multi-app-architecture.png
  docs/docker/tutorials/media/push-command.png
  docs/docker/tutorials/media/pwd-add-new-instance.png
  docs/docker/tutorials/media/selectresourcegroup.png
  docs/docker/tutorials/media/todo-list-empty.png
  docs/docker/tutorials/media/todo-list-sample.png
  docs/docker/tutorials/media/todo-list-updated-empty-text.png
  docs/docker/tutorials/media/updated-add-button.png
  docs/docker/tutorials/media/vs-app-project-collapsed.png
  docs/docker/tutorials/media/vs-app-project-expanded.png
  docs/docker/tutorials/media/vs-multi-container-app.png
  docs/docker/tutorials/media/vs-removing-container.png
  docs/docker/tutorials/media/vs-tutorial-in-extension.png
  docs/docker/tutorials/media/vs-two-containers.png
  docs/docker/tutorials/multi-container-apps.md
  docs/docker/tutorials/persist-your-data.md
  docs/docker/tutorials/share-your-app.md
  docs/docker/tutorials/update-your-app.md
  docs/docker/tutorials/use-bind-mounts.md
  docs/docker/tutorials/use-docker-compose.md
  docs/docker/tutorials/whats-next.md
  docs/docker/tutorials/your-application.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, unspecified/svc

#5782 Repo sync for protected CLA branch
  .whatsnew.json
Labels: CLA, do-not-merge

#5783 Clarify environment-variable definitions
  docs/msbuild/includes/tooltaskextension-base-params.md
Labels: change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5785 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/install/create-a-network-installation-of-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#5788 Repo sync for protected CLA branch
  docs/profiling/index.yml
  docs/profiling/profile-apps-from-command-line.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#5790 Fix bug with allowed symbols
  docs/ide/editorconfig-naming-conventions.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5792 Repo sync for protected CLA branch
  docs/code-quality/code-analysis-for-managed-code-overview.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/in-source-suppression-overview.md
  docs/code-quality/index.yml
  docs/code-quality/install-roslyn-analyzers.md
  docs/code-quality/toc.yml
  docs/ide/reference/how-to-display-line-numbers-in-the-editor.md
  subscriptions/solutions/admin-solutions/includes/how-do-i-change-my-sign-in-email-admin.md
  subscriptions/solutions/benefit-activation/includes/error-while-activating-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/how-do-i-activate-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-devops.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-pay-as-you-go-subscription.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-enterprise-mobility-security-benefit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-pluralsight-benefit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-see-azure-monthly-credit-in-azure-portal.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-software-non-visualstudio.md
  subscriptions/solutions/downloading-activating-or-using-software/finding-or-using-product-keys/includes/unable-to-find-or-claim-product-keys.md
  subscriptions/solutions/downloading-activating-or-using-software/using-product-features/includes/cannot-find-ide-feature.md
  subscriptions/solutions/licensing-terms/includes/subscription-licensing-terms-and-conditions.md
  subscriptions/solutions/portal-issue/includes/controls-or-buttons-not-working.md
  subscriptions/solutions/portal-issue/includes/page-cannot-be-displayed.md
  subscriptions/solutions/portal-issue/includes/page-not-loading.md
  subscriptions/solutions/portal-issue/includes/portal-outage.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/where-can-i-purchase-from.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew.md
  subscriptions/solutions/renewing-purchasing-or-canceling/order-or-purchase-status/includes/viewing-my-bill.md
  subscriptions/solutions/signing-in/includes/admin-sign-in-issues.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-cloud-self.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-dev-essentials.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-retail.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-volume-licensing.md
Labels: CLA, do-not-merge

#5791 Revert "Fix bug with allowed symbols"
  docs/ide/editorconfig-naming-conventions.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5795 Fix list items indentation
  docs/extensibility/internals/project-subtypes.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#5801 Repo sync for protected CLA branch
  docs/code-quality/ca1307.md
  docs/code-quality/ca1310.md
  docs/code-quality/ca1837.md
  docs/code-quality/ca2007.md
  docs/code-quality/ca2008.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/fxcop-rule-port-status.md
  docs/code-quality/globalization-rules-rule-set-for-managed-code.md
  docs/code-quality/globalization-warnings.md
  docs/code-quality/media/ca1837-codefix.png
  docs/code-quality/performance-warnings.md
  docs/code-quality/reliability-warnings.md
  docs/code-quality/toc.yml
  docs/code-quality/use-roslyn-analyzers.md
  docs/ide/productivity-features.md
Labels: CLA, do-not-merge
