Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2020-09, with the labels that each got.

#5802 Fix variable name typo
  docs/modeling/design-time-code-generation-by-using-t4-text-templates.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-modeling/tech

#5803 Repo sync for protected CLA branch
  docs/code-quality/code-analysis-for-managed-code-warnings.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/vs-2015/code-quality/code-analysis-for-managed-code-warnings.md
  docs/vs-2015/debugger/debug-interface-access/TOC.md
  docs/vs-2015/debugger/debug-interface-access/toc.yml
  docs/vs-2015/extensibility/debugger/TOC.md
  docs/vs-2015/extensibility/debugger/reference/TOC.md
  docs/vs-2015/extensibility/debugger/reference/toc.yml
  docs/vs-2015/extensibility/debugger/toc.yml
  docs/vs-2015/extensibility/internals/TOC.md
  docs/vs-2015/extensibility/internals/toc.yml
  docs/vs-2015/extensibility/ux-guidelines/TOC.md
  docs/vs-2015/extensibility/ux-guidelines/toc.yml
  mac/2017/TOC.md
  mac/2017/toc.yml
  scripting-docs/TOC.md
  scripting-docs/javascript/misc/TOC.md
  scripting-docs/javascript/misc/toc.yml
  scripting-docs/toc.yml
  subscriptions/TOC.md
  subscriptions/toc.yml
Labels: CLA, do-not-merge, review-team-triage

#5806 Repo sync for protected CLA branch
  docs/rtvs/faq.md
  subscriptions/_img/vs-pluralsight/vs-pluralsight-3month-tile.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-6month-tile.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-activated.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-create-account.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-expired.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-ineligible-error.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-registration.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-tile.png
  subscriptions/vs-pluralsight.md
  subscriptions/vs-tech-support.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-dev15/prod, vs-rtvs/tech

#5774 Remove broken link in Toolsversion note
  docs/msbuild/msbuild-toolset-toolsversion.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5743 Typo "Azure storage emulator"→"Azure Storage Emulator"
  docs/azure/vs-azure-tools-configuring-an-azure-project.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#5742 Typo "Azure storage emulator"→"Azure Storage Emulator"
  docs/azure/vs-azure-tools-diagnostics-for-cloud-services-and-virtual-machines.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#5631 Use the same capital letters for n-tier
  docs/data-tools/n-tier-data-applications-overview.md
  docs/data-tools/toc.yml
  docs/data-tools/walkthrough-creating-an-n-tier-data-application.md
  docs/vs-2015/data-tools/n-tier-data-applications-overview.md
  docs/vs-2015/data-tools/toc.yml
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-dev14/prod, visual-studio-windows/prod, vs-data-tools/tech

#5805 Use nameof operator in example
  docs/code-quality/codesnippet/CSharp/ca2229-implement-serialization-constructors_1.cs
Labels: aq-pr-triaged, change sent to author, do-not-merge, unspecified/svc

#4971 Typo Fix in Mac OS Installation Guide
  mac/installation.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-mac/prod, vs-ide-install/tech

#5807 Repo sync for protected CLA branch
  .whatsnew.json
  docs/ide/create-portable-custom-editor-options.md
  docs/ide/editorconfig-code-style-settings-reference.md
  docs/ide/whats-new-visual-studio-docs-history.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/toc.yml
  mac/2017/azure-functions.md
  mac/2017/working-with-subversion.md
  mac/azure-functions.md
  mac/blazor.md
  mac/ide-tour.md
  mac/media/blazor-name-project.png
  mac/media/blazor-project-template.png
  mac/media/blazor-wasm-name-project.png
  mac/media/blazor-wasm-project-template.png
  mac/media/blazor-wasm-select-target-framework.png
  mac/media/refactoring-renaming1.png
  mac/media/refactoring-renaming2.png
  mac/refactoring.md
  mac/working-with-subversion.md
Labels: CLA, do-not-merge

#5814 Repo sync for protected CLA branch
  docs/ide/visual-studio-performance-tips-and-tricks.md
  subscriptions/_img/add-monthly-subs/subs-added-confirmation.png
  subscriptions/_img/admin-prefs/admin-prefs-button.png
  subscriptions/_img/admin-prefs/admin-prefs-flyout.png
  subscriptions/add-monthly-subs.md
  subscriptions/admin-prefs.md
  subscriptions/admin-responsibilities.md
  subscriptions/admin-roles.md
  subscriptions/mpsa.md
  subscriptions/open-migration.md
  subscriptions/using-admin-portal.md
Labels: CLA, do-not-merge

#5813 Clarify that copy often retries
  docs/msbuild/copy-task.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5812 Add ProjectReferences to AssignProjectConfiguration
  docs/msbuild/assignprojectconfiguration-task.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5794 Add dev-langs header
  docs/extensibility/walkthrough-outlining.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#5822 Repo sync for protected CLA branch
  docs/code-quality/ca1834.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/media/ca1834-codefix.png
  docs/code-quality/performance-warnings.md
  docs/code-quality/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5841 Repo sync for protected CLA branch
  docs/code-quality/ca2014.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5844 Repo sync for protected CLA branch
  docs/debugger/using-tracepoints.md
  docs/profiling/running-profiling-tools-with-or-without-the-debugger.md
  subscriptions/add-monthly-subs.md
  subscriptions/buy-activate-retail.md
  subscriptions/contact-my-admin.md
  subscriptions/delete-license.md
  subscriptions/internet-demos.md
  subscriptions/manage-mpn-subscriptions.md
  subscriptions/microsoft-365-apps-for-enterprise.md
  subscriptions/mpsa.md
  subscriptions/product-availability.md
  subscriptions/program-mpn.md
  subscriptions/program-startups.md
  subscriptions/sign-in-msa.md
  subscriptions/sign-in-work.md
  subscriptions/vs-datacamp.md
  subscriptions/vs-m365.md
  subscriptions/vs-windows-virtual-desktop.md
  subscriptions/vscloud-billing-faq.md
Labels: CLA, do-not-merge

#5849 Repo sync for protected CLA branch
  docs/deployment/clickonce-and-authenticode.md
  docs/deployment/clickonce-deployment-on-windows-vista.md
  docs/deployment/clickonce-deployment-samples-and-walkthroughs.md
  docs/deployment/creating-bootstrapper-packages.md
  docs/deployment/deploying-applications-services-and-components-resources.md
  docs/deployment/deploying-applications-services-and-components.md
  docs/deployment/how-to-re-sign-application-and-deployment-manifests.md
  docs/deployment/how-to-retrieve-query-string-information-in-an-online-clickonce-application.md
  docs/deployment/installer-projects-net-core.md
  docs/deployment/publishing-clickonce-applications.md
  docs/deployment/quickstart-deploy-to-linux.md
  docs/deployment/toc.yml
  docs/ide/editorconfig-language-conventions.md
  subscriptions/vscloud-billing-faq.md
  subscriptions/vscloud-overview.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-deployment/tech

#5856 Repo sync for protected CLA branch
  docs/ide/not-in-toc/visual-studio-unrecoverable-process-error.md
  docs/install/advanced-build-tools-container.md
  docs/install/visual-studio-on-arm-devices.md
  docs/toc.yml
Labels: CLA, do-not-merge

#5860 Repo sync for protected CLA branch
  docs/ide/cpp-editorconfig-properties.md
  docs/profiling/analyze-energy-use-in-store-apps.md
  docs/profiling/analyze-memory-usage.md
  docs/profiling/beginners-guide-to-performance-profiling.md
  docs/profiling/dotnet-alloc-tool.md
  docs/profiling/events-viewer.md
  docs/profiling/gpu-usage.md
  docs/profiling/media/prof-tour-enable-cpu-profiling.png
  docs/profiling/media/prof-tour-performance-profiler.png
  docs/profiling/memory-usage.md
  docs/profiling/perftips.md
  docs/profiling/profiling-feature-tour.md
  docs/profiling/quickstart-cpu-usage-managed.md
  docs/profiling/quickstart-cpu-usage-native.md
  docs/profiling/running-profiling-tools-with-or-without-the-debugger.md
  docs/profiling/toc.yml
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5800 Add Razor LSP logs to the "Data we collect" list.
  docs/ide/developer-community-privacy.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#5864 Repo sync for protected CLA branch
  docs/code-quality/configure-fxcop-analyzers.md
  docs/code-quality/roslyn-analyzers-overview.md
  docs/code-quality/toc.yml
  docs/code-quality/use-roslyn-analyzers.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5868 Removed unneeded 'the'
  docs/test/isolating-code-under-test-with-microsoft-fakes.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-test/tech

#5871 Repo sync for protected CLA branch
  docs/ide/code-styles-and-code-cleanup.md
  docs/ide/editorconfig-code-style-settings-reference.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5832 Typo "Azure storage emulator"→"Azure Storage Emulator"
  docs/azure/vs-azure-tools-configure-roles-for-cloud-service.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#5837 Fixed Broken 'Download the Zip' Link
  docker/tutorials/your-application.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#5879 Repo sync for protected CLA branch
  docs/javascript/TOC.yml
  docs/javascript/compile-typescript-code-npm.md
  docs/javascript/javascript-in-vs-2017.md
  docs/javascript/npm-package-management.md
  docs/sharepoint/create-sharepoint-solutions.md
  docs/sharepoint/creating-web-parts-for-sharepoint.md
  docs/sharepoint/deploying-extensions-for-the-sharepoint-tools-in-visual-studio.md
  docs/sharepoint/how-to-add-and-remove-features-and-items-to-a-package-by-using-the-package-designer.md
  docs/sharepoint/how-to-include-a-custom-assembly-in-a-bdc-feature.md
  docs/sharepoint/profiling-the-performance-of-sharepoint-applications.md
  docs/sharepoint/troubleshooting-sharepoint-solutions.md
  docs/sharepoint/using-the-sharepoint-project-service.md
  docs/sharepoint/walkthrough-calling-into-the-sharepoint-client-object-model-in-a-server-explorer-extension.md
  docs/sharepoint/walkthrough-creating-a-custom-action-project-item-with-an-item-template-part-1.md
  docs/sharepoint/walkthrough-creating-a-custom-deployment-step-for-sharepoint-projects.md
  docs/sharepoint/walkthrough-creating-a-sharepoint-project-extension.md
  docs/sharepoint/walkthrough-creating-a-silverlight-web-part-that-displays-odata-for-sharepoint.md
  docs/sharepoint/walkthrough-creating-a-site-column-project-item-with-a-project-template-part-1.md
  docs/sharepoint/walkthrough-creating-an-external-list-in-sharepoint-by-using-business-data.md
  docs/sharepoint/walkthrough-extending-a-sharepoint-project-item-type.md
  docs/sharepoint/walkthrough-extending-server-explorer-to-display-web-parts.md
  docs/sharepoint/walkthrough-profiling-a-sharepoint-application.md
Labels: CLA, do-not-merge

#5889 Repo sync for protected CLA branch
  subscriptions/solutions/benefit-activation/includes/error-while-activating-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/how-do-i-activate-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-devops.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-pay-as-you-go-subscription.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-enterprise-mobility-security-benefit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-pluralsight-benefit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-see-azure-monthly-credit-in-azure-portal.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-software-non-visualstudio.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-visual-studio-for-mac.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-visual-studio-ide.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-locate-product.md
  subscriptions/solutions/downloading-activating-or-using-software/finding-or-using-product-keys/includes/unable-to-find-or-claim-product-keys.md
  subscriptions/solutions/downloading-activating-or-using-software/using-product-features/includes/cannot-find-ide-feature.md
  subscriptions/solutions/portal-issue/includes/controls-or-buttons-not-working.md
  subscriptions/solutions/portal-issue/includes/page-cannot-be-displayed.md
  subscriptions/solutions/portal-issue/includes/page-not-loading.md
  subscriptions/solutions/portal-issue/includes/portal-outage.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-marketplace.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-microsoft-store.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/where-can-i-purchase-from.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-marketplace.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-microsoft-store.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew.md
  subscriptions/solutions/renewing-purchasing-or-canceling/order-or-purchase-status/includes/find-the-status-of-renewal-or-purchase.md
  subscriptions/solutions/renewing-purchasing-or-canceling/order-or-purchase-status/includes/viewing-my-bill.md
Labels: CLA, do-not-merge

#5895 Repo sync for protected CLA branch
  docs/code-quality/fxcop-unported-deprecated-rules.md
  docs/code-quality/fxcop-unported-rules-may-get-ported.md
  docs/debugger/format-specifiers-in-cpp.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-visual-studio-for-mac.md
  subscriptions/solutions/licensing-terms/includes/subscription-licensing-terms-and-conditions.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5896 Fix typo in getting-started-with-devinit.md
  docs/devinit/getting-started-with-devinit.md
Labels: change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#5897 Fix typo in default keyboard shortcuts
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#5902 Update devinit docs with enable-iis and windowsfeature-list
  docs/devinit/devinit-tool-list.md
  docs/devinit/tool-enable-iis.md
  docs/devinit/tool-windowsfeature-list.md
Labels: aq-pr-triaged, change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#5904 Repo sync for protected CLA branch
  docs/xaml-tools/draw-shapes-and-paths.md
  docs/xaml-tools/media/blend-shapes.png
  subscriptions/_img/admin-prefs/admin-prefs-button.png
  subscriptions/_img/admin-roles/add-admins.png
  subscriptions/_img/admin-roles/add-form.png
  subscriptions/_img/assign-license-add/add-subscriber-individual.png
  subscriptions/_img/assign-license-bulk/bulk-add-aad.png
  subscriptions/_img/assign-license-bulk/bulk-add-upload-failure.png
  subscriptions/_img/assign-license-bulk/bulk-add-upload-success.png
  subscriptions/_img/connect-emails/connect-emails-button.png
  subscriptions/_img/connect-emails/connect-emails-confirm.png
  subscriptions/_img/connect-emails/connect-emails-flyout.png
  subscriptions/_img/delete-license/delete-subscribers.png
  subscriptions/_img/edit-license/edit-license-bulk-edit-export.png
  subscriptions/_img/edit-license/edit-license-bulk-file-upload1.png
  subscriptions/_img/edit-license/select-subscriber.png
  subscriptions/_img/exporting-subscriptions/exporting-subscriptions.png
  subscriptions/_img/maximum-usage/maximum-usage-menu.png
  subscriptions/_img/over-claimed/over-claimed-alert.png
  subscriptions/_img/search-filter/filter-list.png
  subscriptions/_img/search-filter/search-filter-find.png
  subscriptions/admin-prefs.md
  subscriptions/admin-roles.md
  subscriptions/assign-guid.md
  subscriptions/assign-license-bulk.md
  subscriptions/assign-license.md
  subscriptions/delete-license.md
  subscriptions/edit-license.md
  subscriptions/handle-overclaimed-license.md
  subscriptions/maximum-usage.md
  subscriptions/media/bulk-add-browse-saved-template.png
  subscriptions/media/bulk-upload-subscribers.png
  subscriptions/media/download-template-upload-subscribers.png
  subscriptions/personal-email-sign-ins.md
  subscriptions/search-license.md
Labels: CLA, do-not-merge

#5909 Repo sync for protected CLA branch
  docs/devinit/toc.yml
  docs/devinit/tool-enable-iis.md
  docs/devinit/tool-windowsfeature-list.md
Labels: CLA, change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#5870 Add workaround for feedback auth proxy crash
  docs/install/troubleshooting-network-related-errors-in-visual-studio.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-installation/tech

#5913 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/ai/overview.md
  docs/containers/index.yml
  docs/containers/toc.yml
  docs/containers/tutorial-kubernetes-tools.md
  docs/debugger/debug-a-webview-control.md
  docs/debugger/how-to-install-a-visualizer.md
  docs/debugger/javascript-console-commands.md
  docs/debugger/keyboard-shortcuts-html-and-javascript.md
  docs/debugger/quickstart-debug-html-and-css.md
  docs/debugger/quickstart-debug-javascript-using-the-console.md
  docs/ide/how-to-increase-chances-of-performance-issue-being-fixed.md
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/ide/reference/options-dialog-box-visual-studio.md
  docs/index.yml
  docs/install/includes/workloads-components-header-2017_md.md
  docs/install/install-visual-studio-versions-side-by-side.md
  docs/install/visual-studio-administrator-guide.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/install/workload-and-component-ids.md
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
  docs/python/python-support-options-and-settings-in-visual-studio.md
  docs/test/debug-unit-tests-with-test-explorer.md
  docs/windows/index.yml
Labels: CLA, do-not-merge

#5916 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  subscriptions/solutions/other-or-no-solution/includes/no-solution.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#5920 Repo sync for protected CLA branch
  docs/code-quality/roslyn-analyzers-overview.md
  docs/data-tools/index.yml
  docs/debugger/includes/remote-debugger-download.md
  docs/devinit/devinit-commands.md
  docs/devinit/tool-require-dotnetcoresdk.md
  docs/devinit/tool-require-psmodule.md
  docs/extensibility/faq-2017.md
  docs/extensibility/how-to-migrate-extensibility-projects-to-visual-studio-2017.md
  docs/ide/visual-studio-performance-tips-and-tricks.md
  docs/ide/whats-new-visual-studio-2017.md
  docs/index.yml
  docs/install/visual-studio-administrator-guide.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/install/workload-and-component-ids.md
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
  docs/profiling/analyze-database.md
  docs/python/managing-python-environments-in-visual-studio.md
  docs/python/python-web-application-project-templates.md
Labels: CLA, do-not-merge

#5873 Remove mention of ASP.NET 5
  docs/debugger/edit-and-continue-visual-csharp.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#5927 Repo sync for protected CLA branch
  docs/debugger/debug-interface-access/function-debug-interface-access-sdk.md
  docs/designers/disable-dpi-awareness.md
  docs/profiling/how-to-attach-the-profiler-to-a-dotnet-service-to-collect-concurrency-data-by-using-the-command-line.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#5928 Repo sync for protected CLA branch
  docs/designers/disable-dpi-awareness.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-designers/tech

#5929 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: CLA, do-not-merge
