Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2020-10, with the labels that each got.

#5937 Repo sync for protected CLA branch
  docs/deployment/quickstart-deploy-to-azure.md
  docs/devinit/tool-dotnet-toolinstall.md
Labels: CLA, change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#5943 Repo sync for protected CLA branch
  docs/debugger/graphics/overview-of-visual-studio-graphics-diagnostics.md
  docs/debugger/graphics/toc.yml
  docs/debugger/graphics/visual-studio-graphics-diagnostics-directx-12.md
  docs/debugger/graphics/visual-studio-graphics-diagnostics.md
Labels: CLA, do-not-merge

#5954 Repo sync for protected CLA branch
  subscriptions/faq/subscriber/azure/includes/credits-for-production.md
  subscriptions/faq/subscriber/azure/includes/what-are-credits.md
  subscriptions/vs-linkedin-learning.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#5965 Repo sync for protected CLA branch
  docs/code-quality/implementing-custom-code-analysis-check-in-policies-for-managed-code.md
  docs/code-quality/index.yml
  docs/code-quality/static-code-analysis-for-managed-code-overview.md
  docs/code-quality/toc.yml
  docs/code-quality/working-with-code-metrics-data.md
  docs/cross-platform/application-lifecycle-management-alm-with-unity-apps.md
  docs/debugger/diagnose-problems-after-deployment.md
  docs/deployment/deploying-applications-services-and-components-resources.md
  docs/get-started/visual-basic/visual-studio-ide.md
  docs/ide/codeindex-command.md
  docs/ide/codespaces/supported-features-codespaces.md
  docs/ide/compiling-and-building-in-visual-studio.md
  docs/ide/find-code-changes-and-other-history-with-codelens.md
  docs/ide/reference/team-explorer-reference.md
  docs/install/advanced-build-tools-container.md
  docs/install/install-visual-studio-versions-side-by-side.md
  docs/javascript/compile-typescript-code-npm.md
  docs/javascript/compile-typescript-code-nuget.md
  docs/python/visual-studio-ide.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/how-to-collect-intellitrace-data-to-help-debug-difficult-issues.md
  docs/test/how-to-configure-network-emulation-using-test-settings-in-visual-studio.md
  docs/test/how-to-create-a-diagnostic-data-adapter.md
  docs/test/how-to-include-recordings-of-the-screen-and-voice-during-tests.md
  docs/test/improve-code-quality.md
  docs/test/lab-management/install-configure-test-agents.md
  docs/test/lab-management/use-build-or-rm-instead-of-lab-management.md
  docs/test/lab-management/using-a-lab-environment-for-your-application-lifecycle.md
  docs/test/quickstart-create-a-load-test-project.md
  docs/test/unit-test-your-code.md
  docs/test/use-ui-automation-to-test-your-code.md
  docs/toc.yml
Labels: CLA, do-not-merge

#5603 Update code-generation-in-a-build-process.md
  docs/modeling/code-generation-in-a-build-process.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-modeling/tech

#5969 Repo sync for protected CLA branch
  docker/index.md
  docs/ide/javascript-intellisense.md
  docs/ide/reference/file-properties-javascript.md
  docs/ide/reference/options-text-editor-javascript-code-validation.md
  docs/ide/reference/options-text-editor-javascript-formatting.md
  docs/ide/reference/options-text-editor-javascript-intellisense.md
  docs/ide/reference/options-text-editor-javascript-linting.md
  docs/ide/reference/options-text-editor-javascript-project.md
  docs/ide/reference/property-pages-javascript.md
  docs/javascript/javascript-in-vs-2017.md
  docs/javascript/javascript-in-vs-2019.md
  docs/javascript/quickstart-ide-orientation-js.md
Labels: CLA, do-not-merge, review-team-triage

#5974 Repo sync for protected CLA branch
  docs/install/media/vs-2019/visual-studio-installer.png
  docs/install/modify-visual-studio.md
  docs/install/repair-visual-studio.md
  docs/install/uninstall-visual-studio.md
  docs/install/update-visual-studio.md
  docs/profiling/analyze-memory-usage.md
  docs/profiling/cpu-usage.md
  docs/profiling/memory-usage-without-debugging2.md
  docs/profiling/profiling-feature-tour.md
  docs/profiling/running-profiling-tools-with-or-without-the-debugger.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#5975 Adding a Tip about associating work items with commits
  docs/ide/git-with-visual-studio.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5977 Repo sync for protected CLA branch
  docs/cross-platform/application-lifecycle-management-alm-with-unity-apps.md
  docs/cross-platform/change-log-visual-studio-tools-for-unity-mac.md
  docs/cross-platform/change-log-visual-studio-tools-for-unity.md
  docs/cross-platform/customize-project-files-created-by-vstu.md
  docs/cross-platform/getting-started-with-visual-studio-tools-for-unity.md
  docs/cross-platform/programming-visual-studio-tools-for-unity.md
  docs/cross-platform/share-the-unity-log-callback-with-vstu.md
  docs/cross-platform/troubleshooting-and-known-issues-visual-studio-tools-for-unity.md
  docs/cross-platform/unity-scripting-upgrade.md
  docs/cross-platform/using-visual-studio-tools-for-unity.md
  docs/cross-platform/visual-studio-tools-for-unity-azure.md
  docs/cross-platform/visual-studio-tools-for-unity.md
  docs/devinit/devinit-commands.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/xaml-tools/xaml-designtime-data.md
Labels: CLA, do-not-merge

#5846 Docker Toolbox
  docs/containers/edit-and-refresh.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#5848 Projectreference metadata
  docs/msbuild/common-msbuild-project-items.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5880 Update walkthrough-creating-an-msbuild-project-file-from-scratch.md
  docs/msbuild/walkthrough-creating-an-msbuild-project-file-from-scratch.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5939 Update build-process-overview.md
  docs/msbuild/build-process-overview.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5968 Update MSBuild project SDK documentation
  docs/msbuild/how-to-use-project-sdk.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5987 Repo sync for protected CLA branch
  docs/ai/create-project-existing.md
  docs/ai/create-project-repo.md
  docs/ai/create-project.md
  docs/ai/job-details.md
  docs/ai/manage-storage.md
  docs/ai/monitor-gpu.md
  docs/ai/monitor-tensorboard.md
  docs/ai/overview.md
  docs/extensibility/starting-to-develop-visual-studio-extensions.md
  docs/extensibility/support-for-the-visual-studio-sdk.md
  docs/ide/advanced-feature-overview.md
  docs/ide/reference/choose-toolbox-items-wpf-components.md
  docs/modeling/develop-tests-from-a-model.md
  docs/modeling/directed-graph-markup-language-dgml-reference.md
  docs/msbuild/msbuild.md
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
  docs/python/learn-django-in-visual-studio-step-06-polls-django-web-project-template.md
  docs/python/learn-flask-visual-studio-step-05-polls-flask-web-project-template.md
  docs/test/configure-load-test-run-settings.md
  docs/test/configure-test-agents-and-controllers-for-load-tests.md
  docs/test/create-a-diagnostic-data-adapter-to-collect-custom-data-or-affect-a-test-machine.md
  docs/test/unit-test-your-code.md
Labels: CLA, do-not-merge

#5993 Repo sync for protected CLA branch
  docs/ide/reference/how-to-use-the-keyboard-exclusively.md
  docs/install/modify-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#5978 Updated shortcuts for multi caret editing
  docs/ide/finding-and-replacing-text.md
  docs/ide/media/edit-menu-multiple-carets.png
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#6003 Resolve syncing conflicts from repo_sync_working_branch to master
  docs/ide/finding-and-replacing-text.md
  docs/ide/git-with-visual-studio.md
  docs/ide/media/edit-menu-multiple-carets-find-replace.png
  docs/ide/media/edit-menu-multiple-carets.png
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/msbuild/media/walkthrough-using-msbuild/installation-msbuild-tools.png
  docs/msbuild/walkthrough-using-msbuild.md
  docs/xaml-tools/xaml-designtime-data.md
  subscriptions/_img/aliasing/sign-in-email.png
  subscriptions/aliasing.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6007 Repo sync for protected CLA branch
  docs/msbuild/downloadfile-task.md
  docs/msbuild/endtrackingcontext.md
  docs/msbuild/error-task.md
  docs/msbuild/exec-task.md
  docs/msbuild/file-tracking.md
  docs/msbuild/fileclassifier-task.md
  docs/msbuild/findappconfigfile-task.md
  docs/msbuild/findinlist-task.md
  docs/msbuild/findunderpath-task.md
  docs/msbuild/formaturl-task.md
  docs/msbuild/formatversion-task.md
  docs/msbuild/fxc-task.md
  docs/msbuild/generateapplicationmanifest-task.md
  docs/msbuild/generatebootstrapper-task.md
  docs/msbuild/generatedeploymentmanifest-task.md
  docs/msbuild/generateresource-task.md
  docs/msbuild/generatetemporarytargetassembly-task.md
  docs/msbuild/generatetrustinfo-task.md
  docs/msbuild/getassemblyidentity-task.md
  docs/msbuild/getfilehash-task.md
  docs/msbuild/getframeworkpath-task.md
  docs/msbuild/getframeworksdkpath-task.md
  docs/msbuild/getoutofdateitems-task.md
  docs/msbuild/getoutputfilename-task.md
  docs/msbuild/getreferenceassemblypaths-task.md
  docs/msbuild/getwinfxpath-task.md
  docs/msbuild/how-to-build-a-project-that-has-resources.md
  docs/msbuild/how-to-build-incrementally.md
  docs/msbuild/how-to-build-specific-targets-in-solutions-by-using-msbuild-exe.md
  docs/msbuild/how-to-build-the-same-source-files-with-different-options.md
  docs/msbuild/how-to-clean-a-build.md
  docs/msbuild/how-to-configure-targets-and-tasks.md
  docs/msbuild/how-to-display-an-item-list-separated-with-commas.md
  docs/msbuild/how-to-escape-special-characters-in-msbuild.md
  docs/msbuild/how-to-exclude-files-from-the-build.md
  docs/msbuild/how-to-extend-the-visual-studio-build-process.md
  docs/msbuild/how-to-ignore-errors-in-tasks.md
  docs/msbuild/how-to-reference-the-name-or-location-of-the-project-file.md
  docs/msbuild/how-to-select-the-files-to-build.md
  docs/msbuild/how-to-specify-which-target-to-build-first.md
  docs/msbuild/how-to-use-environment-variables-in-a-build.md
  docs/msbuild/how-to-use-project-sdk.md
  docs/msbuild/how-to-use-reserved-xml-characters-in-project-files.md
  docs/msbuild/how-to-use-the-same-target-in-multiple-project-files.md
  subscriptions/assign-license-bulk.md
  subscriptions/delete-license.md
  subscriptions/vs-datacamp.md
  subscriptions/vs-ide-benefit.md
  subscriptions/vs-linkedin-learning.md
  subscriptions/vs-m365.md
  subscriptions/vs-parasoft.md
  subscriptions/vs-pbi.md
  subscriptions/vs-visual-studio-app-center.md
  subscriptions/vs-whitesource.md
  subscriptions/vs-windows-dev.md
Labels: CLA, do-not-merge

#6008 Update install-certificates-for-visual-studio-offline.md
  docs/install/install-certificates-for-visual-studio-offline.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6009 Repo sync for protected CLA branch
  docs/extensibility/ux-guidelines/interaction-patterns-for-visual-studio.md
  docs/install/includes/vs-2019/workload-component-id-vs-enterprise.md
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
  docs/xaml-tools/xaml-errors-warnings.md
  subscriptions/access-github.md
  subscriptions/add-monthly-subs.md
  subscriptions/admin-inventory.md
  subscriptions/admin-prefs.md
  subscriptions/admin-responsibilities.md
  subscriptions/admin-roles.md
  subscriptions/aliasing.md
  subscriptions/anonymization.md
  subscriptions/assign-github.md
  subscriptions/assign-guid.md
  subscriptions/assign-license-bulk.md
  subscriptions/assign-license.md
  subscriptions/assignments-orders.md
  subscriptions/docfx.json
Labels: CLA, do-not-merge

#6020 Repo sync for protected CLA branch
  mac/create-offline-installer.md
Labels: CLA, do-not-merge

#6021 Repo sync for protected CLA branch
  subscriptions/_img/about-benefits/categories.png
  subscriptions/_img/index-page/GitHub-Mark.png
  subscriptions/_img/index-page/GitHub-Mark.svg
  subscriptions/about-benefits.md
  subscriptions/index.yml
  subscriptions/toc.yml
Labels: CLA, do-not-merge

#6024 Repo sync for protected CLA branch
  docs/devinit/media/wsl-ssh-linux-configuration.png
  docs/devinit/sample-opencv.md
Labels: CLA, change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#5995 Updated the Note field for adding the encodings to make it readable.
  docs/ide/encodings-and-line-breaks.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6027 Repo sync for protected CLA branch
  docs/msbuild/import-element-msbuild.md
  docs/msbuild/importgroup-element.md
  docs/msbuild/incremental-builds.md
  docs/msbuild/item-definitions.md
  docs/msbuild/item-element-msbuild.md
  docs/msbuild/item-functions.md
  docs/msbuild/item-metadata-in-target-batching.md
  docs/msbuild/item-metadata-in-task-batching.md
  docs/msbuild/itemdefinitiongroup-element-msbuild.md
  docs/msbuild/itemgroup-element-msbuild.md
  docs/msbuild/itemmetadata-element-msbuild.md
  docs/msbuild/lc-task.md
  docs/msbuild/lib-task.md
  docs/msbuild/link-task.md
  docs/msbuild/logging-in-a-multi-processor-environment.md
  docs/msbuild/logging-in-msbuild.md
  docs/msbuild/makedir-task.md
  docs/msbuild/markupcompilepass1-task.md
  docs/msbuild/markupcompilepass2-task.md
  docs/msbuild/mergelocalizationdirectives-task.md
  docs/msbuild/message-task.md
  docs/msbuild/midl-task.md
  docs/msbuild/move-task.md
  docs/msbuild/msbuild-advanced-concepts.md
  docs/msbuild/msbuild-api.md
  docs/msbuild/msbuild-items.md
  docs/msbuild/msbuild.md
  subscriptions/azure-ea-devtest.md
  subscriptions/cloud-admin.md
  subscriptions/contact-my-admin.md
  subscriptions/delete-license.md
  subscriptions/download-software.md
  subscriptions/edit-license.md
  subscriptions/exporting-subscriptions.md
  subscriptions/handle-expired-license.md
  subscriptions/handle-overclaimed-license.md
  subscriptions/internet-demos.md
  subscriptions/manage-mpn-subscriptions.md
  subscriptions/manage-teams.md
  subscriptions/manage-vs-subscriptions.md
  subscriptions/maximum-usage.md
  subscriptions/mpsa.md
  subscriptions/open-migration.md
  subscriptions/personal-email-sign-ins.md
  subscriptions/product-keys.md
  subscriptions/program-startups.md
  subscriptions/search-license.md
  subscriptions/sign-in-issues.md
  subscriptions/sign-in-work.md
  subscriptions/software-download-list.md
  subscriptions/use-connected-identities.md
  subscriptions/using-admin-portal.md
  subscriptions/using-the-subscriber-portal.md
  subscriptions/volume-license.md
  subscriptions/vs-azure-payg.md
  subscriptions/vs-azure.md
Labels: CLA, do-not-merge

#6031 Repo sync for protected CLA branch
  docs/devinit/sample-dotnet-core.md
  docs/devinit/sample-readme.md
  docs/devinit/toc.yml
Labels: CLA, change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#6042 Repo sync for protected CLA branch
  docs/designers/constant-nodes.md
  docs/designers/filter-nodes.md
  docs/designers/getting-started-with-wpf.md
  docs/designers/how-to-apply-a-shader-to-a-3-d-model.md
  docs/designers/how-to-create-a-basic-3-d-model.md
  docs/designers/how-to-create-a-basic-color-shader.md
  docs/designers/how-to-create-a-basic-lambert-shader.md
  docs/designers/how-to-create-a-basic-phong-shader.md
  docs/designers/how-to-create-a-basic-texture-shader.md
  docs/designers/how-to-create-a-basic-texture.md
  docs/designers/how-to-create-a-geometry-based-gradient-shader.md
  docs/designers/how-to-create-a-grayscale-texture-shader.md
  docs/designers/how-to-create-and-modify-mip-levels.md
  docs/designers/how-to-export-a-shader.md
  docs/designers/how-to-export-a-texture-for-use-with-direct2d-or-javascipt-apps.md
  docs/designers/how-to-export-a-texture-that-contains-mipmaps.md
  docs/designers/how-to-export-a-texture-that-has-premultiplied-alpha.md
  docs/designers/how-to-model-3-d-terrain.md
  docs/designers/how-to-modify-the-pivot-point-of-a-3-d-model.md
  docs/designers/image-editor.md
  docs/designers/math-nodes.md
  docs/designers/model-editor.md
  docs/designers/parameter-nodes.md
  docs/designers/shader-designer-nodes.md
  docs/designers/shader-designer.md
  docs/designers/texture-nodes.md
  docs/designers/the-visual-studio-image-library.md
  docs/designers/using-3-d-assets-in-your-game-or-app.md
  docs/designers/utility-nodes.md
  docs/designers/walkthrough-creating-a-realistic-3-d-billiard-ball.md
  docs/designers/walkthrough-windows-forms-designer.md
  docs/designers/windows-forms-designer-overview.md
  docs/designers/working-with-3-d-assets-for-games-and-apps.md
  docs/designers/working-with-3-d-models.md
  docs/designers/working-with-shaders.md
  docs/designers/working-with-textures-and-images.md
  docs/devinit/devinit-and-codespaces.md
  docs/devinit/devinit-commands.md
  docs/devinit/getting-started-with-devinit.md
  docs/devinit/sample-dotnet-runtime.md
  docs/devinit/sample-eshoponweb.md
  docs/xaml-tools/xaml-hot-reload.md
Labels: CLA, do-not-merge
