Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2020-06, with the labels that each got.

#5403 Update developer-community-privacy.md with data retention note
  docs/ide/developer-community-privacy.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#4585 Added one more question and answer
  docs/python/learn-django-in-visual-studio-step-03-serve-static-files-and-add-pages.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-python/tech

#5407 Move sentence to new line to make it more readable
  docs/code-quality/ca1822.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5397 Fix git push error for protected CLA branch
  docs/code-quality/ca5384.md
  docs/code-quality/ca5385.md
  docs/code-quality/ca5399.md
  docs/code-quality/ca5400.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/security-warnings.md
  docs/code-quality/toc.yml
  docs/deployment/media/quickstart-publish-app-service-summary.png
  docs/deployment/media/quickstart-publish-iis-ftp.png
  docs/deployment/media/quickstart-publish-linux.png
  docs/deployment/media/quickstart-publish-settings-app-service-linux.png
  docs/deployment/media/quickstart-publish-settings-app-service.png
  docs/deployment/media/quickstart-publish-settings-web.png
  docs/deployment/media/quickstart-publish-web-deploy.png
  docs/deployment/media/quickstart-publish-windows-create-new-dialog.png
Labels: aq-pr-triaged, do-not-merge

#5412 Fix git push error for protected CLA branch
  docs/ide/reference/toolbox.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge

#5417 Fix git push error for protected CLA branch
  docs/code-quality/ca2013.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/reliability-warnings.md
  docs/code-quality/toc.yml
  docs/deployment/media/quickstart-publish-folder-new.png
  docs/deployment/quickstart-deploy-to-local-folder.md
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
Labels: do-not-merge

#5441 Fix git push error for protected CLA branch
  docs/deployment/clickonce-security-and-deployment.md
Labels: do-not-merge

#5449 Add Visual Studio version required for RoslynCodeTaskFactory
  docs/msbuild/msbuild-roslyncodetaskfactory.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5442 Updating CA guidance for VS2017
  docs/ide/signing-in-to-visual-studio.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#5451 Fix typos
  docs/extensibility/adding-a-menu-to-the-visual-studio-menu-bar.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#5454 Updating guidance for working with CA/MFA accounts
  docs/ide/work-with-multi-factor-authentication.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5456 Fix git push error for protected CLA branch
  docs/ide/reference/add-debugger-display-attribute.md
  docs/ide/reference/add-file-header.md
  docs/ide/reference/change-method-signature.md
  docs/ide/reference/convert-between-regular-string-verbatim-string.md
  docs/ide/reference/datetime-timespan-completion.md
  docs/ide/reference/generate-comparison-operators.md
  docs/ide/reference/generate-equals-structs.md
  docs/ide/reference/generate-private-field-from-constructor.md
  docs/ide/reference/media/add-debugger-display-attribute.png
  docs/ide/reference/media/add-file-header-rule.png
  docs/ide/reference/media/add-file-header.png
  docs/ide/reference/media/add-parameter-dialog.png
  docs/ide/reference/media/change-signature.png
  docs/ide/reference/media/convert-to-regular-string.png
  docs/ide/reference/media/convert-to-verbatim-string.png
  docs/ide/reference/media/datetime-completion.png
  docs/ide/reference/media/file-header-preview-changes.png
  docs/ide/reference/media/generate-comparison-operators.png
  docs/ide/reference/media/generate-equals-structs.png
  docs/ide/reference/media/simplify-conditional-expression.png
  docs/ide/reference/options-text-editor-javascript-project.md
  docs/ide/reference/simplify-conditional-expression.md
  docs/ide/whats-new-visual-studio-2019.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/toc.yml
  subscriptions/_img/vs-alternate-identity/enter-alternate-account-my-visual-studio-com-portal.png
  subscriptions/_img/vs-alternate-identity/sign-in-with-alternate-account.png
  subscriptions/vs-alternate-identity.md
Labels: do-not-merge

#5463 Fix git push error for protected CLA branch
  docs/ide/class-view-and-object-browser-icons.md
  docs/ide/media/toggle-docs-color-theme.png
  docs/profiling/gpu-usage.md
  docs/profiling/running-profiling-tools-with-or-without-the-debugger.md
Labels: do-not-merge

#5466 Fix git push error for protected CLA branch
  docs/debugger/create-custom-visualizers-of-data.md
  docs/debugger/how-to-install-a-visualizer.md
  docs/ide/solutions-and-projects-in-visual-studio.md
Labels: do-not-merge

#5391 CA2241: Added try_determine_additional_string_formatting_methods_auto…
  docs/code-quality/ca2241.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5467 Updated isolating-code-under-test-with-microsoft-fakes.md
  docs/test/isolating-code-under-test-with-microsoft-fakes.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech

#5468 Update crash dump collection instructions
  docs/ide/how-to-increase-chances-of-performance-issue-being-fixed.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#5472 Ca1507 use name of
  docs/code-quality/ca1507.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5478 Fix git push error for protected CLA branch
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/select-code-type-dialog-box.md
  subscriptions/vs-azure.md
Labels: do-not-merge

#5479 Fix git push error for protected CLA branch
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
Labels: do-not-merge

#5485 Fix git push error for protected CLA branch
  docs/debugger/create-custom-visualizers-of-data.md
  docs/debugger/how-to-install-a-visualizer.md
  docs/debugger/walkthrough-writing-a-visualizer-in-csharp.md
  docs/xaml-tools/media/code-editor-edit-green.png
  docs/xaml-tools/media/code-editor-edit-yellow.png
  docs/xaml-tools/media/code-editor-rename-namespace.png
  docs/xaml-tools/media/code-editor-split-window-button.png
  docs/xaml-tools/media/code-editor-xaml-region.png
  docs/xaml-tools/media/comment-undo-comment-buttons.png
  docs/xaml-tools/media/xaml-code-editor-comments.png
  docs/xaml-tools/media/xaml-code-editor-dimmed-namespaces-preview.png
  docs/xaml-tools/media/xaml-code-editor-middle.png
  docs/xaml-tools/media/xaml-code-editor-overview-lrg.png
  docs/xaml-tools/media/xaml-code-editor-overview-sml.png
  docs/xaml-tools/media/xaml-code-editor-remove-usings.png
  docs/xaml-tools/media/xaml-code-editor-right-click-menu.png
  docs/xaml-tools/media/xaml-code-editor-top-row-left.png
  docs/xaml-tools/media/xaml-code-editor-top-row-right.png
  docs/xaml-tools/media/xaml-code-editor-top-row-windows.png
  docs/xaml-tools/media/xaml-code-editor-window.png
  docs/xaml-tools/media/xaml-code-snippets.png
  docs/xaml-tools/media/xaml-element-window-dropdown.png
  docs/xaml-tools/media/xaml-intellicode-selection.png
  docs/xaml-tools/media/xaml-member-window-dropdown.png
  docs/xaml-tools/media/xaml-tools-options.png
  docs/xaml-tools/toc.yml
  docs/xaml-tools/xaml-code-editor.md
  subscriptions/delete-license.md
Labels: do-not-merge

#5483 Add example of Loggers
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-test/tech

#5482 Add note about multiple loggers
  docs/test/vstest-console-options.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech

#5488 Fix git push error for protected CLA branch
  docs/install/repair-visual-studio.md
  docs/xaml-tools/xaml-code-editor.md
Labels: do-not-merge

#5497 Fix git push error for protected CLA branch
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
Labels: do-not-merge

#5506 Fix git push error for protected CLA branch
  docs/code-quality/ca2012.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/reliability-warnings.md
  docs/code-quality/toc.yml
  docs/ide/synchronized-settings-in-visual-studio.md
Labels: do-not-merge

#5509 Fix git push error for protected CLA branch
  docs/ide/how-to-add-or-remove-imported-namespaces-visual-basic.md
  docs/ide/how-to-add-or-remove-references-by-using-the-reference-manager.md
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/how-to-change-text-case-in-the-editor.md
  docs/ide/how-to-create-item-templates.md
  docs/ide/how-to-create-multi-file-item-templates.md
  docs/ide/how-to-create-multi-project-templates.md
  docs/ide/how-to-create-project-templates.md
  docs/ide/how-to-customize-menus-and-toolbars-in-visual-studio.md
  docs/ide/how-to-distribute-code-snippets.md
  docs/profiling/dotnet-alloc-tool.md
  docs/profiling/profile-apps-from-command-line.md
  docs/profiling/running-profiling-tools-with-or-without-the-debugger.md
Labels: do-not-merge

#5511 Fixed typo in package name
  docs/code-quality/code-metrics-values.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#5515 Fix git push error for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  subscriptions/TOC.md
  subscriptions/_img/add-monthly-subs/add-subs-drop-down.png
  subscriptions/_img/add-monthly-subs/no-subs-found.png
  subscriptions/_img/add-monthly-subs/subs-added-confirmation.png
  subscriptions/_img/no-subs-found.png
  subscriptions/add-monthly-subs.md
  subscriptions/vscloud-overview.md
Labels: do-not-merge

#5521 MSBuild: Clarify Configuration property values
  docs/msbuild/common-msbuild-project-properties.md
Labels: change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#5524 Fix extending-menus-and-commands.md
  docs/extensibility/extending-menus-and-commands.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#5527 Fix git push error for protected CLA branch
  docs/code-quality/ca1830.md
  docs/code-quality/ca2247.md
  docs/code-quality/code-analysis-warnings-for-managed-code-by-checkid.md
  docs/code-quality/performance-warnings.md
  docs/code-quality/toc.yml
  docs/code-quality/usage-warnings.md
  docs/deployment/debugging-clickonce-applications-that-use-system-deployment-application.md
  docs/deployment/how-to-add-a-trusted-publisher-to-a-client-computer-for-clickonce-applications.md
  docs/deployment/how-to-automatically-increment-the-clickonce-publish-version.md
  docs/deployment/how-to-change-the-publish-language-for-a-clickonce-application.md
  docs/deployment/how-to-check-for-application-updates-programmatically-using-the-clickonce-deployment-api.md
  docs/deployment/how-to-configure-the-clickonce-trust-prompt-behavior.md
  docs/deployment/how-to-create-a-localized-bootstrapper-package.md
  docs/deployment/how-to-create-a-package-manifest.md
  docs/deployment/how-to-create-a-product-manifest.md
  docs/deployment/how-to-create-file-associations-for-a-clickonce-application.md
  docs/deployment/how-to-customize-the-default-web-page-for-a-clickonce-application.md
  docs/deployment/how-to-disable-url-activation-of-clickonce-applications-by-using-the-designer.md
  docs/deployment/how-to-disable-url-activation-of-clickonce-applications.md
  docs/deployment/how-to-enable-autostart-for-cd-installations.md
  docs/deployment/how-to-enable-clickonce-security-settings.md
  docs/deployment/how-to-include-a-data-file-in-a-clickonce-application.md
  docs/deployment/how-to-include-prerequisites-with-a-clickonce-application.md
  docs/deployment/how-to-install-prerequisites-with-a-clickonce-application.md
  docs/deployment/how-to-manage-updates-for-a-clickonce-application.md
  docs/deployment/how-to-publish-a-clickonce-application-using-the-publish-wizard.md
  docs/deployment/how-to-publish-a-project-that-has-a-specific-locale.md
  docs/deployment/how-to-publish-a-wpf-application-with-visual-styles-enabled.md
  docs/deployment/how-to-re-sign-application-and-deployment-manifests.md
  docs/deployment/how-to-retrieve-query-string-information-in-an-online-clickonce-application.md
  docs/deployment/how-to-set-a-custom-log-file-location-for-clickonce-deployment-errors.md
  docs/deployment/how-to-set-a-security-zone-for-a-clickonce-application.md
  docs/deployment/how-to-set-custom-permissions-for-a-clickonce-application.md
  docs/deployment/how-to-set-the-clickonce-publish-version.md
  docs/deployment/how-to-sign-setup-files-with-signtool-exe-clickonce.md
  docs/deployment/how-to-specify-a-link-for-technical-support.md
  docs/deployment/how-to-specify-a-publish-page-for-a-clickonce-application.md
  docs/deployment/how-to-specify-a-start-menu-name-for-a-clickonce-application.md
  docs/deployment/how-to-specify-a-support-url-for-individual-prerequisites-in-a-clickonce-deployment.md
  docs/deployment/how-to-specify-an-alternate-location-for-deployment-updates.md
  docs/deployment/how-to-specify-the-clickonce-offline-or-online-install-mode.md
  docs/deployment/how-to-specify-the-location-where-end-users-will-install-from.md
  docs/deployment/how-to-specify-verbose-log-files-for-clickonce-deployments.md
  docs/deployment/how-to-specify-where-visual-studio-copies-the-files.md
  docs/deployment/how-to-specify-which-files-are-published-by-clickonce.md
  docs/deployment/how-to-use-clickonce-to-deploy-applications-that-can-run-on-multiple-versions-of-the-dotnet-framework.md
  docs/deployment/troubleshooting-clickonce-deployments.md
  docs/deployment/troubleshooting-specific-errors-in-clickonce-deployments.md
Labels: do-not-merge

#5539 Fix git push error for protected CLA branch
  docs/designers/constant-nodes.md
  docs/designers/filter-nodes.md
  docs/designers/parameter-nodes.md
  docs/designers/utility-nodes.md
  docs/ide/reference/keyboard-environment-options-dialog-box.md
  docs/ide/reference/list-call-stack-command.md
  docs/ide/reference/list-disassembly-command.md
  docs/ide/reference/list-source-command.md
  docs/ide/reference/notifications-environment-options-dialog-box.md
  docs/ide/reference/options-text-editor-fsharp-advanced.md
  docs/ide/reference/options-text-editor-fsharp-code-fixes.md
  docs/ide/reference/options-text-editor-html-miscellaneous.md
  docs/ide/reference/options-text-editor-usql-intellisense.md
  docs/ide/reference/set-current-stack-frame-command.md
  docs/ide/reference/set-current-thread-command.md
  docs/ide/reference/set-radix-command.md
  docs/ide/reference/showwebbrowser-command.md
  docs/ide/reference/startup-environment-options-dialog-box.md
  docs/ide/reference/tabs-and-windows-environment-options-dialog-box.md
Labels: do-not-merge

#5540 245493
  docs/debugger/graphics/walkthrough-capturing-graphics-information-programmatically.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech
