Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2020-12, with the labels that each got.

#6154 Repo sync for protected CLA branch
  docs/devinit/tool-set-env.md
Labels: CLA, change sent to author, devinit/tech, do-not-merge, visual-studio-windows/prod

#6159 Repo sync for protected CLA branch
  docs/code-quality/install-net-analyzers.md
  docs/code-quality/toc.yml
Labels: CLA, do-not-merge

#6163 Repo sync for protected CLA branch
  subscriptions/access-github.md
  subscriptions/assign-github.md
  subscriptions/handle-overclaimed-license.md
  subscriptions/microsoft-365-apps-for-enterprise.md
  subscriptions/sign-in-github.md
  subscriptions/toc.yml
  subscriptions/vs-azure-community.md
  subscriptions/vs-azure-devops.md
  subscriptions/vs-azure.md
  subscriptions/vs-cast.md
  subscriptions/vs-cloudpilot.md
  subscriptions/vs-code-magazine.md
  subscriptions/vs-concierge-chat.md
  subscriptions/vs-datacamp.md
  subscriptions/vs-developer-community.md
  subscriptions/vs-ide-benefit.md
  subscriptions/vs-linkedin-learning.md
  subscriptions/vs-m365.md
  subscriptions/vs-microsoft-qa.md
  subscriptions/vs-microsoft-tech-community.md
  subscriptions/vs-parasoft.md
  subscriptions/vs-pbi.md
  subscriptions/vs-pluralsight.md
  subscriptions/vs-tech-support.md
  subscriptions/vs-visual-studio-app-center.md
  subscriptions/vs-whitesource.md
  subscriptions/vs-windows-dev.md
  subscriptions/vs-windows-virtual-desktop.md
Labels: CLA, do-not-merge

#6172 Repo sync for protected CLA branch
  docs/devinit/devinit-tool-list.md
  docs/extensibility/debugger/key-expression-evaluator-interfaces.md
  docs/extensibility/debugger/launch-based-attachment.md
  docs/extensibility/debugger/launching-a-program.md
  docs/extensibility/debugger/launching-the-debugger.md
  docs/extensibility/debugger/modules.md
  docs/extensibility/debugger/notifydebuggerofwaitcompletion-method.md
  docs/extensibility/debugger/notifying-the-port.md
  docs/extensibility/debugger/operational-modes.md
  docs/extensibility/debugger/parallel-extension-internals-for-the-dotnet-framework.md
  docs/extensibility/debugger/port-suppliers.md
  docs/extensibility/debugger/ports.md
  docs/extensibility/debugger/process-debug-manager.md
  docs/extensibility/debugger/processes.md
  docs/extensibility/debugger/program-control.md
  docs/extensibility/debugger/program-nodes.md
  docs/extensibility/debugger/programs.md
  docs/extensibility/debugger/reference/intercept-exception-action.md
  docs/extensibility/debugger/reference/interfaces-visual-studio-debugging.md
  docs/extensibility/debugger/reference/reference-visual-studio-debugging-apis.md
  docs/extensibility/debugger/reference/sdk-helpers-for-debugging.md
Labels: CLA, do-not-merge

#6174 Repo sync for protected CLA branch
  docs/ide/reference/extensions-and-updates-environment-options-dialog-box.md
  docs/ide/reference/extract-interface.md
  docs/ide/reference/find-and-replace-environment-options-dialog-box.md
  docs/ide/reference/fonts-and-colors-environment-options-dialog-box.md
  docs/ide/reference/general-environment-options-dialog-box.md
  docs/ide/reference/generate-class-type.md
  docs/ide/reference/generate-constructor.md
  docs/ide/reference/generate-deconstructor.md
  docs/ide/reference/generate-equals-gethashcode-methods.md
  docs/ide/reference/generate-equals-structs.md
  docs/ide/reference/generate-field-property-local.md
  docs/ide/reference/generate-method.md
  docs/ide/reference/generate-override.md
  docs/ide/reference/generate-parameter.md
  docs/ide/reference/generate-private-field-from-constructor.md
  docs/ide/reference/generate-usings.md
  docs/ide/reference/generate-xml-documentation-comments.md
  docs/ide/reference/how-to-change-fonts-and-colors-in-the-editor.md
  docs/ide/reference/how-to-display-line-numbers-in-the-editor.md
  docs/ide/reference/how-to-display-urls-as-links-in-the-editor.md
  docs/ide/reference/how-to-manage-word-wrap-in-the-editor.md
  docs/ide/reference/immediate-window.md
  docs/ide/reference/implement-abstract-class.md
  docs/ide/reference/implement-interface.md
  docs/ide/reference/import-and-export-settings-environment-options-dialog-box.md
  docs/ide/reference/inline-temporary-variable.md
  docs/ide/reference/international-settings-environment-options-dialog-box.md
  docs/ide/reference/invert-conditional-logical.md
  docs/ide/reference/invert-if-statement.md
  docs/ide/reference/keyboard-environment-options-dialog-box.md
  docs/ide/reference/move-declaration-near-reference.md
  docs/ide/reference/move-type-to-namespace.md
  docs/ide/reference/notifications-environment-options-dialog-box.md
  docs/ide/reference/projects-and-solutions-options-dialog-box.md
  docs/ide/reference/projects-solutions-locations-options.md
  docs/ide/reference/pull-members-up.md
  docs/ide/reference/quick-launch-environment-options-dialog-box.md
  docs/ide/reference/references-page-project-designer-visual-basic.md
  docs/ide/reference/regex-completion-through-intellisense.md
  docs/ide/reference/remove-unreachable-code.md
  docs/ide/reference/rename.md
  docs/ide/reference/resources-for-troubleshooting-integrated-development-environment-errors.md
  docs/ide/reference/set-current-process.md
  docs/ide/reference/set-current-stack-frame-command.md
  docs/ide/reference/set-current-thread-command.md
  docs/ide/reference/set-radix-command.md
  docs/ide/reference/shell-command.md
  docs/ide/reference/showwebbrowser-command.md
  docs/ide/reference/start-command.md
  docs/ide/reference/startup-environment-options-dialog-box.md
  docs/ide/reference/symbol-path-command.md
  docs/ide/reference/tabs-and-windows-environment-options-dialog-box.md
  docs/ide/reference/task-list-environment-options-dialog-box.md
  docs/ide/reference/vcpp-project-settings-projects-and-solutions-options-dialog-box.md
  docs/ide/reference/visual-basic-defaults-projects-options-dialog-box.md
Labels: CLA, do-not-merge

#6180 Repo sync for protected CLA branch
  docs/extensibility/internals/how-to-expose-lists-of-symbols-provided-by-the-library-to-the-object-manager.md
  docs/extensibility/internals/how-to-generate-registry-information-for-an-installer.md
  docs/extensibility/internals/how-to-identify-symbols-in-a-library.md
  docs/extensibility/internals/how-to-implement-nested-projects.md
  docs/extensibility/internals/how-to-install-a-source-control-plug-in.md
  docs/extensibility/internals/how-to-provide-automation-for-windows.md
  docs/extensibility/internals/how-to-provide-expanded-outlining-support-in-a-legacy-language-service.md
  docs/extensibility/internals/how-to-provide-hidden-text-support-in-a-legacy-language-service.md
  docs/extensibility/internals/how-to-register-a-library-with-the-object-manager.md
  docs/extensibility/internals/how-to-support-outlining-in-a-legacy-language-service.md
  docs/extensibility/internals/how-to-use-built-in-colorable-items.md
  docs/extensibility/internals/how-vspackages-add-user-interface-elements.md
  docs/extensibility/internals/ide-defined-commands-for-extending-project-systems.md
  docs/extensibility/internals/ide-defined-commands-menus-and-groups.md
  docs/extensibility/internals/image-library-viewer.md
  docs/extensibility/internals/image-service-tools.md
  docs/extensibility/internals/implementing-a-legacy-language-service1.md
  docs/extensibility/internals/implementing-a-legacy-language-service2.md
  docs/extensibility/internals/implementing-command-handling-for-nested-projects.md
  docs/extensibility/internals/implementing-single-file-generators.md
Labels: CLA, do-not-merge

#6185 Repo sync for protected CLA branch
  docs/debugger/edit-and-continue-dialog-box-cpp.md
  docs/debugger/edit-and-continue-dialog-box.md
  docs/debugger/edit-and-continue-error-message-dialog-box.md
  docs/debugger/edit-and-continue-not-supported-for-f-hash.md
  docs/debugger/edit-and-continue-visual-basic.md
  docs/debugger/edit-and-continue-visual-cpp.md
  docs/debugger/edit-and-continue-visual-csharp.md
  docs/debugger/enabling-debug-features-in-visual-cpp-d-debug.md
  docs/debugger/exception-helper.md
  docs/debugger/executable-for-debugging-session-dialog-box.md
  docs/debugger/expressions-in-the-debugger.md
  docs/debugger/find-window-dialog-box.md
  docs/debugger/finding-memory-leaks-using-the-crt-library.md
  docs/debugger/font-dialog-box-microsoft-spy-increment-help.md
  docs/debugger/format-specifiers-in-cpp.md
  docs/debugger/format-specifiers-in-csharp.md
  docs/debugger/general-debugging-options-dialog-box.md
  docs/debugger/general-tab-process-properties-dialog-box.md
  docs/debugger/general-tab-thread-properties-dialog-box.md
  docs/debugger/general-tab-window-properties-dialog-box.md
  subscriptions/assign-license.md
Labels: CLA, do-not-merge

#6190 Repo sync for protected CLA branch
  docs/ide/class-designer/how-to-add-comments-to-class-diagrams.md
  docs/ide/class-designer/how-to-change-between-member-notation-and-association-notation.md
  docs/ide/class-designer/how-to-copy-class-diagram-elements-to-a-microsoft-office-document.md
  docs/ide/class-designer/how-to-create-associations-between-types.md
  docs/ide/class-designer/how-to-create-inheritance-between-types.md
  docs/ide/class-designer/how-to-export-class-diagrams-as-images.md
  docs/ide/class-designer/how-to-split-a-class-into-partial-classes.md
  docs/ide/class-designer/how-to-view-inheritance-between-types.md
  docs/ide/class-designer/how-to-visualize-a-collection-association.md
Labels: CLA, do-not-merge

#6192 typo: seperate -> separate
  docs/msbuild/msbuild-targets.md
Labels: change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6197 Repo sync for protected CLA branch
  docs/extensibility/toc.yml
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/ide/media/feedback-my-feedback.png
  docs/msbuild/toc.yml
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6198 Repo sync for protected CLA branch
  docs/test/run-unit-tests-with-test-explorer.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-test/tech

#6203 Repo sync for protected CLA branch
  docs/code-quality/install-net-analyzers.md
  docs/code-quality/migrate-from-fxcop-analyzers-to-net-analyzers.md
  docs/debugger/graphics/walkthrough-using-graphics-diagnostics-to-debug-a-compute-shader.md
  docs/debugger/help-menu-commands.md
  docs/debugger/historical-debugging-inspect-app.md
  docs/debugger/historical-debugging.md
  docs/debugger/how-can-i-debug-access-violations-when-running-my-program-outside-the-debugger-q.md
  docs/debugger/how-can-i-debug-an-access-violation-q.md
  docs/debugger/how-can-i-debug-windows-api-functions-q.md
  docs/debugger/how-can-i-find-out-if-my-pointers-corrupt-a-memory-address-q.md
  docs/debugger/how-can-i-find-out-who-is-passing-a-wrong-parameter-value-q.md
  docs/debugger/how-can-i-keep-focus-when-stepping-through-my-program-q.md
  docs/debugger/how-can-i-use-debugger-windows-while-debugging-a-foreground-program-q.md
  docs/debugger/how-to-apply-edits-in-break-mode-with-edit-and-continue.md
  docs/debugger/how-to-change-fonts.md
  docs/debugger/how-to-control-messages-view.md
  docs/debugger/how-to-debug-a-self-hosted-wcf-service.md
  docs/debugger/how-to-debug-an-activex-control.md
  docs/debugger/how-to-debug-an-executable-not-part-of-a-visual-studio-solution.md
  docs/debugger/how-to-debug-aspnet-exceptions.md
  docs/debugger/how-to-debug-dotnet-framework-source.md
  docs/debugger/how-to-debug-from-a-dll-project.md
Labels: CLA, do-not-merge

#6204 Repo sync for protected CLA branch
  docs/extensibility/inside-the-editor.md
  docs/extensibility/installing-the-visual-studio-sdk.md
  docs/extensibility/intellisensehostflags.md
  docs/extensibility/internals/test-area-6-delete.md
  docs/extensibility/internals/test-area-7-share.md
  docs/extensibility/internals/test-area-8-plug-in-switching.md
  docs/extensibility/internals/test-guide-for-source-control-plug-ins.md
  docs/extensibility/internals/troubleshooting-regpkg-package-registration.md
  docs/extensibility/internals/uninstalling-a-vspackage-with-windows-installer.md
  docs/extensibility/internals/upgrading-projects.md
  docs/extensibility/internals/using-msbuild.md
  docs/extensibility/internals/using-the-automation-model.md
  docs/extensibility/internals/using-the-managed-package-framework-to-implement-a-project-type-csharp.md
  docs/extensibility/internals/using-visual-studio-interop-assemblies.md
  docs/extensibility/internals/validating-breakpoints-in-a-legacy-language-service.md
  docs/extensibility/internals/visual-studio-command-table-dot-vsct-files.md
  docs/extensibility/internals/visual-studio-shell.md
  docs/extensibility/internals/vsct-compiler-command-line-flags.md
  docs/extensibility/internals/vsix-color-compiler.md
  docs/extensibility/internals/vsix-color-editor.md
  docs/extensibility/internals/vspackage-registration.md
  docs/extensibility/internals/vspackage-setup-scenarios.md
  docs/extensibility/internals/vspackage-structure-source-control-vspackage.md
  docs/extensibility/internals/vspackages.md
  docs/extensibility/internals/vssdk-utilities.md
  docs/extensibility/internals/walkthrough-creating-a-legacy-language-service.md
  docs/extensibility/internals/walkthrough-getting-a-list-of-installed-code-snippets-legacy-implementation.md
  docs/extensibility/internals/web-project-essentials.md
  docs/extensibility/internals/web-projects.md
  docs/extensibility/internals/web-site-support-attributes.md
  docs/extensibility/internals/web-site-support-templates.md
  docs/extensibility/internals/web-site-support.md
  docs/extensibility/internals/what-s-new-in-source-control.md
  docs/extensibility/internals/what-s-new-in-the-source-control-plug-in-api-version-1-2.md
  docs/extensibility/internals/what-s-new-in-the-source-control-plug-in-api-version-1-3.md
  docs/extensibility/internals/when-to-create-project-types.md
  docs/extensibility/internals/windows-installer-basics.md
  docs/extensibility/internals/wizard-dot-vsz-file.md
  docs/extensibility/internals/wizard-interface-idtwizard.md
  docs/extensibility/internals/wizards.md
  docs/ide/solutions-and-projects-in-visual-studio.md
  docs/ide/visual-studio-performance-tips-and-tricks.md
  mac/TOC.yml
  mac/migrate-extensions.md
Labels: CLA, do-not-merge

#6071 missing from menu option
  docs/get-started/tutorial-projects-solutions.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#6209 Repo sync for protected CLA branch
  docs/ide/solutions-and-projects-in-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6213 Fix sample code style
  docs/debugger/assertions-in-managed-code.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6215 Repo sync for protected CLA branch
  docs/ide/creating-solutions-and-projects.md
  docs/ide/solutions-and-projects-in-visual-studio.md
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6217 Repo sync for protected CLA branch
  docs/code-quality/install-net-analyzers.md
  docs/extensibility/internals/wizard-support-for-nested-projects.md
  docs/extensibility/internals/word-completion-in-a-legacy-language-service.md
  docs/extensibility/keybinding-element.md
  docs/extensibility/keybindings-element.md
  docs/extensibility/language-server-protocol.md
  docs/extensibility/language-service-and-editor-extension-points.md
  docs/extensibility/launch-visual-studio-dte.md
  docs/extensibility/loading-vspackages.md
  docs/extensibility/localizing-menu-commands.md
  docs/extensibility/localizing-vsix-packages.md
  docs/extensibility/locating-visual-studio.md
  docs/extensibility/lptextoutproc.md
  docs/extensibility/managed-extensibility-framework-in-the-editor.md
  docs/extensibility/managing-multiple-threads-in-managed-code.md
  docs/extensibility/managing-project-loading-in-a-solution.md
  docs/extensibility/managing-side-by-side-file-associations.md
  docs/extensibility/managing-universal-windows-projects.md
  docs/extensibility/managing-vspackages.md
  docs/extensibility/menu-element.md
  docs/extensibility/menus-element.md
  docs/ide/solutions-and-projects-in-visual-studio.md
  mac/2017/working-with-git.md
  mac/working-with-git.md
Labels: CLA, do-not-merge

#6218 Repo sync for protected CLA branch
  docs/code-quality/analyzers-faq.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#6222 Repo sync for protected CLA branch
  docs/code-quality/codesnippet/CSharp/ca2240-implement-iserializable-correctly_1.cs
  docs/code-quality/how-to-create-a-custom-rule-set.md
  docs/debugger/debug-live-azure-apps-troubleshooting.md
  docs/debugger/troubleshoot-data-breakpoint-errors.md
  docs/docfx.json
  docs/extensibility/internals/microsoft-help-viewer-sdk.md
  docs/extensibility/internals/new-project-generation-under-the-hood-part-one.md
  docs/extensibility/internals/new-project-generation-under-the-hood-part-two.md
  docs/extensibility/open-folder.md
  docs/extensibility/ux-guidelines/images-and-icons-for-visual-studio.md
  docs/extensibility/ux-guidelines/shared-colors-for-visual-studio.md
  docs/extensibility/ux-guidelines/ui-text-and-help-for-visual-studio.md
  docs/extensibility/ux-guidelines/visual-language-dictionary-for-visual-studio.md
  docs/extensibility/visual-cpp-project-extensibility.md
  docs/get-started/tutorial-projects-solutions.md
  docs/ide/codespaces/supported-features-codespaces.md
  docs/ide/create-new-project.md
  docs/ide/developer-community-guidelines.md
  docs/ide/developer-community-privacy.md
  docs/ide/feedback-options.md
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/how-to-increase-chances-of-performance-issue-being-fixed.md
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/ide/how-to-set-multiple-startup-projects.md
  docs/ide/solutions-and-projects-in-visual-studio.md
  docs/ide/suggest-a-feature.md
  docs/ide/visual-studio-experience-improvement-program.md
  docs/ide/whats-new-visual-studio-2017.md
  docs/install/advanced-build-tools-container.md
  docs/install/build-tools-container-issues.md
  docs/install/includes/install_get_support_md.md
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
  docs/install/repair-visual-studio.md
  docs/install/troubleshooting-installation-issues.md
  docs/install/visual-studio-on-arm-devices.md
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
  docs/test/intellitest-manual/attribute-glossary.md
  docs/test/intellitest-manual/exploration-bounds.md
  docs/test/intellitest-manual/input-generation.md
  docs/test/intellitest-manual/settings-waterfall.md
  docs/test/intellitest-manual/static-helper-classes.md
  docs/test/intellitest-manual/test-generation.md
  docs/test/intellitest-manual/warnings-and-errors.md
  docs/test/test-explorer-faq.md
  docs/windows/index.yml
  docs/xaml-tools/xaml-hot-reload.md
  mac/2017/report-a-problem.md
  mac/docfx.json
  mac/index.yml
  mac/report-a-problem.md
  scripting-docs/docfx.json
  subscriptions/docfx.json
Labels: CLA, do-not-merge

#6226 Repo sync for protected CLA branch
  docs/code-quality/use-roslyn-analyzers.md
  docs/devinit/tool-choco-install.md
  docs/ide/codespaces/supported-features-codespaces.md
  docs/ide/create-new-project.md
  docs/ide/creating-solutions-and-projects.md
  docs/ide/reference/resources-for-troubleshooting-integrated-development-environment-errors.md
  docs/ide/solutions-and-projects-in-visual-studio.md
  subscriptions/_img/assign-license-bulk/bulk-add-agreement.png
  subscriptions/assign-license-bulk.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6072 Update tutorial-projects-solutions.md
  docs/get-started/tutorial-projects-solutions.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#6239 Repo sync for protected CLA branch
  docs/get-started/csharp/media/vs-2019/calculator2-solution-explorer-with-class-library-dark2.png
Labels: CLA, do-not-merge, review-team-triage

#6241 Repo sync for protected CLA branch
  docs/test/create-unit-tests-menu.md
  docs/test/getting-started-with-unit-testing.md
  docs/test/improve-code-quality.md
  docs/test/index.yml
  docs/test/intellitest-manual/index.md
  docs/test/live-unit-testing-intro.md
  docs/test/media/intellitest.png
  docs/test/toc.yml
  docs/test/unit-test-basics.md
  docs/test/unit-test-your-code.md
Labels: CLA, do-not-merge

#6243 Repo sync for protected CLA branch
  docs/debugger/attach-to-process-running-in-docker-container.md
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/autos-and-locals-windows.md
  docs/debugger/debug-using-the-just-in-time-debugger.md
  docs/debugger/debugger-feature-tour.md
  docs/debugger/debugging-absolute-beginners.md
  docs/debugger/format-specifiers-in-cpp.md
  docs/debugger/format-specifiers-in-csharp.md
  docs/debugger/how-can-i-debug-an-access-violation-q.md
  docs/debugger/how-to-debug-the-onstart-method.md
  docs/debugger/how-to-enable-debugging-for-aspnet-applications.md
  docs/debugger/includes/remote-debugger-deploy-app-local.md
  docs/extensibility/ux-guidelines/color-value-reference-for-visual-studio.md
  docs/ide/create-new-project.md
  docs/ide/creating-solutions-and-projects.md
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/ide/reference/convert-typeof-to-nameof.md
  docs/ide/reference/inline-method.md
  docs/ide/reference/wrap-indent-align-refactorings.md
  docs/ide/solutions-and-projects-in-visual-studio.md
  docs/python/python-support-options-and-settings-in-visual-studio.md
  docs/python/quickstart-05-python-visual-studio-open-folder.md
  docs/rtvs/getting-started-with-r.md
Labels: CLA, do-not-merge

#6244 Repo sync for protected CLA branch
  docs/ide/creating-solutions-and-projects.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6258 Repo sync for protected CLA branch
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-7-5-computer.md
  docs/debugger/remote-debugging-azure.md
  docs/debugger/remote-debugging-cpp.md
  docs/debugger/remote-debugging-csharp.md
  docs/debugger/walkthrough-using-intellitrace.md
  docs/deployment/quickstart-deploy-to-azure.md
  docs/deployment/quickstart-deploy-to-linux.md
  docs/get-started/csharp/tutorial-debugger.md
  docs/javascript/debug-nodejs.md
  docs/javascript/npm-package-management.md
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
  docs/javascript/write-and-edit-code.md
  docs/profiling/common-patterns-for-poorly-behaved-multithreaded-applications.md
  docs/profiling/gpu-usage.md
  docs/profiling/how-to-use-the-concurrency-visualizer-markers-sdk.md
  docs/profiling/memory-usage-without-debugging2.md
  docs/profiling/memory-usage.md
  docs/profiling/perftips.md
  docs/test/enable-coded-ui-testing-of-your-controls.md
  docs/test/fix-non-detectable-dynamic-parameters-in-a-web-performance-test.md
Labels: CLA, do-not-merge

#6259 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-aspnet-core-ef-step-02.md
  docs/get-started/csharp/tutorial-aspnet-core.md
  docs/get-started/csharp/tutorial-console.md
  docs/get-started/includes/ide-overview.md
  docs/ide/find-and-fix-code-errors.md
  docs/ide/quickstart-aspnet-core.md
  docs/ide/reference/introduce-local-variable.md
  docs/test/how-to-configure-unit-tests-to-target-an-earlier-version-of-the-dotnet-framework.md
  docs/test/run-unit-tests-with-test-explorer.md
  docs/test/unit-test-basics.md
  docs/test/use-ui-automation-to-test-your-code.md
  docs/xaml-tools/xaml-code-editor.md
  docs/xaml-tools/xaml-hot-reload-troubleshooting.md
Labels: CLA, do-not-merge
