Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-01, with the labels that each got.

#6264 Repo sync for protected CLA branch
  docs/extensibility/message-enumerator.md
  docs/extensibility/migrate-debugger-com-registration.md
  docs/extensibility/mssccprj-scc-file.md
  docs/extensibility/ngen-support.md
  docs/extensibility/nuget-versus-sdk-references.md
  docs/extensibility/objects.md
  docs/extensibility/open-folder.md
  docs/extensibility/opening-a-dynamic-tool-window.md
  docs/extensibility/optnamechangepfn.md
  docs/extensibility/parent-element.md
  docs/extensibility/persisting-the-property-of-a-project-item.md
  docs/extensibility/popdirlistfunc.md
  docs/extensibility/poplistfunc.md
  docs/extensibility/preparing-extensions-for-windows-installer-deployment.md
  docs/extensibility/private-galleries.md
  docs/extensibility/querychangesfunc.md
  docs/extensibility/registering-a-tool-window.md
  docs/extensibility/registering-and-unregistering-vspackages.md
  docs/extensibility/registering-file-name-extensions-for-side-by-side-deployments.md
  docs/extensibility/registering-verbs-for-file-name-extensions.md
  docs/extensibility/ux-guidelines/evaluation-tools-for-visual-studio.md
  docs/extensibility/ux-guidelines/fonts-and-formatting-for-visual-studio.md
  docs/extensibility/ux-guidelines/interaction-patterns-for-visual-studio.md
  docs/extensibility/ux-guidelines/layout-for-visual-studio.md
  docs/extensibility/ux-guidelines/menus-and-commands-for-visual-studio.md
  docs/extensibility/ux-guidelines/notifications-and-progress-for-visual-studio.md
  docs/extensibility/ux-guidelines/ux-essentials-for-visual-studio.md
  docs/extensibility/ux-guidelines/visual-studio-user-experience-guidelines.md
  docs/extensibility/verifying-subtypes-of-a-project-at-run-time.md
  docs/extensibility/visibilityconstraints-element.md
  docs/extensibility/visibilityitem-element.md
  docs/extensibility/visual-studio-sdk-glossary.md
  docs/extensibility/visual-studio-sdk-reference.md
  docs/extensibility/visual-studio-sdk.md
  docs/extensibility/visual-studio-template-manifest-schema-reference.md
  docs/extensibility/vscodewindow-object.md
  docs/extensibility/vscodewindowmanager-object.md
  docs/extensibility/vsct-xml-schema-conditional-attributes.md
  docs/extensibility/vsct-xml-schema-reference.md
  docs/extensibility/vsix-extension-schema-2-0-reference.md
  docs/extensibility/vsix-language-pack-schema-2-0-reference.md
  docs/extensibility/vsix-manifest-designer.md
  docs/extensibility/vsix-project-template.md
  docs/extensibility/vstextbuffer-object.md
  docs/extensibility/vstextview-object.md
  docs/extensibility/walkthrough-accessing-the-dte-object-from-an-editor-extension.md
  docs/extensibility/walkthrough-adding-custom-xaml-to-the-start-page.md
  docs/extensibility/walkthrough-adding-features-to-a-custom-editor.md
  docs/extensibility/walkthrough-creating-a-custom-editor.md
  docs/extensibility/walkthrough-creating-a-margin-glyph.md
  docs/extensibility/walkthrough-creating-a-view-adornment-commands-and-settings-column-guides.md
  docs/extensibility/walkthrough-creating-an-sdk-using-cpp.md
  docs/extensibility/walkthrough-creating-an-sdk-using-csharp-or-visual-basic.md
  docs/extensibility/walkthrough-creating-an-sdk-using-javascript.md
  docs/extensibility/walkthrough-customizing-the-text-view.md
Labels: CLA, do-not-merge

#6270 Repo sync for protected CLA branch
  docs/debugger/how-to-debug-in-mixed-mode.md
  docs/debugger/how-to-debug-injected-code.md
  docs/debugger/how-to-debug-inline-assembly-code.md
  docs/debugger/how-to-debug-on-a-high-performance-cluster.md
  docs/debugger/how-to-debug-optimized-code.md
  docs/debugger/how-to-debug-the-onstart-method.md
  docs/debugger/how-to-display-and-hide-register-groups.md
  docs/debugger/how-to-display-message-properties.md
  docs/debugger/how-to-display-process-properties.md
  docs/debugger/how-to-display-spy-increment-views.md
  docs/debugger/how-to-display-thread-properties.md
  docs/debugger/how-to-display-window-properties.md
  docs/debugger/how-to-display-wpf-trace-information.md
  docs/debugger/how-to-edit-a-register-value.md
  docs/debugger/how-to-enable-and-disable-edit-and-continue.md
  docs/debugger/how-to-enable-debugging-for-aspnet-applications.md
  docs/debugger/how-to-examine-system-code-after-an-exception.md
  docs/debugger/how-to-expand-and-collapse-spy-increment-trees.md
  docs/debugger/how-to-find-the-name-of-the-aspnet-process.md
  docs/debugger/how-to-find-which-dll-your-program-crashed-in.md
  docs/debugger/javascript-console-commands.md
  docs/debugger/jit-optimization-and-debugging.md
  docs/debugger/just-in-time-debugging-in-visual-studio.md
  docs/debugger/just-in-time-debugging-options-dialog-box.md
  docs/debugger/just-my-code.md
  docs/debugger/keyboard-shortcuts-html-and-javascript.md
  docs/debugger/limitations-on-wcf-debugging.md
  docs/debugger/macros-for-reporting.md
  docs/debugger/managed-debugging-recommended-property-settings.md
  docs/debugger/managing-exceptions-with-the-debugger.md
  docs/debugger/map-methods-on-the-call-stack-while-debugging-in-visual-studio.md
  docs/debugger/memory-tab-process-properties-dialog-box.md
  docs/debugger/memory-windows.md
  docs/debugger/menu-commands.md
  docs/debugger/message-codes.md
  docs/debugger/message-options-dialog-box.md
  docs/debugger/message-properties-dialog-box.md
  docs/debugger/message-search-dialog-box.md
  docs/debugger/messages-menu-commands.md
  docs/debugger/messages-view.md
  docs/install/install-visual-studio.md
  docs/profiling/dotnet-counters-tool.md
  docs/profiling/index.yml
  docs/profiling/media/dotnet-counters-tool-collecting.png
  docs/profiling/media/dotnet-counters-tool-columns.png
  docs/profiling/media/dotnet-counters-tool-report.png
  docs/profiling/media/dotnet-counters-tool-selected.png
  docs/profiling/media/dotnet-counters-tool-time-filtering.png
  docs/profiling/toc.yml
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
Labels: CLA, do-not-merge

#6271 Repo sync for protected CLA branch
  docs/python/profiling-python-code-in-visual-studio.md
  gamedev/unity/change-log-visual-studio-tools-for-unity-mac.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-dev16/prod, vs-unity-tools/tech

#6279 Repo sync for protected CLA branch
  subscriptions/solutions/other-or-no-solution/includes/no-solution.md
  subscriptions/solutions/portal-issue/includes/controls-or-buttons-not-working.md
  subscriptions/solutions/portal-issue/includes/page-cannot-be-displayed.md
  subscriptions/solutions/portal-issue/includes/page-not-loading.md
  subscriptions/solutions/portal-issue/includes/portal-outage.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-canceling/includes/help-me-cancel-monthly-annual.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6281 Repo sync for protected CLA branch
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  subscriptions/solutions/index.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6286 Repo sync for protected CLA branch
  docs/code-quality/code-metrics-class-coupling.md
  docs/code-quality/code-metrics-maintainability-index-range-and-meaning.md
  docs/code-quality/code-metrics-values.md
  docs/code-quality/how-to-generate-code-metrics-data.md
  docs/code-quality/media/class-coupling-example-1.png
  docs/code-quality/media/class-coupling-example-2.png
  docs/code-quality/media/class-coupling-example-3.png
  docs/code-quality/media/class-coupling-example-4.png
  docs/code-quality/media/class-coupling-example-add-new-class.png
  docs/code-quality/media/class-coupling-extended-design-guideline-rules.png
  docs/code-quality/media/class-coupling-maintainability-area-rules.png
  docs/code-quality/toc.yml
  docs/deployment/installchecks-element-bootstrapper.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#6285 Update Platform option docs until we fix it
  docs/test/vstest-console-options.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech

#6287 Repo sync for protected CLA branch
  .whatsnew.json
  docs/ide/whats-new-visual-studio-docs-history.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/test/media/default-windows-10-sound-dialog.png
  docs/test/run-unit-tests-with-test-explorer.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6290 Repo sync for protected CLA branch
  docs/ide/reference/extract-local-function.md
  docs/ide/reference/extract-method.md
  docs/javascript/tutorial-aspnet-with-typescript.md
  subscriptions/solutions/benefit-activation/includes/how-do-i-activate-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-devops.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-pay-as-you-go-subscription.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-enterprise-mobility-security-benefit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-pluralsight-benefit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-see-azure-monthly-credit-in-azure-portal.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-software-non-visualstudio.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-locate-product.md
  subscriptions/solutions/downloading-activating-or-using-software/finding-or-using-product-keys/includes/unable-to-find-or-claim-product-keys.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-marketplace.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-microsoft-store.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-microsoft-store.md
  subscriptions/solutions/renewing-purchasing-or-canceling/order-or-purchase-status/includes/viewing-my-bill.md
Labels: CLA, do-not-merge

#6292 Repo sync for protected CLA branch
  docs/get-started/tutorial-projects-solutions.md
  docs/ide/reference/add-new-item-command.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6296 Repo sync for protected CLA branch
  docs/debugger/project-settings-for-a-visual-basic-debug-configuration.md
  docs/debugger/project-settings-for-csharp-debug-configurations.md
  docs/debugger/property-pages-settings-for-web-projects.md
  docs/debugger/pseudovariables.md
  docs/debugger/quickstart-debug-html-and-css.md
  docs/debugger/quickstart-debug-javascript-using-the-console.md
  docs/debugger/refresh-an-app-javascript.md
  docs/debugger/remote-debugger-port-assignments.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/debugger/remote-debugging-dotnet-core-linux-with-ssh.md
  docs/debugger/remote-debugging-errors-and-troubleshooting.md
  docs/debugger/remote-debugging-unblock-file-download.md
  docs/debugger/remote-debugging.md
  docs/debugger/report-hook-functions.md
  docs/debugger/resolve-ambiguity-dialog-box.md
  docs/debugger/run-windows-store-apps-in-the-simulator.md
  docs/debugger/run-windows-store-apps-on-a-remote-machine.md
  docs/debugger/search-menu-commands.md
  docs/debugger/search-tools-for-spy-increment-views.md
  docs/debugger/select-code-type-dialog-box.md
  docs/debugger/windows-tab-message-options-dialog-box.md
  docs/debugger/windows-tab-window-properties-dialog-box.md
  docs/debugger/windows-view.md
  docs/extensibility/internals/implementing-syntax-coloring.md
  docs/extensibility/internals/important-commands-for-language-service-filters.md
  docs/extensibility/internals/initialization-sequence-of-project-subtypes.md
  docs/extensibility/internals/inside-the-visual-studio-sdk.md
  docs/extensibility/internals/installing-vspackages-with-windows-installer.md
  docs/extensibility/internals/intercepting-legacy-language-service-commands.md
  docs/extensibility/internals/language-service-support-for-debugging.md
  docs/extensibility/internals/legacy-language-service-essentials.md
  docs/extensibility/internals/legacy-language-service-extensibility.md
  docs/extensibility/internals/legacy-language-service-features1.md
  docs/extensibility/internals/legacy-language-service-features2.md
  docs/extensibility/internals/legacy-language-service-interfaces.md
  docs/extensibility/internals/legacy-language-service-overview.md
  docs/extensibility/internals/legacy-language-service-parser-and-scanner.md
  docs/extensibility/internals/list-of-available-services.md
  docs/extensibility/internals/making-commands-available.md
  docs/extensibility/internals/managing-configuration-options.md
  docs/extensibility/internals/manifest-from-resources.md
  docs/extensibility/internals/manifest-to-code.md
  docs/extensibility/internals/member-completion-in-a-legacy-language-service.md
  docs/ide/reference/debug-page-project-designer.md
  docs/profiling/adding-tier-interaction-data-from-the-command-line.md
  docs/profiling/advanced-settings-dialog-box-concurrency-visualizer.md
  docs/profiling/analyze-async.md
  docs/profiling/analyze-database.md
  docs/profiling/analyze-energy-use-in-store-apps.md
  docs/profiling/analyze-memory-usage.md
  docs/profiling/analyzing-performance-tools-data.md
  docs/profiling/application-timeline.md
  docs/profiling/args.md
  docs/profiling/attach.md
  docs/profiling/automark.md
  docs/profiling/average-cpu-utilization.md
  docs/profiling/beginners-guide-to-cpu-sampling.md
  docs/profiling/blocking-time-profile-report.md
  docs/profiling/caller-callee-view-contention-data.md
  docs/profiling/collecting-detailed-timing-data-aspnet-profiler-instrumentation-method.md
Labels: CLA, do-not-merge

#6297 Update git-with-visual-studio.md
  docs/ide/git-with-visual-studio.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#6298 Repo sync for protected CLA branch
  docs/ide/reference/options-text-editor-general.md
  subscriptions/admin-inventory.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6300 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/debugger/how-to-use-native-run-time-checks.md
  docs/debugger/managing-exceptions-with-the-debugger.md
  docs/debugger/toc.yml
  docs/debugger/using-run-time-checks-without-the-c-run-time-library.md
  docs/test/improve-code-quality.md
  docs/test/install-third-party-unit-test-frameworks.md
  docs/test/unit-test-your-code.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6309 Repo sync for protected CLA branch
  docs/ide/git-with-visual-studio.md
  subscriptions/vs-code-magazine.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6310 Repo sync for protected CLA branch
  .acrolinx-config.edn
Labels: CLA, do-not-merge, review-team-triage

#6320 Repo sync for protected CLA branch
  docs/python/tutorial-working-with-python-in-visual-studio-step-04-debugging.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-python/tech

#6327 Repo sync for protected CLA branch
  docs/ide/class-view-and-object-browser-icons.md
  docs/ide/solutions-and-projects-in-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6332 Repo sync for protected CLA branch
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-dev16/prod, vs-unity-tools/tech

#6335 Repo sync for protected CLA branch
  docs/xml-tools/walkthrough-debug-an-xslt-style-sheet.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-xml-tools/tech

#6336 Update how-to-save-and-open-files-with-encoding.md
  docs/ide/how-to-save-and-open-files-with-encoding.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech
