Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-02, with the labels that each got.

#6344 fix typo
  docs/ide/class-designer/how-to-change-between-member-notation-and-association-notation.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#6346 Repo sync for protected CLA branch
  docs/debugger/debug-dotnet-core-in-wsl-2.md
  docs/debugger/media/linux-wsl2-debugging-select-launch-profile.png
  docs/debugger/media/linux-wsl2-debugging-switch-target-distribution.png
  docs/debugger/remote-debugging-dotnet-core-linux-with-ssh.md
  docs/debugger/toc.yml
Labels: CLA, do-not-merge

#6345 Update Google Test Primer link
  docs/test/how-to-use-google-test-for-cpp.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-test/tech

#6348 Repo sync for protected CLA branch
  docs/ide/codespaces/supported-features-codespaces.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6351 Repo sync for protected CLA branch
  subscriptions/vs-alternate-identity.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6354 Repo sync for protected CLA branch
  subscriptions/access-github.md
  subscriptions/admin-inventory.md
  subscriptions/admin-prefs.md
  subscriptions/admin-responsibilities.md
  subscriptions/admin-roles.md
  subscriptions/assign-github.md
  subscriptions/assign-license-bulk.md
Labels: CLA, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6355 Repo sync for protected CLA branch
  docs/install/update-minimal-layout.md
  subscriptions/solutions/admin-solutions/includes/request-subscriptions.md
  subscriptions/solutions/benefit-activation/includes/error-while-activating-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/how-do-i-activate-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-devops.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-pay-as-you-go-subscription.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-enterprise-mobility-security-benefit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-pluralsight-benefit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-see-azure-monthly-credit-in-azure-portal.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-software-non-visualstudio.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-download-visual-studio-community.md
  subscriptions/solutions/downloading-activating-or-using-software/downloading-activating-or-using-software/includes/unable-to-locate-product.md
  subscriptions/solutions/downloading-activating-or-using-software/finding-or-using-product-keys/includes/unable-to-find-or-claim-product-keys.md
  subscriptions/solutions/other-or-no-solution/includes/no-solution.md
  subscriptions/solutions/portal-issue/includes/controls-or-buttons-not-working.md
  subscriptions/solutions/portal-issue/includes/page-cannot-be-displayed.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-marketplace.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/where-can-i-purchase-from.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-marketplace.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-microsoft-store.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-cloud-self.md
Labels: CLA, do-not-merge

#6363 Repo sync for protected CLA branch
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/debugger-feature-tour.md
  docs/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger.md
  docs/debugger/using-breakpoints.md
  docs/test/getting-started-with-unit-testing.md
  docs/test/run-unit-tests-with-test-explorer.md
  docs/test/unit-test-basics.md
  docs/test/walkthrough-creating-and-running-unit-tests-for-managed-code.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6370 Repo sync for protected CLA branch
  docs/devinit/devinit-tool-list.md
  docs/devinit/sample-all-tool.md
  docs/devinit/toc.yml
  docs/devinit/tool-require-vscomponent.md
  docs/devinit/tool-require-winget.md
  docs/devinit/tool-winget-install.md
  docs/test/code-generation-compilation-and-naming-conventions-in-microsoft-fakes.md
  docs/test/isolating-code-under-test-with-microsoft-fakes.md
  docs/test/using-shims-to-isolate-your-application-from-other-assemblies-for-unit-testing.md
  docs/test/using-stubs-to-isolate-parts-of-your-application-from-each-other-for-unit-testing.md
Labels: CLA, do-not-merge

#6137 Typo "Azure compute emulator"→"Azure Compute Emulator"
  docs/azure/vs-azure-tools-debug-cloud-services-virtual-machines.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6138 Typo "Azure compute emulator"→"Azure Compute Emulator"
  docs/azure/vs-azure-tools-debugging-cloud-services-overview.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6331 Update assertions-in-managed-code.md
  docs/debugger/assertions-in-managed-code.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6371 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  subscriptions/vs-windows-dev.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6372 Repo sync for protected CLA branch
  docs/docfx.json
  subscriptions/vs-azure.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-subscriptions/tech

#6373 Add see also link to .NET
  docs/code-quality/use-roslyn-analyzers.md
Labels: do-not-merge

#6374 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6375 Repo sync for protected CLA branch
  docs/debugger/remote-debugging-cpp.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6376 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/get-started/tutorial-open-project-from-repo-visual-studio-2019.md
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6378 Repo sync for protected CLA branch
  docs/get-started/tutorial-open-project-from-repo-visual-studio-2019.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6392 Repo sync for protected CLA branch
  docs/get-started/tutorial-open-project-from-repo-visual-studio-2017.md
  subscriptions/faq/admin/renewal-cancellation/index.md
  subscriptions/faq/subscriber/benefits/includes/use-benefits.md
  subscriptions/faq/subscriber/portal/index.md
  subscriptions/faq/subscriber/renewals/index.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-pluralsight-benefit.md
  subscriptions/vs-pluralsight.md
Labels: CLA, do-not-merge

#6393 Repo sync for protected CLA branch
  docs/test/how-to-use-microsoft-test-framework-for-cpp.md
  docs/test/how-to-write-unit-tests-for-cpp-dlls.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-test/tech

#6401 Fixed syntax
  docs/extensibility/visibilityitem-element.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#6413 Fixes typo in overview-bridge-to-kubernetes
  docs/containers/overview-bridge-to-kubernetes.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#6414 Explicitly state that file needs to be named ".runsettings"
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-test/tech

#6366 Add instructions on using the project system tools extension
  docs/ide/media/build-logging-click-to-record.png
  docs/ide/media/build-logging-context-menu.png
  docs/ide/media/view-menu.png
  docs/ide/msbuild-logs.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-compile/tech

#6427 Update how-to-run-legacy-code-analysis-manually-for-managed-code.md
  docs/code-quality/how-to-run-legacy-code-analysis-manually-for-managed-code.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech
