Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-09, with the labels that each got.

#7019 Repo sync for protected CLA branch
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-7-5-computer.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/debugger/remote-debugging-azure.md
  docs/deployment/includes/create-publish-settings-iis.md
  docs/deployment/includes/install-web-deploy-with-hosting-server.md
  docs/deployment/tutorial-import-publish-settings-azure.md
  docs/deployment/tutorial-import-publish-settings-iis.md
  docs/ide/media/solution-explorer-context-menu-add-flyout.png
  docs/ide/media/solution-explorer-context-menu-added-items.png
  docs/ide/media/solution-explorer-context-menu.png
  docs/ide/use-solution-explorer.md
Labels: do-not-merge, review-team-triage, CLA

#7021 Repo sync for protected CLA branch
  docs/ide/how-to-customize-menus-and-toolbars-in-visual-studio.md
  docs/ide/managing-project-and-solution-properties.md
  docs/test/media/remote-test-drop-down.png
  docs/test/media/remote-test-linux-discovery.png
  docs/test/media/remote-test-linux-passing.png
  docs/test/remote-testing.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7022 Fix grammar typos
  docs/profiling/memory-usage.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#7024 Repo sync for protected CLA branch
  docs/extensibility/how-to-diagnose-ui-delays-caused-by-extensions.md
  docs/ide/create-a-visual-basic-winform-in-visual-studio.md
  docs/ide/create-csharp-winform-visual-studio.md
  docs/ide/productivity-features.md
  docs/ide/step-1-create-a-project-and-add-a-table-to-your-form.md
  docs/ide/step-1-create-a-project-and-add-labels-to-your-form.md
  docs/ide/step-1-create-a-windows-forms-application-project.md
  docs/ide/step-10-write-code-for-additional-buttons-and-a-check-box.md
  docs/ide/step-11-run-your-program-and-try-other-features.md
  docs/ide/step-2-add-a-random-object-and-a-list-of-icons.md
  docs/ide/step-2-create-a-random-addition-problem.md
  docs/ide/step-2-run-your-program.md
  docs/ide/step-3-add-a-countdown-timer.md
  docs/ide/step-3-assign-a-random-icon-to-each-label.md
  docs/ide/step-3-set-your-form-properties.md
  docs/ide/step-4-add-a-click-event-handler-to-each-label.md
  docs/ide/step-4-add-the-checktheanswer-parens-method.md
  docs/ide/step-4-lay-out-your-form-with-a-tablelayoutpanel-control.md
  docs/ide/step-5-add-controls-to-your-form.md
  docs/ide/step-5-add-enter-event-handlers-for-the-numericupdown-controls.md
  docs/ide/step-5-add-label-references.md
  docs/ide/step-6-add-a-subtraction-problem.md
  docs/ide/step-6-add-a-timer.md
  docs/ide/step-6-name-your-button-controls.md
  docs/ide/step-7-add-dialog-components-to-your-form.md
  docs/ide/step-7-add-multiplication-and-division-problems.md
  docs/ide/step-7-keep-pairs-visible.md
  docs/ide/step-8-add-a-method-to-verify-whether-the-player-won.md
  docs/ide/step-8-customize-the-quiz.md
  docs/ide/step-8-write-code-for-the-show-a-picture-button-event-handler.md
  docs/ide/step-9-review-comment-and-test-your-code.md
  docs/ide/step-9-try-other-features.md
  docs/ide/tutorial-1-create-a-picture-viewer.md
  docs/ide/tutorial-2-create-a-timed-math-quiz.md
  docs/ide/tutorial-3-create-a-matching-game.md
Labels: do-not-merge, CLA

#7026 Repo sync for protected CLA branch
  docs/deployment/azure-deployment-using-github-actions.md
  docs/deployment/media/solution-explorer-publish.png
  docs/deployment/media/summary-commit-and-push.png
  docs/deployment/media/summary-one-github-secret-missing.png
  docs/deployment/media/summary-one-github-secret.png
  docs/deployment/media/summary-set-github-secret.png
  docs/deployment/media/summary-two-github-secrets.png
  docs/deployment/media/summary-workflow-running.png
  docs/deployment/media/wizard-azure.png
  docs/deployment/media/wizard-final-step.png
  docs/deployment/media/wizard-pick-azure-service.png
  docs/deployment/toc.yml
  docs/ide/managing-project-and-solution-properties.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7016 UWP Extension SDKs must list Toolbox items in SdkManifest.xml starting in VS 2022
  docs/extensibility/creating-a-software-development-kit.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#7027 Repo sync for protected CLA branch
  docs/ide/media/solution-explorer-context-menu-extra-items.png
  docs/ide/use-solution-explorer.md
Labels: do-not-merge, CLA

#7028 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7032 Repo sync for protected CLA branch
  docs/install/use-command-line-parameters-to-install-visual-studio.md
Labels: do-not-merge, CLA

#7031 Remove repeated words
  docs/ide/create-a-visual-basic-winform-in-visual-studio.md
  docs/ide/create-csharp-winform-visual-studio.md
  docs/ide/step-1-create-a-project-and-add-a-table-to-your-form.md
  docs/ide/step-1-create-a-project-and-add-labels-to-your-form.md
  docs/ide/step-1-create-a-windows-forms-application-project.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#7035 Repo sync for protected CLA branch
  docs/version-control/git-with-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7036 Update work-with-multi-factor-authentication.md
  docs/ide/work-with-multi-factor-authentication.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#6830 Clarify performance impacts of "Simplify LINQ expression" refactoring
  docs/ide/reference/simplify-linq-expression.md
Labels: doc-bug, do-not-merge, change sent to author, aq-pr-triaged

#6897 Clarify the 'SharedFiles' directory is not in 'Shared Project'
  docs/extensibility/migration/update-visual-studio-extension.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#6933 Improved Get...OfFileAbove descriptions
  docs/msbuild/property-functions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, aq-pr-triaged

#7037 Repo sync for protected CLA branch
  subscriptions/_img/migrate-subscriptions/browse-template.png
  subscriptions/_img/migrate-subscriptions/choose-agreement.png
  subscriptions/_img/migrate-subscriptions/download-template.png
  subscriptions/assign-license-bulk.md
  subscriptions/migrate-subscriptions.md
  subscriptions/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7038 Fix typo
  docs/vsto/upgrading-and-migrating-office-solutions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, office-development/tech

#7039 Repo sync for protected CLA branch
  docs/debugger/debug-using-the-just-in-time-debugger.md
  docs/debugger/just-in-time-debugging-in-visual-studio.md
  docs/deployment/azure-deployment-using-github-actions.md
  docs/deployment/tutorial-import-publish-settings-iis.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7045 Repo sync for protected CLA branch
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/configure-the-windows-firewall-for-remote-debugging.md
  docs/debugger/includes/remote-debugger-download.md
  docs/debugger/remote-debugger-port-assignments.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-7-5-computer.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/debugger/remote-debugging-azure.md
  docs/debugger/remote-debugging-csharp.md
  docs/debugger/remote-debugging.md
  docs/debugger/watch-and-quickwatch-windows.md
  docs/ide/reference/remove-unused-references.md
  docs/test/media/testex-hierarchy-icons.png
  docs/test/media/testex-hierarchyicons.png
  docs/test/test-explorer-faq.md
  subscriptions/admin-expiration.md
  subscriptions/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7050 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, CLA

#7048 fixed the version table
  docs/install/using-visual-studio-vm.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged

#7058 Repo sync for protected CLA branch
  docs/ide/reference/trust-settings.md
  docs/xml-tools/xml-document-validation.md
  subscriptions/about-benefits.md
  subscriptions/access-github.md
  subscriptions/admin-inventory.md
  subscriptions/admin-preferences.md
  subscriptions/admin-responsibilities.md
  subscriptions/admin-roles.md
  subscriptions/aliasing.md
  subscriptions/anonymization.md
  subscriptions/assign-github.md
  subscriptions/assign-guid.md
  subscriptions/assign-license.md
  subscriptions/assignments-orders.md
  subscriptions/azure-ea-devtest.md
  subscriptions/buy-activate-retail.md
  subscriptions/cloud-admin.md
  subscriptions/contact-my-admin.md
  subscriptions/delete-license.md
  subscriptions/download-software.md
  subscriptions/edit-license.md
  subscriptions/find-keys.md
Labels: do-not-merge, CLA

#7059 Repo sync for protected CLA branch
  docs/_breadcrumb/toc.yml
  docs/extensibility/how-to-create-vsix-feed-for-private-gallery.md
  docs/extensibility/toc.yml
  docs/ide/whats-new-visual-studio-2022.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/xml-tools/xml-document-validation.md
  subscriptions/handle-expired-license.md
  subscriptions/handle-overclaimed-license.md
  subscriptions/internet-demos.md
  subscriptions/manage-mpn-subscriptions.md
  subscriptions/manage-teams.md
  subscriptions/manage-vs-subscriptions.md
  subscriptions/maximum-usage.md
  subscriptions/microsoft-365-apps-for-enterprise.md
  subscriptions/mpsa.md
  subscriptions/open-migration.md
  subscriptions/personal-email-sign-ins.md
  subscriptions/product-availability.md
  subscriptions/product-keys.md
  subscriptions/program-mpn.md
  subscriptions/program-startups.md
  subscriptions/search-license.md
  subscriptions/sign-in-github.md
  subscriptions/sign-in-issues.md
  subscriptions/sign-in-msa.md
  subscriptions/sign-in-work.md
  subscriptions/software-download-list.md
  subscriptions/subscription-expiration.md
  subscriptions/subscription-level-changes.md
  subscriptions/subscription-removed.md
  subscriptions/use-connected-identities.md
  subscriptions/using-admin-portal.md
  subscriptions/using-the-subscriber-portal.md
  subscriptions/volume-license.md
  subscriptions/vs-alternate-identity.md
  subscriptions/vs-azure-community.md
  subscriptions/vs-azure-devops.md
  subscriptions/vs-azure-payg.md
  subscriptions/vs-cast.md
  subscriptions/vs-cloudpilot.md
  subscriptions/vs-code-magazine.md
  subscriptions/vs-concierge-chat.md
  subscriptions/vs-datacamp.md
  subscriptions/vs-developer-community.md
  subscriptions/vs-ide-benefit.md
  subscriptions/vs-linkedin-learning.md
  subscriptions/vs-m365.md
  subscriptions/vs-microsoft-qa.md
  subscriptions/vs-microsoft-tech-community.md
  subscriptions/vs-parasoft.md
  subscriptions/vs-pluralsight.md
  subscriptions/vs-tech-support.md
  subscriptions/vs-visual-studio-app-center.md
  subscriptions/vs-whitesource.md
  subscriptions/vs-windows-dev.md
  subscriptions/vs-windows-virtual-desktop.md
  subscriptions/vscloud-billing-faq.yml
  subscriptions/vscloud-csp.md
  subscriptions/vscloud-overview.md
  subscriptions/whats-new-in-subscriptions.md
Labels: do-not-merge, CLA

#7063 Repo sync for protected CLA branch
  docs/deployment/installer-projects-net-core.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA

#7067 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  subscriptions/faq/subscriber/software/includes/troubleshoot-visual-studio.md
  subscriptions/vs-ide-benefit.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7068 Repo sync for protected CLA branch
  docs/javascript/unit-testing-javascript-with-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA

#7070 Repo sync for protected CLA branch
  docs/install/advanced-build-tools-container.md
  docs/xaml-tools/xaml-hot-reload.md
  subscriptions/subscription-expiration.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-xaml-tools/tech, CLA

#7074 Repo sync for protected CLA branch
  docs/xaml-tools/xaml-hot-reload.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-xaml-tools/tech, CLA

#7080 Repo sync for protected CLA branch
  docs/debugger/debugger-feature-tour.md
  docs/debugger/navigating-through-code-with-the-debugger.md
  docs/debugger/toc.yml
  docs/deployment/application-deployment-prerequisites.md
  docs/deployment/deploying-applications-services-and-components.md
  docs/deployment/quickstart-deploy-to-local-folder.md
  docs/deployment/toc.yml
  docs/ide/use-solution-explorer.md
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
  docs/profiling/profiling-feature-tour.md
  docs/profiling/toc.yml
  docs/toc.yml
  subscriptions/solutions/managing-agreements/includes/admin-new-agreement-missing.md
  subscriptions/solutions/managing-agreements/includes/admin-not-able-to-manage-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-assign-subscriber-bulk-edit.md
  subscriptions/solutions/managing-subscribers/includes/admin-assign-subscriber-individual.md
  subscriptions/solutions/managing-subscribers/includes/admin-fix-bulk-upload-to-wrong-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-missing-subscriptions-where-did-they-go.md
  subscriptions/solutions/managing-subscribers/includes/admin-update-subscriber-sign-in-email.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-expired-subs-should-be-active.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-find-my-super-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-how-do-i-add-another-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-primary-contact-not-super-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-update-primary-contact.md
  subscriptions/solutions/signing-in/includes/admin-how-do-i-change-my-sign-in-email.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-volume-licensing.md
Labels: do-not-merge, CLA

#6990 Correcting the syntax.
  docs/extensibility/debugger/reference/idebugsettingscallback2.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#6981 Correct class name
  docs/extensibility/ux-guidelines/colors-and-styling-for-visual-studio.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#7085 Repo sync for protected CLA branch
  docs/version-control/toc.yml
  subscriptions/migrate-subscriptions.md
  subscriptions/solutions/downloading-activating-or-using-software/using-product-features/includes/cannot-find-ide-feature.md
  subscriptions/solutions/downloading-activating-or-using-software/using-product-features/includes/visual-studio-ide-technical-support.md
  subscriptions/solutions/managing-agreements/includes/admin-new-agreement-missing.md
  subscriptions/solutions/managing-agreements/includes/admin-not-able-to-manage-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-assign-subscriber-bulk-edit.md
  subscriptions/solutions/managing-subscribers/includes/admin-assign-subscriber-individual.md
  subscriptions/solutions/managing-subscribers/includes/admin-fix-bulk-upload-to-wrong-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-missing-subscriptions-where-did-they-go.md
  subscriptions/solutions/managing-subscribers/includes/admin-update-subscriber-sign-in-email.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-expired-subs-should-be-active.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-find-my-super-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-how-do-i-add-another-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-primary-contact-not-super-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-update-primary-contact.md
  subscriptions/solutions/signing-in/includes/admin-should-i-use-msa-or-aad.md
  subscriptions/solutions/signing-in/includes/admin-when-i-sign-in-there-is-no-agreement.md
  subscriptions/solutions/signing-in/includes/become-an-admin-or-super-admin.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-cloud-self.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-volume-licensing.md
Labels: do-not-merge, CLA

#7089 Repo sync for protected CLA branch
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
  subscriptions/migrate-subscriptions.md
  subscriptions/solutions/admin-index.md
  subscriptions/solutions/managing-agreements/includes/admin-expired-subs-should-be-active.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7099 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/get-started/tutorial-open-project-from-repo-visual-studio-2017.md
  docs/get-started/tutorial-open-project-from-repo-visual-studio-2019.md
  docs/get-started/tutorial-open-project-from-repo.md
  docs/ide/media/vs-2022/browse-repository-azure-devops.png
  docs/ide/media/vs-2022/clone-repository-enter-location.png
  docs/ide/media/vs-2022/clone-repository.png
  docs/ide/media/vs-2022/git-menu-clone-repository.png
  docs/ide/media/vs-2022/git-menu-local-repositories.png
  docs/ide/media/vs-2022/git-solution-explorer-folder-view.png
  docs/ide/media/vs-2022/git-solution-explorer-switch-views.png
  docs/ide/media/vs-2022/git-user-information-dialog.png
  docs/ide/media/vs-2022/open-local-project-from-cloned-repo.png
  docs/ide/media/vs-2022/select-repository-filter-ellipsis.png
  docs/javascript/TOC.yml
  docs/javascript/index.yml
  docs/javascript/javascript-in-vs-2022.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
  docs/javascript/tutorial-aspnet-with-typescript.md
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
  docs/toc.yml
  subscriptions/solutions/admin-index.md
  subscriptions/solutions/licensing-terms/includes/subscription-licensing-terms-and-conditions.md
  subscriptions/solutions/managing-agreements/includes/admin-expired-subs-should-be-active.md
  subscriptions/solutions/managing-agreements/includes/admin-new-agreement-missing.md
  subscriptions/solutions/managing-agreements/includes/admin-old-end-date-after-renewal.md
  subscriptions/solutions/managing-agreements/includes/admin-status-of-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-assign-subscriber-individual.md
  subscriptions/solutions/managing-subscribers/includes/admin-help-transferring-subscribers-after-renewal.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-how-do-i-add-another-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-primary-contact-not-super-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-update-primary-contact.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-canceling/includes/admin-help-me-cancel-monthly-annual.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-canceling/includes/help-me-cancel-monthly-annual.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/admin-how-can-i-purchase-more-subscriptions.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-microsoft-store.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/admin-help-me-renew-subscriptions.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-marketplace.md
  subscriptions/solutions/renewing-purchasing-or-canceling/order-or-purchase-status/includes/admin-view-invoice.md
  subscriptions/solutions/renewing-purchasing-or-canceling/order-or-purchase-status/includes/find-the-status-of-renewal-or-purchase.md
Labels: do-not-merge, CLA

#7102 Repo sync for protected CLA branch
  docs/ide/advanced-feature-overview.md
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
  docs/ide/media/vs-2022/team-explorer.png
  docs/vsto/toc.yml
  docs/vsto/visual-studio-tools-for-office-runtime.md
  subscriptions/account-removed.md
  subscriptions/toc.yml
Labels: do-not-merge, CLA
