Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-12, with the labels that each got.

#7375 Repo sync for protected CLA branch
  docs/code-quality/roslyn-analyzers-overview.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/debugger/remote-debugging-azure.md
  docs/debugger/troubleshoot-data-breakpoint-errors.md
  docs/debugger/using-breakpoints.md
  docs/deployment/installer-projects-net-core.md
  docs/ide/media/vs-2022/server-explorer.png
  docs/ide/media/vs-2022/visual-studio-sign-in.png
  docs/ide/work-with-multiple-user-accounts.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/test/code-generation-compilation-and-naming-conventions-in-microsoft-fakes.md
  docs/test/isolating-code-under-test-with-microsoft-fakes.md
  docs/test/mstest-update-to-mstestv2.md
  docs/test/remote-testing.md
  docs/test/using-shims-to-isolate-your-application-from-other-assemblies-for-unit-testing.md
  docs/test/using-stubs-to-isolate-parts-of-your-application-from-each-other-for-unit-testing.md
  docs/xaml-tools/inspect-xaml-properties-while-debugging.md
Labels: do-not-merge, CLA

#7269 Fix incorrectly nested paragraphs
  docs/extensibility/internals/resources-in-vspackages.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#7381 Fix inconsistent function name and typos
  docs/debugger/historical-debugging-inspect-app.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#7390 Fix references to outdated "AngularJS"
  docs/javascript/tutorial-aspnet-with-typescript.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-javascript/tech

#7389 Fix typo
  docs/sharepoint/how-to-add-and-remove-feature-dependencies.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, sharepoint-development/tech

#7334 Add structure to VSIX manifest editor documentation
  docs/extensibility/vsix-manifest-designer.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#7396 Various improvements to the Hot Reload docs
  docs/debugger/hot-reload.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#7402 Repo sync for protected CLA branch
  docs/extensibility/vsix/recipes/use-themes.md
  docs/version-control/git-clone-repository.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7412 Repo sync for protected CLA branch
  docs/install/automated-installation-with-response-file.md
  docs/vsto/imanagedaddin-interface.md
  docs/vsto/imanagedaddin-load.md
  docs/vsto/imanagedaddin-unload.md
  docs/vsto/iwefdebuggingsupport-interface.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, office-development/tech, CLA

#7415 Repo sync for protected CLA branch
  docs/ide/media/vs-2022/server-explorer.png
  docs/ide/media/vs-2022/visual-studio-sign-in-pop-up.png
  docs/ide/media/vs-2022/visual-studio-sign-in.png
  docs/ide/media/vs-2022/visual-studio-user-not-signed-in.png
  docs/ide/signing-in-to-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7420 Repo sync for protected CLA branch
  docs/python/.cspell/custom-dictionary-workspace.txt
  docs/python/cspell.json
  docs/python/installing-python-support-in-visual-studio.md
  docs/python/managing-python-environments-in-visual-studio.md
  docs/python/managing-required-packages-with-requirements-txt.md
  docs/python/media/environments/environments-add-matplotlib-2022.png
  docs/python/media/environments/environments-add-matplotlib2-2022.png
  docs/python/media/environments/environments-conda-1-2022.png
  docs/python/media/environments/environments-conda-2-2022.png
  docs/python/media/environments/environments-custom-1-2022.png
  docs/python/media/environments/environments-custom-2-2022.png
  docs/python/media/environments/environments-custom-3-2022.png
  docs/python/media/environments/environments-default-view-2022.png
  docs/python/media/environments/environments-expanded-view-2022.png
  docs/python/media/environments/environments-installed-packages-2022.png
  docs/python/media/environments/environments-invalid-entry-2022.png
  docs/python/media/environments/environments-requirements-txt-install-2022.png
  docs/python/media/environments/environments-view-all-2022.png
  docs/python/media/environments/install-python-packages-2022.gif
  docs/python/media/installation-python-options-2022.png
  docs/python/media/installation-vs-launch-2022.png
  docs/python/media/interactive-window-2022.png
  docs/python/media/packages-unresolved-import-2022.png
  docs/python/overview-of-python-tools-for-visual-studio.md
  docs/python/quickstart-01-python-in-visual-studio-project-from-existing-code.md
  docs/python/quickstart-02-python-in-visual-studio-project-from-template.md
  docs/python/quickstart-03-python-in-visual-studio-project-from-repository.md
  docs/python/quickstart-04-python-in-visual-studio-project-from-cookiecutter.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-00-installation.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-05-installing-packages.md
Labels: CLA

#7422 Repo sync for protected CLA branch
  docs/ide/step-3-assign-a-random-icon-to-each-label.md
  docs/test/create-unit-tests-menu.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7425 Repo sync for protected CLA branch
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/media/attach-debugger-publish-profile.png
  docs/debugger/media/dbg-options-general-disassembly-checkbox.png
  docs/debugger/media/dbg-options-general-enablesrcsrvr-checkbox.png
  docs/debugger/media/dbg_options_general_disassembly_checkbox.png
  docs/debugger/media/dbg_options_general_enablesrcsrvr_checkbox.png
  docs/debugger/media/vs-2022/dbg-basics-attach-to-process.png
  docs/debugger/media/vs-2022/dbg-options-symbols.png
  docs/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7426 Repo sync for protected CLA branch
  docs/get-started/csharp/media/integer-math-intellisense.gif
  docs/get-started/csharp/media/vs-2022/integer-math-intellisense.gif
  docs/get-started/csharp/tutorial-console.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/python/installing-python-support-in-visual-studio.md
  docs/python/managing-python-environments-in-visual-studio.md
  docs/python/managing-required-packages-with-requirements-txt.md
  docs/python/overview-of-python-tools-for-visual-studio.md
  docs/python/quickstart-03-python-in-visual-studio-project-from-repository.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-00-installation.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-05-installing-packages.md
  docs/test/live-unit-testing-intro.md
  docs/test/live-unit-testing-start.md
  docs/test/live-unit-testing.md
  docs/test/media/lut-start/vs-2022/add-unit-test-cs.png
  docs/test/media/lut-start/vs-2022/code-coverage-cs1.png
  docs/test/media/lut-start/vs-2022/code-coverage-cs2.png
  docs/test/media/lut-start/vs-2022/debugging-tools-cs.png
  docs/test/media/lut-start/vs-2022/exception-dialog-cs.png
  docs/test/media/lut-start/vs-2022/lut-extended-cs.png
  docs/test/media/lut-start/vs-2022/lut-results-cs.png
  docs/test/media/lut-start/vs-2022/test-dynamic.png
  docs/test/media/lut-start/vs-2022/test-failure-info-cs.png
  docs/test/media/lut-start/vs-2022/test-failure-options.png
  docs/test/media/lut-start/vs-2022/test-failure.png
  docs/test/media/vs-2022/lut-code-updating.png
  docs/test/media/vs-2022/lut-code-window.png
  docs/test/media/vs-2022/lut-failed-info.png
  docs/test/media/vs-2022/lut-failed-message.png
  docs/test/media/vs-2022/lut-test-explorer.png
  docs/test/media/vs-2022/lut-test-source.png
Labels: do-not-merge, CLA

#7428 Repo sync for protected CLA branch
  docs/version-control/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA

#7430 Repo sync for protected CLA branch
  docs/ide/reference/application-page-project-designer-csharp.md
  docs/ide/reference/find-and-replace-environment-options-dialog-box.md
  docs/javascript/javascript-in-vs-2022.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA

#7433 Repo sync for protected CLA branch
  docs/ide/reference/find-and-replace-environment-options-dialog-box.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7436 Repo sync for protected CLA branch
  .openpublishing.redirection.mac.json
  docs/debugger/media/vs-2022/xaml-hot-reload-available.png
  docs/debugger/media/vs-2022/xaml-hot-reload-enable.png
  docs/debugger/media/xaml-hot-reload-available.png
  docs/test/media/default-windows-10-sound-dialog.png
  docs/test/media/default-windows-11-sound-dialog.png
  docs/test/media/vs-2022/test-explorer-17-0.png
  docs/test/media/vs-2022/test-explorer-columns-17-0.png
  docs/test/media/vs-2022/test-explorer-details.png
  docs/test/media/vs-2022/test-explorer-filter-column-17-0.png
  docs/test/media/vs-2022/test-explorer-groupby-17-0.png
  docs/test/media/vs-2022/test-explorer-groupby-state-17-0.png
  docs/test/media/vs-2022/test-explorer-playlist-17-0.png
  docs/test/media/vs-2022/test-explorer-playlist-edit-17-0.png
  docs/test/media/vs-2022/test-explorer-playlist-tab-17-0.png
  docs/test/media/vs-2022/test-explorer-playlist-xml-file.png
  docs/test/media/vs-2022/test-explorer-search-filter-17-0.png
  docs/test/media/vs-2022/test-explorer-sort-column-17-0.png
  docs/test/media/vs-2022/test-explorer-toolbar-diagram-17-0.png
  docs/test/run-unit-tests-with-test-explorer.md
  docs/version-control/git-browse-repository.md
  docs/version-control/git-manage-repository.md
  docs/version-control/git-resolve-conflicts.md
  docs/xaml-tools/debugging-or-disabling-project-code-in-xaml-designer.md
  docs/xaml-tools/xaml-hot-reload-troubleshooting.md
  docs/xaml-tools/xaml-hot-reload.md
  mac/2017/enable-subscription.md
  mac/2017/install-behind-a-firewall-or-proxy-server.md
  mac/2017/keyboard-shortcuts.md
  mac/2017/media/uninstall-remove-vspreview.png
  mac/2017/signing-in.md
  mac/2017/uninstall.md
  mac/2017/update.md
  mac/2017/user-accounts.md
Labels: do-not-merge, CLA

#7442 Fix typos in tutorials
  docs/get-started/csharp/tutorial-aspnet-core.md
  docs/get-started/csharp/tutorial-console-part-2.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#7446 Repo sync for protected CLA branch
  docs/javascript/media/npm-add-package-intellisense.png
  docs/javascript/media/npm-add-package-json.png
  docs/javascript/media/npm-add-package.png
  docs/javascript/media/npm-output.png
  docs/javascript/media/search-package.png
  docs/javascript/media/solution-explorer-install-package.png
  docs/javascript/media/solution-explorer-status.png
  docs/javascript/media/vs-2022/npm-packages-install-esproj.png
  docs/javascript/media/vs-2022/npm-packages-open-manager-esproj.png
  docs/javascript/npm-package-management.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA

#7453 Repo sync for protected CLA branch
  .openpublishing.redirection.mac.json
  mac/2017/updater-troubleshooting.md
Labels: do-not-merge, change sent to author, vs-ide-install/tech, visual-studio-mac/prod, CLA

#7454 Fix typos in debugger docs
  docs/debugger/debugging-absolute-beginners.md
  docs/debugger/debugging-native-code.md
  docs/debugger/getting-started-with-the-debugger-cpp.md
  docs/debugger/just-my-code.md
  docs/debugger/visualizer-architecture.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech

#7459 Repo sync for protected CLA branch
  docs/deployment/deploying-applications-services-and-components-resources.md
  docs/extensibility/ux-guidelines/menus-and-commands-for-visual-studio.md
  docs/get-started/csharp/tutorial-aspnet-core.md
  docs/get-started/csharp/tutorial-uwp.md
  docs/get-started/tutorial-open-project-from-repo.md
  docs/ide/advanced-feature-overview.md
  docs/ide/connect-team-project.md
  docs/ide/csharp-developer-productivity.md
  docs/ide/productivity-features.md
  docs/ide/quickstart-aspnet-core.md
  docs/ide/quickstart-fsharp.md
  docs/ide/reference/connected-experiences.md
  docs/install/automated-installation-with-response-file.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/enabling-administrator-updates.md
  docs/install/install-certificates-for-visual-studio-offline.md
  docs/install/update-a-network-installation-of-visual-studio.md
  docs/install/update-visual-studio.md
  docs/install/use-command-line-parameters-to-install-visual-studio.md
  docs/install/visual-studio-administrator-guide.md
  docs/javascript/compile-typescript-code-npm.md
  docs/test/remote-testing.md
  docs/version-control/git-browse-repository.md
  docs/version-control/git-clone-repository.md
  docs/version-control/git-manage-repository.md
  docs/version-control/git-resolve-conflicts.md
Labels: do-not-merge, CLA

#7461 Repo sync for protected CLA branch
  docs/debugger/debug-using-the-just-in-time-debugger.md
  docs/debugger/how-to-set-debug-and-release-configurations.md
  docs/debugger/how-to-use-the-modules-window.md
  docs/debugger/media/dbg-jit-enable-or-disable.png
  docs/debugger/media/dbg-project-properties-pdb-cplusplus.png
  docs/debugger/media/dbg-project-properties-pdb-csharp.png
  docs/debugger/media/dbg_project_properties_pdb_cplusplus.png
  docs/debugger/media/dbg_project_properties_pdb_csharp.png
  docs/debugger/media/null-reference-second-instance.png
  docs/debugger/media/nullreferencesecondinstance.png
  docs/debugger/media/throws-null-exception-console.png
  docs/debugger/media/throwsnullexceptionconsole.png
  docs/debugger/media/toolbar-build-configuration.png
  docs/debugger/media/toolbarbuildconfiguration.png
  docs/debugger/media/vs-2022/dbg-project-properties-pdb-dotnet.png
  docs/debugger/navigating-through-code-with-the-debugger.md
  docs/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger.md
Labels: do-not-merge, CLA

#7465 Repo sync for protected CLA branch
  docs/profiling/media/prof-tour-events-viewer.png
  docs/profiling/media/vs-2022/prof-tour-application-timeline.png
  docs/profiling/media/vs-2022/prof-tour-async-tool.png
  docs/profiling/media/vs-2022/prof-tour-call-tree-view.png
  docs/profiling/media/vs-2022/prof-tour-cpu-and-memory-graph.png
  docs/profiling/media/vs-2022/prof-tour-cpu-usage.png
  docs/profiling/media/vs-2022/prof-tour-diagnostic-tools.png
  docs/profiling/media/vs-2022/prof-tour-enable-cpu-profiling.png
  docs/profiling/media/vs-2022/prof-tour-events.png
  docs/profiling/media/vs-2022/prof-tour-gpu-usage.png
  docs/profiling/media/vs-2022/prof-tour-mem-usage-diff-heap.png
  docs/profiling/media/vs-2022/prof-tour-perf-tips.png
  docs/profiling/media/vs-2022/prof-tour-performance-profiler.png
  docs/profiling/media/vs-2022/prof-tour-take-snapshot.png
  docs/profiling/media/vs-2022/prof-tour-ui-analysis.png
  docs/profiling/profiling-feature-tour.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7466 Repo sync for protected CLA branch
  docs/vsto/office-primary-interop-assemblies.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, office-development/tech, CLA

#7474 Remove redundant words
  docs/ide/quickstart-personalize-the-ide.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#7478 Repo sync for protected CLA branch
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
  gamedev/unity/get-started/using-visual-studio-tools-for-unity.md
  gamedev/unity/get-started/visual-studio-tools-for-unity.md
  gamedev/unity/media/vs/check-for-updates.png
  gamedev/unity/media/vs/preferences-external-tools.png
  gamedev/unity/media/vs/unity-package-manager.png
  gamedev/unity/media/vs/unity-workload.png
  gamedev/unity/media/vs/visual-studio-tools-unity-documentation-tooltips.png
  gamedev/unity/media/vs/visual-studio-tools-unity-saved-target.png
  gamedev/unity/media/vs/visual-studio-tools-unity-use-saved-debug-targets.png
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, CLA

#7479 Repo sync for protected CLA branch
  docs/extensibility/starting-to-develop-visual-studio-extensions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, CLA
