Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-11, with the labels that each got.

#7215 Repo sync for protected CLA branch
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/media/vs-2022/fonts-colors-text-editor.png
  docs/ide/media/vs-2022/fonts-colors-text-environment.png
  docs/ide/media/vs-2022/fonts-colors-theme.png
  docs/ide/reference/how-to-change-fonts-and-colors-in-the-editor.md
  docs/ide/whats-new-visual-studio-2022.md
Labels: do-not-merge, change sent to author, CLA, visual-studio-dev17/prod

#7221 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7223 Repo sync for protected CLA branch
  docs/test/remote-testing.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7224 Repo sync for protected CLA branch
  docs/ide/reference/accessibility-tips-and-tricks.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7238 remove specific reference to 2019
  docs/install/create-an-offline-installation-of-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech

#7239 Repo sync for protected CLA branch
  docs/version-control/git-create-branch.md
  docs/version-control/git-create-repository.md
  docs/version-control/git-fetch-pull-sync.md
  docs/version-control/git-make-commit.md
  docs/version-control/git-push-remote.md
  docs/version-control/index.yml
  docs/version-control/media/vs-2022/git-branch-commit-details.png
  docs/version-control/media/vs-2022/git-changes-window-ellipsis.png
  docs/version-control/media/vs-2022/git-changes-window-options.png
  docs/version-control/media/vs-2022/git-changes-window-outgoing-incoming.png
  docs/version-control/media/vs-2022/git-changes-window.png
  docs/version-control/media/vs-2022/git-commit-message.png
  docs/version-control/media/vs-2022/git-create-new-branch-dialog.png
  docs/version-control/media/vs-2022/git-file-version-compare.png
  docs/version-control/media/vs-2022/git-menu-fetch.png
  docs/version-control/media/vs-2022/git-menu-new-branch.png
  docs/version-control/toc.yml
Labels: do-not-merge, CLA

#7240 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2022.md
Labels: do-not-merge, change sent to author, CLA, visual-studio-dev17/prod

#7243 Repo sync for protected CLA branch
  docs/cross-platform/troubleshooting-the-visual-studio-emulator-for-android.md
  docs/debugger/hot-reload.md
  docs/debugger/toc.yml
  docs/ide/whats-new-visual-studio-2022.md
  docs/javascript/npm-package-management.md
  docs/javascript/tutorial-asp-net-core-with-angular.md
  docs/javascript/tutorial-asp-net-core-with-react.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
  docs/version-control/git-push-remote.md
  docs/version-control/index.yml
  docs/version-control/media/vs-2022/git-changes-window-options.png
  docs/version-control/media/vs-2022/git-changes-window-outgoing-incoming.png
  docs/version-control/toc.yml
  gamedev/unity/application-lifecycle-management-alm-with-unity-apps.md
  mac/uninstall-net-2019.md
  mac/uninstall-net-2022.md
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, CLA

#7246 Update capitalization
  docs/debugger/hot-reload.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#7248 Repo sync for protected CLA branch
  docs/ide/create-csharp-winform-visual-studio.md
  docs/ide/media/vs-2022/csharp-winform-add-button-on-form.png
  docs/ide/media/vs-2022/csharp-winform-button-click-code.png
  docs/ide/media/vs-2022/csharp-winform-button-properties-design-name.png
  docs/ide/media/vs-2022/csharp-winform-button-properties-text.png
  docs/ide/media/vs-2022/csharp-winform-configure-new-project.png
  docs/ide/media/vs-2022/csharp-winform-create-a-new-project.png
  docs/ide/media/vs-2022/csharp-winform-form.png
  docs/ide/media/vs-2022/csharp-winform-hello-world-project-toolbox.png
  docs/ide/media/vs-2022/csharp-winform-toolbox-flyout-pin.png
  docs/ide/media/vs-2022/csharp-winform-visual-studio-start-run-program.png
  docs/ide/media/vs-2022/install-dot-net-desktop-env.png
  docs/version-control/git-resolve-conflicts.md
  docs/version-control/media/vs-2022/git-conflicts-keep-changes.png
  docs/version-control/media/vs-2022/git-conflicts-layout-options.png
  docs/version-control/media/vs-2022/git-conflicts-merge-commit.png
  docs/version-control/media/vs-2022/git-conflicts-notification-ui.png
  docs/version-control/media/vs-2022/git-conflicts-pull-push-ui.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7250 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7259 Repo sync for protected CLA branch
  docs/test/includes/web-load-test-deprecated.md
  docs/version-control/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA

#7260 Fix uninstall command
  mac/uninstall-net-2019.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod

#7268 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-console-part-2.md
  docs/install/advanced-build-tools-container.md
  docs/version-control/git-browse-repository.md
  docs/version-control/git-clone-repository.md
  docs/version-control/git-create-branch.md
  docs/version-control/git-create-github-account.md
  docs/version-control/git-create-repository.md
  docs/version-control/git-fetch-pull-sync.md
  docs/version-control/git-make-commit.md
  docs/version-control/git-manage-repository.md
  docs/version-control/git-push-remote.md
  docs/version-control/git-resolve-conflicts.md
  docs/version-control/git-settings.md
  docs/version-control/git-team-explorer-feature-comparison.md
  docs/version-control/git-visual-studio-source-control.md
  docs/version-control/git-with-visual-studio.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-microsoft-store.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7257 Workload Component.GitHub.VisualStudio removed from VS 2022
  docs/install/create-an-offline-installation-of-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged

#7277 Repo sync for protected CLA branch
  docs/ide/class-designer/how-to-add-class-diagrams-to-projects.md
  docs/ide/class-designer/media/vs-2019/class-designer-component.png
  docs/ide/class-designer/media/vs-2022/class-designer-component.png
  docs/ide/not-in-toc/default.md
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/install/includes/install_get_support_md.md
  subscriptions/faq/admin/benefits/index.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-enterprise-mobility-security-benefit.md
  subscriptions/solutions/renewing-purchasing-or-canceling/help-purchasing/includes/help-me-purchase-microsoft-store.md
  subscriptions/toc.yml
  subscriptions/vs-azure-eligibility.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7279 Repo sync for protected CLA branch
  docs/get-started/media/vs-2022/tutorial-project-properties.png
  docs/get-started/tutorial-projects-solutions.md
  docs/ide/managing-project-and-solution-properties.md
  docs/ide/media/vs-2022/properties-from-solution-explorer-context-menu.png
  docs/ide/media/vs-2022/properties-node-solution-explorer.png
  docs/ide/media/vs-2022/properties-page-cpp-console.png
  docs/ide/media/vs-2022/properties-page-csharp-console.png
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7280 Repo sync for protected CLA branch
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-razor-iisexpress.png
  docs/get-started/csharp/tutorial-aspnet-core.md
  docs/ide/media/vs-2022/application-target-framework.png
  docs/ide/media/vs-2022/csharp-aspnet-generic-iis-button.png
  docs/ide/quickstart-aspnet-core.md
  docs/ide/reference/application-page-project-designer-csharp.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7245 Released versions of Visual Studio 2022 links
  docs/install/create-an-offline-installation-of-visual-studio.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged

#7284 Fix typo in build-process-overview.md
  docs/msbuild/build-process-overview.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech

#7288 Repo sync for protected CLA branch
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
  docs/ide/finding-and-replacing-text.md
  docs/ide/how-to-use-surround-with-code-snippets.md
  docs/ide/media/vs-2022/edit-menu-multiple-carets-find-replace.png
  docs/ide/media/vs-2022/multi-caret-copy-paste.gif
  docs/ide/reference/media/tools-options-text-editor-general.png
  docs/ide/reference/media/vs-2019/tools-options-text-editor-general.png
  docs/ide/reference/media/vs-2022/tools-options-text-editor-general.png
  docs/ide/reference/options-text-editor-general.md
  docs/install/applying-administrator-updates.md
  docs/install/automated-installation-with-response-file.md
  docs/install/automatically-apply-product-keys-when-deploying-visual-studio.md
  docs/install/build-tools-container-issues.md
  docs/install/command-line-parameter-examples.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/install/disable-or-move-the-package-cache.md
  docs/install/enabling-administrator-updates.md
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
  docs/install/install-certificates-for-visual-studio-offline.md
  docs/install/install-visual-studio-versions-side-by-side.md
  docs/install/remove-visual-studio.md
  docs/install/set-defaults-for-enterprise-deployments.md
  docs/install/tools-for-managing-visual-studio-instances.md
  docs/install/uninstall-visual-studio.md
  docs/install/update-a-network-installation-of-visual-studio.md
  docs/install/update-minimal-layout.md
  docs/install/update-servicing-baseline.md
  docs/install/use-command-line-parameters-to-install-visual-studio.md
  docs/install/using-visual-studio-vm.md
  docs/install/visual-studio-administrator-guide.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/install/visual-studio-enterprise-guide.md
  docs/install/workload-and-component-ids.md
Labels: do-not-merge, CLA

#7291 Repo sync for protected CLA branch
  docs/get-started/csharp/media/vs-2022/csharp-console-calculator-button.png
  docs/get-started/csharp/media/vs-2022/csharp-console-calculator-delete-hello-world.png
  docs/get-started/csharp/media/vs-2022/csharp-name-your-calculator-project.png
  docs/get-started/csharp/media/vs-2022/csharp-target-framework.png
  docs/get-started/csharp/media/vs-2022/explore-ide-debug-breakpoint.png
  docs/get-started/csharp/media/vs-2022/wpf-target-framework.png
  docs/get-started/csharp/tutorial-console.md
  docs/get-started/csharp/tutorial-debugger.md
  docs/get-started/csharp/tutorial-wpf.md
  docs/ide/finding-and-replacing-text.md
  docs/ide/how-to-unlock-visual-studio.md
  docs/ide/media/vs-2022/find-and-replace-box.png
  docs/ide/reference/options-text-editor-general.md
  docs/ide/signing-in-to-visual-studio.md
  docs/ide/work-with-multi-factor-authentication.md
  docs/ide/work-with-multiple-user-accounts.md
  docs/install/build-tools-container.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7121 Fix default value
  docs/msbuild/findinlist-task.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#7301 Repo sync for protected CLA branch
  docs/ide/reference/web-browser-environment-options-dialog-box.md
Labels: do-not-merge, CLA

#7305 Repo sync for protected CLA branch
  docs/ide/finding-and-replacing-text.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7104 Incorrect directory reference to run command
  docker/tutorials/use-bind-mounts.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, aq-pr-triaged, vs-docker/tech

#7307 Update general-debugging-options-dialog-box.md
  docs/debugger/general-debugging-options-dialog-box.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#7312 Repo sync for protected CLA branch
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
Labels: do-not-merge, CLA

#7316 Resolve syncing conflicts from repo_sync_working_branch to master
  docs/ide/whats-new-visual-studio-2022.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/install/use-command-line-parameters-to-install-visual-studio.md
  docs/javascript/tutorial-asp-net-core-with-angular.md
  docs/javascript/tutorial-asp-net-core-with-react.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
  docs/javascript/unit-testing-javascript-with-visual-studio.md
  mac/uninstall-net-2019.md
  mac/uninstall-net-2022.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech

#7318 Fix grammar typo
  docs/extensibility/migration/update-visual-studio-extension.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech

#7322 fix incorrect variable name
  docs/vsto/walkthrough-synchronizing-a-custom-task-pane-with-a-ribbon-button.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, office-development/tech, aq-pr-triaged

#7323 Resolve syncing conflicts from repo_sync_working_branch to master
  .openpublishing.redirection.subscriptions.json
  docs/debugger/general-debugging-options-dialog-box.md
  docs/ide/media/vs-2022/configure-new-project-framework.png
  docs/ide/media/vs-2022/project-properties-application-tab-framework.png
  docs/ide/visual-studio-multi-targeting-overview.md
  docs/ide/walkthrough-building-an-application.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-compile/tech, vs-javascript/tech

#7327 Typo "Azure CosmosDB"→"Azure Cosmos DB"
  docs/azure/azure-cosmosdb-add-connected-service.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-azure/tech

#7328 Typo "Azure CosmosDB"→"Azure Cosmos DB"
  docs/azure/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod

#7338 Add missing word 'to'
  bridge/articles/overview-bridge-to-kubernetes.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, aq-pr-triaged, bridge/tech

#7339 Repo sync for protected CLA branch
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/media/vs-2022/cascadia-code-font.png
  docs/ide/media/vs-2022/cascadia-font-options.png
  docs/ide/media/vs-2022/cascadia-mono-font.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7350 Repo sync for protected CLA branch
  docs/ide/create-new-project.md
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/install/automated-installation-with-response-file.md
  docs/install/command-line-parameter-examples.md
  docs/install/controlling-updates-to-visual-studio-deployments.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/install/install-certificates-for-visual-studio-offline.md
  docs/install/media/vs-2022/invoke-update-settings-in-the-ide.png
  docs/install/media/vs-2022/notification-hub-update.png
  docs/install/media/vs-2022/update-on-close.png
  docs/install/media/vs-2022/update-ready-install-visual-studio-community-from-ide.png
  docs/install/media/vs-2022/update-settings.png
  docs/install/media/vs-2022/update-visual-studio-ide-message.png
  docs/install/media/vs-2022/vs-installer-choose-launch-visual-studio-community.png
  docs/install/media/vs-2022/vs-installer-choose-update-visual-studio-community.png
  docs/install/media/vs-2022/vs-installer-individual-components.png
  docs/install/media/vs-2022/vs-installer-installation-locations.png
  docs/install/media/vs-2022/vs-installer-language-packs.png
  docs/install/media/vs-2022/vs-installer-update-visual-studio-community.png
  docs/install/media/vs-2022/vs-installer-workloads.png
  docs/install/set-defaults-for-enterprise-deployments.md
  docs/install/update-a-network-installation-of-visual-studio.md
  docs/install/update-servicing-baseline.md
  docs/install/update-visual-studio.md
  docs/install/use-command-line-parameters-to-install-visual-studio.md
  docs/install/visual-studio-administrator-guide.md
  docs/toc.yml
Labels: do-not-merge, CLA

#7355 Repo sync for protected CLA branch
  docs/ide/customizing-window-layouts-in-visual-studio.md
  docs/ide/how-to-customize-menus-and-toolbars-in-visual-studio.md
  docs/ide/media/vs-2022/color-tabs-horizontal.png
  docs/ide/media/vs-2022/color-tabs-vertical.png
  docs/ide/quickstart-personalize-the-ide.md
  docs/install/change-installation-locations.md
  docs/install/media/vs-2022/uninstall-visualstudio-confirm.png
  docs/install/media/vs-2022/vs-installer-installation-locations-tab.png
  docs/install/media/vs-2022/vs-installer-modify-workloads.png
  docs/install/media/vs-2022/vs-installer-modify.png
  docs/install/media/vs-2022/vs-installer-repair.png
  docs/install/media/vs-2022/vs-installer-uninstall.png
  docs/install/media/vs-2022/vs-installer-workloads.png
  docs/install/media/vs-2022/vs-tools-menu.png
  docs/install/uninstall-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7362 Fix typo in unit-testing-javascript-with-visual-studio.md
  docs/javascript/unit-testing-javascript-with-visual-studio.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-javascript/tech

#7369 Fix minor typos in "Tutorial: Open a project from a repo"
  docs/get-started/tutorial-open-project-from-repo.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#7097 Document additional entries in the CV_CFL_LANG enum
  docs/debugger/debug-interface-access/cv-cfl-lang.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#7372 Repo sync for protected CLA branch
  docs/test/create-unit-tests-menu.md
  docs/test/media/create-unit-test-command-menu-dialog.png
  docs/test/media/create-unit-test-traits.png
  subscriptions/microsoft-365-apps-for-enterprise.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA
