Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-03, with the labels that each got.

#6446 Repo sync for protected CLA branch
  docs/deployment/how-to-publish-a-wpf-application-with-visual-styles-enabled.md
  docs/extensibility/troubleshooting-template-discovery.md
  docs/ide/customize-build-and-debug-tasks-in-visual-studio.md
  docs/ide/reference/command-prompt-powershell.md
  docs/ide/reference/media/developer-command-prompt-for-vs/command-prompt.png
  docs/ide/reference/media/developer-command-prompt-for-vs/vs-menu.png
  docs/ide/reference/media/developer-command-prompt-for-vs/vs-terminal.png
  docs/ide/reference/media/developer-command-prompt-for-vs/windows-10-search.gif
  docs/ide/reference/media/developer-command-prompt-for-vs/windows-7-menu.png
  docs/ide/reference/media/developer-command-prompt-for-vs/windows-logo-key-graphic.png
  docs/javascript/unit-testing-javascript-with-visual-studio.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/vstest-console-options.md
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6442 -b argument missing in git-with-visual-studio.md
  docs/ide/git-with-visual-studio.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6395 fix wrong regex
  docs/ide/using-regular-expressions-in-visual-studio.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6383 Fixed typos
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-test/tech

#6450 Repo sync for protected CLA branch
  docs/debugger/includes/remote-debugger-deploy-app-local.md
  docs/debugger/media/vs-2019/remotedbg-azure-app-service-profile.png
  docs/debugger/media/vs-2019/remotedbg-publish-local.png
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-7-5-computer.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/debugger/remote-debugging-azure.md
  docs/deployment/includes/import-publish-settings-vs.md
  docs/deployment/media/quickstart-publish-folder-new.png
  docs/deployment/media/quickstart-publish-folder-targets.png
  docs/deployment/media/tutorial-publish-tool-import-profile.png
  docs/deployment/quickstart-deploy-to-local-folder.md
  docs/ide/reference/command-prompt-powershell.md
  subscriptions/assign-github.md
  subscriptions/assign-guid.md
  subscriptions/assign-license-bulk.md
  subscriptions/assign-license.md
  subscriptions/assignments-orders.md
  subscriptions/azure-ea-devtest.md
  subscriptions/buy-activate-retail.md
  subscriptions/cloud-admin.md
  subscriptions/contact-my-admin.md
  subscriptions/delete-license.md
  subscriptions/download-software.md
  subscriptions/edit-license.md
  subscriptions/exporting-subscriptions.md
  subscriptions/find-keys.md
  subscriptions/mpsa.md
  subscriptions/sign-in-github.md
  subscriptions/subscription-level-changes.md
  subscriptions/toc.yml
  subscriptions/vscloud-billing-faq.md
Labels: CLA, do-not-merge

#6460 Repo sync for protected CLA branch
  mac/xamarin.md
  subscriptions/vs-alternate-identity.md
  subscriptions/vs-azure-community.md
  subscriptions/vs-azure-devops.md
  subscriptions/vs-azure-payg.md
  subscriptions/vs-azure.md
  subscriptions/vs-cast.md
  subscriptions/vs-cloudpilot.md
  subscriptions/vscloud-billing-faq.md
  subscriptions/vscloud-csp.md
  subscriptions/vscloud-overview.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6453 Update tutorial-aspnet-core.md
  docs/get-started/csharp/tutorial-aspnet-core.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6465 Repo sync for protected CLA branch
  docs/ide/reference/generate-equals-gethashcode-methods.md
  docs/ide/reference/media/overrides-highlight-cs.png
  docs/ide/reference/media/overrides-preview-cs.png
  docs/ide/reference/media/overrides-result-cs.png
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/test/improve-code-quality.md
  mac/publish-folder.md
  subscriptions/program-startups.md
  subscriptions/sign-in-github.md
  subscriptions/sign-in-issues.md
  subscriptions/sign-in-msa.md
  subscriptions/sign-in-work.md
  subscriptions/software-download-list.md
  subscriptions/subscription-expiration.md
  subscriptions/use-connected-identities.md
  subscriptions/using-the-subscriber-portal.md
  subscriptions/volume-license.md
Labels: CLA, do-not-merge

#6469 Repo sync for protected CLA branch
  docs/ide/user-permissions-and-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6470 Repo sync for protected CLA branch
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
  docs/index.yml
Labels: CLA, do-not-merge

#6471 Update install-and-use-visual-studio-behind-a-firewall-or-proxy-serve…
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6475 Repo sync for protected CLA branch
  subscriptions/admin-responsibilities.md
  subscriptions/anonymization.md
  subscriptions/delete-license.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6478 Repo sync for protected CLA branch
  docs/containers/container-tools.md
  docs/containers/tutorial-multicontainer.md
  docs/get-started/csharp/tutorial-aspnet-core.md
  docs/test/mstest-update-to-mstestv2.md
  docs/test/toc.yml
Labels: CLA, do-not-merge

#6481 Repo sync for protected CLA branch
  docs/ide/git-team-explorer-feature-comparison.md
  docs/ide/git-with-visual-studio.md
  docs/ide/media/vs-2019/amend-commit-new-git-lrg.png
  docs/ide/media/vs-2019/amend-commit-new-git-sml.png
  docs/ide/media/vs-2019/amend-commit-team-explorer-lrg.png
  docs/ide/media/vs-2019/amend-commit-team-explorer-sml.png
  docs/ide/media/vs-2019/clone-repo-new-git-lrg.png
  docs/ide/media/vs-2019/clone-repo-new-git-sml.png
  docs/ide/media/vs-2019/clone-repo-team-explorer-lrg.png
  docs/ide/media/vs-2019/clone-repo-team-explorer-sml.png
  docs/ide/media/vs-2019/commit-stage-new-git-lrg.png
  docs/ide/media/vs-2019/commit-stage-new-git-sml.png
  docs/ide/media/vs-2019/commit-stage-team-explorer-lrg.png
  docs/ide/media/vs-2019/commit-stage-team-explorer-sml.png
  docs/ide/media/vs-2019/create-branch-new-git-lrg.png
  docs/ide/media/vs-2019/create-branch-new-git-sml.png
  docs/ide/media/vs-2019/create-branch-team-explorer-lrg.png
  docs/ide/media/vs-2019/create-branch-team-explorer-sml.png
  docs/ide/media/vs-2019/fetch-pull-push-new-git-sml.png
  docs/ide/media/vs-2019/fetch-pull-push-team-explorer-lrg.png
  docs/ide/media/vs-2019/fetch-pull-push-team-explorer-sml.png
  docs/ide/media/vs-2019/fetch-pull-push-team-new-git-lrg.png
  docs/ide/media/vs-2019/manage-branches-new-git-lrg.png
  docs/ide/media/vs-2019/manage-branches-new-git-sml.png
  docs/ide/media/vs-2019/manage-branches-team-explorer-lrg.png
  docs/ide/media/vs-2019/manage-branches-team-explorer-sml.png
  docs/ide/media/vs-2019/open-solution-new-git-lrg.png
  docs/ide/media/vs-2019/open-solution-new-git-sml.png
  docs/ide/media/vs-2019/open-solution-team-explorer-lrg.png
  docs/ide/media/vs-2019/open-solution-team-explorer-sml.png
  docs/ide/media/vs-2019/resolve-conflicts-new-git-lrg.png
  docs/ide/media/vs-2019/resolve-conflicts-new-git-sml.png
  docs/ide/media/vs-2019/resolve-conflicts-team-explorer-lrg.png
  docs/ide/media/vs-2019/resolve-conflicts-team-explorer-sml.png
  docs/ide/media/vs-2019/source-control-new-git-lrg.png
  docs/ide/media/vs-2019/source-control-new-git-sml.png
  docs/ide/media/vs-2019/source-control-team-explorer-lrg.png
  docs/ide/media/vs-2019/source-control-team-explorer-sml.png
  docs/ide/media/vs-2019/stash-change-new-git-lrg.png
  docs/ide/media/vs-2019/stash-change-new-git-sml.png
  docs/ide/media/vs-2019/stash-change-team-explorer-lrg.png
  docs/ide/media/vs-2019/stash-change-team-explorer-sml.png
  docs/ide/media/vs-2019/switch-repos-new-git-lrg.png
  docs/ide/media/vs-2019/switch-repos-new-git-sml.png
  docs/ide/media/vs-2019/switch-repos-team-explorer-lrg.png
  docs/ide/media/vs-2019/switch-repos-team-explorer-sml.png
  docs/ide/media/vs-2019/sync-remote-new-git-lrg.png
  docs/ide/media/vs-2019/sync-remote-new-git-sml.png
  docs/ide/media/vs-2019/sync-remote-team-explorer-lrg.png
  docs/ide/media/vs-2019/sync-remote-team-explorer-sml.png
  docs/ide/media/vs-2019/view-commits-new-git-lrg.png
  docs/ide/media/vs-2019/view-commits-new-git-sml.png
  docs/ide/media/vs-2019/view-commits-team-explorer-lrg.png
  docs/ide/media/vs-2019/view-commits-team-explorer-sml.png
  docs/toc.yml
Labels: CLA, do-not-merge

#6482 Repo sync for protected CLA branch
  docs/debugger/debug-interface-access/idiadatasource-loaddataforexe.md
  docs/debugger/format-specifiers-in-cpp.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6487 Repo sync for protected CLA branch
  docs/ide/git-with-visual-studio.md
  docs/ide/whats-new-visual-studio-docs-history.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/test/create-unit-tests-menu.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6489 Repo sync for protected CLA branch
  docs/javascript/tutorial-aspnet-with-typescript.md
  subscriptions/vs-pbi.md
  subscriptions/vs-pluralsight.md
  subscriptions/vs-tech-support.md
  subscriptions/vs-visual-studio-app-center.md
  subscriptions/vs-whitesource.md
  subscriptions/vs-windows-dev.md
  subscriptions/vs-windows-virtual-desktop.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-javascript/tech

#6501 Repo sync for protected CLA branch
  docs/devinit/devinit-and-codespaces.md
  docs/devinit/devinit-commands.md
  docs/devinit/devinit-json.md
  docs/devinit/devinit-tool-list.md
  docs/devinit/faq.md
  docs/devinit/getting-started-with-devinit.md
  docs/devinit/sample-all-tool.md
  docs/devinit/sample-dotnet-core.md
  docs/devinit/sample-dotnet-runtime.md
  docs/devinit/sample-eshoponweb.md
  docs/devinit/sample-nodejs.md
  docs/devinit/sample-opencv.md
  docs/devinit/sample-private-preview.md
  docs/devinit/sample-readme.md
  docs/devinit/tool-azurecli-login.md
  docs/devinit/tool-choco-install.md
  docs/devinit/tool-choco-upgrade.md
  docs/devinit/tool-dotnet-restore.md
  docs/devinit/tool-dotnet-toolinstall.md
  docs/devinit/tool-enable-iis.md
  docs/devinit/tool-msi-install.md
  docs/devinit/tool-npm-install.md
  docs/devinit/tool-nuget-restore.md
  docs/devinit/tool-require-azureartifactscredentialprovider.md
  docs/devinit/tool-require-azurecli.md
  docs/devinit/tool-require-choco.md
  docs/devinit/tool-require-dotnetcoresdk.md
  docs/devinit/tool-require-dotnetframeworksdk.md
  docs/devinit/tool-require-mssql.md
  docs/devinit/tool-require-nodejs.md
  docs/devinit/tool-require-npm.md
  docs/devinit/tool-require-nuget.md
  docs/devinit/tool-require-psmodule.md
  docs/devinit/tool-require-vcpkg.md
  docs/devinit/tool-require-vscomponent.md
  docs/devinit/tool-require-winget.md
  docs/devinit/tool-set-env.md
  docs/devinit/tool-vcpkg-install.md
  docs/devinit/tool-windowsfeature-disable.md
  docs/devinit/tool-windowsfeature-enable.md
  docs/devinit/tool-windowsfeature-list.md
  docs/devinit/tool-winget-install.md
  docs/devinit/tool-wsl-install.md
  docs/devinit/tutorial.md
  docs/ide/codespaces/codespaces-overview.md
  docs/ide/codespaces/customize-codespaces.md
  docs/ide/codespaces/supported-features-codespaces.md
  docs/ide/codespaces/use-visual-studio-with-codespaces.md
Labels: CLA, do-not-merge

#6503 Repo sync for protected CLA branch
  subscriptions/about-benefits.md
  subscriptions/access-github.md
  subscriptions/add-monthly-subs.md
  subscriptions/admin-inventory.md
  subscriptions/admin-prefs.md
  subscriptions/admin-responsibilities.md
  subscriptions/admin-roles.md
  subscriptions/aliasing.md
  subscriptions/anonymization.md
  subscriptions/assign-github.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6510 Repo sync for protected CLA branch
  subscriptions/assign-guid.md
  subscriptions/assign-license-bulk.md
  subscriptions/assign-license.md
  subscriptions/assignments-orders.md
  subscriptions/azure-ea-devtest.md
  subscriptions/buy-activate-retail.md
  subscriptions/cloud-admin.md
  subscriptions/delete-license.md
  subscriptions/edit-license.md
  subscriptions/exporting-subscriptions.md
  subscriptions/find-keys.md
  subscriptions/handle-expired-license.md
  subscriptions/handle-overclaimed-license.md
  subscriptions/internet-demos.md
  subscriptions/manage-teams.md
  subscriptions/manage-vs-subscriptions.md
  subscriptions/maximum-usage.md
  subscriptions/microsoft-365-apps-for-enterprise.md
  subscriptions/mpsa.md
  subscriptions/open-migration.md
  subscriptions/personal-email-sign-ins.md
  subscriptions/product-availability.md
  subscriptions/product-keys.md
  subscriptions/program-mpn.md
  subscriptions/search-license.md
Labels: CLA, do-not-merge

#5517 Add the last 3 releases of Python 2.7
  docs/python/debugging-symbols-for-mixed-mode-c-cpp-python.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-python/tech

#6511 Repo sync for protected CLA branch
  docs/python/learn-django-in-visual-studio-step-01-project-and-solution.md
  docs/python/learn-django-in-visual-studio-step-05-django-authentication.md
  docs/python/learn-django-in-visual-studio-step-06-polls-django-web-project-template.md
  docs/python/learn-flask-visual-studio-step-01-project-solution.md
  docs/python/learn-flask-visual-studio-step-04-full-flask-project-template.md
  docs/python/learn-flask-visual-studio-step-05-polls-flask-web-project-template.md
  docs/python/python-django-web-application-project-template.md
  docs/python/python-web-application-project-templates.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-python/tech

#6103 fix incorrect cross-referencing typo
  docs/msbuild/createcsharpmanifestresourcename-task.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6116 Update midl-task.md
  docs/msbuild/midl-task.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6117 Updating Docker URL to partnership URL
  docker/tutorials/share-your-app.md
Labels: aq-pr-triaged, do-not-merge

#6189 Fix xml indendation
  docs/msbuild/how-to-extend-the-visual-studio-build-process.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6517 Repo sync for protected CLA branch
  docs/ide/git-visual-studio-source-control.md
  docs/ide/media/git-source-control-create-repository.png
  docs/ide/media/git-source-control-inner-loop.png
  docs/ide/media/git-source-control-interactive-functionality.png
  docs/ide/media/git-source-control-repository-management.png
  docs/toc.yml
  mac/2017/signing-in.md
  mac/2017/xamarin.md
  mac/signing-in.md
  subscriptions/solutions/admin-solutions/includes/admin-new-agreement-missing.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6521 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2019.md
  subscriptions/faq/subscriber/software/includes/find-older-versions.md
  subscriptions/solutions/admin-solutions/includes/admin-index.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6385 Update your-application.md in docker tutorial
  docker/tutorials/your-application.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#6356 Fix bad element name.
  docs/msbuild/build-process-overview.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6466 Update use-docker-compose.md volume "many more options available" link.
  docker/tutorials/use-docker-compose.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#6526 Repo sync for protected CLA branch
  subscriptions/solutions/admin-solutions/includes/admin-index.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6529 Update extract-method.md
  docs/ide/reference/extract-method.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6530 Repo sync for protected CLA branch
  docs/ide/not-in-toc/default-f1-text-editor.md
  docs/ide/not-in-toc/default.md
  docs/ide/quickstart-nodejs.md
  docs/javascript/index.yml
  docs/javascript/quickstart-vuejs-with-nodejs.md
  docs/javascript/tutorial-aspnet-with-typescript.md
  docs/javascript/tutorial-nodejs.md
  docs/javascript/write-and-edit-code.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-javascript/tech

#6531 Repo sync for protected CLA branch
  docs/install/applying-administrator-updates.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/enabling-administrator-updates.md
  docs/toc.yml
Labels: CLA, do-not-merge

#6542 Repo sync for protected CLA branch
  mac/net-core-support.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-mac/prod, vs-ide-general/tech

#6543 Repo sync for protected CLA branch
  docs/ide/customizing-project-and-item-templates.md
  docs/ide/how-to-create-project-templates.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6545 Repo sync for protected CLA branch
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/install/install-certificates-for-visual-studio-offline.md
  docs/install/install-visual-studio-versions-side-by-side.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6532 Add information about newly added options inside the XAML designer op…
  docs/ide/reference/xaml-designer.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#6547 Repo sync for protected CLA branch
  docs/extensibility/ux-guidelines/visual-language-dictionary-for-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech
