Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-10, with the labels that each got.

#7107 Repo sync for protected CLA branch
  docs/deployment/troubleshooting-specific-errors-in-clickonce-deployments.md
  docs/designers/getting-started-with-wpf.md
  docs/ide/advanced-feature-overview.md
  docs/ide/csharp-developer-productivity.md
  docs/ide/finding-and-replacing-text.md
  docs/ide/fips-support-visual-studio.md
  docs/ide/how-to-add-app-config-file.md
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/managing-references-in-a-project.md
  docs/ide/using-regular-expressions-in-visual-studio.md
  docs/ide/visual-studio-multi-targeting-overview.md
  docs/ide/visual-studio-performance-tips-and-tricks.md
  docs/ide/whats-new-visual-studio-2017.md
  docs/python/debugging-mixed-mode-c-cpp-python-in-visual-studio.md
  docs/python/installing-python-interpreters.md
  docs/python/managing-python-environments-in-visual-studio.md
  docs/python/managing-python-on-azure-app-service.md
  docs/python/overview-of-python-tools-for-visual-studio.md
  docs/python/python-environments-window-tab-reference.md
  docs/python/using-python-cookiecutter-templates.md
  docs/xaml-tools/xaml-designtime-data.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-xaml-tools/tech, CLA

#7101 Add TypeScript SDK deprecation notice
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged

#7116 Repo sync for protected CLA branch
  docs/azure/azure-app-insights-add-connected-service.md
  docs/azure/azure-cache-for-redis-add-connected-service.md
  docs/azure/azure-cosmosdb-add-connected-service.md
  docs/azure/azure-signalr-add-connected-service.md
  docs/azure/azure-sql-database-add-connected-service.md
  docs/azure/toc.yml
  docs/code-quality/index.yml
  docs/cross-platform/toc.yml
  docs/debugger/graphics/command-line-capture-tool.md
  docs/debugger/how-to-find-which-dll-your-program-crashed-in.md
  docs/debugger/intellitrace.md
  docs/debugger/using-the-microsoft-monitoring-agent.md
  docs/deployment/clickonce-and-authenticode.md
  docs/deployment/deploying-applications-services-and-components.md
  docs/deployment/index.yml
  docs/deployment/toc.yml
  docs/install/build-tools-container.md
  docs/javascript/compile-typescript-code-npm.md
  docs/profiling/profiling-on-hpc-high-performance-computing-clusters.md
  docs/sharepoint/how-to-create-a-user-control-for-a-sharepoint-application-page-or-web-part.md
  docs/sharepoint/troubleshooting-sharepoint-packaging-and-deployment.md
  docs/test/extending-coded-ui-tests-and-action-recordings-to-support-microsoft-excel.md
  docs/vsto/how-to-add-commands-to-shortcut-menus.md
  docs/vsto/how-to-change-the-position-of-a-tab-on-the-ribbon.md
  docs/vsto/how-to-customize-a-built-in-tab.md
  docs/vsto/troubleshooting-errors-in-office-solutions.md
  docs/vsto/upgrading-and-migrating-office-solutions.md
  gamedev/breadcrumb/toc.yml
  gamedev/unity/visual-studio-tools-for-unity-azure.md
  mac/index.yml
  scripting-docs/index.md
  subscriptions/admin-expiration.md
  subscriptions/vs-m365.md
Labels: do-not-merge, CLA

#7120 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/ide/whats-new-visual-studio-docs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7130 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  bridge/docfx.json
  docs/debugger/debug-live-azure-apps-troubleshooting.md
  docs/debugger/debugging-absolute-beginners.md
  docs/debugger/error-remote-debugging-monitor-msvsmon-exe-does-not-appear-to-be-running.md
  docs/debugger/get-started-debugging-multithreaded-apps.md
  docs/debugger/how-to-debug-managed-and-native-code.md
  docs/debugger/how-to-use-the-threads-window.md
  docs/debugger/quickstart-debug-with-managed.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/debugger/remote-debugging-azure.md
  docs/debugger/unable-to-connect-to-the-microsoft-visual-studio-remote-debugging-monitor.md
  docs/debugger/walkthrough-debugging-a-parallel-application.md
  docs/debugger/write-better-code-with-visual-studio.md
  docs/deployment/includes/quickstart-prereqs-azure-linux.md
  docs/deployment/includes/quickstart-prereqs-azure.md
  docs/deployment/includes/quickstart-prereqs.md
  docs/extensibility/support-for-the-visual-studio-sdk.md
  docs/ide/feedback-options.md
  docs/ide/how-to-increase-chances-of-performance-issue-being-fixed.md
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/ide/reference/resources-for-troubleshooting-integrated-development-environment-errors.md
  docs/ide/visual-studio-experience-improvement-program.md
  docs/ide/whats-new-visual-studio-2017.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/update-a-network-installation-of-visual-studio.md
  docs/javascript/create-application-with-vuejs.md
  docs/javascript/tutorial-aspnet-with-typescript.md
  docs/modeling/scenario-change-your-design-using-visualization-and-modeling.md
  docs/profiling/quickstart-cpu-usage-aspnet.md
  docs/profiling/quickstart-cpu-usage-managed.md
  docs/test/live-unit-testing-start.md
  docs/test/walkthrough-creating-and-running-unit-tests-for-managed-code.md
  docs/toc.yml
  gamedev/index.yml
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
  gamedev/unity/get-started/using-visual-studio-tools-for-unity.md
Labels: do-not-merge, review-team-triage, CLA

#7136 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docker/tutorials/update-your-app.md
  docker/tutorials/your-application.md
  docs/ide/developer-community-guidelines.md
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/ide/reference/options-text-editor-c-cpp-advanced.md
  docs/ide/reference/options-text-editor-c-cpp-experimental.md
  docs/ide/reference/options-text-editor-c-cpp-formatting.md
  docs/ide/reference/options-text-editor-c-cpp-view.md
  docs/ide/report-a-problem.yml
  docs/ide/whats-new-visual-studio-docs.md
  docs/toc.yml
  subscriptions/about-benefits.md
  subscriptions/access-github.md
  subscriptions/account-removed.md
  subscriptions/add-monthly-subs.md
  subscriptions/admin-expiration.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7138 Repo sync for protected CLA branch
  subscriptions/admin-inventory.md
  subscriptions/admin-preferences.md
  subscriptions/azure-ea-devtest.md
  subscriptions/buy-activate-retail.md
  subscriptions/contact-my-admin.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7147 Repo sync for protected CLA branch
  docs/containers/edit-and-refresh.md
  docs/containers/tutorial-multicontainer.md
  docs/debugger/getting-started-with-the-debugger-cpp.md
  docs/debugger/includes/remote-debugger-download.md
  docs/debugger/run-windows-store-apps-in-the-simulator.md
  docs/extensibility/migration/breaking-api-list.md
  docs/extensibility/migration/migrated-assemblies.md
  docs/extensibility/migration/removed-api-list.md
  docs/extensibility/migration/samples.md
  docs/extensibility/migration/target-previous-versions.md
  docs/extensibility/migration/update-visual-studio-extension.md
  docs/get-started/csharp/tutorial-debugger.md
  docs/ide/create-a-visual-basic-winform-in-visual-studio.md
  docs/ide/create-csharp-winform-visual-studio.md
  docs/ide/how-to-configure-projects-to-target-platforms.md
  docs/ide/managing-project-and-solution-properties.md
  docs/ide/quickstart-personalize-the-ide.md
  docs/ide/reference/team-explorer-reference.md
  docs/ide/report-a-problem-perfview-minidumps.md
  docs/ide/whats-new-visual-studio-2022.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/install/install-visual-studio.md
  docs/install/modify-visual-studio.md
  docs/install/update-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/version-control/git-with-visual-studio.md
  docs/windows/index.yml
  subscriptions/download-software.md
  subscriptions/find-keys.md
  subscriptions/internet-demos.md
  subscriptions/product-availability.md
  subscriptions/product-keys.md
  subscriptions/program-mpn.md
  subscriptions/program-startups.md
  subscriptions/sign-in-github.md
  subscriptions/sign-in-issues.md
  subscriptions/sign-in-msa.md
  subscriptions/sign-in-work.md
  subscriptions/software-download-list.md
  subscriptions/subscription-expiration.md
  subscriptions/subscription-level-changes.md
  subscriptions/subscription-removed.md
Labels: do-not-merge, CLA

#7151 Repo sync for protected CLA branch
  docs/ide/suggest-a-feature.md
  docs/toc.yml
  subscriptions/solutions/managing-agreements/includes/admin-not-able-to-manage-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-fix-bulk-upload-to-wrong-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-help-transferring-subscribers-after-renewal.md
  subscriptions/solutions/managing-subscribers/includes/admin-missing-subscriptions-where-did-they-go.md
  subscriptions/solutions/managing-subscribers/includes/admin-update-subscriber-sign-in-email.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-primary-contact-not-super-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-update-primary-contact.md
  subscriptions/use-connected-identities.md
  subscriptions/using-the-subscriber-portal.md
  subscriptions/vs-alternate-identity.md
  subscriptions/vs-azure-community.md
  subscriptions/vs-azure.md
Labels: do-not-merge, CLA

#7163 Repo sync for protected CLA branch
  subscriptions/vs-azure-devops.md
  subscriptions/vs-azure-payg.md
  subscriptions/vs-cast.md
  subscriptions/vs-cloudpilot.md
  subscriptions/vs-code-magazine.md
  subscriptions/vs-concierge-chat.md
  subscriptions/vs-datacamp.md
  subscriptions/vs-developer-community.md
  subscriptions/vs-ide-benefit.md
  subscriptions/vs-linkedin-learning.md
  subscriptions/vs-tech-support.md
  subscriptions/vs-visual-studio-app-center.md
  subscriptions/vs-whitesource.md
  subscriptions/vs-windows-dev.md
  subscriptions/vs-windows-virtual-desktop.md
  subscriptions/vscloud-billing-faq.yml
  subscriptions/vscloud-csp.md
  subscriptions/vscloud-overview.md
  subscriptions/whats-new-in-subscriptions.md
Labels: do-not-merge, CLA

#7134 MSBuild: mention defaults for SkipNonexistent*
  docs/msbuild/msbuild-task.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#7177 Repo sync for protected CLA branch
  docker/tutorials/docker-tutorial.md
  docs/ide/find-in-files.md
  docs/ide/media/vs-2022/find-file-types.png
  docs/ide/media/vs-2022/find-files-expression-builder.png
  docs/ide/media/vs-2022/find-files-search-results.png
  docs/ide/media/vs-2022/find-files.png
  docs/ide/replace-in-files.md
  docs/ide/visual-studio-search.md
  docs/msbuild/combinepath-task.md
  docs/msbuild/msbuild-properties.md
  docs/msbuild/msbuild-special-characters.md
  docs/msbuild/property-functions.md
  docs/msbuild/visual-studio-integration-msbuild.md
Labels: CLA
