Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-08, with the labels that each got.

#6928 Repo sync for protected CLA branch
  docs/ide/not-in-toc/default.md
  docs/profiling/beginners-guide-to-performance-profiling.md
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio/prod, vs-ide-general/tech

#6931 Repo sync for protected CLA branch
  mac/2017/connected-services.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod, CLA

#6934 Updating the index page with different links
  docs/javascript/index.yml
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged

#6944 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/rtvs/editing-r-code-in-visual-studio.md
  docs/rtvs/faq.md
  docs/rtvs/setting-up-remote-r-service-on-linux.md
  mac/2017/create-offline-installer.md
  mac/2017/enable-subscription.md
  mac/2017/extending-visual-studio-mac.md
  mac/2017/install-behind-a-firewall-or-proxy-server.md
  mac/2017/keyboard-shortcuts.md
  mac/2017/signing-in.md
  mac/2017/uninstall.md
  mac/2017/update.md
  mac/2017/user-accounts.md
  mac/accessibility-voiceover.md
Labels: do-not-merge, change sent to author, visual-studio-dev15/prod, vs-ide-install/tech, CLA

#6945 Correct unsupported EnC details RE ASP.NET
  docs/debugger/supported-code-changes-csharp.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6948 Repo sync for protected CLA branch
  docs/javascript/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA

#6950 Repo sync for protected CLA branch
  docs/install/workload-and-component-ids.md
  docs/javascript/TOC.yml
  docs/javascript/media/vs-2022/asp-net-core-vue-additional-info.png
  docs/javascript/media/vs-2022/asp-net-core-with-vue-choose-debugger.png
  docs/javascript/media/vs-2022/asp-net-core-with-vue-deselect-launch-browser.png
  docs/javascript/media/vs-2022/asp-net-core-with-vue-set-first-project.png
  docs/javascript/media/vs-2022/asp-net-core-with-vue-solution-explorer.png
  docs/javascript/tutorial-asp-net-core-with-vue.md
  docs/javascript/tutorial-aspnet-with-typescript.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA

#6955 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#6956 Repo sync for protected CLA branch
  docs/debugger/debug-dotnet-core-in-wsl-2.md
  docs/debugger/media/linux-wsl2-debugging-select-launch-profile.png
  docs/debugger/media/linux-wsl2-debugging-switch-target-distribution.png
  docs/ide/whats-new-visual-studio-2019.md
  docs/install/workload-and-component-ids.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#6957 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#6959 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2022.md
Labels: do-not-merge, change sent to author, CLA, visual-studio-dev17/prod

#6964 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2017.md
  docs/ide/whats-new-visual-studio-docs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#6965 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-console.md
  docs/get-started/includes/git-source-control.md
  docs/get-started/media/vs-2022/git-add-source-control.png
  docs/get-started/media/vs-2022/git-create-repo.png
  docs/get-started/media/vs-2022/git-new-private-repo-status-details.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#6966 Repo sync for protected CLA branch
  docs/debugger/how-to-edit-a-register-value.md
  docs/get-started/media/vs-2022/git-create-repo.png
  docs/get-started/media/vs-2022/git-new-private-repo-status-details.png
  docs/get-started/visual-basic/tutorial-console.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#6967 Remove repeated words in page description
  docs/code-quality/migrate-from-fxcop-analyzers-to-net-analyzers.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-code-analysis/tech

#6969 Repo sync for protected CLA branch
  docs/get-started/includes/git-source-control.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#6970 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, CLA

#6971 Add missing word
  docs/ide/reference/sync-type-and-file.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#6974 Repo sync for protected CLA branch
  docs/python/tutorial-working-with-python-in-visual-studio-step-06-working-with-git.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#6978 Repo sync for protected CLA branch
  mac/publish-folder.md
  subscriptions/vs-azure.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod, CLA

#6831 Update info on MiddleLayer in LSP Extension docs
  docs/extensibility/adding-an-lsp-extension.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, doc-enhancement

#6979 Repo sync for protected CLA branch
  docs/ide/reference/trust-settings.md
  docs/test/includes/coded-ui-test-deprecation.md
  docs/test/includes/web-load-test-deprecated.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#6983 Repo sync for protected CLA branch
  docs/extensibility/migration/update-visual-studio-extension.md
  docs/ide/quickstart-personalize-the-ide.md
  mac/signing-in.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#6984 Repo sync for protected CLA branch
  docs/test/create-unit-tests-menu.md
  docs/test/getting-started-with-unit-testing.md
  docs/test/improve-code-quality.md
  docs/test/index.yml
  docs/test/run-unit-tests-with-test-explorer.md
  docs/test/unit-test-basics.md
  docs/test/walkthrough-creating-and-running-unit-tests-for-managed-code.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#6985 Repo sync for protected CLA branch
  docs/debugger/expressions-in-the-debugger.md
  gamedev/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#6991 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#6997 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-console.md
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7009 Typo "Typescript"→"TypeScript"
  docs/javascript/compile-typescript-code-npm.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech

#7011 Repo sync for protected CLA branch
  docker/tutorials/use-bind-mounts.md
  docs/get-started/tutorial-open-project-from-repo-visual-studio-2017.md
  docs/get-started/tutorial-open-project-from-repo-visual-studio-2019.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/test/use-ui-automation-to-test-your-code.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7013 Repo sync for protected CLA branch
  docs/designers/disable-dpi-awareness.md
  docs/ide/finding-and-using-visual-studio-extensions.md
  docs/ide/how-to-add-or-remove-references-by-using-the-reference-manager.md
  docs/ide/media/finding-using-visual-studio-extensions/vs-2022/extensions-and-updates.png
  docs/install/build-tools-container.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7014 Repo sync for protected CLA branch
  docs/get-started/tutorial-editor.md
  docs/get-started/tutorial-projects-solutions.md
  docs/get-started/visual-studio-ide.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7015 Repo sync for protected CLA branch
  docs/test/media/remote_test_drop_down.png
  docs/test/media/remote_test_linux_discovery.png
  docs/test/media/remote_test_linux_passing.png
  docs/test/remote-testing.md
  docs/test/toc.yml
  subscriptions/exporting-subscriptions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA
