Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-05, with the labels that each got.

#6644 Repo sync for protected CLA branch
  mac/compiling-and-building.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-mac/prod, vs-ide-general/tech

#6651 Repo sync for protected CLA branch
  docs/debugger/media/dbg-string-visualizer-text.png
  docs/debugger/string-visualizer-dialog-box.md
  docs/ide/whats-new-visual-studio-docs-history.md
  docs/ide/whats-new-visual-studio-docs.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6654 Fix casing typo
  docs/msbuild/msbuild.md
Labels: change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6659 Repo sync for protected CLA branch
  docs/install/modify-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6662 Repo sync for protected CLA branch
  docs/install/controlling-updates-to-visual-studio-deployments.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6672 Repo sync for protected CLA branch
  docs/code-quality/code-metrics-class-coupling.md
  docs/code-quality/code-metrics-cyclomatic-complexity.md
  docs/code-quality/code-metrics-depth-of-inheritance.md
  docs/code-quality/media/cyclomatic-complexity-design-guidelines.png
  docs/code-quality/media/cyclomatic-complexity-example-1.png
  docs/code-quality/media/cyclomatic-complexity-example-2.png
  docs/code-quality/media/cyclomatic-complexity-example-3.png
  docs/code-quality/media/cyclomatic-complexity-example-4.png
  docs/code-quality/media/cyclomatic-complexity-example-5.png
  docs/code-quality/media/cyclomatic-complexity-example-6.png
  docs/code-quality/media/cyclomatic-complexity-maintainability-rule.png
  docs/code-quality/media/depth-of-inheritance-design-guidelines.png
  docs/code-quality/media/depth-of-inheritance-example-1.png
  docs/code-quality/media/depth-of-inheritance-example-2.png
  docs/code-quality/media/depth-of-inheritance-maintainability-rule.png
  docs/code-quality/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech

#6674 Repo sync for protected CLA branch
  docs/debugger/debug-using-the-just-in-time-debugger.md
  docs/debugger/how-to-enable-debugging-for-aspnet-applications.md
  docs/deployment/tutorial-import-publish-settings-iis.md
  docs/javascript/npm-package-management.md
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
  docs/profiling/profiling-feature-tour.md
  docs/version-control/git-team-explorer-feature-comparison.md
  docs/version-control/git-visual-studio-source-control.md
  docs/version-control/git-with-visual-studio.md
  docs/version-control/index.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6677 Resolve syncing conflicts from repo_sync_working_branch to master
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/python/working-with-c-cpp-python-in-visual-studio.md
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
Labels: change sent to author, do-not-merge, visual-studio-dev16/prod, vs-unity-tools/tech

#6686 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/ide/whats-new-visual-studio-docs-history.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6687 Repo sync for protected CLA branch
  docs/install/update-minimal-layout.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6689 Repo sync for protected CLA branch
  docs/code-quality/in-source-suppression-overview.md
  docs/code-quality/media/vs-2019/suppress-diagnostic-from-editor-attribute.png
  docs/code-quality/media/vs-2019/suppress-diagnostic-from-editor.png
  docs/code-quality/use-roslyn-analyzers.md
  docs/ide/whats-new-visual-studio-2019.md
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6692 Repo sync for protected CLA branch
  docs/install/update-minimal-layout.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  subscriptions/_img/admin-preferences/admin-preferences-button.png
  subscriptions/_img/admin-preferences/admin-preferences-flyout-2.png
  subscriptions/_img/admin-prefs/admin-prefs-flyout.png
  subscriptions/admin-preferences.md
  subscriptions/admin-roles.md
  subscriptions/contact-my-admin.md
  subscriptions/handle-overclaimed-license.md
  subscriptions/toc.yml
  subscriptions/volume-license.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6694 Repo sync for protected CLA branch
  docs/install/update-minimal-layout.md
  subscriptions/assign-github.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6698 Repo sync for protected CLA branch
  docs/debugger/troubleshoot-data-breakpoint-errors.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6700 Repo sync for protected CLA branch
  subscriptions/vs-azure.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6702 Repo sync for protected CLA branch
  docs/python/learn-django-in-visual-studio-step-02-create-an-app.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-python/tech

#6703 Repo sync for protected CLA branch
  subscriptions/solutions/benefit-activation/includes/error-while-activating-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/how-do-i-activate-azure-monthly-credit.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-devops.md
  subscriptions/solutions/benefit-activation/includes/unable-to-activate-azure-pay-as-you-go-subscription.md
  subscriptions/solutions/other-or-no-solution/includes/no-solution.md
  subscriptions/solutions/portal-issue/includes/controls-or-buttons-not-working.md
  subscriptions/solutions/portal-issue/includes/page-cannot-be-displayed.md
  subscriptions/solutions/portal-issue/includes/page-not-loading.md
  subscriptions/solutions/portal-issue/includes/portal-outage.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-retail.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6704 Repo sync for protected CLA branch
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6128 MSBuild version comparisons
  docs/msbuild/msbuild-conditions.md
  docs/msbuild/property-functions.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6706 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2019.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6707 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6709 Repo sync for protected CLA branch
  docs/deployment/server-and-client-configuration-issues-in-clickonce-deployments.md
  docs/install/includes/vs-2019/workload-component-id-vs-build-tools.md
  docs/install/includes/vs-2019/workload-component-id-vs-community.md
  docs/install/includes/vs-2019/workload-component-id-vs-enterprise.md
  docs/install/includes/vs-2019/workload-component-id-vs-professional.md
  docs/install/includes/vs-2019/workload-component-id-vs-team-explorer.md
  docs/install/includes/vs-2019/workload-component-id-vs-test-agent.md
  docs/install/includes/vs-2019/workload-component-id-vs-test-controller.md
  docs/install/workload-and-component-ids.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6713 Repo sync for protected CLA branch
  docs/install/workload-and-component-ids.md
  docs/install/workload-component-id-vs-build-tools.md
  docs/install/workload-component-id-vs-community.md
  docs/install/workload-component-id-vs-enterprise.md
  docs/install/workload-component-id-vs-professional.md
  docs/install/workload-component-id-vs-team-explorer.md
  docs/install/workload-component-id-vs-test-agent.md
  docs/install/workload-component-id-vs-test-controller.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6646 Suggested edits
  docs/ide/quickstart-nodejs.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-javascript/tech

#6717 Repo sync for protected CLA branch
  docs/xaml-tools/creating-a-ui-by-using-xaml-designer-in-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-xaml-tools/tech
