Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-06, with the labels that each got.

#6726 Repo sync for protected CLA branch
  docs/get-started/includes/ide-overview.md
  docs/get-started/media/vs-2019/ide-overview.png
  docs/get-started/visual-studio-ide.md
  docs/xaml-tools/index.yml
  docs/xaml-tools/media/xaml-sample-data-empty-datagrid.png
  docs/xaml-tools/media/xaml-sample-data-suggested-actions.png
  docs/xaml-tools/media/xaml-sample-data-templated-listview.png
  docs/xaml-tools/toc.yml
  docs/xaml-tools/xaml-design-time-sample-data.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6727 Repo sync for protected CLA branch
  docs/deployment/server-and-client-configuration-issues-in-clickonce-deployments.md
  docs/extensibility/internals/regpkg-utility.md
  docs/ide/reference/media/inheritance-margin.png
  docs/ide/reference/media/remove-unused-references-command.png
  docs/ide/reference/media/remove-unused-references-dialog.png
  docs/ide/reference/options-text-editor-csharp-advanced.md
  docs/ide/reference/remove-unused-references.md
  docs/ide/visual-csharp-intellisense.md
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6731 Repo sync for protected CLA branch
  subscriptions/solutions/licensing-terms/includes/subscription-licensing-terms-and-conditions.md
  subscriptions/solutions/managing-agreements/includes/admin-not-able-to-manage-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-assign-subscriber-bulk-edit.md
  subscriptions/solutions/managing-subscribers/includes/admin-assign-subscriber-individual.md
  subscriptions/solutions/managing-subscribers/includes/admin-fix-bulk-upload-to-wrong-agreement.md
  subscriptions/solutions/managing-subscribers/includes/admin-missing-subscriptions-where-did-they-go.md
  subscriptions/solutions/managing-subscribers/includes/admin-update-subscriber-sign-in-email.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-how-do-i-add-another-admin.md
  subscriptions/solutions/managing-super-admins-or-admins/includes/admin-update-primary-contact.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6733 Repo sync for protected CLA branch
  docs/containers/launch-profiles.md
  docs/containers/toc.yml
  docs/ide/quickstart-nodejs.md
  docs/javascript/compile-typescript-code-npm.md
  docs/msbuild/errors/msb3270.md
  docs/msbuild/errors/msb3277.md
  docs/msbuild/errors/msb3577.md
  docs/msbuild/errors/msb3721.md
  docs/msbuild/errors/msb4181.md
  docs/msbuild/errors/msb6003.md
  docs/msbuild/toc.yml
  docs/xaml-tools/xaml-design-time-sample-data.md
Labels: CLA

#6734 Repo sync for protected CLA branch
  docs/extensibility/internals/microsoft-help-viewer-sdk.md
  docs/vsto/visual-studio-tools-for-office-runtime-installation-scenarios.md
  gamedev/unity/change-log-visual-studio-tools-for-unity-mac.md
  gamedev/unity/change-log-visual-studio-tools-for-unity.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-dev16/prod, vs-unity-tools/tech

#6737 Repo sync for protected CLA branch
  subscriptions/solutions/admin-solutions/includes/admin-index.md
  subscriptions/solutions/admin-solutions/includes/admin-sign-in-issues.md
  subscriptions/solutions/admin-solutions/includes/admin-task-how-to.md
  subscriptions/solutions/admin-solutions/includes/example-change-email.md
  subscriptions/solutions/admin-solutions/includes/how-do-i-change-my-sign-in-email-admin.md
  subscriptions/solutions/admin-solutions/includes/request-subscriptions.md
  subscriptions/solutions/index.md
  subscriptions/solutions/signing-in/includes/admin-how-do-i-change-my-sign-in-email.md
  subscriptions/solutions/signing-in/includes/admin-should-i-use-msa-or-aad.md
  subscriptions/solutions/signing-in/includes/admin-when-i-sign-in-there-is-no-agreement.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-cloud-self.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-dev-essentials.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-retail.md
  subscriptions/solutions/signing-in/includes/how-do-i-change-my-sign-in-email-volume-licensing.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6640 Typo "Azure SQL database"→"Azure SQL Database"
  docs/azure/azure-sql-database-add-connected-service.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#6440 Document where the VSIX theming tool tool can be found
  docs/extensibility/internals/vsix-color-compiler.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#6439 Update csc-task.md
  docs/msbuild/csc-task.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6745 Repo sync for protected CLA branch
  docs/version-control/media/git-source-control-inner-loop.png
  docs/version-control/media/git-source-control-repository-management.png
Labels: CLA, do-not-merge, review-team-triage

#6747 Repo sync for protected CLA branch
  subscriptions/vs-azure.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6705 Update format-specifiers-in-cpp.md
  docs/debugger/format-specifiers-in-cpp.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6752 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/xaml-tools/xaml-design-time-sample-data.md
  docs/xaml-tools/xaml-designtime-data.md
  mac/2017/javascript.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6753 Remove ACR
  docs/containers/includes/vs-2017/container-tools.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#6754 Update how VS Build Tools is installed
  docs/install/build-tools-container.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-installation/tech

#6755 Repo sync for protected CLA branch
  docs/install/build-tools-container.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6757 Repo sync for protected CLA branch
  docs/deployment/creating-bootstrapper-packages.md
  docs/deployment/how-to-create-a-localized-bootstrapper-package.md
  docs/deployment/how-to-include-prerequisites-with-a-clickonce-application.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-deployment/tech

#6760 Repo sync for protected CLA branch
  docs/ide/not-in-toc/default.md
Labels: CLA, change sent to author, do-not-merge, visual-studio/prod, vs-ide-general/tech

#6761 Repo sync for protected CLA branch
  subscriptions/subscription-expiration.md
Labels: CLA, do-not-merge

#6762 Repo sync for protected CLA branch
  docs/modeling/map-methods-on-the-call-stack-while-debugging-in-visual-studio.md
  docs/python/data-science-and-analytical-applications-workload.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-modeling/tech

#6771 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-console.md
  docs/get-started/tutorial-editor.md
  docs/get-started/tutorial-projects-solutions.md
  docs/get-started/visual-basic/tutorial-console.md
  docs/get-started/visual-studio-ide.md
  docs/ide/advanced-feature-overview.md
  docs/ide/create-new-project.md
  docs/ide/creating-solutions-and-projects.md
  docs/ide/index.yml
  docs/ide/quickstart-aspnet-core.md
  docs/ide/quickstart-csharp-console.md
  docs/ide/quickstart-fsharp.md
  docs/ide/quickstart-ide-orientation.md
  docs/ide/quickstart-nodejs.md
  docs/ide/quickstart-python.md
  docs/ide/quickstart-visual-basic-console.md
  docs/ide/solutions-and-projects-in-visual-studio.md
  docs/ide/whats-new-visual-studio-2019.md
  docs/install/change-installation-locations.md
  docs/install/install-visual-studio.md
  docs/install/modify-visual-studio.md
  docs/install/repair-visual-studio.md
  docs/install/troubleshooting-installation-issues.md
  docs/install/update-visual-studio.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-00-installation.md
  docs/sharepoint/create-sharepoint-solutions.md
  docs/sharepoint/developing-sharepoint-solutions.md
  docs/sharepoint/getting-started-sharepoint-development-in-visual-studio.md
  docs/sharepoint/how-to-add-and-remove-mapped-folders.md
  docs/sharepoint/how-to-create-a-bdc-model.md
  docs/sharepoint/how-to-create-a-sharepoint-web-part-by-using-a-designer.md
  docs/sharepoint/includes/moss-14-long-md.md
  docs/sharepoint/includes/moss-14-short-md.md
  docs/sharepoint/includes/wss-14-long-md.md
  docs/sharepoint/includes/wss-14-short-md.md
  docs/sharepoint/walkthrough-creating-a-web-part-for-sharepoint-by-using-a-designer.md
  docs/sharepoint/walkthrough-debugging-a-sharepoint-application-by-using-intellitrace.md
Labels: CLA, do-not-merge, review-team-triage

#6773 Repo sync for protected CLA branch
  docs/ide/reference/options-dialog-box-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/version-control/git-settings.md
  docs/version-control/git-with-visual-studio.md
  docs/version-control/index.yml
  docs/version-control/media/checkout-branch-setting.png
  docs/version-control/media/close-sln-setting.png
  docs/version-control/media/credential-helper-setting.png
  docs/version-control/media/default-location-setting.png
  docs/version-control/media/download-image-setting.png
  docs/version-control/media/git-files-setting.png
  docs/version-control/media/git-menu-settings.png
  docs/version-control/media/git-options-settings.png
  docs/version-control/media/git-preview-feature.png
  docs/version-control/media/load-solution-setting.png
  docs/version-control/media/merge-commit-setting.png
  docs/version-control/media/network-provider-setting.png
  docs/version-control/media/ok-button.png
  docs/version-control/media/open-folder-setting.png
  docs/version-control/media/prune-setting.png
  docs/version-control/media/push-force-setting.png
  docs/version-control/media/rebase-setting.png
  docs/version-control/media/remotes-settings.png
  docs/version-control/media/source-control-settings.png
  docs/version-control/media/tools-setting.png
  docs/version-control/media/user-email-setting.png
  docs/version-control/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6775 Repo sync for protected CLA branch
  docs/_breadcrumb/toc.yml
Labels: CLA, do-not-merge, review-team-triage

#6781 Add two new built-in MSBuild properties
  docs/msbuild/msbuild-reserved-and-well-known-properties.md
Labels: change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6783 Repo sync for protected CLA branch
  docs/ide/media/search-error-page-sm.png
  docs/ide/media/search-error-page.png
  docs/ide/not-in-toc/default.md
  docs/ide/whats-new-visual-studio-2019.md
  docs/version-control/git-with-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6785 Repo sync for protected CLA branch
  docs/ide/class-designer/how-to-add-class-diagrams-to-projects.md
  docs/ide/signing-in-to-visual-studio.md
  docs/modeling/use-code-maps-to-debug-your-applications.md
  docs/windows/index.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6787 Update msb3270.md
  docs/msbuild/errors/msb3270.md
Labels: change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6788 Fixed other samples link
  docs/extensibility/migration/samples.md
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#6791 Repo sync for protected CLA branch
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
  subscriptions/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-dev16/prod, vs-unity-tools/tech

#6742 Update using-the-debuggerdisplay-attribute.md
  docs/debugger/using-the-debuggerdisplay-attribute.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-debug/tech

#6784 Updated link to Visual Studio SDK docs
  docs/modeling/getting-started-with-domain-specific-languages.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-modeling/tech

#6602 Remove references to EOL Windows 10, version 1903
  docs/containers/container-tools-react.md
  docs/containers/includes/vs-2019/container-tools.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-dev16/prod, vs-azure/tech

#6663 Adding to AvailableItemName group causes item to appear in Solution Explorer
  docs/msbuild/visual-studio-integration-msbuild.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6671 Update minimum disk space for a complete vslayout
  docs/install/create-an-offline-installation-of-visual-studio.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-installation/tech

#6794 Repo sync for protected CLA branch
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
  docs/xaml-tools/creating-a-ui-by-using-xaml-designer-in-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-javascript/tech

#6797 Repo sync for protected CLA branch
  docker/tutorials/use-bind-mounts.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-azure/tech

#6801 Repo sync for protected CLA branch
  docs/ide/not-in-toc/default.md
Labels: CLA, change sent to author, do-not-merge, visual-studio/prod, vs-ide-general/tech

#6804 Repo sync for protected CLA branch
  docs/debugger/error-evaluating-the-function-function-timed-out-and-needed-to-be-aborted-in-an-unsafe-way.md
  docs/debugger/watch-and-quickwatch-windows.md
  docs/ide/creating-solutions-and-projects.md
  docs/ide/how-to-add-or-remove-references-by-using-the-reference-manager.md
  docs/ide/not-in-toc/default-f1-javascript.md
  docs/ide/not-in-toc/default-f1-text-editor.md
  docs/ide/not-in-toc/default-f1-typescript.md
  docs/ide/not-in-toc/default.md
  docs/ide/reference/error-list-window.md
  docs/ide/reference/go-to-line.md
  docs/ide/reference/output-window.md
  docs/ide/reference/toolbox.md
  docs/ide/solutions-and-projects-in-visual-studio.md
  docs/ide/viewing-the-structure-of-code.md
  docs/install/import-export-installation-configurations.md
  docs/install/install-visual-studio.md
  docs/test/run-unit-tests-with-test-explorer.md
  docs/toc.yml
Labels: CLA, do-not-merge

#6803 Remove unexpected ">" in the PackageReference
  docs/extensibility/migration/update-visual-studio-extension.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#6795 Update default-keyboard-shortcuts-for-frequently-used-commands-in-vis…
  docs/ide/default-keyboard-shortcuts-for-frequently-used-commands-in-visual-studio.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6778 Remove redundant code
  docs/extensibility/launch-visual-studio-dte.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#6722 Fix wrong path format due to escaping
  docs/msbuild/errors/msb3644.md
Labels: aq-pr-triaged, change sent to author, do-not-merge, msbuild/tech, visual-studio-windows/prod

#6807 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/ide/not-in-toc/default-f1-javascript.md
  docs/ide/not-in-toc/default-f1-text-editor.md
  docs/ide/not-in-toc/default-f1-typescript.md
  docs/ide/work-with-multi-factor-authentication.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6810 Repo sync for protected CLA branch
  docs/docfx.json
  docs/extensibility/locating-visual-studio.md
  docs/ide/reference/command-prompt-powershell.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-sdk/tech

#6817 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/azure/vs-azure-tools-resources-managing-with-cloud-explorer.md
  docs/azure/vs-azure-tools-virtual-machines-access-from-server-explorer.md
  docs/containers/bridge-to-kubernetes.md
  docs/ide/csharp-developer-productivity.md
  docs/ide/default-keyboard-shortcuts-for-frequently-used-commands-in-visual-studio.md
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
  docs/ide/identifying-and-customizing-keyboard-shortcuts-in-visual-studio.md
  docs/install/build-tools-container-issues.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/toc.yml
Labels: CLA, do-not-merge

#6816 Resolve syncing conflicts from repo_sync_working_branch to master
  .openpublishing.redirection.json
  docs/azure/vs-azure-tools-resources-managing-with-cloud-explorer.md
  docs/azure/vs-azure-tools-virtual-machines-access-from-server-explorer.md
  docs/containers/bridge-to-kubernetes.md
  docs/ide/csharp-developer-productivity.md
  docs/ide/default-keyboard-shortcuts-for-frequently-used-commands-in-visual-studio.md
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
  docs/ide/identifying-and-customizing-keyboard-shortcuts-in-visual-studio.md
  docs/install/build-tools-container-issues.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/toc.yml
Labels: change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6818 Repo sync for protected CLA branch
  docs/get-started/includes/ide-overview.md
  docs/get-started/visual-studio-ide.md
  docs/ide/media/solution-explorer-menu-bar.png
  docs/ide/media/solution-explorer-tool-window.png
  docs/ide/reference/connected-experiences.md
  docs/ide/use-solution-explorer.md
  docs/toc.yml
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6819 Repo sync for protected CLA branch
  docs/ide/use-solution-explorer.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech
