Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2021-04, with the labels that each got.

#6560 Repo sync for protected CLA branch
  mac/installation.md
  subscriptions/faq/subscriber/benefits/includes/available-benefits.md
  subscriptions/faq/subscriber/benefits/includes/use-benefits.md
  subscriptions/faq/subscriber/renewals/includes/how-to-renew-subscriptions.md
  subscriptions/faq/subscriber/renewals/includes/renewal-period.md
  subscriptions/faq/subscriber/renewals/index.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6565 Repo sync for protected CLA branch
  docs/install/applying-administrator-updates.md
  docs/install/controlling-updates-to-visual-studio-deployments.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/enabling-administrator-updates.md
  docs/install/set-defaults-for-enterprise-deployments.md
  docs/install/tools-for-managing-visual-studio-instances.md
  docs/install/update-a-network-installation-of-visual-studio.md
  docs/install/update-visual-studio.md
  docs/install/visual-studio-administrator-guide.md
  docs/install/visual-studio-enterprise-guide.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6569 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs-history.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/install/applying-administrator-updates.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6571 Repo sync for protected CLA branch
  docs/ide/reference/command-prompt-powershell.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6512 Update isolating-code-under-test-with-microsoft-fakes.md
  docs/test/isolating-code-under-test-with-microsoft-fakes.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech

#6573 Repo sync for protected CLA branch
  docs/ide/reference/command-prompt-powershell.md
  docs/ide/using-intellisense.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6576 Repo sync for protected CLA branch
  subscriptions/solutions/downloading-activating-or-using-software/using-product-features/includes/azure-devops-technical-support.md
  subscriptions/solutions/downloading-activating-or-using-software/using-product-features/includes/visual-studio-ide-technical-support.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6584 Repo sync for protected CLA branch
  docs/ide/personalizing-the-visual-studio-ide.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6586 Repo sync for protected CLA branch
  docs/debugger/debugging-absolute-beginners.md
  docs/install/set-defaults-for-enterprise-deployments.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/test/getting-started-with-unit-testing.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6589 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  subscriptions/solutions/downloading-activating-or-using-software/using-product-features/includes/visual-studio-ide-technical-support.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-installation/tech

#6591 Repo sync for protected CLA branch
  subscriptions/solutions/other-or-no-solution/includes/no-solution.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-subscriptions/tech

#6609 Repo sync for protected CLA branch
  docs/install/applying-administrator-updates.md
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/install/includes/install-error-codes-md.md
  docs/install/update-a-network-installation-of-visual-studio.md
  docs/install/use-command-line-parameters-to-install-visual-studio.md
  subscriptions/faq/admin/renewal-cancellation/includes/how-to-purchase.md
  subscriptions/faq/admin/renewal-cancellation/index.md
  subscriptions/faq/subscriber/benefits/includes/available-benefits.md
  subscriptions/faq/subscriber/benefits/includes/use-benefits.md
  subscriptions/faq/subscriber/benefits/index.md
  subscriptions/faq/subscriber/portal/includes/alternate-identities.md
  subscriptions/faq/subscriber/renewals/includes/how-to-purchase-subscriber.md
  subscriptions/faq/subscriber/renewals/includes/how-to-view-invoice.md
  subscriptions/faq/subscriber/renewals/index.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-family/prod, vs-installation/tech

#6614 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/xaml-tools/creating-a-ui-by-using-xaml-designer-in-visual-studio.md
  docs/xaml-tools/xaml-code-editor.md
  gamedev/toc.yml
  gamedev/unity/change-log-visual-studio-tools-for-unity.md
  gamedev/unity/extensibility/customize-project-files-created-by-vstu.md
  gamedev/unity/extensibility/programming-visual-studio-tools-for-unity.md
  gamedev/unity/extensibility/share-the-unity-log-callback-with-vstu.md
  gamedev/unity/troubleshooting/troubleshooting-and-known-issues-visual-studio-tools-for-unity.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-dev16/prod, vs-unity-tools/tech

#6619 Repo sync for protected CLA branch
  docs/debugger/how-to-debug-managed-memory-dump.md
  docs/debugger/media/diagnostic-analyzer-call-stack.png
  docs/debugger/media/diagnostic-analyzer-decompilation.png
  docs/debugger/media/diagnostic-analyzer-decompiled-code.png
  docs/debugger/media/diagnostic-analyzer-diagnostics-analysis-results.png
  docs/debugger/media/diagnostic-analyzer-diagnostics-analysis-window.png
  docs/debugger/media/diagnostic-analyzer-dump-summary-actions.png
  docs/debugger/toc.yml
  docs/debugger/using-dump-files.md
  docs/python/installing-python-interpreters.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-03-interactive-repl.md
  docs/python/working-with-c-cpp-python-in-visual-studio.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-python/tech

#6620 Improve working-with-c-cpp-python-in-visual-studio.md
  docs/python/working-with-c-cpp-python-in-visual-studio.md
Labels: aq-pr-triaged, change sent to author, ready-to-merge, visual-studio-windows/prod, vs-python/tech

#6629 Repo sync for protected CLA branch
  docs/debugger/debug-interface-access/idiasymbol-get-framepadoffset.md
  docs/debugger/debug-interface-access/idiasymbol-get-framepadsize.md
  docs/debugger/debug-interface-access/idiasymbol-get-isrtcs.md
  docs/debugger/debug-interface-access/toc.yml
  docs/ide/filtered-solutions.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-dev16/prod, vs-ide-debug/tech

#6635 Repo sync for protected CLA branch
  docs/ide/codespaces/codespaces-overview.md
  docs/ide/filtered-solutions.md
Labels: CLA, change sent to author, do-not-merge, visual-studio-windows/prod, vs-ide-general/tech

#6636 Repo sync for protected CLA branch
  docs/toc.yml
Labels: CLA, do-not-merge, review-team-triage
