Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-12, with the labels that each got.

#8712 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2022.md
  docs/install/administrative-templates.md
  docs/install/applying-administrator-updates.md
  docs/install/changed-payloads.md
  docs/install/enabling-administrator-updates.md
  docs/install/includes/workloads-components-header-2017_md.md
  docs/install/includes/workloads-components-header-2019_md.md
  docs/install/includes/workloads-components-header-2022.md
  docs/install/out-of-support-components.md
  docs/install/set-defaults-for-enterprise-deployments.md
  docs/install/update-servicing-baseline.md
  docs/install/update-visual-studio.md
  docs/install/use-command-line-parameters-to-install-visual-studio.md
  docs/install/visual-studio-administrator-guide.md
  docs/install/visual-studio-on-arm-devices.md
  docs/install/workload-and-component-ids.md
  docs/install/workload-component-id-vs-enterprise.md
  docs/toc.yml
  docs/windows/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA, needs-human-review

#8713 Repo sync for protected CLA branch
  docker/tutorials/docker-tutorial.md
  docs/containers/deploy-containerized.md
  docs/containers/index.yml
  docs/containers/media/deploy-containerized/azure-container-apps-create-new.png
  docs/containers/media/deploy-containerized/enable-admin-user.png
  docs/containers/media/deploy-containerized/enter-publish-credentials.png
  docs/containers/media/deploy-containerized/publish-azure-container-apps-linux.png
  docs/containers/media/deploy-containerized/publish-azure-container-registry.png
  docs/containers/media/deploy-containerized/publish-docker-container-registry.png
  docs/containers/media/deploy-containerized/publish-docker-hub.png
  docs/containers/media/deploy-containerized/publish-profile-screen.png
  docs/containers/media/deploy-containerized/select-azure-container-app.png
  docs/containers/toc.yml
Labels: do-not-merge, change sent to author, CLA, vs-container-tools/tech, vs-code/prod, needs-human-review

#8715 Repo sync for protected CLA branch
  docs/ide/reference/team-explorer-reference.md
  docs/version-control/git-push-remote.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8716 Repo sync for protected CLA branch
  docs/ide/reference/fonts-and-colors-environment-options-dialog-box.md
  docs/ide/using-intellisense.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8701 Add git shortcuts to accessibility-tips-and-tricks
  docs/ide/reference/accessibility-tips-and-tricks.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#8725 improve code formatting
  docs/test/remote-testing.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, needs-human-review

#8730 Repo sync for protected CLA branch
  docs/install/build-tools-container.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8731 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
  subscriptions/new-subscriber.md
  subscriptions/toc.yml
  subscriptions/use-visual-studio-without-key.md
  subscriptions/volume-license.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8734 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8736 Repo sync for protected CLA branch
  docs/debugger/troubleshooting-breakpoints.md
  docs/profiling/instrument-dotnet-framework-component-and-collect-timing-data.md
  docs/profiling/instrument-native-component-and-collect-timing-data.md
  docs/profiling/vsperfcmd.md
  docs/test/using-shims-to-isolate-your-application-from-other-assemblies-for-unit-testing.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA, needs-human-review

#8744 Repo sync for protected CLA branch
  docs/msbuild/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA, needs-human-review

#8745 Repo sync for protected CLA branch
  docs/python/learn-django-in-visual-studio-step-04-full-django-project-template.md
  docs/python/learn-django-in-visual-studio-step-05-django-authentication.md
  docs/python/managing-python-environments-in-visual-studio.md
  mac/includes/gdpr-hybrid-note.md
  mac/visual-studio-experience-improvement-program.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA, needs-human-review

#8747 Repo sync for protected CLA branch
  docs/debugger/debug-using-the-just-in-time-debugger.md
  docs/debugger/finding-memory-leaks-using-the-crt-library.md
  docs/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger.md
  docs/debugger/using-breakpoints.md
  docs/get-started/csharp/media/vs-2022/get-started-create-console-project.png
  docs/get-started/csharp/tutorial-debugger.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/javascript/npm-package-management.md
  docs/python/data-science-and-analytical-applications-workload.md
  docs/python/installing-python-support-in-visual-studio.md
  docs/python/interactive-repl-ipython.md
  docs/python/using-python-cookiecutter-templates.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/getting-started-with-unit-testing.md
  docs/test/run-unit-tests-with-test-explorer.md
  docs/test/walkthrough-creating-and-running-unit-tests-for-managed-code.md
  gamedev/unity/change-log-visual-studio-tools-for-unity-mac.md
  gamedev/unity/change-log-visual-studio-tools-for-unity.md
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, CLA, needs-human-review

#8749 fix CLI vs CLR typo in test documentation
  docs/test/using-code-coverage-to-determine-how-much-code-is-being-tested.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8751 Repo sync for protected CLA branch
  docs/get-started/csharp/media/vs-2022/calculator-add-project-reference.png
  docs/get-started/csharp/media/vs-2022/calculator-add-project.png
  docs/get-started/csharp/media/vs-2022/calculator-manage-nuget-packages.png
  docs/get-started/csharp/media/vs-2022/calculator-nuget-newtonsoft-json.png
  docs/get-started/csharp/media/vs-2022/calculator-solution-explorer-with-class-library.png
  docs/get-started/csharp/media/vs-2022/calculator-solution-explorer-with-project-reference.png
  docs/get-started/csharp/tutorial-console-part-2.md
  docs/ide/environment-settings.md
  docs/ide/identifying-and-customizing-keyboard-shortcuts-in-visual-studio.md
  docs/ide/media/export-shortcuts.png
  docs/ide/media/exportshortcuts.png
  docs/ide/media/import-export-settings-collections.png
  docs/ide/media/import-export-settings-wizard.png
  docs/ide/media/import-shortcuts.png
  docs/ide/media/importshortcuts.png
  docs/ide/media/optionskeyboard.png
  docs/ide/media/reassign-shortcut.png
  docs/ide/media/settings-collections.png
  docs/ide/media/tools-options-environment-keyboard.png
  docs/ide/media/view-solution-explorer-command-shortcut.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8756 Repo sync for protected CLA branch
  docs/ide/code-snippets.md
  docs/ide/media/code-snippets-manager.png
  docs/install/visual-studio-administrator-guide.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA, needs-human-review

#8761 Repo sync for protected CLA branch
  docs/ide/reference/command-prompt-powershell.md
  docs/install/command-line-parameter-examples.md
  docs/install/enabling-administrator-updates.md
  docs/install/update-servicing-baseline.md
  docs/install/update-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8763 Fix formatting
  mac/ide-tour.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod, qualifies-for-auto-merge

#8767 Repo sync for protected CLA branch
  .openpublishing.redirection.mac.json
  docs/debugger/error-unable-to-start-debugging-on-the-web-server.md
  docs/ide/media/task-list-bookmark-shortcut.png
  docs/ide/media/task-list-window.png
  docs/ide/media/tools-options-environment-task-list.png
  docs/ide/using-the-task-list.md
  docs/install/tools-for-managing-visual-studio-instances.md
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
  docs/test/using-microsoft-visualstudio-testtools-unittesting-members-in-unit-tests.md
  mac/TOC.yml
  mac/accessibility.md
  mac/asp-net-core.md
  mac/docfx.json
  mac/ide-tour.md
  mac/installation.md
  mac/integrated-terminal.md
  mac/media/version-control-commitPush.png
  mac/media/version-control-gitBranchName.png
  mac/media/version-control-gitChange.png
  mac/media/version-control-gitCommit.png
  mac/media/version-control-gitLog.png
  mac/media/version-control-gitPush.png
  mac/media/version-control-gitReviewCommit.png
  mac/media/version-control-gitTabs.png
  mac/media/version-control-gitVersionControlMenu.png
  mac/media/version-control-subversion1-sml.png
  mac/media/version-control-subversion2.png
  mac/media/version-control-subversion3.png
  mac/media/version-control-subversion5.png
  mac/media/version-control-svnCommit.png
  mac/media/version-control-svnVersionControlMenu.png
  mac/media/version-control-vcStatus.png
  mac/media/version-control-vcTabs.png
  mac/set-up-git-repository.md
  mac/set-up-subversion-repository.md
  mac/signing-in.md
  mac/tf-version-control.md
  mac/uninstall.md
  mac/update.md
  mac/version-control.md
  mac/vsmac-for-windows-users.md
  mac/working-with-git-2019.md
  mac/working-with-subversion.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-install/tech, CLA, needs-human-review

#8768 Update disable-dpi-awareness.md
  docs/designers/disable-dpi-awareness.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-designers/tech, qualifies-for-auto-merge

#8778 Repo sync for protected CLA branch
  docs/debugger/error-the-web-server-is-not-configured-correctly.md
  docs/debugger/view-data-in-ienumerable-visualizer.md
  docs/javascript/tutorial-aspnet-with-typescript.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA

#8782 Repo sync for protected CLA branch
  docs/azure/azure-app-insights-add-connected-service.md
  docs/azure/azure-cache-for-redis-add-connected-service.md
  docs/azure/azure-cosmosdb-add-connected-service.md
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/debug-azure-apps.md
  docs/debugger/media/vs-2022/visual-studio-remote-debug-attach-to-process.png
  docs/debugger/media/vs-2022/visual-studio-remote-debug-azure-search.png
  docs/debugger/media/vs-2022/visual-studio-remote-debug-azure-settings-small.png
  docs/debugger/media/vs-2022/visual-studio-remote-debug-azure-settings.png
  docs/debugger/media/vs-2022/visual-studio-remote-debug-settings.png
  docs/debugger/media/vs-2022/visual-studio-symbol-files.png
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/debugger/remote-debugging-azure-app-service.md
  docs/debugger/remote-debugging-azure.md
  docs/debugger/remote-debugging.md
  docs/debugger/toc.yml
  docs/debugger/unable-to-connect-to-the-microsoft-visual-studio-remote-debugging-monitor.md
  docs/ide/creating-project-and-item-templates.md
  docs/toc.yml
  docs/version-control/git-browse-repository.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8783 Repo sync for protected CLA branch
  docs/debugger/about-microsoft-spy-increment.md
  docs/debugger/assertion-failed-dialog-box.md
  docs/debugger/cannot-change-value-dialog-box.md
  docs/debugger/choose-breakpoints-dialog-box.md
  docs/debugger/configure-firewall-for-remote-debugging-dialog-box.md
  docs/debugger/dataset-visualizer-dialog-box.md
  docs/debugger/debug-source-files-common-properties-solution-property-pages-dialog-box.md
  docs/debugger/debugging-errors-and-warning-dialog-boxes.md
  docs/debugger/debugging-options-dialog-box.md
  docs/debugger/debugging-web-applications-errors-and-troubleshooting.md
  docs/debugger/edit-and-continue-dialog-box-cpp.md
  docs/debugger/edit-and-continue-dialog-box.md
  docs/debugger/executable-for-debugging-session-dialog-box.md
  docs/debugger/just-in-time-debugging-options-dialog-box.md
  docs/debugger/menu-commands.md
  docs/debugger/message-options-dialog-box.md
  docs/debugger/message-properties-dialog-box.md
  docs/debugger/microsoft-visual-studio-debugger-exception-thrown-dialog-box.md
  docs/debugger/output-window-debugging-options-dialog-box.md
  docs/debugger/process-properties-dialog-box.md
  docs/debugger/resolve-ambiguity-dialog-box.md
  docs/debugger/search-tools-for-spy-increment-views.md
  docs/debugger/select-code-type-dialog-box.md
  docs/debugger/spy-increment-reference.md
  docs/debugger/stale-code-warning-dialog-box.md
  docs/debugger/stop-debugging-in-progress-dialog-box.md
  docs/debugger/symbol-load-information-dialog-box.md
  docs/debugger/thread-properties-dialog-box.md
  docs/debugger/when-breakpoint-is-hit-dialog-box.md
  docs/debugger/window-properties-dialog-box.md
  docs/deployment/commands-element-bootstrapper.md
  docs/deployment/installchecks-element-bootstrapper.md
  docs/deployment/package-element-bootstrapper.md
  docs/deployment/packagefiles-element-bootstrapper.md
  docs/deployment/product-element-bootstrapper.md
  docs/deployment/relatedproducts-element-bootstrapper.md
  docs/deployment/schedules-element-bootstrapper.md
  docs/deployment/strings-element-bootstrapper.md
  docs/ide/how-to-create-project-templates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8785 Fixes example for dynamic data
  docs/test/how-to-create-a-data-driven-unit-test.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8787 Repo sync for protected CLA branch
  docs/ide/signing-in-to-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8789 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/debugger/how-to-display-message-properties.md
  docs/debugger/how-to-display-process-properties.md
  docs/debugger/how-to-display-thread-properties.md
  docs/debugger/how-to-display-window-properties.md
  docs/debugger/introducing-spy-increment.md
  docs/debugger/messages-view.md
  docs/debugger/processes-view.md
  docs/debugger/threads-view.md
  docs/debugger/toc.yml
  docs/debugger/visualizer-security-considerations.md
  docs/debugger/windows-view.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA, needs-human-review

#8793 Repo sync for protected CLA branch
  docs/designers/disable-dpi-awareness.md
  docs/ide/csharp-developer-productivity.md
  docs/ide/preview-changes.md
  docs/ide/refactoring-in-visual-studio.md
  docs/ide/reference/options-windows-forms-designer.md
  docs/ide/reference/paste-json-xml.md
  docs/ide/reference/unused-values-parameters.md
  docs/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8803 Repo sync for protected CLA branch
  docs/deployment/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA, needs-human-review
