Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-05, with the labels that each got.

#7964 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/ide/how-to-unlock-visual-studio.md
  docs/ide/media/vs-2022/account-settings-filter-account-dialogs-tenants-filtered-out-state.png
  docs/ide/reference/accounts-environment-options-dialog-box.md
  docs/ide/reference/project-properties-reference.md
  docs/ide/signing-in-to-visual-studio.md
  docs/ide/use-solution-explorer.md
  docs/ide/work-with-github-accounts.md
  docs/ide/work-with-multi-factor-authentication.md
  docs/ide/work-with-multiple-user-accounts.md
  docs/toc.yml
  mac/supported-versions-net.md
  subscriptions/handle-expired-license.md
  subscriptions/handle-overclaimed-license.md
  subscriptions/index.yml
  subscriptions/internet-demos.md
  subscriptions/manage-mpn-subscriptions.md
  subscriptions/manage-teams.md
  subscriptions/manage-vs-subscriptions.md
  subscriptions/maximum-usage.md
  subscriptions/microsoft-365-apps-for-enterprise.md
  subscriptions/vs-microsoft-tech-community.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7965 Repo sync for protected CLA branch
  mac/integrated-terminal.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod, CLA

#7968 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7973 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
  gamedev/zone-pivot-groups.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7979 Repo sync for protected CLA branch
  subscriptions/faq/admin/sign-in/index.md
  subscriptions/subscription-removed.md
  subscriptions/vs-developer-community.md
  subscriptions/vs-microsoft-qa.md
  subscriptions/vs-microsoft-tech-community.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7981 Repo sync for protected CLA branch
  docs/ide/find-code-changes-and-other-history-with-codelens.md
Labels: do-not-merge, CLA

#7984 Repo sync for protected CLA branch
  .openpublishing.redirection.mac.json
  mac/TOC.yml
  mac/integrated-terminal.md
  mac/media/vsmac-2022/account-window-after-sign-in.png
  mac/media/vsmac-2022/add-additional-accounts.png
  mac/media/vsmac-2022/enter-sign-in-account-details.png
  mac/media/vsmac-2022/integrated-terminal-customize-font.png
  mac/media/vsmac-2022/integrated-terminal-intro.png
  mac/media/vsmac-2022/keyboard-shortcuts-2022.png
  mac/media/vsmac-2022/move-vsmac-application-to-trash.png
  mac/media/vsmac-2022/preferences-keyboard-shortcuts.png
  mac/media/vsmac-2022/start-sign-in.png
  mac/media/vsmac-2022/vsmac-launch.png
  mac/signing-in.md
  mac/uninstall.md
  mac/user-accounts.md
  mac/vsmac-for-windows-users.md
Labels: do-not-merge, change sent to author, vs-ide-install/tech, visual-studio-mac/prod, CLA

#7995 Repo sync for protected CLA branch
  docs/profiling/media/vs-2022/file-io-after.png
  docs/profiling/media/vs-2022/file-io-backtraces.png
  docs/profiling/media/vs-2022/file-io-duplication-factor.png
  docs/profiling/media/vs-2022/file-io-launch.png
  docs/profiling/media/vs-2022/file-io-reads.png
  docs/profiling/toc.yml
  docs/profiling/use-file-io.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7996 Repo sync for protected CLA branch
  docs/ide/signing-in-to-visual-studio.md
  docs/ide/visual-studio-performance-tips-and-tricks.md
  docs/ide/whats-new-visual-studio-2022.md
Labels: do-not-merge, change sent to author, CLA, visual-studio-dev17/prod

#7960 Fix FxCop.Usage.UseParams code example
  docs/snippets/csharp/VS_Snippets_CodeAnalysis/FxCop.Usage.UseParams/cs/FxCop.Usage.UseParams.cs
Labels: do-not-merge, change sent to author, aq-pr-triaged

#8003 Repo sync for protected CLA branch
  docs/install/includes/vs-2022/workload-component-id-vs-build-tools.md
  docs/install/includes/vs-2022/workload-component-id-vs-community.md
  docs/install/includes/vs-2022/workload-component-id-vs-enterprise.md
  docs/install/includes/vs-2022/workload-component-id-vs-professional.md
  docs/install/includes/vs-2022/workload-component-id-vs-team-explorer.md
  docs/install/includes/vs-2022/workload-component-id-vs-test-agent.md
  docs/install/includes/vs-2022/workload-component-id-vs-test-controller.md
  docs/install/workload-and-component-ids.md
  docs/install/workload-component-id-vs-build-tools.md
  docs/install/workload-component-id-vs-community.md
  docs/install/workload-component-id-vs-enterprise.md
  docs/install/workload-component-id-vs-professional.md
  docs/install/workload-component-id-vs-team-explorer.md
  docs/install/workload-component-id-vs-test-agent.md
  docs/install/workload-component-id-vs-test-controller.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8014 Repo sync for protected CLA branch
  subscriptions/change-org-email-addresses.md
  subscriptions/program-startups.md
  subscriptions/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#8015 Repo sync for protected CLA branch
  docs/python/managing-python-on-azure-app-service.md
Labels: do-not-merge, CLA

#8009 Fixing the PIA component IDs for Office 2016 32bit
  docs/vsto/deploying-a-vsto-solution-by-using-windows-installer.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, office-development/tech, aq-pr-triaged

#8028 Repo sync for protected CLA branch
  docs/python/overview-of-python-tools-for-visual-studio.md
Labels: do-not-merge, CLA

#8030 Repo sync for protected CLA branch
  docs/code-quality/automatic-feature-suspension.md
  docs/code-quality/configure-live-code-analysis-scope-managed-code.md
  docs/code-quality/disable-code-analysis.md
  docs/code-quality/how-to-run-code-analysis-manually-for-managed-code.md
  docs/code-quality/media/background-analysis-scope.png
  docs/code-quality/media/vs-2019/background-analysis-scope.png
  docs/ide/managing-project-and-solution-properties.md
  docs/ide/reference/generate-xml-documentation-comments.md
  docs/ide/reference/intellisense-completion-unimported-types-extension-methods.md
  docs/ide/reference/options-text-editor-basic-visual-basic.md
  docs/ide/reference/options-text-editor-csharp-advanced.md
  docs/ide/visual-csharp-intellisense.md
  subscriptions/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8031 Repo sync for protected CLA branch
  docs/debugger/format-specifiers-in-cpp.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8040 Repo sync for protected CLA branch
  docs/version-control/git-settings.md
  docs/version-control/media/rebase-setting.png
  gamedev/unity/change-log-visual-studio-tools-for-unity.md
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, CLA

#7992 Update toc.yml (Typo ".Sln"→".sln")
  docs/extensibility/internals/toc.yml
Labels: do-not-merge, aq-pr-triaged, review-team-triage

#8005 Update toc.yml (Typo ".Suo"→".suo")
  docs/extensibility/internals/toc.yml
Labels: do-not-merge, aq-pr-triaged, review-team-triage

#8011 Project type and targets were used interchangeably
  docs/containers/edit-and-refresh.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged, vs-container-tools/tech

#7986 Typo ".Suo"→".suo"
  docs/extensibility/internals/solution-user-options-dot-suo-file.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#7982 Typo ".Sln"→".sln"
  docs/extensibility/internals/solution-dot-sln-file.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#8042 Repo sync for protected CLA branch
  docs/javascript/media/vs-2022/asp-net-core-with-angular-solution-explorer.png
  docs/javascript/media/vs-2022/asp-net-core-with-react-solution-explorer.png
  mac/integrated-terminal.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8051 Repo sync for protected CLA branch
  docs/ide/managing-external-tools.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8056 Repo sync for protected CLA branch
  docs/ide/code-styles-and-code-cleanup.md
  docs/ide/common-quick-actions.md
  docs/ide/how-to-manage-editor-modes.md
  docs/ide/reference/options-text-editor-basic-visual-basic.md
  docs/ide/reference/setting-language-specific-editor-options.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8057 Repo sync for protected CLA branch
  docs/ide/managing-project-and-solution-properties.md
Labels: do-not-merge, CLA

#8059 Repo sync for protected CLA branch
  docs/ide/synchronized-settings-in-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8064 Repo sync for protected CLA branch
  docs/install/visual-studio-on-arm-devices.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8066 Repo sync for protected CLA branch
  docs/extensibility/vsix/publish/create-extension-pack.md
  docs/extensibility/vsix/recipes/use-themes.md
  docs/ide/developer-community-guidelines.md
  mac/tf-version-control.md
  subscriptions/assign-license-bulk.md
  subscriptions/product-availability.md
  subscriptions/product-keys.md
  subscriptions/program-mpn.md
  subscriptions/program-startups.md
  subscriptions/search-license.md
  subscriptions/sign-in-github.md
  subscriptions/sign-in-issues.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8068 Repo sync for protected CLA branch
  mac/installation.md
  mac/media/vsmac-2022/install-installer-sml.png
  mac/media/vsmac-2022/install-installer.png
  mac/media/vsmac-2022/installation-progress-sml.png
  mac/media/vsmac-2022/installation-progress.png
  mac/media/vsmac-2022/installer-internet-warning-sml.png
  mac/media/vsmac-2022/installer-internet-warning.png
  mac/media/vsmac-2022/installer-privacy-sml.png
  mac/media/vsmac-2022/installer-privacy.png
  mac/media/vsmac-2022/installer-workloads-sml.png
  mac/media/vsmac-2022/installer-workloads.png
  mac/media/vsmac-2022/visual-studio-update-box.png
  mac/media/vsmac-2022/visual-studio-update-channel.png
  mac/update.md
Labels: do-not-merge, change sent to author, vs-ide-install/tech, visual-studio-mac/prod, CLA

#8052 Fix minor typo in container-build
  docs/containers/container-build.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged, vs-container-tools/tech

#8050 Removed two near duplicate sentences
  docs/containers/edit-and-refresh.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged, vs-container-tools/tech

#8043 Typo "MsBuild.exe"→"MSBuild.exe"
  docs/azure/vs-azure-tools-publishing-using-powershell-scripts.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-azure/tech, aq-pr-triaged

#8072 Repo sync for protected CLA branch
  docs/python/configure-web-apps-for-iis-windows.md
  subscriptions/sign-in-msa.md
  subscriptions/sign-in-work.md
  subscriptions/software-download-list.md
  subscriptions/subscription-expiration.md
  subscriptions/subscription-level-changes.md
Labels: do-not-merge, change sent to author, vs-python/tech, visual-studio-family/prod, CLA

#8074 Update URL name to "Visual Studio Installer Projects Extension and .NET 6.0"
  docs/deployment/deploying-applications-services-and-components.md
  docs/deployment/toc.yml
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-deployment/tech, aq-pr-triaged

#8044 Update debug-live-azure-apps-troubleshooting.md
  docs/debugger/debug-live-azure-apps-troubleshooting.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#8075 Repo sync for protected CLA branch
  docs/debugger/decompilation.md
  docs/help-viewer/accessibility-features.md
  docs/help-viewer/administrator-guide.md
  docs/help-viewer/behavior-overrides.md
  docs/help-viewer/command-line-arguments.md
  docs/help-viewer/find-topics.md
  docs/help-viewer/install-manage-local-content.md
  docs/help-viewer/media/accessibility-features/add-favorites-keyboard-shortcut.png
  docs/help-viewer/media/accessibility-features/double-headed-arrow-icon.png
  docs/help-viewer/media/accessibility-features/move-help-viewer.png
  docs/help-viewer/media/accessibility-features/resize-help-viewer.png
  docs/help-viewer/media/accessibility-features/toolbar-viewer-options-button.png
  docs/help-viewer/media/accessibility-features/viewer-options-set-text-size.png
  docs/test/media/vs-2022/analyze-code-coverage.png
  docs/test/using-code-coverage-to-determine-how-much-code-is-being-tested.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#8076 Repo sync for protected CLA branch
  docs/azure/azure-cache-for-redis-add-connected-service.md
  docs/ide/outlining.md
  subscriptions/subscription-removed.md
  subscriptions/use-connected-identities.md
  subscriptions/using-admin-portal.md
  subscriptions/using-the-subscriber-portal.md
  subscriptions/volume-license.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-family/prod, CLA

#8078 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, CLA

#8087 Typo ".Sln"→".sln"
  docs/extensibility/internals/solutions-overview.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech

#8094 Repo sync for protected CLA branch
  docs/extensibility/vssdk-messages/index.md
  docs/extensibility/vssdk-messages/vsixcompatibility1001.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA
