Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-04, with the labels that each got.

#7853 Repo sync for protected CLA branch
  docs/ide/find-and-fix-code-errors.md
  docs/ide/media/debug-build-solution-menu-item.png
  docs/ide/reference/options-text-editor-advanced.md
  docs/profiling/media/dbg-mma-instances-icon.png
  docs/profiling/media/vs-2019/dbgdiag-mem-choose-compare-to.png
  docs/profiling/media/vs-2019/dbgdiag-mem-choose-diff-report.png
  docs/profiling/media/vs-2019/dbgdiag-mem-managed-types-report-instances.png
  docs/profiling/media/vs-2019/dbgdiag-mem-managed-types-report-paths-to-root.png
  docs/profiling/media/vs-2019/dbgdiag-mem-managed-types-report-referenced-types.png
  docs/profiling/media/vs-2019/dbgdiag-mem-mixed-toolbar-enable-snapshot.png
  docs/profiling/media/vs-2019/dbgdiag-mem-mixed-toolbar-take-snapshot.png
  docs/profiling/media/vs-2019/dbgdiag-mem-native-instances.png
  docs/profiling/media/vs-2019/dbgdiag-mem-native-stacks-view.png
  docs/profiling/media/vs-2019/dbgdiag-mem-native-types-view-diff.png
  docs/profiling/media/vs-2019/dbgdiag-mem-native-types-view.png
  docs/profiling/media/vs-2019/dbgdiag-mem-summary-table.png
  docs/profiling/media/vs-2019/diag-tools-select-tool-2.png
  docs/profiling/media/vs-2019/diag-tools-summary-tab-2.png
  docs/profiling/media/vs-2022/dbgdiag-mem-choose-compare-to.png
  docs/profiling/media/vs-2022/dbgdiag-mem-choose-diff-report.png
  docs/profiling/media/vs-2022/dbgdiag-mem-managed-types-report-instances.png
  docs/profiling/media/vs-2022/dbgdiag-mem-managed-types-report-paths-to-root.png
  docs/profiling/media/vs-2022/dbgdiag-mem-managed-types-report-referenced-types.png
  docs/profiling/media/vs-2022/dbgdiag-mem-mixed-toolbar-enable-snapshot.png
  docs/profiling/media/vs-2022/dbgdiag-mem-mixed-toolbar-take-snapshot.png
  docs/profiling/media/vs-2022/dbgdiag-mem-native-instances.png
  docs/profiling/media/vs-2022/dbgdiag-mem-native-stacks-view.png
  docs/profiling/media/vs-2022/dbgdiag-mem-native-types-view-diff.png
  docs/profiling/media/vs-2022/dbgdiag-mem-native-types-view.png
  docs/profiling/media/vs-2022/dbgdiag-mem-summary-table.png
  docs/profiling/media/vs-2022/diag-tools-select-tool-2.png
  docs/profiling/media/vs-2022/diag-tools-summary-tab-2.png
  docs/profiling/memory-usage.md
  docs/profiling/what-s-new-in-profiling-tools.md
Labels: do-not-merge, CLA

#7855 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/reference/how-to-change-fonts-and-colors-in-the-editor.md
  docs/ide/reference/how-to-set-ide-accessibility-options.md
  docs/python/includes/vs-2017/unit-testing-python.md
  docs/python/includes/vs-2019/unit-testing-python.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-00-installation.md
  docs/python/unit-testing-python-in-visual-studio.md
  docs/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#7862 Repo sync for protected CLA branch
  docker/TOC.yml
  docker/tutorials/tutorial-multi-container-app-mysql.md
Labels: do-not-merge, change sent to author, CLA, vs-code/prod

#7864 Repo sync for protected CLA branch
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/reference/accessibility-tips-and-tricks.md
  docs/ide/reference/media/system-sounds-dialog-windows-11.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7865 Repo sync for protected CLA branch
  docs/debugger/debug-interface-access/basictype.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7801 Update customizing-the-ide.md
  mac/customizing-the-ide.md
Labels: do-not-merge, change sent to author, aq-pr-triaged

#7860 Update VS Mac 8.10 support info on Apple Silicon
  mac/uninstall-net-2019.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod, aq-pr-triaged

#7868 Repo sync for protected CLA branch
  docs/designers/disable-dpi-awareness.md
  docs/designers/media/scaling-gold-bar-message-1.png
  docs/designers/media/scaling-gold-bar-message.png
  docs/designers/media/win-forms-designer-hdpi-1.gif
  docs/designers/media/win-forms-designer-hdpi.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-designers/tech, CLA

#7869 Fix typo on msbuild-well-known-item-metadata.md
  docs/msbuild/msbuild-well-known-item-metadata.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech

#7870 Repo sync for protected CLA branch
  docs/debugger/media/vs-2019/quickwatch-expression.png
  docs/debugger/media/vs-2019/quickwatch-variable.png
  docs/debugger/media/vs-2019/refresh-watch.png
  docs/debugger/media/vs-2019/watch-expression-error.png
  docs/debugger/media/vs-2019/watch-expression.png
  docs/debugger/media/vs-2019/watch-variable.png
  docs/debugger/media/vs-2022/quickwatch-expression.png
  docs/debugger/media/vs-2022/quickwatch-variable.png
  docs/debugger/media/vs-2022/refresh-watch.png
  docs/debugger/media/vs-2022/watch-expression-error.png
  docs/debugger/media/vs-2022/watch-expression.png
  docs/debugger/media/vs-2022/watch-variable.png
  docs/debugger/media/watchvariables.PNG
  docs/debugger/watch-and-quickwatch-windows.md
  docs/test/generate-unit-tests-for-your-code-with-intellitest.md
  docs/test/media/vs-2019/pex-create-intellitest-extensions.png
  docs/test/media/vs-2019/pex-create-intellitest-mstest.png
  docs/test/media/vs-2019/pex-create-intellitest.png
  docs/test/media/vs-2019/pex-exploration-results.png
  docs/test/media/vs-2019/pex-fix-warning.png
  docs/test/media/vs-2019/pex-view-warning.png
  docs/test/media/vs-2019/pex-warnings-fixed.png
  docs/test/media/vs-2019/run-pex.png
  docs/test/media/vs-2019/save-pex-tests.png
  docs/test/media/vs-2019/select-pex-test.png
  docs/test/media/vs-2019/test-method-pex.png
  docs/test/media/vs-2022/pex-create-intellitest-extensions.png
  docs/test/media/vs-2022/pex-create-intellitest-mstest.png
  docs/test/media/vs-2022/pex-create-intellitest.png
  docs/test/media/vs-2022/pex-exploration-results.png
  docs/test/media/vs-2022/pex-fix-warning.png
  docs/test/media/vs-2022/pex-view-warning.png
  docs/test/media/vs-2022/pex-warnings-fixed.png
  docs/test/media/vs-2022/run-pex.png
  docs/test/media/vs-2022/save-pex-tests.png
  docs/test/media/vs-2022/select-pex-test.png
  docs/test/media/vs-2022/test-method-pex.png
  subscriptions/vs-pluralsight.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7873 Repo sync for protected CLA branch
  docs/code-quality/code-metrics-class-coupling.md
  docs/deployment/deploying-applications-services-and-components.md
  docs/ide/whats-new-visual-studio-docs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7874 Repo sync for protected CLA branch
  docs/ide/reference/convert-anonymous-type-to-tuple.md
  docs/ide/reference/media/convert-anon-to-tuple.png
  docs/ide/reference/media/sort-usings-configuration-options.png
  docs/ide/reference/sort-usings.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7879 Repo sync for protected CLA branch
  docs/code-quality/roslyn-analyzers-overview.md
  docs/install/applying-administrator-updates.md
  docs/install/enabling-administrator-updates.md
  docs/install/update-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7881 Repo sync for protected CLA branch
  subscriptions/vs-ide-benefit.md
  subscriptions/vscloud-csp.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7893 Repo sync for protected CLA branch
  subscriptions/_img/vs-pluralsight/vs-pluralsight-activated.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-expired.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-tile.png
  subscriptions/vs-pluralsight.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7895 Repo sync for protected CLA branch
  docs/ide/visual-studio-performance-tips-and-tricks.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7902 Repo sync for protected CLA branch
  docs/ide/optimize-visual-studio-performance.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7905 Repo sync for protected CLA branch
  subscriptions/vs-pluralsight.md
  subscriptions/vs-tech-support.md
  subscriptions/vs-visual-studio-app-center.md
  subscriptions/vs-whitesource.md
  subscriptions/vs-windows-dev.md
  subscriptions/vs-windows-virtual-desktop.md
  subscriptions/whats-new-in-subscriptions.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7908 Repo sync for protected CLA branch
  docs/ide/visual-studio-performance-tips-and-tricks.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7909 Repo sync for protected CLA branch
  subscriptions/vs-alternate-identity.md
  subscriptions/vs-azure-community.md
  subscriptions/vs-azure-devops.md
  subscriptions/vs-azure-eligibility.md
  subscriptions/vs-cast.md
  subscriptions/vscloud-billing-faq.yml
  subscriptions/vscloud-csp.md
  subscriptions/vscloud-overview.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7916 Repo sync for protected CLA branch
  docs/debugger/debugging-mixed-mode-applications.md
  docs/debugger/how-to-debug-in-mixed-mode.md
  docs/debugger/how-to-debug-managed-and-native-code.md
  docs/debugger/media/vs-2022/mixed-mode-enable-native-code-debugging.png
  docs/debugger/media/vs-2022/mixed-mode-step-into-native-code.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7919 Repo sync for protected CLA branch
  docs/debugger/debugging-dll-projects.md
  docs/debugger/how-to-debug-from-a-dll-project.md
  docs/debugger/media/vs-2022/dbg-profile-create-new.png
Labels: do-not-merge, CLA

#7923 Mac: Fix keyboard shortcut for adding new carets
  mac/multi-caret-editing.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod

#7924 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/install/update-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/install/visual-studio-enterprise-guide.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7927 Repo sync for protected CLA branch
  docs/debugger/using-breakpoints.md
  docs/profiling/cpu-usage.md
  docs/profiling/media/vs-2022/cpu-use-lib-choose-cpu-usage.png
  docs/profiling/media/vs-2022/cpu-use-select-release.png
  docs/profiling/media/vs-2022/cpu-use-wt-call-tree-annotated.png
  docs/profiling/media/vs-2022/cpu-use-wt-call-tree-view.png
  docs/profiling/media/vs-2022/cpu-use-wt-expanded-call-tree.png
  docs/profiling/media/vs-2022/cpu-use-wt-report.png
  docs/profiling/media/vs-2022/cpu-use-wt-search.png
  docs/profiling/media/vs-2022/cpu-use-wt-show-external-code.png
  docs/profiling/media/vs-2022/cpu-use-wt-stop-collection.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7880 Update dataset-tools-in-visual-studio.md
  docs/data-tools/dataset-tools-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-data-tools/tech, aq-pr-triaged

#7883 MSBuild: RAR IgnoreTargetFrameworkAttributeVersionMismatch
  docs/msbuild/resolveassemblyreference-task.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#7897 Fix: Prematurely referring to "Greetings.xaml.cs"
  docs/get-started/csharp/tutorial-wpf.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged

#7928 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  gamedev/unity/troubleshooting/troubleshooting-and-known-issues-visual-studio-tools-for-unity.md
  subscriptions/assign-azure-ad.md
  subscriptions/assign-license-bulk.md
  subscriptions/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, CLA

#7935 Repo sync for protected CLA branch
  .openpublishing.redirection.subscriptions.json
  subscriptions/faq/admin/benefits/index.md
  subscriptions/faq/subscriber/azure/index.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7936 Repo sync for protected CLA branch
  docs/debugger/create-custom-views-of-native-objects.md
  docs/debugger/project-settings-for-a-cpp-debug-configuration.md
  docs/debugger/using-debuggertypeproxy-attribute.md
  docs/debugger/using-the-debuggerdisplay-attribute.md
  docs/get-started/csharp/media/vs-2022/explore-ide-greetings-with-control-labels-cs.png
  docs/ide/template-parameters.md
  docs/javascript/tutorial-asp-net-core-with-angular.md
  docs/javascript/tutorial-asp-net-core-with-react.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
  docs/profiling/cpu-usage.md
  docs/profiling/media/cpu-use-lib-choose-cpu-usage.png
  docs/profiling/media/cpu-use-select-release-local-machine.png
  docs/profiling/media/cpu-use-wt-filter-view.png
  docs/profiling/media/cpu-use-wt-getmaxnumber-async-expanded-call-tree.png
  docs/profiling/media/cpu-use-wt-getmaxnumber-async-selected.png
  docs/profiling/media/cpu-use-wt-getmaxnumber-call-tree-annotated.png
  docs/profiling/media/cpu-use-wt-report.png
  docs/profiling/media/cpu-use-wt-show-external-code-too-wide-found.png
  docs/profiling/media/cpu-use-wt-show-external-code-too-wide.png
  docs/profiling/media/cpu-use-wt-stop-collection.png
  docs/profiling/media/vs-2019/cpu-use-wt-getmaxnumber-call-tree-annotated.png
  docs/profiling/media/vs-2019/cpu-use-wt-show-external-code-too-wide-found.png
  subscriptions/vs-cloudpilot.md
  subscriptions/vs-code-magazine.md
  subscriptions/vs-concierge-chat.md
  subscriptions/vs-datacamp.md
  subscriptions/vs-developer-community.md
  subscriptions/vs-ide-benefit.md
  subscriptions/vs-linkedin-learning.md
  subscriptions/vs-m365.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7943 Repo sync for protected CLA branch
  subscriptions/about-benefits.md
  subscriptions/access-github.md
  subscriptions/account-removed.md
  subscriptions/add-monthly-subs.md
  subscriptions/admin-expiration.md
  subscriptions/admin-inventory.md
  subscriptions/admin-preferences.md
  subscriptions/admin-responsibilities.md
  subscriptions/admin-roles.md
  subscriptions/agreement-renewals.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7947 Repo sync for protected CLA branch
  docs/ide/managing-project-and-solution-properties.md
  docs/ide/media/vs-2019/properties-from-solution-explorer-context-menu.png
  docs/ide/reference/media/vs-2019/project-properties-designer-build.png
  docs/ide/reference/media/vs-2022/project-properties-designer-build.png
  subscriptions/account-removed.md
Labels: do-not-merge, CLA

#7948 Repo sync for protected CLA branch
  docs/debugger/debugger-tips-and-tricks.md
  docs/debugger/general-debugging-options-dialog-box.md
  docs/debugger/view-data-values-in-data-tips-in-the-code-editor.md
  docs/ide/reference/add-debugger-display-attribute.md
  docs/ide/reference/media/project-properties-designer-visual-studio-2017.png
  docs/ide/reference/project-properties-reference.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7949 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-wpf.md
  subscriptions/aliasing.md
  subscriptions/anonymization.md
  subscriptions/assign-github.md
  subscriptions/assign-guid.md
  subscriptions/assign-license-bulk.md
  subscriptions/assign-license.md
  subscriptions/assignments-orders.md
  subscriptions/azure-access.md
  subscriptions/buy-activate-retail.md
  subscriptions/cloud-admin.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7951 Repo sync for protected CLA branch
  mac/asp-net-core.md
  mac/media/asp-net-core-2022-configure-net-6.png
  mac/media/asp-net-core-2022-empty-project.png
  mac/media/asp-net-core-2022-new-asp-core.png
  mac/media/asp-net-core-2022-solution-dependencies.png
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod, CLA

#7950 Adding exit command to the install script
  docs/install/advanced-build-tools-container.md
  docs/install/build-tools-container.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged

#7953 updating missed section in doc for vs2019 & vs2022
  docs/install/advanced-build-tools-container.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech

#7955 Repo sync for protected CLA branch
  docs/ide/media/project-node-context-menu-extra-items-lrg.png
  docs/ide/media/project-node-context-menu-extra-items-sml.png
  docs/ide/media/project-node-context-menu-lrg.png
  docs/ide/media/project-node-context-menu-sml.png
  docs/ide/media/solution-node-context-menu-extra-items-lrg.png
  docs/ide/media/solution-node-context-menu-extra-items-sml.png
  docs/ide/media/solution-node-context-menu-lrg.png
  docs/ide/media/solution-node-context-menu-sml.png
  docs/ide/use-solution-explorer.md
  docs/profiling/beginners-guide-to-performance-profiling.md
  docs/profiling/dotnet-memory-allocations-view.md
  docs/profiling/profiling-feature-tour.md
  docs/version-control/git-with-visual-studio.md
  subscriptions/contact-my-admin.md
  subscriptions/delete-license.md
  subscriptions/download-software.md
  subscriptions/edit-license.md
  subscriptions/exporting-subscriptions.md
  subscriptions/find-keys.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7958 Repo sync for protected CLA branch
  docs/ide/media/account-settings-1.png
  docs/ide/media/vs-2022/account-settings-1.png
  docs/ide/media/vs-2022/add-github-enterprise-account.png
  docs/ide/media/vs-2022/signin-different-account.png
  docs/ide/work-with-github-accounts.md
  docs/install/disable-or-move-the-package-cache.md
  docs/install/import-export-installation-configurations.md
  docs/install/media/vs-2022/account-settings-1.png
  docs/install/media/vs-2022/add-github-enterprise-account.png
  docs/install/media/vs-2022/export-config.png
  docs/install/media/vs-2022/export-configuration-confirmation-1.png
  docs/install/media/vs-2022/review-details-1.png
  docs/install/media/vs-2022/review-details.png
  docs/install/media/vs-2022/signin-different-account.png
  docs/install/troubleshooting-network-related-errors-in-visual-studio.md
Labels: do-not-merge, CLA
