Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-11, with the labels that each got.

#8616 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/designers/disable-dpi-awareness.md
  docs/msbuild/find-and-use-msbuild-versions.md
  docs/msbuild/msbuild-reserved-and-well-known-properties.md
  docs/msbuild/toc.yml
  docs/msbuild/updating-an-existing-application.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA, needs-human-review

#8619 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/designers/getting-started-with-wpf.md
  docs/get-started/csharp/tutorial-wpf.md
  docs/get-started/visual-basic/tutorial-wpf.md
  docs/ide/class-designer/how-to-add-class-diagrams-to-projects.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8620 Fixed wrong letter case
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8622 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8627 Repo sync for protected CLA branch
  docs/ide/connect-team-project.md
  docs/ide/reference/team-explorer-reference.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA

#8629 Repo sync for protected CLA branch
  docs/azure/azure-cosmosdb-add-connected-service.md
  docs/data-tools/index.yml
  docs/data-tools/troubleshooting-service-references.md
  docs/ide/how-to-set-multiple-startup-projects.md
  docs/ide/understanding-build-configurations.md
  docs/msbuild/xsltransformation-task.md
  docs/python/debugging-mixed-mode-c-cpp-python-in-visual-studio.md
  docs/python/media/mixed_mode_debugging_attach_type_updated.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA, needs-human-review

#8639 Repo sync for protected CLA branch
  docs/msbuild/common-msbuild-project-items.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA

#8641 Repo sync for protected CLA branch
  docs/msbuild/common-msbuild-project-items.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA

#8643 Repo sync for protected CLA branch
  docs/debugger/remote-debugging-dotnet-core-linux-with-ssh.md
  docs/ide/go-to.md
  docs/ide/media/vside_uppercasesearch.png
  docs/ide/signing-in-to-visual-studio.md
  docs/ide/whats-new-visual-studio-2022.md
  subscriptions/vs-tech-support.md
Labels: do-not-merge, change sent to author, vs-subscriptions/tech, CLA, visual-studio-dev17/prod, needs-human-review

#8645 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2022.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8649 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
  docs/profiling/analyze-async.md
  docs/profiling/analyze-database.md
  docs/profiling/analyze-memory-usage.md
  docs/profiling/cpu-insights.md
  docs/profiling/cpu-usage.md
  docs/profiling/dotnet-counters-tool.md
  docs/profiling/events-viewer.md
  docs/profiling/flame-graph.md
  docs/profiling/perf-insights-string-concatenation.md
  docs/profiling/perftips.md
  docs/profiling/toc.yml
  docs/profiling/troubleshoot-profiler-errors.md
  docs/profiling/use-file-io.md
  docs/version-control/git-browse-repository.md
  docs/version-control/git-manage-repository.md
  docs/version-control/git-resolve-conflicts.md
  docs/version-control/git-settings.md
  docs/version-control/git-team-explorer-feature-comparison.md
  docs/version-control/git-with-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8626 Add ConvertTo/FromBase64 property functions
  docs/msbuild/property-functions.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8632 Fix description of `GetPathOfFileAbove`
  docs/msbuild/property-functions.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8635 Fix `MatchFileNameOnly` parameter default value
  docs/msbuild/findinlist-task.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8652 Repo sync for protected CLA branch
  docs/ide/reference/accessibility-tips-and-tricks.md
  docs/ide/reference/media/vs-2022/tools-options-text-editor-general.png
  docs/ide/reference/options-text-editor-advanced.md
  docs/ide/reference/options-text-editor-general.md
  docs/profiling/cpu-usage.md
  docs/profiling/profiling-feature-tour.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA, needs-human-review

#8654 Repo sync for protected CLA branch
  docs/msbuild/find-and-use-msbuild-versions.md
  docs/msbuild/msbuild-conditions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA, needs-human-review

#8611 Description added for C# option "Don't put ref or out on custom struct"
  docs/ide/reference/options-text-editor-csharp-advanced.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, needs-human-review

#8659 Repo sync for protected CLA branch
  docs/version-control/git-resolve-conflicts.md
  docs/version-control/media/vs-2022/git-conflicts-keep-changes.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8664 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-debugger.md
  docs/ide/how-to-locate-and-organize-project-and-item-templates.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/profiling/collecting-detailed-timing-data-for-a-stand-alone-application.md
  docs/profiling/index.yml
  docs/profiling/instrument-dotnet-framework-component-and-collect-timing-data.md
  docs/profiling/instrument-native-component-and-collect-timing-data.md
  docs/profiling/instrumentation-overview.md
  docs/profiling/instrumentation.md
  docs/profiling/media/vs-2022/instrumentation-data.png
  docs/profiling/media/vs-2022/instrumentation-select-items-to-instrument.png
  docs/profiling/media/vs-2022/instrumentation-tool-launch.png
  docs/profiling/profiling-feature-tour.md
  docs/profiling/toc.yml
  docs/profiling/understanding-performance-collection-methods-perf-profiler.md
  docs/profiling/vsinstr.md
  docs/profiling/vsperfcmd.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA, needs-human-review

#8669 Repo sync for protected CLA branch
  docs/ide/media/vs-2022/whats-new-visual-studio.png
  docs/ide/whats-new-visual-studio-2022.md
Labels: do-not-merge, change sent to author, CLA, visual-studio-dev17/prod, needs-human-review

#8675 Repo sync for protected CLA branch
  docs/msbuild/whats-new-msbuild-17-0.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA

#8678 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2022.md
  docs/python/debugging-mixed-mode-c-cpp-python-in-visual-studio.md
  docs/python/learn-django-in-visual-studio-step-04-full-django-project-template.md
Labels: do-not-merge, change sent to author, vs-python/tech, CLA, visual-studio-dev17/prod

#8666 Add Roslyn 4.4 to Roslyn version support table
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#8682 Repo sync for protected CLA branch
  docs/sharepoint/troubleshooting-sharepoint-solutions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, sharepoint-development/tech, CLA, qualifies-for-auto-merge

#8667 Fix documentation of menu item to reflect current UI
  docs/extensibility/creating-an-extension-with-a-menu-command.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#8638 Update getting-started-with-visual-studio-tools-for-unity.md
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, aq-pr-triaged, qualifies-for-auto-merge

#8686 Repo sync for protected CLA branch
  docs/get-started/tutorial-projects-solutions.md
  docs/version-control/git-manage-repository.md
  docs/version-control/git-multi-repository-support.md
  docs/version-control/index.yml
  docs/version-control/media/vs-2022/multi-repo-branch-picker.png
  docs/version-control/media/vs-2022/multi-repo-create-new-branch.png
  docs/version-control/media/vs-2022/multi-repo-git-repository-settings.png
  docs/version-control/media/vs-2022/multi-repo-git-repository-tool-window.png
  docs/version-control/media/vs-2022/multi-repo-new-branch-button.png
  docs/version-control/media/vs-2022/multi-repo-open-folder-solution.png
  docs/version-control/media/vs-2022/multi-repo-push-network-operation.png
  docs/version-control/media/vs-2022/multi-repo-track-changes.png
  docs/version-control/toc.yml
  subscriptions/manage-vs-subscriptions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8690 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-console.md
  docs/get-started/csharp/tutorial-uwp.md
  docs/install/media/vs-2022/vs-installer-individual-components.png
  docs/install/media/vs-2022/vs-installer-modify-workloads.png
  docs/install/media/vs-2022/vs-installer.png
  docs/install/media/vs-2022/vs-tools-menu.png
  docs/install/modify-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA, needs-human-review

#8691 Repo sync for protected CLA branch
  docs/deployment/access-clickonce-deployment-properties-dotnet.md
  docs/deployment/clickonce-deployment-dotnet.md
  docs/deployment/includes/dotnet-support-application-deployment-api.md
  docs/deployment/toc.yml
  docs/ide/user-permissions-and-visual-studio.md
  docs/toc.yml
  docs/version-control/git-create-branch.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8662 Fix link for vs admin update enrollment
  docs/install/visual-studio-administrator-guide.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged, qualifies-for-auto-merge

#8702 Repo sync for protected CLA branch
  docs/azure/vs-azure-tools-storage-resources-server-explorer-browse-manage.md
  docs/data-tools/entity-data-model-tools-in-visual-studio.md
  docs/ide/how-to-distribute-code-snippets.md
  docs/install/media/vs-2022/vs-installer-repair.png
  docs/install/media/vs-2022/vs-installer-search.png
  docs/install/repair-visual-studio.md
  docs/msbuild/msbuild-command-line-reference.md
  docs/msbuild/msbuild-toolset-toolsversion.md
  docs/msbuild/overriding-toolsversion-settings.md
  docs/msbuild/standard-and-custom-toolset-configurations.md
  docs/python/debugging-mixed-mode-c-cpp-python-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA, needs-human-review

#8710 Typo fix
  docs/msbuild/msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, qualifies-for-auto-merge
