Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-02, with the labels that each got.

#7610 Repo sync for protected CLA branch
  docs/ide/customize-build-and-debug-tasks-in-visual-studio.md
  mac/TOC.yml
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-marketplace.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7613 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/deployment/media/publish-ftp-details-latest.png
  docs/deployment/media/publish-iis-web-deploy-latest.png
  docs/deployment/quickstart-deploy-aspnet-web-app.md
  docs/designers/walkthrough-windows-forms-designer.md
  docs/get-started/tutorial-open-project-from-repo.md
  docs/ide/code-generation-in-visual-studio.md
  docs/ide/finding-and-replacing-text.md
  docs/ide/writing-code-in-the-code-and-text-editor.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/python/selecting-a-python-environment-for-a-project.md
  docs/toc.yml
  mac/TOC.yml
  subscriptions/product-keys.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#7619 Repo sync for protected CLA branch
  docs/extensibility/walkthrough-publishing-a-visual-studio-extension-via-command-line.md
  docs/test/isolating-code-under-test-with-microsoft-fakes.md
  docs/version-control/git-clone-repository.md
  docs/version-control/git-create-repository.md
  docs/version-control/index.yml
  docs/vsto/how-to-install-the-visual-studio-tools-for-office-runtime-redistributable.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, office-development/tech, CLA

#7620 Repo sync for protected CLA branch
  docs/version-control/git-clone-repository.md
  docs/version-control/git-create-repository.md
  docs/version-control/git-fetch-pull-sync.md
  docs/version-control/git-push-remote.md
  docs/version-control/git-visual-studio-source-control.md
  docs/version-control/index.yml
  docs/version-control/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7541 Add info for launchBrowserTimeout
  docs/containers/container-launch-settings.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, aq-pr-triaged, vs-container-tools/tech

#7408 Extraneous digit in GUID format
  docs/msbuild/common-msbuild-project-items.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#7438 Update xmlpeek-task.md
  docs/msbuild/xmlpeek-task.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#7624 Repo sync for protected CLA branch
  docs/profiling/media/memory-usage-report-overview-1-vs-2022.png
  docs/profiling/media/memory-usage-report-overview-1.png
  docs/profiling/media/memory-usage-report-overview-vs-2022.png
  docs/profiling/media/memory-usage-report-overview.png
  docs/profiling/media/memory-usage-snapshot-details-managed-heap-tree-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-details-managed-heap-tree.png
  docs/profiling/media/memory-usage-snapshot-details-referenced-objects-instance-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-details-referenced-objects-instance.png
  docs/profiling/media/memory-usage-snapshot-details-type-paths-to-root-tree-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-details-type-paths-to-root-tree.png
  docs/profiling/media/memory-usage-snapshot-diff-paths-to-root-instance-all-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-diff-paths-to-root-instance-all.png
  docs/profiling/media/memory-usage-snapshot-diff-referenced-types-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-diff-referenced-types.PNG
  docs/profiling/media/memory-usage-snapshot-diff-type-heap-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-diff-type-heap.png
  docs/profiling/media/memory-usage-snapshot-report-all-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-report-all.png
  docs/profiling/media/memory-usage-snapshot-view-numbered-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-view-numbered.png
  docs/profiling/media/memory-usage-snapshot-view-snapshot-details-links-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-view-snapshot-details-links.png
  docs/profiling/media/memory-usage-snapshot-view-snapshot-diff-links-vs-2022.png
  docs/profiling/media/memory-usage-snapshot-view-snapshot-diff-links.png
  docs/profiling/media/memory-usage-sort-and-filter-vs-2022.png
  docs/profiling/media/memory-usage-sort-and-filter.png
  docs/profiling/media/memory-usage-start-diagnostics-session.png
  docs/profiling/media/memory-usage-stop-collection.png
  docs/profiling/media/process-guide-1.png
  docs/profiling/media/process-guide-2.png
  docs/profiling/media/process-guide-3.png
  docs/profiling/media/process-guide-4.png
  docs/profiling/memory-usage-without-debugging2.md
  docs/version-control/git-browse-repository.md
  docs/version-control/git-team-explorer-feature-comparison.md
  docs/vsto/registry-entries-for-vsto-add-ins.md
  mac/TOC.yml
Labels: do-not-merge, CLA

#7631 Repo sync for protected CLA branch
  mac/TOC.yml
Labels: do-not-merge, review-team-triage, CLA

#7634 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/get-started/media/tutorial-fsharp-web-app/forecast-controller-fsharp-solution-explorer.png
  docs/get-started/media/tutorial-fsharp-web-app/modify-visual-studio-workload.png
  docs/get-started/media/tutorial-fsharp-web-app/select-console-app.png
  docs/get-started/media/tutorial-fsharp-web-app/solution-explorer.png
  docs/get-started/media/tutorial-fsharp-web-app/values-controller-fsharp-solution-explorer.png
  docs/get-started/tutorial-fsharp-web-app.md
  docs/ide/quickstart-fsharp.md
  docs/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7637 Repo sync for protected CLA branch
  docs/python/tutorial-working-with-python-in-visual-studio-step-00-installation.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-01-create-project.md
  docs/version-control/git-browse-repository.md
  docs/version-control/git-clone-repository.md
  docs/version-control/git-create-branch.md
  docs/version-control/git-create-repository.md
  docs/version-control/git-fetch-pull-sync.md
  docs/version-control/git-make-commit.md
  docs/version-control/git-manage-repository.md
  docs/version-control/git-push-remote.md
  docs/version-control/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7635 Clarify Create Unit Tests requirements
  docs/test/unit-test-basics.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged

#7444 Fix erroneous suggested nmake command for DIA SDK
  docs/debugger/debug-interface-access/dia2dump-sample.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#7641 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/azure/media/vs-azure-tools-debug-cloud-services-virtual-machines/attach-to-process.png
  docs/azure/media/vs-azure-tools-debug-cloud-services-virtual-machines/select-app-service.png
  docs/azure/vs-azure-tools-debug-cloud-services-virtual-machines.md
  docs/get-started/csharp/media/explore-ide-window-with-control-labels-cs.png
  docs/get-started/csharp/media/explore-ide-window-with-radio-buttons.png
  docs/get-started/csharp/media/explore-ide-window-with-textblock-only.png
  docs/get-started/csharp/tutorial-wpf.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/version-control/git-visual-studio-source-control.md
  mac/TOC.yml
  mac/azure-functions-lab.md
  mac/build-actions.md
  mac/connected-services.md
  mac/docker-multi-container.md
  mac/managing-app-resources.md
  mac/report-a-problem.md
  mac/uninstall.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-install/tech, CLA

#7643 Clarify Create Unit Tests requirements
  docs/test/getting-started-with-unit-testing.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech

#7645 Repo sync for protected CLA branch
  bridge/articles/toc.yml
  docs/code-quality/implementing-custom-code-analysis-check-in-policies-for-managed-code.md
  docs/code-quality/working-with-code-metrics-data.md
  docs/debugger/diagnose-problems-after-deployment.md
  docs/debugger/using-saved-intellitrace-data.md
  docs/deployment/deploying-applications-services-and-components.md
  docs/extensibility/best-practices-design-brokered-service.md
  docs/extensibility/how-to-consume-brokered-service.md
  docs/extensibility/how-to-provide-brokered-service.md
  docs/extensibility/how-to-secure-brokered-service.md
  docs/extensibility/internals/brokered-service-essentials.md
  docs/extensibility/internals/discover-available-brokered-services.md
  docs/extensibility/internals/toc.yml
  docs/extensibility/toc.yml
  docs/extensibility/use-and-provide-brokered-services.md
  docs/ide/connect-team-project.md
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
  docs/python/learn-django-in-visual-studio-step-03-serve-static-files-and-add-pages.md
  docs/python/media/django/step-03-add-new-item-about-file.png
  docs/python/media/django/step-03-add-new-item-layout-file.png
  docs/python/media/django/step-03-add-new-item-static-file.png
  docs/python/media/django/step-03-navigation-bar.png
  docs/test/configure-load-test-run-settings.md
  docs/test/configure-test-agents-and-controllers-for-load-tests.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/create-a-diagnostic-data-adapter-to-collect-custom-data-or-affect-a-test-machine.md
  docs/test/generate-and-run-a-coded-web-performance-test.md
  docs/test/how-to-collect-intellitrace-data-to-help-debug-difficult-issues.md
  docs/test/how-to-create-a-diagnostic-data-adapter.md
  docs/test/how-to-include-recordings-of-the-screen-and-voice-during-tests.md
  docs/test/improve-code-quality.md
  docs/test/index.yml
  docs/test/lab-management/use-build-or-rm-instead-of-lab-management.md
  docs/test/quickstart-create-a-load-test-project.md
  docs/test/unit-test-your-code.md
  docs/test/use-ui-automation-to-test-your-code.md
  docs/test/using-code-coverage-to-determine-how-much-code-is-being-tested.md
  docs/test/walkthrough-use-the-virtual-user-activity-chart-to-isolate-issues.md
  docs/version-control/git-with-visual-studio.md
  docs/version-control/index.yml
  docs/version-control/toc.yml
  docs/vsto/walkthrough-displaying-text-in-a-text-box-in-a-document-using-a-button.md
  mac/customizing-build-system.md
Labels: do-not-merge, CLA

#7646 Repo sync for protected CLA branch
  docs/get-started/csharp/tutorial-windows-forms-match-game-icons.md
  docs/get-started/csharp/tutorial-windows-forms-match-game-labels.md
  docs/get-started/media/tutorial-windows-forms-match-game-icons/click-event.png
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/snippets/csharp/VS_Snippets_VBCSharp/vbexpresstutorial4step2_3_4/cs/form1.cs
  docs/snippets/csharp/VS_Snippets_VBCSharp/vbexpresstutorial4step5/cs/form1.cs
  docs/snippets/csharp/VS_Snippets_VBCSharp/vbexpresstutorial4step6/cs/form1.cs
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7649 Fix typos for git docs
  docs/version-control/git-create-repository.md
  docs/version-control/git-with-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#7663 Repo sync for protected CLA branch
  docs/designers/disable-dpi-awareness.md
  docs/extensibility/menu-element.md
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  subscriptions/vs-m365.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7665 Repo sync for protected CLA branch
  docs/python/tutorial-working-with-python-in-visual-studio-step-02-writing-code.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-03-interactive-repl.md
  docs/version-control/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#7666 Repo sync for protected CLA branch
  docs/ide/managing-application-settings-dotnet.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7672 Repo sync for protected CLA branch
  docs/ide/reference/command-prompt-powershell.md
  docs/ide/whats-new-visual-studio-2022.md
  docs/version-control/git-browse-repository.md
  docs/version-control/media/vs-2022/git-checkout-commit-entrypoints.gif
  docs/version-control/media/vs-2022/git-checkout-commit-entrypoints.png
  docs/version-control/media/vs-2022/git-checkout-commit-illustration.png
  docs/version-control/media/vs-2022/git-checkout-tip-commit.png
  docs/version-control/media/vs-2022/git-compare-branches-entrypoints.gif
  docs/version-control/media/vs-2022/git-compare-branches-illustration.png
  docs/version-control/media/vs-2022/git-compare-branches.png
  docs/version-control/media/vs-2022/git-detached-head-commits-illustration.png
  docs/version-control/media/vs-2022/git-diff-configuration-options.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7670 Fix the part numbering for _Share your app_
  docker/tutorials/share-your-app.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, vs-code/prod

#7676 Fix grammar typo
  docs/javascript/javascript-in-visual-studio.md
Labels: do-not-merge, change sent to author, vs-javascript/tech

#7683 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2022.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/python/toc.yml
  docs/toc.yml
  subscriptions/solutions/renewing-purchasing-or-canceling/help-renewing/includes/help-me-renew-azure-dev-tools-for-teaching.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7684 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/get-started/csharp/media/csharp-aspnet-about-cshtml-cs-code.png
  docs/get-started/csharp/media/csharp-aspnet-about-cshtml-cs-message.png
  docs/get-started/csharp/media/csharp-aspnet-about-cshtml-page-hello-world.png
  docs/get-started/csharp/media/csharp-aspnet-about-cshtml-page.png
  docs/get-started/csharp/media/csharp-aspnet-about-page-code-file.png
  docs/get-started/csharp/media/csharp-aspnet-about-page-hello-world.png
  docs/get-started/csharp/media/csharp-aspnet-about-page-html-file.png
  docs/get-started/csharp/media/csharp-aspnet-about-page.png
  docs/get-started/csharp/media/csharp-aspnet-animated-hello-world.gif
  docs/get-started/csharp/media/csharp-aspnet-hello-world-iis-button.png
  docs/get-started/csharp/media/vs-2019/csharp-aspnet-generic-iis-button.png
  docs/get-started/csharp/media/vs-2019/csharp-aspnet-index-cshtml-page-hello-world.png
  docs/get-started/csharp/media/vs-2019/csharp-aspnet-index-cshtml-page.png
  docs/get-started/csharp/media/vs-2019/csharp-aspnet-index-page-cshtml-file.png
  docs/get-started/csharp/media/vs-2019/csharp-aspnet-index-page-hello-world.png
  docs/get-started/csharp/media/vs-2019/csharp-aspnet-index-page.png
  docs/get-started/csharp/media/vs-2022/aspnet-core-additional-information.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-add-new-onget-method.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-add-usings.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-browser-page-privacy-changed.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-browser-page-privacy.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-choose-index-cshtml.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-error-list.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-generic-iis-button.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-index-cshtml-editing.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-index-cshtml-hello.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-index-cshtml-page-hello-world.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-index-cshtml.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-index-page-cshtml-file.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-index-page-hello-world.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-index-page.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-preview-changes.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-privacy-cshtml-code-changed.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-razor-iis-express.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-razor-iisexpress.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-razor-solution-explorer-appsettingsjson.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-razor-solution-explorer-wwwroot.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-remove-unnecessary-usings.png
  docs/get-started/csharp/media/vs-2022/csharp-aspnet-solution-explorer-pages.png
  docs/get-started/csharp/media/vs-2022/csharp-create-new-project-aspnet-core.png
  docs/get-started/csharp/media/vs-2022/csharp-name-your-aspnet-app.png
  docs/get-started/csharp/media/vs-2022/start-window-create-new-project.png
  docs/get-started/csharp/tutorial-aspnet-core.md
  docs/ide/quickstart-aspnet-core.md
  docs/toc.yml
  subscriptions/vs-visual-studio-app-center.md
Labels: do-not-merge, CLA

#7689 Use the correct path to the .targets file for v17
  docs/modeling/code-generation-in-a-build-process.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-modeling/tech

#7691 Repo sync for protected CLA branch
  docs/code-quality/analyzers-faq.yml
  docs/code-quality/net-analyzers-faq.yml
  docs/debugger/debug-live-azure-apps-faq.yml
  docs/debugger/find-your-debugging-task.yml
  docs/extensibility/faq-2017.yml
  docs/test/live-unit-testing-faq.yml
Labels: do-not-merge, CLA

#7707 Repo sync for protected CLA branch
  docs/version-control/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA

#7709 Repo sync for protected CLA branch
  docs/install/visual-studio-administrator-guide.md
  docs/version-control/git-with-visual-studio.md
Labels: do-not-merge, CLA

#7711 Repo sync for protected CLA branch
  docs/deployment/installer-projects-net-core.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA

#7712 Repo sync for protected CLA branch
  docs/test/how-to-use-google-test-for-cpp.md
  docs/test/media/vs-2022/cpp-google-component.png
  docs/test/media/vs-2022/cpp-gtest-config.png
  docs/test/media/vs-2022/cpp-gtest-new-project.png
  docs/test/media/vs-2022/cpp-gtest-settings.png
  subscriptions/_img/visualstudio-microsoft365/areas.png
  subscriptions/_img/visualstudio-microsoft365/code.png
  subscriptions/_img/visualstudio-microsoft365/focus.png
  subscriptions/_img/visualstudio-microsoft365/go-to-subscription.png
  subscriptions/_img/visualstudio-microsoft365/guided-setup.png
  subscriptions/_img/visualstudio-microsoft365/migration.png
  subscriptions/_img/visualstudio-microsoft365/office-admin.png
  subscriptions/_img/visualstudio-microsoft365/protect.png
  subscriptions/_img/visualstudio-microsoft365/sandbox-setup.png
  subscriptions/_img/visualstudio-microsoft365/sandbox.png
  subscriptions/_img/visualstudio-microsoft365/tile.png
  subscriptions/_img/visualstudio-microsoft365/welcome.png
  subscriptions/vs-m365.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#7714 Repo sync for protected CLA branch
  docs/azure/vs-azure-tools-debug-cloud-services-virtual-machines.md
  docs/debugger/configure-the-windows-firewall-for-remote-debugging.md
  docs/debugger/debug-installed-app-package.md
  docs/debugger/debugging-gpu-code.md
  docs/debugger/deploy-windows-store-apps-from-visual-studio.md
  docs/debugger/edit-and-continue-visual-basic.md
  docs/debugger/edit-and-continue-visual-csharp.md
  docs/debugger/graphics/getting-started-with-visual-studio-graphics-diagnostics.md
  docs/extensibility/toc.yml
  docs/extensibility/vssdk-messages/index.md
  docs/extensibility/vssdk-messages/toc.yml
  docs/extensibility/vssdk-messages/vsixcompatibility1001.md
  docs/ide/customizing-window-layouts-in-visual-studio.md
  docs/ide/media/vs-2022/color-tabs-personalize-schemes.png
Labels: do-not-merge, CLA

#7716 Add defaultnamespace
  docs/ide/template-parameters.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#7717 Repo sync for protected CLA branch
  docs/debugger/how-to-set-debug-and-release-configurations.md
  docs/debugger/media/remotedebuggerconfwizardpage.png
  docs/debugger/media/vs-2022/remote-debugger-csharp.png
  docs/debugger/project-settings-for-csharp-debug-configurations-dotnetcore.md
  docs/debugger/remote-debugging-csharp.md
  docs/debugger/toc.yml
  docs/extensibility/how-to-consume-brokered-service.md
  docs/extensibility/how-to-troubleshoot-brokered-services.md
  docs/extensibility/toc.yml
  docs/extensibility/use-and-provide-brokered-services.md
  docs/test/troubleshooting-code-coverage.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7720 Repo sync for protected CLA branch
  docs/ide/javascript-intellisense.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA

#7721 Repo sync for protected CLA branch
  docs/ide/how-to-report-a-problem-with-visual-studio.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
  docs/javascript/tutorial-create-angular-app.md
  docs/javascript/tutorial-create-react-app.md
  docs/javascript/tutorial-create-vue-app.md
  docs/python/working-with-c-cpp-python-in-visual-studio.md
  docs/xaml-tools/xaml-hot-reload.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-xaml-tools/tech, CLA

#7726 Repo sync for protected CLA branch
  docs/ide/reference/media/vs-2019/tools-options-text-editor-general.png
  docs/ide/reference/media/vs-2022/tools-options-text-editor-general.png
  docs/ide/reference/options-text-editor-general.md
  docs/python/learn-django-in-visual-studio-step-01-project-and-solution.md
  docs/python/learn-django-in-visual-studio-step-02-create-an-app.md
  docs/python/learn-django-in-visual-studio-step-04-full-django-project-template.md
  docs/python/learn-django-in-visual-studio-step-05-django-authentication.md
  docs/python/learn-django-in-visual-studio-step-06-polls-django-web-project-template.md
  docs/python/learn-flask-visual-studio-step-01-project-solution.md
  docs/python/learn-flask-visual-studio-step-02-create-app.md
  docs/python/learn-flask-visual-studio-step-03-serve-static-files-add-pages.md
  docs/python/media/django/step-01-add-environment-dialog-visual-studio-2022.png
  docs/python/media/django/step-02-django-app-name.png
  docs/python/media/django/step02-add-new-item.png
  docs/python/media/django/step02-new-item.png
  docs/python/media/flask/step-01-add-virtual-environment-command.png
  docs/python/media/flask/step-01-git-controls.png
  docs/python/media/flask/step-01-ignore-local-items.png
  docs/python/media/flask/step-01-new-blank-project-vs-2022.png
  docs/python/media/flask/step-01-push-to-github.png
  docs/python/media/flask/step-01-team-explorer-changes.png
  docs/python/media/flask/step-01-team-explorer.png
  docs/python/media/flask/step-02-project-structure.png
  docs/python/media/flask/step-02-result.png
  docs/python/media/flask/step-02-source-control-changes-button.png
  docs/python/media/flask/step-02-source-control-push-to-remote.png
  docs/python/media/flask/step-03-add-new-item-dialog.png
  docs/python/media/flask/step-03-nav-bar.png
  docs/python/media/flask/step-03-static-file-structure.png
  docs/python/media/tutorials-common/step-01-add-virtual-environment-found-requirements.png
  docs/python/tutorial-working-with-python-in-visual-studio-step-04-debugging.md
Labels: do-not-merge, CLA
