Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-09, with the labels that each got.

#8418 Repo sync for protected CLA branch
  docs/cross-platform/cross-platform-mobile-development-in-visual-studio.md
  docs/ide/reference/devenv-command-line-switches.md
  docs/msbuild/errors/msb3073.md
  docs/msbuild/errors/msb3277.md
  docs/msbuild/errors/msb3721.md
  docs/msbuild/errors/msb4181.md
  docs/msbuild/errors/msb6003.md
  docs/msbuild/errors/msb6006.md
  docs/test/how-to-create-a-web-service-test.md
  docs/test/includes/web-load-test-deprecated.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#8424 Repo sync for protected CLA branch
  .github/workflows/stale-issues.yml
  .github/workflows/stale.yml
  docs/ide/reference/media/tools-options-text-editor-all-languages-general.png
  docs/ide/reference/options-text-editor-all-languages.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8425 Fix typos
  docs/test/code-generation-compilation-and-naming-conventions-in-microsoft-fakes.md
  docs/test/creating-a-data-driven-coded-ui-test.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, qualifies-for-auto-merge

#8429 Repo sync for protected CLA branch
  .github/workflows/stale-issues.yml
  docs/cross-platform/cross-platform-mobile-development-in-visual-studio.md
  docs/cross-platform/media/cross-plat_cpp_native.png
  docs/cross-platform/media/cross_plat_cpp_libraries.png
  docs/debugger/media/vs-2022/breakpoint-initialization.png
  docs/debugger/media/vs-2022/breakpoint-window.png
  docs/debugger/media/vs-2022/checked-actions-box.png
  docs/debugger/media/vs-2022/checked-conditions-box.png
  docs/debugger/media/vs-2022/conditional-expression-filter.png
  docs/debugger/media/vs-2022/conditional-expression-hit-count.png
  docs/debugger/media/vs-2022/conditional-expression-is-true.png
  docs/debugger/media/vs-2022/conditional-expression-when-changed.png
  docs/debugger/media/vs-2022/counter-output-message.png
  docs/debugger/media/vs-2022/enable-at-breakpoint.png
  docs/debugger/media/vs-2022/remove-breakpoint-on-hit.png
  docs/debugger/using-tracepoints.md
  docs/extensibility/installing-the-visual-studio-sdk.md
  docs/extensibility/internals/solution-dot-sln-file.md
  docs/extensibility/media/vs-2022/install-extension-development.png
  docs/extensibility/starting-to-develop-visual-studio-extensions.md
  docs/ide/create-portable-custom-editor-options.md
  docs/ide/whats-new-visual-studio-docs.md
  docs/ide/work-with-github-accounts.md
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/javascript/TOC.yml
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
  gamedev/unity/media/vs/click-to-update.png
  gamedev/unity/media/vs/preferences-external-tools.png
  gamedev/unity/media/vs/unity-package-manager.png
  gamedev/unity/media/vs/unity-workload.png
  gamedev/unity/media/vs/vstu-monobleedingedge.png
  gamedev/unity/media/vs/vstu-nuget-download.png
  gamedev/unity/media/vs/vstu-scripting-runtime-version.png
  gamedev/unity/media/vsm/check-for-updates.png
  gamedev/unity/media/vsm/restart-and-install-updates.png
  gamedev/unity/media/vsm/unity-package-manager.png
  gamedev/unity/media/vsm/unity-workload.png
  gamedev/unity/unity-scripting-upgrade.md
  mac/asp-net-core.md
  mac/media/asp-net-core-image9.png
  mac/media/vsmac-2022/asp-net-core-2022-empty-project.png
  mac/media/vsmac-2022/asp-net-core-2022-new-asp-core.png
  mac/media/vsmac-2022/asp-net-core-2022-solution-dependencies.png
  mac/media/vsmac-2022/asp-net-web-picker.png
  mac/media/vsmac-2022/ide-start-new-project.png
  subscriptions/_img/vs-pluralsight/activated.png
  subscriptions/_img/vs-pluralsight/confirmation-set-password.png
  subscriptions/_img/vs-pluralsight/expired.png
  subscriptions/_img/vs-pluralsight/registration.png
  subscriptions/_img/vs-pluralsight/tile.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-activated.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-registration.png
  subscriptions/_img/vs-pluralsight/vs-pluralsight-tile.png
  subscriptions/vs-pluralsight.md
Labels: do-not-merge, CLA

#8437 Repo sync for protected CLA branch
  docs/code-quality/index.yml
  docs/debugger/debugger-feature-tour.md
  docs/debugger/index.yml
  docs/debugger/navigating-through-code-with-the-debugger.md
  docs/debugger/using-breakpoints.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#8419 Remove white space within XML
  docs/msbuild/msbuild-targets.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8422 Typo "Cloud explorer"→"Cloud Explorer"
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged, qualifies-for-auto-merge

#8441 Repo sync for protected CLA branch
  .github/workflows/stale-issues.yml
  docs/ide/not-in-toc/default.md
Labels: do-not-merge, change sent to author, CLA, visual-studio/prod

#8414 Update unit-test-basics.md
  docs/test/unit-test-basics.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8445 Update blame configuration.
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8449 Repo sync for protected CLA branch
  docs/ide/not-in-toc/default.md
Labels: do-not-merge, change sent to author, CLA, visual-studio/prod

#8444 MSBuild: Warn on SDK reference refactoring
  docs/msbuild/how-to-use-project-sdk.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, needs-human-review

#8458 Repo sync for protected CLA branch
  docs/debugger/graphics/visual-studio-graphics-diagnostics.md
  docs/deployment/accessing-local-and-remote-data-in-clickonce-applications.md
  docs/deployment/choosing-a-clickonce-update-strategy.md
  docs/deployment/clickonce-deployment-samples-and-walkthroughs.md
  docs/deployment/clickonce-reference.md
  docs/deployment/debugging-clickonce-applications-that-use-system-deployment-application.md
  docs/deployment/deployment-element-clickonce-deployment.md
  docs/deployment/how-clickonce-performs-application-updates.md
  docs/deployment/how-to-check-for-application-updates-programmatically-using-the-clickonce-deployment-api.md
  docs/deployment/how-to-manage-updates-for-a-clickonce-application.md
  docs/deployment/how-to-retrieve-query-string-information-in-an-online-clickonce-application.md
  docs/deployment/includes/dotnet-support-application-deployment-api.md
  docs/deployment/localizing-clickonce-applications.md
  docs/deployment/walkthrough-creating-a-custom-installer-for-a-clickonce-application.md
  docs/deployment/walkthrough-downloading-assemblies-on-demand-with-the-clickonce-deployment-api-using-the-designer.md
  docs/deployment/walkthrough-downloading-assemblies-on-demand-with-the-clickonce-deployment-api.md
  docs/deployment/walkthrough-downloading-satellite-assemblies-on-demand-with-the-clickonce-deployment-api-using-the-designer.md
  docs/deployment/walkthrough-downloading-satellite-assemblies-on-demand-with-the-clickonce-deployment-api.md
  docs/profiling/gpu-usage.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#8462 Repo sync for protected CLA branch
  CONTRIBUTING.md
  README.md
  docs/deployment/deploying-applications-services-and-components-resources.md
  docs/extensibility/support-for-the-visual-studio-sdk.md
  docs/get-started/tutorial-open-project-from-repo.md
  docs/help-viewer/overview.md
  docs/ide/not-in-toc/default.md
  docs/index.yml
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
  docs/msbuild/msbuild-errors.md
  docs/windows/index.yml
  mac/asp-net-core.md
  mac/create-and-edit-configurations.md
  mac/customizing-the-ide.md
  mac/ide-tour.md
  mac/index.yml
  mac/installation.md
  mac/open-multiple-solutions.md
  mac/publish-app-svc.md
  mac/refactoring.md
  mac/working-with-git-2019.md
  subscriptions/access-github.md
  subscriptions/azure-access.md
  subscriptions/change-org-email-addresses.md
  subscriptions/faq/admin/benefits/includes/activate-with-product-keys.md
Labels: do-not-merge, review-team-triage, CLA

#8464 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8466 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8470 Update remote-debugger-port-assignments.md
  docs/debugger/remote-debugger-port-assignments.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged, qualifies-for-auto-merge

#8472 Repo sync for protected CLA branch
  docs/ide/quickstart-ide-orientation.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/profiling/cpu-insights.md
  docs/profiling/media/vs-2022/hot-path.png
  docs/profiling/media/vs-2022/top-insights.png
  docs/profiling/toc.yml
  docs/toc.yml
  docs/windows/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#8475 Repo sync for protected CLA branch
  docs/ide/cpp-editorconfig-properties.md
  docs/ide/reference/convert-local-function-method.md
  docs/ide/reference/generate-deconstructor.md
  docs/ide/reference/invert-conditional-logical.md
  docs/ide/reference/invert-if-statement.md
  docs/ide/reference/pull-members-up.md
  docs/ide/reference/unused-values-parameters.md
  docs/ide/reference/use-block-body-lambda.md
  docs/profiling/dotnet-alloc-tool.md
  docs/profiling/dotnet-counters-tool.md
  docs/profiling/events-viewer.md
  docs/profiling/optimize-profiler-settings.md
  docs/profiling/use-multiple-profiler-tools-simultaneously.md
  docs/test/microsoft-code-coverage-console-tool.md
  docs/test/test-explorer-faq.md
  subscriptions/faq/admin/managing/includes/github-assign-process.md
  subscriptions/faq/subscriber/benefits/includes/activate-ide.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#8477 Repo sync for protected CLA branch
  docs/ide/how-to-view-save-and-configure-build-log-files.md
  docs/msbuild/customize-your-build.md
  docs/msbuild/msbuild-target-framework-and-target-platform.md
  docs/msbuild/target-build-order.md
  docs/msbuild/walkthrough-creating-an-msbuild-project-file-from-scratch.md
  docs/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA

#8487 Repo sync for protected CLA branch
  CONTRIBUTING.md
  docs/azure/azure-app-insights-add-connected-service.md
  docs/debugger/debug-using-the-just-in-time-debugger.md
  docs/get-started/tutorial-open-project-from-repo.md
  docs/ide/csharp-developer-productivity.md
  docs/ide/reference/command-devenv-exe.md
  docs/ide/reference/showwebbrowser-command.md
  docs/javascript/tutorial-asp-net-core-with-angular.md
  docs/version-control/git-settings.md
  pull_request_template.md
Labels: do-not-merge, review-team-triage, CLA, needs-human-review

#8488 Typo in an example
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8489 Updated 'Sync' description.
  docs/version-control/git-fetch-pull-sync.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#8421 Update tutorial-working-with-python-in-visual-studio-step-05-installi…
  docs/python/tutorial-working-with-python-in-visual-studio-step-05-installing-packages.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, aq-pr-triaged, qualifies-for-auto-merge

#8450 VSPIX not supported on ARM64 VS
  docs/debugger/graphics/visual-studio-graphics-diagnostics.md
  docs/profiling/gpu-usage.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#8493 Repo sync for protected CLA branch
  docs/install/using-visual-studio-vm.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8431 Need to select the MVC option so the code matches the example.
  mac/building-asp-net-core.md
Labels: change sent to author, ready-to-merge, vs-ide-general/tech, visual-studio-mac/prod, aq-pr-triaged, qualifies-for-auto-merge

#8496 Repo sync for protected CLA branch
  docs/debugger/debug-azure-apps.md
  docs/debugger/debugger-feature-tour.md
  docs/debugger/navigating-through-code-with-the-debugger.md
  docs/deployment/building-clickonce-applications-from-the-command-line.md
  docs/extensibility/arm64/samples/add-amd64-arm64-target.png
  docs/extensibility/arm64/samples/add-arm64-library.png
  docs/extensibility/arm64/samples/add-arm64-target-native.png
  docs/extensibility/arm64/samples/add-arm64-target.png
  docs/extensibility/arm64/samples/build-arm64-project.png
  docs/extensibility/arm64/target-arm64-visual-studio-extension.md
  docs/extensibility/toc.yml
  docs/test/configure-test-agents-and-controllers-for-load-tests.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA, needs-human-review

#8498 Repo sync for protected CLA branch
  docs/ide/csharp-developer-productivity.md
  docs/ide/productivity-features.md
  docs/ide/reference/media/paste-class-placeholder.png
  docs/ide/reference/media/paste-json-example-code.png
  docs/ide/reference/media/paste-json-xml-class-lrg.png
  docs/ide/reference/media/paste-json-xml-class-sml.png
  docs/ide/reference/paste-json-xml.md
  docs/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8499 Repo sync for protected CLA branch
  docs/ide/reference/paste-json-xml.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8503 Repo sync for protected CLA branch
  docs/debugger/index.yml
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA, needs-human-review

#8504 Repo sync for protected CLA branch
  CONTRIBUTING.md
  docs/deployment/media/quickstart-clickonce-configuration.png
  docs/deployment/media/quickstart-clickonce-install-location.png
  docs/deployment/media/quickstart-clickonce-publish-folder-category.png
  docs/deployment/media/quickstart-clickonce-publish-folder-target.png
  docs/deployment/media/quickstart-clickonce-publish-location.png
  docs/deployment/media/quickstart-clickonce-settings.png
  docs/deployment/media/quickstart-clickonce-sign-manifests.png
  docs/deployment/media/quickstart-clickonce-solution-explorer.png
  docs/deployment/media/quickstart-clickonce-summary.png
  docs/deployment/media/quickstart-clickonce-unc-settings.png
  docs/deployment/media/quickstart-publish-dialog.png
  docs/deployment/quickstart-deploy-using-clickonce-folder.md
  docs/get-started/includes/devlang-control-csharp-vb.md
  docs/help-viewer/overview.md
  docs/ide/class-view-and-object-browser-icons.md
  docs/ide/not-in-toc/default.md
  docs/msbuild/msbuild-errors.md
Labels: do-not-merge, review-team-triage, CLA, needs-human-review

#8505 Repo sync for protected CLA branch
  docs/azure/azure-sql-database-add-connected-service.md
  docs/azure/media/vs-2022/add-migration-light-theme.png
  docs/azure/media/vs-2022/add-migration.png
  docs/azure/media/vs-2022/entity-framework-generate-sql-script.png
  docs/azure/media/vs-2022/entity-framework-migration-context.png
  docs/azure/media/vs-2022/entity-framework-migrations-add-new.png
  docs/azure/media/vs-2022/migration-added.png
  docs/azure/media/vs-2022/sql-server-object-explorer-2.png
  docs/azure/media/vs-2022/sql-server-object-explorer.png
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/msbuild/change-waves.md
  docs/msbuild/usingtask-element-msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA, needs-human-review

#8509 Repo sync for protected CLA branch
  docs/ide/reference/options-text-editor-advanced.md
  docs/ide/reference/options-text-editor-all-languages-tabs.md
  docs/profiling/events-viewer.md
  docs/profiling/profiling-feature-tour.md
  docs/profiling/understanding-performance-collection-methods-perf-profiler.md
  mac/install-behind-a-firewall-or-proxy-server.md
  subscriptions/admin-preferences.md
  subscriptions/admin-roles.md
  subscriptions/cloud-admin.md
  subscriptions/mpsa.md
  subscriptions/open-migration.md
  subscriptions/volume-license.md
Labels: do-not-merge, change sent to author, vs-ide-debug/tech, visual-studio-family/prod, CLA, needs-human-review

#8513 Repo sync for protected CLA branch
  docs/ide/reference/options-text-editor-all-languages-tabs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8516 Repo sync for protected CLA branch
  docs/ide/reference/options-text-editor-fsharp-intellisense.md
  docs/profiling/analyze-memory-usage.md
  docs/profiling/index.yml
  docs/profiling/memory-usage-without-debugging2.md
  docs/profiling/memory-usage.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA, needs-human-review

#8518 Repo sync for protected CLA branch
  docs/javascript/TOC.yml
  docs/javascript/index.yml
  docs/javascript/linting-javascript.md
  docs/javascript/media/vs-2022/code-actions.png
  docs/javascript/media/vs-2022/disabled-rule.png
  docs/javascript/media/vs-2022/linting-project-properties.png
  docs/javascript/media/vs-2022/linting-tools-options.png
  docs/javascript/media/vs-2022/no-config-goldbar.png
  docs/javascript/media/vs-2022/no-package-goldbar.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA, needs-human-review

#8519 Fix markdown list format
  docs/ide/work-with-github-accounts.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, qualifies-for-auto-merge
