Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-08, with the labels that each got.

#8327 Repo sync for protected CLA branch
  docs/ide/code-styles-and-code-cleanup.md
  docs/ide/csharp-developer-productivity.md
  docs/ide/media/vs-2022/configure-severity-level.png
  docs/ide/media/vs-2022/editorconfig-item-templates-csharp.png
  docs/ide/media/vs-2022/generate-editorconfig-file-csharp.png
  docs/ide/media/vs-2022/go-to-all.png
  docs/ide/media/vs-2022/keyboard-schemes.png
  docs/ide/media/vs-2022/run-analyze-code-cleanup-project-solution.png
  docs/ide/media/vs-2022/run-code-cleanup.png
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/modeling/generating-files-with-the-texttransform-utility.md
  docs/python/debugging-mixed-mode-c-cpp-python-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#8328 Repo sync for protected CLA branch
  docs/profiling/perf-insights-string-concatenation.md
  docs/profiling/toc.yml
Labels: do-not-merge, CLA

#8329 Repo sync for protected CLA branch
  docs/ide/reference/options-text-editor-c-cpp-formatting.md
Labels: do-not-merge, CLA

#8330 Repo sync for protected CLA branch
  docs/debugger/visualizer-advanced-scenarios.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA

#8331 Repo sync for protected CLA branch
  docs/version-control/toc.yml
Labels: do-not-merge, review-team-triage, CLA

#8253 Update uninstall-visual-studio.md
  docs/install/uninstall-visual-studio.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged, qualifies-for-auto-merge

#8334 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/test/live-unit-testing-start.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#8336 Repo sync for protected CLA branch
  docs/modeling/customize-code-maps-by-editing-the-dgml-files.md
Labels: do-not-merge, CLA

#8345 Repo sync for protected CLA branch
  docs/ide/reference/media/vs-2022/tools-options-text-editor-advanced.png
  docs/ide/reference/options-text-editor-advanced.md
  docs/ide/whats-new-visual-studio-2022.md
  docs/version-control/git-line-staging.md
  docs/version-control/git-make-commit.md
  docs/version-control/index.yml
  docs/version-control/media/vs-2022/git-color-margins-differentiated.png
  docs/version-control/media/vs-2022/git-color-margins.png
  docs/version-control/media/vs-2022/git-commit-staged-changes-expanded.png
  docs/version-control/media/vs-2022/git-commit-staged-changes-inline.png
  docs/version-control/media/vs-2022/git-diff-inline-mode.png
  docs/version-control/media/vs-2022/git-line-staging.png
  docs/version-control/media/vs-2022/git-peek-difference-context-menu-expanded.png
  docs/version-control/media/vs-2022/git-peek-difference-context-menu-inline.png
  docs/version-control/media/vs-2022/git-peek-difference.png
  docs/version-control/media/vs-2022/git-stage-change-difference.png
  docs/version-control/media/vs-2022/git-stage-change.png
  docs/version-control/media/vs-2022/promote-document-button.png
  docs/version-control/media/vs-2022/text-editor-option-peek-in-margin.png
  docs/version-control/media/vs-2022/tools-options-fonts-colors-track-source-control.png
  docs/version-control/toc.yml
  docs/xaml-tools/xaml-live-preview.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-xaml-tools/tech, CLA

#8346 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-2022.md
Labels: do-not-merge, CLA

#8347 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, CLA

#8348 Repo sync for protected CLA branch
  docs/deployment/clickonce-and-application-settings.md
  docs/get-started/includes/ide-overview.md
  docs/get-started/visual-basic/visual-studio-ide.md
  docs/test/index.yml
Labels: do-not-merge, change sent to author, vs-ide-general/tech, CLA

#8350 Repo sync for protected CLA branch
  docs/install/includes/vs-2022/workload-component-id-vs-build-tools.md
  docs/install/includes/vs-2022/workload-component-id-vs-community.md
  docs/install/includes/vs-2022/workload-component-id-vs-enterprise.md
  docs/install/includes/vs-2022/workload-component-id-vs-professional.md
  docs/install/includes/vs-2022/workload-component-id-vs-team-explorer.md
  docs/install/includes/vs-2022/workload-component-id-vs-test-agent.md
  docs/install/includes/vs-2022/workload-component-id-vs-test-controller.md
  docs/install/workload-and-component-ids.md
  docs/install/workload-component-id-vs-build-tools.md
  docs/install/workload-component-id-vs-community.md
  docs/install/workload-component-id-vs-enterprise.md
  docs/install/workload-component-id-vs-professional.md
  docs/install/workload-component-id-vs-team-explorer.md
  docs/install/workload-component-id-vs-test-agent.md
  docs/install/workload-component-id-vs-test-controller.md
  docs/javascript/quickstart-vuejs-with-nodejs.md
Labels: do-not-merge, CLA

#8333 Update guidance section on T4 MSbuild template
  docs/modeling/code-generation-in-a-build-process.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-modeling/tech, aq-pr-triaged, qualifies-for-auto-merge

#8363 Removed note about terminal in VS for Mac
  mac/integrated-terminal.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod, qualifies-for-auto-merge

#8360 Update visual-studio-commands.md
  docs/ide/reference/visual-studio-commands.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#8367 Added F# related info
  docs/ide/reference/project-properties-reference.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#8370 Repo sync for protected CLA branch
  .github/workflows/stale.yml
  bridge/articles/bridge-to-kubernetes-aks.md
  bridge/articles/media/bridge-to-kubernetes-sample/bridge-to-kubernetes-namespace.png
  docs/debugger/how-to-improve-diagnostics-debugging-with-sourcelink.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-7-5-computer.md
  docs/debugger/remote-debugging-aspnet-on-a-remote-iis-computer.md
  docs/debugger/remote-debugging-azure.md
  docs/debugger/toc.yml
  docs/debugger/troubleshooting-remote-debugging.md
  docs/ide/managing-references-in-a-project.md
  docs/ide/media/add-reference.png
  docs/ide/reference/media/vs-2019/tools-options-tabs-and-windows.png
  docs/ide/reference/media/vs-2022/tools-options-tabs-and-windows.png
  docs/ide/reference/tabs-and-windows-environment-options-dialog-box.md
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/version-control/git-with-visual-studio.md
  subscriptions/_img/delete-license/bulk-edit-select.png
  subscriptions/_img/delete-license/columns-selected.png
  subscriptions/_img/delete-license/duplicates-highlighted.png
  subscriptions/_img/delete-license/export-this-excel-select.png
  subscriptions/_img/delete-license/reference-added.png
  subscriptions/_img/delete-license/reference-list.png
  subscriptions/_img/delete-license/user-list-added.png
  subscriptions/delete-license.md
  subscriptions/microsoft-dev-box.md
  subscriptions/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8351 the typo in the sample was intended
  docs/msbuild/errors/msb3644.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8356 MSBuild docs: missing console logger parameter for ForceConsoleColor
  docs/msbuild/msbuild-command-line-reference.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#8373 Update Roslyn's Visual Studio version mapping table.
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, needs-human-review

#8374 Repo sync for protected CLA branch
  docs/javascript/tutorial-asp-net-core-with-angular.md
  docs/javascript/tutorial-asp-net-core-with-react.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, aq-pr-triaged, CLA

#8379 Repo sync for protected CLA branch
  subscriptions/migrate-subscriptions.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#8384 Repo sync for protected CLA branch
  docs/debugger/create-custom-views-of-native-objects.md
  docs/debugger/media/remote-debug-cpp-deploy.png
  docs/debugger/media/remote-debugging-cpp.png
  docs/debugger/media/remotedebugcplusdeploy.png
  docs/debugger/media/remotedebuggingcplus.png
  docs/debugger/project-settings-for-a-cpp-debug-configuration.md
  docs/debugger/remote-debugging-cpp.md
  gamedev/unity/unity-scripting-upgrade.md
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, CLA

#8387 Repo sync for protected CLA branch
  docs/debugger/getting-started-with-the-debugger-cpp.md
  docs/debugger/media/vs-2022/get-started-call-stack-cpp.png
  docs/debugger/media/vs-2022/get-started-create-console-project-cpp.png
  docs/debugger/media/vs-2022/get-started-locals-window-cpp.png
  docs/debugger/remote-debugging-csharp.md
  subscriptions/_img/delete-license/columns-selected.png
  subscriptions/_img/delete-license/duplicates-highlighted.png
  subscriptions/_img/delete-license/reference-added.png
  subscriptions/_img/delete-license/user-list-added.png
  subscriptions/delete-license.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#8391 Repo sync for protected CLA branch
  subscriptions/delete-license.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA

#8392 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/deployment/deploying-applications-services-and-components.md
  docs/ide/productivity-features.md
  docs/test/improve-code-quality.md
  docs/test/lab-management/install-configure-test-agents.md
  docs/test/lab-management/use-build-or-rm-instead-of-lab-management.md
  docs/test/lab-management/using-a-lab-environment-for-your-application-lifecycle.md
  docs/test/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#8395 Repo sync for protected CLA branch
  docs/modeling/creating-a-windows-forms-based-domain-specific-language.md
  docs/msbuild/msbuild.md
  docs/test/walkthrough-creating-and-running-unit-tests-for-managed-code.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#8397 Fix a small typo in `MSBuild reserved and well-known properties`
  docs/msbuild/msbuild-reserved-and-well-known-properties.md
Labels: do-not-merge, change sent to author, msbuild/tech, qualifies-for-auto-merge

#8385 Update refactoring-python-code.md
  docs/python/refactoring-python-code.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, aq-pr-triaged

#8405 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/python/configure-web-apps-for-iis-windows.md
  docs/python/managing-python-on-azure-app-service.md
  docs/python/publish-to-app-service-windows.md
  docs/python/python-web-application-project-templates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#8408 Fixed Typo
  docker/tutorials/tutorial-persist-data-layer-docker-app-with-vscode.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, vs-code/prod, qualifies-for-auto-merge

#8412 Repo sync for protected CLA branch
  docs/containers/container-tools-react.md
  docs/containers/media/container-tools-react/vs-2022/debugging-aspnet-core.png
  docs/containers/media/container-tools-react/vs-2022/debugging-client-javascript.png
  docs/containers/media/container-tools-react/vs-2022/launch-profiles-debugging-docker.png
  docs/containers/media/container-tools-react/vs-2022/launch-profiles-debugging.png
  docs/ide/not-in-toc/default.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/msbuild/errors/msb3021.md
  docs/msbuild/errors/msb3026.md
  docs/msbuild/errors/msb3030.md
  docs/msbuild/errors/msb3041.md
  docs/msbuild/errors/msb3061.md
  docs/msbuild/errors/msb3073.md
  docs/msbuild/errors/msb3101.md
  docs/msbuild/errors/msb3191.md
  docs/msbuild/errors/msb3202.md
  docs/msbuild/errors/msb3231.md
  docs/msbuild/errors/msb3243.md
  docs/msbuild/errors/msb3245.md
  docs/msbuild/errors/msb3270.md
  docs/msbuild/errors/msb3271.md
  docs/msbuild/errors/msb3273.md
  docs/msbuild/errors/msb3274.md
  docs/msbuild/errors/msb3276.md
  docs/msbuild/errors/msb3284.md
  docs/msbuild/errors/msb3290.md
  docs/msbuild/errors/msb3323.md
  docs/msbuild/errors/msb3327.md
  docs/msbuild/errors/msb3482.md
  docs/msbuild/errors/msb3491.md
  docs/msbuild/errors/msb3541.md
  docs/msbuild/errors/msb3774.md
  docs/msbuild/errors/msb3821.md
  docs/msbuild/errors/msb4011.md
  docs/msbuild/errors/msb4019.md
  docs/msbuild/errors/msb4024.md
  docs/msbuild/errors/msb4025.md
  docs/msbuild/errors/msb4030.md
  docs/msbuild/errors/msb4044.md
  docs/msbuild/errors/msb4057.md
  docs/msbuild/errors/msb4064.md
  docs/msbuild/errors/msb4067.md
  docs/msbuild/errors/msb4184.md
  docs/msbuild/errors/msb6006.md
  docs/msbuild/toc.yml
  docs/msbuild/when-element-msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA
