Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-03, with the labels that each got.

#7730 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/reference/accessibility-features-of-visual-studio.md
  docs/ide/reference/accessibility-products-and-services-from-microsoft.md
  docs/ide/reference/command-prompt-powershell.md
  docs/ide/reference/media/developer-command-prompt-for-vs/command-prompt.png
  docs/ide/reference/media/developer-command-prompt-for-vs/developer-command-prompt-visual-studio-2022.png
  docs/ide/reference/media/developer-command-prompt-for-vs/developer-powershell-visual-studio-2022.png
  docs/ide/reference/media/developer-command-prompt-for-vs/visual-studio-2022-command-line-menu.png
  docs/ide/reference/media/developer-command-prompt-for-vs/visual-studio-2022-terminal-window.png
  docs/ide/reference/media/developer-command-prompt-for-vs/windows-11-logo-button.png
  docs/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7732 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/deployment/includes/quickstart-prereqs-azure.md
  docs/deployment/includes/quickstart-prereqs.md
  docs/get-started/visual-studio-ide.md
  docs/ide/index-writing-code.yml
  docs/ide/media/quickstart-nodejs-gotodefinition.png
  docs/ide/media/quickstart-nodejs-intellisense.png
  docs/ide/media/quickstart-nodejs-solution-explorer.png
  docs/ide/media/vs-2022/quickstart-nodejs-go-to-definition.png
  docs/ide/media/vs-2022/quickstart-nodejs-intellisense.png
  docs/ide/media/vs-2022/quickstart-nodejs-solution-explorer.png
  docs/ide/quickstart-nodejs.md
  docs/javascript/TOC.yml
  docs/javascript/compile-typescript-code-npm.md
  docs/javascript/compile-typescript-code-nuget.md
  docs/javascript/media/tutorial-nodejs-command-prompt.png
  docs/javascript/media/tutorial-nodejs-view-source-code.png
  docs/javascript/media/tutorial-nodejs-workload.png
  docs/javascript/media/vs-2022/tutorial-nodejs-command-prompt.png
  docs/javascript/media/vs-2022/tutorial-nodejs-view-source-code.png
  docs/javascript/npm-package-management.md
  docs/javascript/publish-nodejs-app-azure.md
  docs/javascript/quickstart-vuejs-with-nodejs.md
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
  docs/javascript/tutorial-nodejs.md
  docs/toc.yml
Labels: do-not-merge, CLA

#7685 Update supported-code-changes-csharp.md
  docs/debugger/supported-code-changes-csharp.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#7522 Removed reference to MSDN
  docs/profiling/performance-tools-on-windows-8-and-windows-server-2012-applications.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#7655 Remove second and from list of projects types
  docs/containers/overview.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, aq-pr-triaged, vs-container-tools/tech

#7633 Update Roslyn version chart for VS2022
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#7654 Change Note clarifying console project limitations with respect to Docker support and Container Orchestration
  docs/containers/overview.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, aq-pr-triaged, vs-container-tools/tech

#7568 Update vs-azure-tools-resources-managing-with-cloud-explorer.md
  docs/azure/vs-azure-tools-resources-managing-with-cloud-explorer.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-azure/tech, aq-pr-triaged

#7586 Add MSBuildWarnings(Not)As(Errors/Messages)
  docs/msbuild/msbuild-reserved-and-well-known-properties.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#7585 Add documentation on warnnotaserror switch
  docs/msbuild/msbuild-command-line-reference.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#7736 Repo sync for protected CLA branch
  docs/help-viewer/accessibility-features.md
  docs/help-viewer/administrator-guide.md
  docs/help-viewer/behavior-overrides.md
  docs/help-viewer/command-line-arguments.md
  docs/help-viewer/customize.md
  docs/help-viewer/find-topics-index.md
  docs/help-viewer/find-topics-toc.md
  docs/help-viewer/find-topics.md
  docs/help-viewer/install-manage-local-content.md
  docs/help-viewer/installation.md
  docs/help-viewer/logical-operators-search-expressions.md
  docs/help-viewer/overview.md
  docs/help-viewer/shortcut-keys.md
Labels: do-not-merge, CLA

#7740 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
  docs/xaml-tools/xaml-hot-reload-troubleshooting.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-xaml-tools/tech, CLA

#7742 Repo sync for protected CLA branch
  docs/code-quality/code-metrics-depth-of-inheritance.md
  docs/install/command-line-parameter-examples.md
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/create-an-offline-installation-of-visual-studio.md
  docs/install/install-certificates-for-visual-studio-offline.md
  docs/install/media/vs-2022/update-settings.png
  docs/install/update-minimal-layout.md
  docs/install/update-visual-studio.md
  docs/install/use-command-line-parameters-to-install-visual-studio.md
  docs/install/visual-studio-administrator-guide.md
  docs/install/visual-studio-on-arm-devices.md
  docs/version-control/git-create-branch.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7744 Repo sync for protected CLA branch
  docs/install/includes/vs-2022/workload-component-id-vs-build-tools.md
  docs/install/includes/vs-2022/workload-component-id-vs-community.md
  docs/install/includes/vs-2022/workload-component-id-vs-enterprise.md
  docs/install/includes/vs-2022/workload-component-id-vs-professional.md
  docs/install/includes/vs-2022/workload-component-id-vs-team-explorer.md
  docs/install/includes/vs-2022/workload-component-id-vs-test-agent.md
  docs/install/includes/vs-2022/workload-component-id-vs-test-controller.md
  docs/install/workload-and-component-ids.md
  docs/install/workload-component-id-vs-build-tools.md
  docs/install/workload-component-id-vs-community.md
  docs/install/workload-component-id-vs-enterprise.md
  docs/install/workload-component-id-vs-professional.md
  docs/install/workload-component-id-vs-team-explorer.md
  docs/install/workload-component-id-vs-test-agent.md
  docs/install/workload-component-id-vs-test-controller.md
  mac/install-preview.md
  mac/installation.md
  mac/media/ide-tour-2019-start-signin.png
  mac/media/install-privacy.png
  mac/uninstall.md
  mac/update.md
Labels: do-not-merge, CLA

#7753 Repo sync for protected CLA branch
  bridge/breadcrumb/toc.yml
  docs/install/build-tools-container.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7758 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docker/TOC.yml
  docker/breadcrumb/toc.yml
  docker/tutorials/deploy-to-cloud.md
  docker/tutorials/docker-tutorial.md
  docker/tutorials/image-building-best-practices.md
  docker/tutorials/media/attach_shell.png
  docker/tutorials/media/container-instance.png
  docker/tutorials/media/context-container.png
  docker/tutorials/media/contextcontainer.png
  docker/tutorials/media/create-new-context.png
  docker/tutorials/media/createnewcontext.png
  docker/tutorials/media/default-context.png
  docker/tutorials/media/defaultcontext.png
  docker/tutorials/media/download-zip.png
  docker/tutorials/media/ide-screenshot.png
  docker/tutorials/media/list-contexts.png
  docker/tutorials/media/play-with-docker-add-new-instance.png
  docker/tutorials/media/push-command.png
  docker/tutorials/media/pwd-add-new-instance.png
  docker/tutorials/media/select-resource-group.png
  docker/tutorials/media/selectresourcegroup.png
  docker/tutorials/media/vs-remove-container.png
  docker/tutorials/media/vs-removing-container.png
  docker/tutorials/media/vs-tutorial-docker-extension.png
  docker/tutorials/multi-container-apps.md
  docker/tutorials/persist-your-data.md
  docker/tutorials/share-your-app.md
  docker/tutorials/tutorial-deploy-docker-app-azure.md
  docker/tutorials/tutorial-multi-container-app-mysql.md
  docker/tutorials/tutorial-persist-data-layer-docker-app-with-vscode.md
  docker/tutorials/update-your-app.md
  docker/tutorials/use-bind-mounts.md
  docker/tutorials/use-docker-compose.md
  docker/tutorials/whats-next.md
  docker/tutorials/your-application.md
Labels: do-not-merge, CLA

#7759 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/version-control/git-browse-repository.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7768 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/ide/reference/add-new-item-command.md
  docs/ide/reference/visual-studio-commands.md
  docs/ide/use-solution-explorer.md
  docs/toc.yml
  subscriptions/_img/assign-github/become-an-owner.png
  subscriptions/_img/assign-github/invite-member.png
  subscriptions/_img/assign-github/organizations.png
  subscriptions/_img/assign-github/overview.png
  subscriptions/_img/assign-github/video-placeholder.png
  subscriptions/assign-github.md
  subscriptions/docfx.json
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-family/prod, CLA

#7770 Repo sync for protected CLA branch
  docs/ide/work-with-github-accounts.md
  docs/ide/work-with-multi-factor-authentication.md
  docs/install/advanced-build-tools-container.md
  docs/install/automatically-apply-product-keys-when-deploying-visual-studio.md
  docs/install/disable-or-move-the-package-cache.md
  docs/install/troubleshooting-network-related-errors-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7772 Repo sync for protected CLA branch
  docs/test/vstest-console-options.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7776 Repo sync for protected CLA branch
  docker/tutorials/docker-tutorial.md
  docker/tutorials/tutorial-deploy-docker-app-azure.md
  docker/tutorials/tutorial-multi-container-app-mysql.md
  docker/tutorials/tutorial-persist-data-layer-docker-app-with-vscode.md
  docs/ide/quickstart-ide-orientation.md
  docs/test/how-to-create-a-data-driven-unit-test.md
  docs/test/vstest-console-options.md
  mac/add-and-remove-project-items.md
  mac/building-and-cleaning-projects-and-solutions.md
  mac/comments.md
  mac/compiling-and-building.md
  mac/create-and-edit-configurations.md
  mac/create-new-projects.md
  mac/customizing-the-ide.md
  mac/debugging.md
  mac/editor-behavior.md
  mac/ide-tour.md
  mac/media/add-and-remove-project-items-image1.png
  mac/media/add-and-remove-project-items-image3.png
  mac/media/add-and-remove-project-items-image4.png
  mac/media/compiling-and-building-image2.png
  mac/media/compiling-and-building-image5.png
  mac/media/customizing-the-ide-image10a.png
  mac/media/customizing-the-ide-image3a.png
  mac/media/customizing-the-ide-image6a.png
  mac/open-multiple-solutions.md
  mac/signing-in.md
  mac/testing.md
  mac/unity-walkthrough.md
Labels: do-not-merge, CLA

#7394 uninstall-net-2022: Fix instructions
  mac/uninstall-net-2022.md
Labels: do-not-merge, change sent to author, aq-pr-triaged

#7781 Repo sync for protected CLA branch
  docs/javascript/tutorial-asp-net-core-with-angular.md
  docs/javascript/tutorial-asp-net-core-with-react.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
  subscriptions/_img/vs-ide-experience/vs-ide-customize-install-cropped.png
  subscriptions/_img/vs-ide-experience/vs-ide-download-details.PNG
  subscriptions/_img/vs-ide-experience/vs-ide-start-cropped.png
  subscriptions/_img/vs-ide-experience/vs-ide-versions.png
  subscriptions/assign-github.md
  subscriptions/vs-ide-benefit.md
Labels: do-not-merge, change sent to author, vs-javascript/tech, visual-studio-family/prod, CLA

#7793 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7799 Repo sync for protected CLA branch
  docs/ide/template-parameters.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7803 Repo sync for protected CLA branch
  docs/ide/template-parameters.md
  docs/python/index.yml
  docs/test/improve-code-quality.md
  docs/test/includes/coded-ui-test-deprecation.md
  docs/test/media/devtest-codeduitest.png
  docs/test/using-different-web-browsers-with-coded-ui-tests.md
  docs/test/walkthrough-using-a-configuration-file-to-define-a-data-source.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7809 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/deployment/deploying-applications-services-and-components-resources.md
  docs/deployment/deploying-applications-services-and-components.md
  docs/deployment/index.yml
  docs/deployment/toc.yml
  docs/deployment/tutorial-import-publish-settings-azure.md
  docs/ide/quickstart-python.md
  docs/python/configure-web-apps-for-iis-windows.md
  docs/python/formatting-python-code.md
  docs/python/learn-django-in-visual-studio-step-03-serve-static-files-and-add-pages.md
  docs/python/learn-django-in-visual-studio-step-04-full-django-project-template.md
  docs/python/learn-django-in-visual-studio-step-05-django-authentication.md
  docs/python/learn-django-in-visual-studio-step-06-polls-django-web-project-template.md
  docs/python/learn-flask-visual-studio-step-03-serve-static-files-add-pages.md
  docs/python/managing-python-on-azure-app-service.md
  docs/python/publish-to-app-service-windows.md
  docs/python/publishing-python-web-applications-to-azure-from-visual-studio.md
  docs/python/python-django-web-application-project-template.md
  docs/python/python-item-templates.md
  docs/python/python-web-application-project-templates.md
  docs/python/toc.yml
  docs/python/tutorial-working-with-python-in-visual-studio-step-06-working-with-git.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#7813 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, CLA

#7821 Corrected typo inside tip
  docs/ide/walkthrough-creating-a-code-snippet.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech

#7823 Repo sync for protected CLA branch
  docs/ide/walkthrough-creating-a-code-snippet.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7782 Update configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged

#7837 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/debugger/navigating-through-code-with-the-debugger.md
  docs/profiling/media/quickstart-cpu-usage-breakpoints-aspnet.png
  docs/profiling/media/quickstart-cpu-usage-breakpoints-cplusplus.png
  docs/profiling/media/quickstart-cpu-usage-breakpoints.png
  docs/profiling/media/quickstart-cpu-usage-caller-callee-aspnet.png
  docs/profiling/media/quickstart-cpu-usage-caller-callee-cplusplus.png
  docs/profiling/media/quickstart-cpu-usage-caller-callee.png
  docs/profiling/media/quickstart-cpu-usage-cpu-aspnet.png
  docs/profiling/media/quickstart-cpu-usage-cpu-cplusplus.png
  docs/profiling/media/quickstart-cpu-usage-cpu.png
  docs/profiling/media/quickstart-cpu-usage-summary.png
  docs/profiling/quickstart-cpu-usage-aspnet.md
  docs/profiling/quickstart-cpu-usage-managed.md
  docs/profiling/quickstart-cpu-usage-native.md
  docs/profiling/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7838 Repo sync for protected CLA branch
  docs/debugger/includes/remote-debugger-download.md
  docs/debugger/managing-exceptions-with-the-debugger.md
  docs/debugger/media/vs-2019/add-exception-to-selected-category-button.png
  docs/debugger/media/vs-2019/add-generic-exception.png
  docs/debugger/media/vs-2019/additional-actions-column.png
  docs/debugger/media/vs-2019/continue-when-unhandled-in-user-code-setting.png
  docs/debugger/media/vs-2019/exception-settings-check-access.png
  docs/debugger/media/vs-2019/restore-default-exceptions.png
  docs/debugger/media/vs-2019/type-the-exception-name.png
  docs/debugger/media/vs-2022/add-exception-to-selected-category-button.png
  docs/debugger/media/vs-2022/add-generic-exception.png
  docs/debugger/media/vs-2022/additional-actions-column.png
  docs/debugger/media/vs-2022/continue-when-unhandled-in-user-code-setting.png
  docs/debugger/media/vs-2022/exception-settings-check-access.png
  docs/debugger/media/vs-2022/restore-default-exceptions.png
  docs/debugger/media/vs-2022/type-the-exception-name.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#7839 Repo sync for protected CLA branch
  docs/xaml-tools/media/xaml-binding-failures-callouts-expanded.png
  docs/xaml-tools/media/xaml-binding-failures-callouts-inline.png
  docs/xaml-tools/media/xaml-binding-failures-example-expanded.png
  docs/xaml-tools/media/xaml-binding-failures-example-inline.png
  docs/xaml-tools/media/xaml-binding-failures-hot-reload-option.png
  docs/xaml-tools/media/xaml-binding-failures-in-app-2.png
  docs/xaml-tools/media/xaml-binding-failures-in-app.png
  docs/xaml-tools/media/xaml-binding-failures-live-visual-tree.png
  docs/xaml-tools/media/xaml-binding-failures-menu.png
  docs/xaml-tools/media/xaml-binding-failures-no-go-to-code.png
  docs/xaml-tools/media/xaml-binding-failures-output-window-expanded.png
  docs/xaml-tools/media/xaml-binding-failures-output-window-inline.png
  docs/xaml-tools/media/xaml-binding-failures-window-expanded.png
  docs/xaml-tools/media/xaml-binding-failures-window-inline.png
  docs/xaml-tools/media/xaml-binding-failures-wpf-output-options.png
  docs/xaml-tools/toc.yml
  docs/xaml-tools/xaml-data-binding-diagnostics.md
  docs/xaml-tools/xaml-hot-reload.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-xaml-tools/tech, CLA

#7843 Repo sync for protected CLA branch
  docs/ide/code-styles-and-code-cleanup.md
  docs/ide/csharp-developer-productivity.md
  docs/ide/find-and-fix-code-errors.md
  docs/ide/media/vs-2019/configure-code-cleanup.png
  docs/ide/media/vs-2019/execute-code-cleanup.png
  docs/ide/media/vs-2019/run-code-cleanup-project-solution.png
  docs/ide/media/vs-2022/code-style-quick-actions-dialog.png
  docs/ide/media/vs-2022/configure-code-cleanup.png
  docs/ide/media/vs-2022/execute-code-cleanup.png
  docs/ide/media/vs-2022/generate-editorconfig-file-small.png
  docs/ide/media/vs-2022/run-code-cleanup-project-solution.png
  docs/version-control/git-manage-repository.md
  docs/version-control/media/vs-2022/git-repository-rebase-ui.png
  docs/xaml-tools/index.yml
  docs/xaml-tools/xaml-data-binding-diagnostics.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-xaml-tools/tech, CLA

#7815 Attribute name error
  docs/msbuild/common-msbuild-project-items.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#7846 Fixed incorrect verb form
  docs/test/walkthrough-creating-and-running-unit-tests-for-managed-code.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech

#7789 Update how-to-debug-dotnet-framework-source.md
  docs/debugger/how-to-debug-dotnet-framework-source.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged
