Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-10, with the labels that each got.

#8525 Repo sync for protected CLA branch
  .github/workflows/stale-issues.yml
  .github/workflows/stale.yml
  docs/extensibility/how-to-use-the-activity-log.md
  docs/extensibility/inside-the-editor.md
  docs/extensibility/managed-extensibility-framework-in-the-editor.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, CLA, needs-human-review

#8533 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8546 Repo sync for protected CLA branch
  docs/modeling/code-generation-in-a-build-process.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-modeling/tech, CLA, qualifies-for-auto-merge

#8550 Repo sync for protected CLA branch
  docs/deployment/index.yml
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA, needs-human-review

#8524 Update linting properties page image
  docs/javascript/media/vs-2022/linting-project-properties.png
Labels: do-not-merge, change sent to author, vs-javascript/tech, aq-pr-triaged, needs-human-review

#8520 Update docs for linting Tools/Options page
  docs/ide/reference/options-text-editor-javascript-linting.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, aq-pr-triaged, needs-human-review

#8529 docs: update macOS and Apple Silicon references
  docs/msbuild/msbuild-roslyncodetaskfactory.md
  mac/uninstall-net-2019.md
  mac/uninstall-net-2022.md
  mac/uninstall.md
Labels: do-not-merge, change sent to author, vs-ide-install/tech, visual-studio-mac/prod, aq-pr-triaged, qualifies-for-auto-merge

#8495 Update file-nesting-solution-explorer.md
  docs/ide/file-nesting-solution-explorer.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#8528 Replace IDE0067 with IDE0001 in text
  docs/code-quality/roslyn-analyzers-overview.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-code-analysis/tech, aq-pr-triaged, qualifies-for-auto-merge

#8435 Update Office 2021 for the article
  docs/vsto/visual-studio-tools-for-office-runtime.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, office-development/tech, aq-pr-triaged, qualifies-for-auto-merge

#8549 Update Roslyn package version in support doc
  docs/extensibility/roslyn-version-support.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#8556 Resolve syncing conflicts from repo_sync_working_branch to main
  docs/ide/file-nesting-solution-explorer.md
  docs/install/troubleshooting-installation-issues.md
  docs/version-control/git-with-visual-studio.md
  docs/version-control/index.yml
  docs/version-control/toc.yml
  mac/set-up-git-repository.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, needs-human-review

#8562 Repo sync for protected CLA branch
  docs/msbuild/errors/msb3577.md
  docs/version-control/git-with-visual-studio.md
  docs/version-control/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8564 Update doc for MSTest data-driven tests
  docs/test/how-to-create-a-data-driven-unit-test.md
  docs/test/unit-test-basics.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, needs-human-review

#8565 Update quick-start to use Assert.ThrowsException
  docs/test/quick-start-test-driven-development-with-test-explorer.md
Labels: change sent to author, ready-to-merge, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8561 Mention Vue and HTML linting support
  docs/javascript/linting-javascript.md
  docs/javascript/media/vs-2022/linting-project-properties.png
  docs/javascript/media/vs-2022/linting-tools-options.png
Labels: do-not-merge, change sent to author, vs-javascript/tech, aq-pr-triaged, needs-human-review

#8569 Repo sync for protected CLA branch
  docs/install/install-certificates-for-visual-studio-offline.md
Labels: do-not-merge, CLA, qualifies-for-auto-merge

#8567 Rename titles of UWP testing toc sections
  docs/test/toc.yml
Labels: do-not-merge, aq-pr-triaged, needs-human-review

#8568 Fix code sample indent for UWP .NET test
  docs/test/walkthrough-creating-and-running-unit-tests-for-windows-store-apps.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8573 Repo sync for protected CLA branch
  subscriptions/faq/subscriber/azure/includes/expired-azure.md
  subscriptions/faq/subscriber/azure/index.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech, CLA, needs-human-review

#8362 Added step to open custom options page
  docs/extensibility/creating-an-options-page.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#8574 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8581 Repo sync for protected CLA branch
  docs/test/using-microsoft-visualstudio-testtools-unittesting-members-in-unit-tests.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA, needs-human-review

#8582 Repo sync for protected CLA branch
  docs/code-quality/code-metrics-values.md
  docs/debugger/configure-firewall-for-remote-debugging-dialog-box.md
  docs/debugger/debug-live-azure-applications.md
  docs/debugger/debug-live-azure-kubernetes.md
  docs/debugger/debug-live-azure-virtual-machines-time-travel-debugging.md
  docs/debugger/debug-live-azure-virtual-machines.md
  docs/debugger/debugger-tips-and-tricks.md
  docs/debugger/includes/prerequisites-dotnet-linux-ssh.md
  docs/debugger/remote-debugging-aks-on-linux-with-ssh.md
  docs/debugger/remote-debugging-dotnet-core-linux-with-ssh.md
  docs/debugger/toc.yml
  docs/deployment/tutorial-import-publish-settings-iis.md
  docs/designers/disable-dpi-awareness.md
  docs/version-control/git-create-branch.md
  docs/workflow-designer/flowchart-activity-designer.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, CLA, vs-workflow-designer/tech

#8584 Repo sync for protected CLA branch
  docs/python/media/vs-2022/working-in-python-01-create-project-2022.png
  docs/python/tutorial-working-with-python-in-visual-studio-step-01-create-project.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-05-installing-packages.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA, needs-human-review

#8586 Repo sync for protected CLA branch
  docs/javascript/unit-testing-javascript-with-visual-studio.md
  docs/profiling/flame-graph.md
  docs/profiling/media/vs-2022/flame-graph-flip.png
  docs/profiling/media/vs-2022/flame-graph-open-details.png
  docs/profiling/media/vs-2022/flame-graph-overview.png
  docs/profiling/media/vs-2022/flame-graph-tooltips.png
  docs/profiling/media/vs-2022/flame-graph-view.png
  docs/profiling/profiling-feature-tour.md
  docs/profiling/running-profiling-tools-with-or-without-the-debugger.md
  docs/profiling/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA, needs-human-review

#8595 Repo sync for protected CLA branch
  docs/porting/port-migrate-and-upgrade-visual-studio-projects.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8594 Update common-msbuild-project-properties.md
  docs/msbuild/common-msbuild-project-properties.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8604 Repo sync for protected CLA branch
  docs/code-quality/code-metrics-cyclomatic-complexity.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-code-analysis/tech, CLA

#8609 Repo sync for protected CLA branch
  docs/get-started/includes/ide-overview.md
  docs/get-started/visual-basic/visual-studio-ide.md
  docs/ide/reference/connected-experiences.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA

#8612 Repo sync for protected CLA branch
  docs/ide/create-new-project.md
  docs/ide/media/vs-2022/start-window-create-new-project.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review
