Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-01, with the labels that each got.

#7485 Repo sync for protected CLA branch
  docs/test/media/vs-2022/basics-create-unit-tests.png
  docs/test/media/vs-2022/basics-generate-method-tdd.png
  docs/test/media/vs-2022/basics-mybank-solution.png
  docs/test/media/vs-2022/basics-test-explorer.png
  docs/test/media/vs-2022/basics-test-stub.png
  docs/test/media/vs-2022/create-unit-tests.png
  docs/test/media/vs-2022/ute-code-coverage-results.png
  docs/test/unit-test-basics.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7486 Fix MD link to image in vs-ide-benefit.md
  subscriptions/vs-ide-benefit.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, vs-subscriptions/tech

#7490 Repo sync for protected CLA branch
  .openpublishing.redirection.mac.json
Labels: do-not-merge, review-team-triage, CLA

#7492 Fix typos in debugger docs
  docs/debugger/hot-reload.md
  docs/debugger/quickstart-debug-html-and-css.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech

#7497 Semantic fix
  docs/ide/managing-application-resources-dotnet.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged

#7437 Provide documentation for `/TfsLink` (fixes #1903)
  docs/ide/reference/devenv-command-line-switches.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged

#7502 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/python/managing-python-environments-in-visual-studio.md
  docs/python/managing-required-packages-with-requirements-txt.md
  docs/python/selecting-a-python-environment-for-a-project.md
  gamedev/unity/get-started/getting-started-with-visual-studio-tools-for-unity.md
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, CLA

#7505 Repo sync for protected CLA branch
  docs/test/remote-testing.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7507 Fix capitalization of "ForcedLegacyMode"
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech

#7510 Repo sync for protected CLA branch
  docs/version-control/index.yml
  docs/version-control/toc.yml
  subscriptions/azure-access.md
  subscriptions/toc.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-subscriptions/tech, CLA

#7516 Repo sync for protected CLA branch
  docs/modeling/code-generation-and-t4-text-templates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-modeling/tech, CLA

#7517 Repo sync for protected CLA branch
  docs/test/customizing-code-coverage-analysis.md
  mac/install-behind-a-firewall-or-proxy-server.md
  subscriptions/software-download-list.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7518 Fix typos
  docs/javascript/npm-package-management.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-javascript/tech

#7527 Repo sync for protected CLA branch
  docs/msbuild/common-msbuild-project-properties.md
  docs/msbuild/error-task.md
  docs/msbuild/how-to-configure-targets-and-tasks.md
  docs/msbuild/warning-task.md
Labels: CLA

#7529 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/get-started/visual-basic/media/tutorial-wpf/create-desktop-project.png
  docs/get-started/visual-basic/media/tutorial-wpf/exception-unhandled.png
  docs/get-started/visual-basic/media/tutorial-wpf/form-with-text-block.png
  docs/get-started/visual-basic/media/tutorial-wpf/greetings-buttons.png
  docs/get-started/visual-basic/media/tutorial-wpf/greetings-form-radio-buttons.png
  docs/get-started/visual-basic/media/tutorial-wpf/properties-radio-button-name.png
  docs/get-started/visual-basic/media/tutorial-wpf/solution-explorer.png
  docs/get-started/visual-basic/media/tutorial-wpf/toolbox-radio-button.png
  docs/get-started/visual-basic/media/tutorial-wpf/toolbox-tab-text-block.png
  docs/get-started/visual-basic/media/tutorial-wpf/visual-studio-create-project.png
  docs/get-started/visual-basic/media/tutorial-wpf/visual-studio-create-wpf-project.png
  docs/get-started/visual-basic/media/vs-2022/name-winform-project-helloworld.png
  docs/get-started/visual-basic/tutorial-wpf.md
  docs/ide/create-a-visual-basic-winform-in-visual-studio.md
  docs/ide/how-to-add-app-config-file.md
  docs/ide/media/create-a-visual-basic-winform-in-visual-studio/button-name-property.png
  docs/ide/media/create-a-visual-basic-winform-in-visual-studio/button-text-property.png
  docs/ide/media/create-a-visual-basic-winform-in-visual-studio/click-handle-code-visual-basic.png
  docs/ide/media/create-a-visual-basic-winform-in-visual-studio/toolbox-button-form.png
  docs/ide/media/create-a-visual-basic-winform-in-visual-studio/toolbox-tab.png
  docs/ide/media/create-a-visual-basic-winform-in-visual-studio/visual-studio-dialog-hello-world.png
  docs/ide/media/create-a-visual-basic-winform-in-visual-studio/visual-studio-start-debug.png
  docs/ide/media/tutorial-windows-forms-create-match-game/create-new-project-dark-theme.png
  docs/ide/media/tutorial-windows-forms-create-match-game/create-project-windows-forms.png
  docs/ide/media/tutorial-windows-forms-create-match-game/install-dot-net-desktop-env.png
  docs/ide/media/tutorial-windows-forms-create-match-game/install-more-tools.png
  docs/ide/media/tutorial-windows-forms-create-match-game/match-game-final.png
  docs/ide/media/tutorial-windows-forms-create-match-game/match-game-grid-fill.png
  docs/ide/media/tutorial-windows-forms-create-match-game/match-game-grid.png
  docs/ide/media/tutorial-windows-forms-match-game-icons/click-event.png
  docs/ide/media/tutorial-windows-forms-match-game-icons/display-random-icons.png
  docs/ide/media/tutorial-windows-forms-match-game-icons/match-game-start.png
  docs/ide/media/tutorial-windows-forms-match-game-labels/timer-control-icon.png
  docs/ide/media/tutorial-windows-forms-match-game-play/match-game-congratulations.png
  docs/ide/reference/find-in-files-command.md
  docs/ide/step-1-create-a-project-and-add-a-table-to-your-form.md
  docs/ide/step-2-add-a-random-object-and-a-list-of-icons.md
  docs/ide/step-3-assign-a-random-icon-to-each-label.md
  docs/ide/step-4-add-a-click-event-handler-to-each-label.md
  docs/ide/step-5-add-label-references.md
  docs/ide/step-6-add-a-timer.md
  docs/ide/step-7-keep-pairs-visible.md
  docs/ide/step-8-add-a-method-to-verify-whether-the-player-won.md
  docs/ide/step-9-try-other-features.md
  docs/ide/tutorial-3-create-a-matching-game.md
  docs/ide/tutorial-windows-forms-create-match-game.md
  docs/ide/tutorial-windows-forms-match-game-icons.md
  docs/ide/tutorial-windows-forms-match-game-labels.md
  docs/ide/tutorial-windows-forms-match-game-play.md
  docs/toc.yml
Labels: do-not-merge, CLA

#7533 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#7538 MSBuild: VisualStudioVersion is always .0
  docs/msbuild/common-msbuild-project-properties.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech

#7540 Repo sync for protected CLA branch
  docs/ide/reference/find-in-files-command.md
  docs/ide/whats-new-visual-studio-docs.md
  subscriptions/access-github.md
Labels: do-not-merge, CLA

#7546 Repo sync for protected CLA branch
  docs/ide/signing-in-to-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7548 Repo sync for protected CLA branch
  docs/ide/create-portable-custom-editor-options.md
  docs/ide/media/vs-2022/coding_conventions_option-new.png
  docs/ide/media/vs-2022/editorconfig-dotnet-new.png
  docs/ide/media/vs-2022/editorconfig-intellisense-no-extension-new.png
  docs/ide/media/vs-2022/editorconfig-item-templates-new.png
  docs/ide/media/vs-2022/vside_editorconfig_before-new.png
  docs/ide/media/vs-2022/vside_editorconfig_tabsetting-new.png
  docs/ide/signing-in-to-visual-studio.md
  docs/test/media/vs-2022/cpp-add-ref-test-project-2022.png
  docs/test/media/vs-2022/cpp-new-test-project-vs2022.png
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7549 Fix spelling and grammar
  docs/install/create-a-network-installation-of-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech

#7551 Update parameter rootnamespace in template-parameters.md
  docs/ide/template-parameters.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged

#7552 Repo sync for protected CLA branch
  subscriptions/migrate-subscriptions.md
Labels: do-not-merge, CLA

#7429 Update visual-studio-sdk-glossary.md
  docs/extensibility/visual-studio-sdk-glossary.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#7443 Matched the items to name and order in Visual Studio
  docs/extensibility/how-to-use-wizards-with-project-templates.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#7483 Corrected mod1/mod2 values from Ctrl to Control
  docs/extensibility/keybinding-element.md
Labels: change sent to author, ready-to-merge, vs-ide-sdk/tech, aq-pr-triaged

#7423 Code sample formatting
  docs/extensibility/dynamically-adding-menu-items.md
Labels: change sent to author, ready-to-merge, vs-ide-sdk/tech, aq-pr-triaged

#7554 Repo sync for protected CLA branch
  .openpublishing.redirection.mac.json
  docker/tutorials/image-building-best-practices.md
  docs/code-quality/use-roslyn-analyzers.md
  docs/debugger/how-to-enable-and-disable-edit-and-continue.md
  docs/extensibility/media/add-users.png
  docs/extensibility/media/marketplace-user-id.png
  docs/extensibility/walkthrough-publishing-a-visual-studio-extension.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  mac/TOC.yml
  mac/asp-net-core.md
  mac/index.yml
  mac/javascript-and-typescript-support.md
  mac/supported-versions-net.md
Labels: do-not-merge, CLA

#7558 Fix typos in docs/test
  docs/test/troubleshoot-test-controllers-and-test-agents.md
  docs/test/using-different-web-browsers-with-coded-ui-tests.md
  docs/test/writing-unit-tests-for-c-cpp.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech

#7564 Repo sync for protected CLA branch
  docker/TOC.yml
  docker/tutorials/docker-tutorial.md
  docs/designers/walkthrough-windows-forms-designer.md
  docs/ide/create-a-visual-basic-winform-in-visual-studio.md
  docs/ide/create-csharp-winform-visual-studio.md
  docs/ide/reference/options-text-editor-all-languages.md
  docs/ide/reference/options-text-editor-general.md
  docs/ide/tutorial-windows-forms-picture-viewer-code.md
  docs/javascript/compile-typescript-code-npm.md
Labels: do-not-merge, change sent to author, vs-javascript/tech, CLA, vs-code/prod

#7560 Update jit-optimization-and-debugging.md
  docs/debugger/jit-optimization-and-debugging.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged

#7567 Repo sync for protected CLA branch
  docs/ide/customize-build-and-debug-tasks-in-visual-studio.md
  docs/ide/finding-and-replacing-text.md
  docs/version-control/git-browse-repository.md
  docs/version-control/media/vs-2022/git-create-branch-from-commit.png
  gamedev/unity/unity-scripting-upgrade.md
Labels: do-not-merge, change sent to author, visual-studio-dev16/prod, vs-unity-tools/tech, CLA

#7575 Repo sync for protected CLA branch
  docs/profiling/running-profiling-tools-with-or-without-the-debugger.md
  docs/python/debugging-python-code-on-remote-linux-machines.md
  docs/python/debugging-python-in-visual-studio.md
  docs/python/defining-custom-python-project-commands.md
  docs/python/editing-python-code-in-visual-studio.md
  docs/python/installing-python-interpreters.md
  docs/python/python-django-web-application-project-template.md
  docs/python/search-paths.md
  docs/python/tutorial-working-with-python-in-visual-studio-step-01-create-project.md
  docs/test/create-a-unit-test-project.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7572 Fix tsconfig file name and formatting.
  docs/javascript/compile-typescript-code-npm.md
  docs/javascript/compile-typescript-code-nuget.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-javascript/tech, aq-pr-triaged

#7577 Repo sync for protected CLA branch
  docs/ide/media/github-enterprise-managed-users-sign-in.png
  docs/ide/work-with-github-accounts.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#7580 Repo sync for protected CLA branch
  docs/code-quality/in-source-suppression-overview.md
Labels: do-not-merge, CLA

#7581 Repo sync for protected CLA branch
  docs/ide/media/vs-2022/add-personalization-account.png
  docs/ide/media/vs-2022/apply-filter.png
  docs/ide/media/vs-2022/keep-me-signed-in.png
  docs/ide/media/vs-2022/reauthenticate-account.png
  docs/ide/media/vs-2022/select-filter-account.png
  docs/ide/media/vs-2022/select-system-web-browser.png
  docs/ide/work-with-multi-factor-authentication.md
  docs/install/visual-studio-build-numbers-and-release-dates.md
  docs/javascript/tutorial-asp-net-core-with-react.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, CLA

#7582 Fix typos in docs\ide
  docs/ide/reference/inline-method.md
  docs/ide/reference/wrap-indent-align-refactorings.md
  docs/ide/signing-in-to-visual-studio.md
  docs/ide/visual-studio-multi-targeting-overview.md
  docs/ide/work-with-github-accounts.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech

#7588 Repo sync for protected CLA branch
  docs/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger.md
  docs/ide/finding-and-replacing-text.md
  docs/ide/whats-new-visual-studio-2022.md
Labels: do-not-merge, CLA

#7590 Repo sync for protected CLA branch
  docs/code-quality/use-roslyn-analyzers.md
  docs/get-started/tutorial-open-project-from-repo.md
  docs/python/managing-python-projects-in-visual-studio.md
  docs/python/python-item-templates.md
  docs/python/working-with-c-cpp-python-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#7593 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger.md
  docs/designers/disable-dpi-awareness.md
  docs/designers/media/scaling-gold-bar-message.png
  docs/javascript/TOC.yml
  docs/javascript/index.yml
  docs/javascript/javascript-in-visual-studio.md
  docs/javascript/javascript-in-vs-2019.md
  docs/javascript/javascript-in-vs-2022.md
  docs/javascript/media/dbg-jit-enable-or-disable.png
  docs/test/media/add-reference.png
  docs/test/media/range-test-fail.png
  docs/test/media/unit-test-context-menu.png
  docs/test/media/unit-test-done.png
  docs/test/media/unit-test-run.png
  docs/test/media/unit-test.png
  docs/test/media/ute_cs_windows_addreference.png
  docs/test/media/vs-2019/new-uwp-unit-test-app.png
  docs/test/media/vs-2019/test-explorer-done.png
  docs/test/media/vs-2019/test-explorer-rangetest-fail.png
  docs/test/media/vs-2019/test-explorer-run.png
  docs/test/media/vs-2019/test-explorer.png
  docs/test/media/vs-2019/unit-test.png
  docs/test/media/vs-2022/add-reference.png
  docs/test/media/vs-2022/new-uwp-unit-test-app.png
  docs/test/media/vs-2022/test-explorer-done.png
  docs/test/media/vs-2022/test-explorer-rangetest-fail.png
  docs/test/media/vs-2022/test-explorer-run.png
  docs/test/media/vs-2022/test-explorer-uwp-app.png
  docs/test/media/vs-2022/test-explorer.png
  docs/test/media/vs-2022/unit-test.png
  docs/test/media/vs-2022/uwp-unit-test-project-solution-explorer.png
  docs/test/toc.yml
  docs/test/unit-testing-visual-csharp-code-in-a-store-app.md
  docs/test/walkthrough-creating-and-running-unit-tests-for-windows-store-apps.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#7597 Fixed a typo
  docs/extensibility/command-flag-element.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech

#7594 Fix typos in mac docs
  mac/ide-tour.md
  mac/install-behind-a-firewall-or-proxy-server.md
Labels: do-not-merge, change sent to author, vs-ide-general/tech, visual-studio-mac/prod

#7609 Repo sync for protected CLA branch
  docs/code-quality/disable-code-analysis.md
  docs/code-quality/media/run-on-build-run-live-analysis-1.png
  docs/ide/reference/convert-anonymous-type-to-tuple.md
  docs/ide/reference/media/convert-anon-to-tuple-complete.png
  docs/ide/reference/media/convert-anon-to-tuple.png
  docs/javascript/tutorial-asp-net-core-with-angular.md
  docs/javascript/tutorial-asp-net-core-with-react.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
  docs/javascript/tutorial-create-angular-app.md
  docs/javascript/tutorial-create-react-app.md
  docs/javascript/tutorial-create-vue-app.md
  docs/modeling/create-layer-diagrams-from-your-code.md
  docs/python/configure-web-apps-for-iis-windows.md
  docs/python/debugging-mixed-mode-c-cpp-python-in-visual-studio.md
  docs/python/debugging-python-code-on-remote-linux-machines.md
  docs/python/debugging-symbols-for-mixed-mode-c-cpp-python.md
  docs/python/learn-django-in-visual-studio-step-02-create-an-app.md
  docs/python/learn-django-in-visual-studio-step-03-serve-static-files-and-add-pages.md
  docs/python/learn-django-in-visual-studio-step-04-full-django-project-template.md
  docs/python/learn-django-in-visual-studio-step-05-django-authentication.md
  docs/python/learn-django-in-visual-studio-step-06-polls-django-web-project-template.md
  docs/python/learn-flask-visual-studio-step-02-create-app.md
  docs/python/learn-flask-visual-studio-step-03-serve-static-files-add-pages.md
  docs/python/managing-python-on-azure-app-service.md
  docs/python/publishing-python-web-applications-to-azure-from-visual-studio.md
  docs/python/python-web-application-project-templates.md
  docs/python/unit-testing-python-in-visual-studio.md
  docs/python/visual-studio-ide.md
  docs/vsto/how-to-install-office-primary-interop-assemblies.md
Labels: do-not-merge, CLA

#7607 Update the remote debugger 32-bit service port
  docs/debugger/remote-debugger-port-assignments.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged
