Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2022-06, with the labels that each got.

#8099 Repo sync for protected CLA branch
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8079 Typo ".Suo"→".suo"
  docs/extensibility/internals/solution-dot-sln-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#8103 Repo sync for protected CLA branch
  docs/debugger/attach-to-running-processes-with-the-visual-studio-debugger.md
  docs/debugger/media/remote-debugger-azure-app-service.png
  docs/debugger/remote-debugging-azure.md
  docs/debugger/remote-debugging.md
  docs/debugger/unable-to-connect-to-the-microsoft-visual-studio-remote-debugging-monitor.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#8105 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8106 Repo sync for protected CLA branch
  docs/get-started/media/vs-2022/tutorial-comment-out.png
  docs/get-started/media/vs-2022/tutorial-editor-toolbar.png
  docs/get-started/media/vs-2022/tutorial-uncomment.png
  docs/get-started/tutorial-editor.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8107 Repo sync for protected CLA branch
  docs/ide/visual-studio-search.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8108 Repo sync for protected CLA branch
  docs/ide/index.yml
Labels: do-not-merge, CLA

#8102 MSBuild: don't use both Before and AfterTargets
  docs/msbuild/target-build-order.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#8073 Justifying container orchestration
  docs/containers/edit-and-refresh.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged, vs-container-tools/tech

#8122 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/code-quality/toc.yml
  docs/code-quality/version-compatibility-for-code-analysis-check-in-policies.md
  docs/debugger/about-microsoft-spy-increment.md
  docs/debugger/class-tab-window-properties-dialog-box.md
  docs/debugger/copyright-notice-for-spy-increment-help.md
  docs/debugger/debugging-a-data-bound-activex-control.md
  docs/debugger/find-window-dialog-box.md
  docs/debugger/font-dialog-box-microsoft-spy-increment-help.md
  docs/debugger/general-tab-process-properties-dialog-box.md
  docs/debugger/general-tab-thread-properties-dialog-box.md
  docs/debugger/general-tab-window-properties-dialog-box.md
  docs/debugger/help-menu-commands.md
  docs/debugger/memory-tab-process-properties-dialog-box.md
  docs/debugger/menu-commands.md
  docs/debugger/message-options-dialog-box.md
  docs/debugger/message-properties-dialog-box.md
  docs/debugger/message-search-dialog-box.md
  docs/debugger/messages-menu-commands.md
  docs/debugger/messages-tab-message-options-dialog-box.md
  docs/debugger/other-dialog-boxes.md
  docs/debugger/output-tab-message-options-dialog-box.md
  docs/debugger/page-file-tab-process-properties-dialog-box.md
  docs/debugger/process-properties-dialog-box.md
  docs/debugger/process-search-dialog-box.md
  docs/debugger/process-tab-window-properties-dialog-box.md
  docs/debugger/search-menu-commands.md
  docs/debugger/search-tools-for-spy-increment-views.md
  docs/debugger/space-tab-process-properties-dialog-box.md
  docs/debugger/spy-increment-reference.md
  docs/debugger/spy-menu-commands.md
  docs/debugger/styles-tab-window-properties-dialog-box.md
  docs/debugger/thread-properties-dialog-box.md
  docs/debugger/thread-search-dialog-box.md
  docs/debugger/toc.yml
  docs/debugger/tree-menu-commands.md
  docs/debugger/view-menu-commands.md
  docs/debugger/window-menu-commands.md
  docs/debugger/window-properties-dialog-box.md
  docs/debugger/window-search-dialog-box.md
  docs/debugger/windows-tab-message-options-dialog-box.md
  docs/debugger/windows-tab-window-properties-dialog-box.md
  docs/test/customizing-code-coverage-analysis.md
  docs/test/improve-code-quality.md
  docs/test/microsoft-code-coverage-console-tool.md
  docs/test/toc.yml
  subscriptions/vs-azure-devops.md
Labels: do-not-merge, CLA

#8130 Repo sync for protected CLA branch
  docs/debugger/format-specifiers-in-cpp.md
  docs/python/debugging-python-code-on-remote-linux-machines.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#8131 Repo sync for protected CLA branch
  docs/ide/reference/options-text-editor-general.md
  docs/python/linting-python-code.md
  docs/python/media/interactive-importlib-scope.png
  docs/python/media/interactive-scopes.png
  docs/python/media/interactive-send-to-vs-22.png
  docs/python/media/interactive-window.png
  docs/python/media/profiling-results-vs-22.png
  docs/python/media/vs-2022/code-refactor-add-import-1.png
  docs/python/media/vs-2022/code-refactor-extract-method-1.png
  docs/python/media/vs-2022/code-refactor-extract-method-2.png
  docs/python/media/vs-2022/code-refactor-remove-imports-1.png
  docs/python/media/vs-2022/code-refactor-rename-1.png
  docs/python/profiling-python-code-in-visual-studio.md
  docs/python/python-interactive-repl-in-visual-studio.md
  docs/python/refactoring-python-code.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA

#8134 Indenting link descriptions
  docs/msbuild/logging-in-msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech

#8136 Repo sync for protected CLA branch
  docs/python/configure-web-apps-for-iis-windows.md
  docs/python/managing-python-on-azure-app-service.md
  docs/vsto/deploying-a-vsto-solution-by-using-windows-installer.md
Labels: do-not-merge, CLA

#8137 Repo sync for protected CLA branch
  docs/ide/reference/tabs-and-windows-environment-options-dialog-box.md
  docs/python/linting-python-code.md
Labels: do-not-merge, CLA

#8155 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8104 chore: Set permissions for GitHub actions
  .github/workflows/stale-issues.yml
Labels: do-not-merge, aq-pr-triaged, review-team-triage

#8159 Repo sync for protected CLA branch
  docs/install/visual-studio-on-arm-devices.md
  docs/windows/index.yml
  gamedev/unity/change-log-visual-studio-tools-for-unity-mac.md
  subscriptions/vs-concierge-chat.md
  subscriptions/vs-datacamp.md
  subscriptions/vs-developer-community.md
  subscriptions/vs-ide-benefit.md
  subscriptions/vs-linkedin-learning.md
Labels: do-not-merge, CLA

#8120 Provide Clearer Error Message for Bad Delimiters
  docs/msbuild/errors/msb3644.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#8166 Repo sync for protected CLA branch
  subscriptions/product-keys.md
Labels: do-not-merge, CLA

#8167 Repo sync for protected CLA branch
  docs/ide/reference/options-text-editor-advanced.md
Labels: do-not-merge, CLA

#8174 Repo sync for protected CLA branch
  docs/deployment/clickonce-security-and-deployment.md
  docs/deployment/how-to-publish-a-clickonce-application-using-the-publish-wizard.md
  docs/get-started/csharp/tutorial-debugger.md
  docs/ide/finding-and-using-visual-studio-extensions.md
  docs/ide/reference/media/vs-2019/project-properties-designer-csharp-console.png
  docs/ide/reference/media/vs-2019/project-properties-designer-visual-basic-console.png
  docs/ide/reference/media/vs-2022/project-properties-designer-csharp-console.png
  docs/ide/reference/media/vs-2022/project-properties-designer-visual-basic-console.png
  docs/ide/reference/options-text-editor-advanced.md
  docs/ide/reference/project-properties-reference.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8181 Repo sync for protected CLA branch
  docs/xml-tools/xml-schema-designer.md
Labels: do-not-merge, CLA

#8183 Repo sync for protected CLA branch
  docs/modeling/adding-extensions-to-dsl-definitions.md
  docs/modeling/calculated-and-custom-storage-properties.md
  docs/modeling/creating-a-wpf-based-domain-specific-language.md
  docs/modeling/defining-a-locking-policy-to-create-read-only-segments.md
  docs/modeling/writing-code-to-customise-a-domain-specific-language.md
Labels: do-not-merge, CLA

#8201 Repo sync for protected CLA branch
  docs/ide/reference/options-text-editor-advanced.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8202 Repo sync for protected CLA branch
  docs/ide/code-styles-and-code-cleanup.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8203 Repo sync for protected CLA branch
  docs/debugger/hot-reload.md
  subscriptions/mpsa.md
Labels: do-not-merge, CLA

#8173 Fix typo in xml snippit
  docs/msbuild/errors/msb3644.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#8171 MSBuild: Exists doesn't glob
  docs/msbuild/msbuild-conditions.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8211 Repo sync for protected CLA branch
  docs/ide/creating-solutions-and-projects.md
  docs/ide/media/solution-explorer-two-projects-expanded.png
  docs/ide/media/solution-explorer-two-projects-inline.png
  docs/ide/media/vside-solution-explorer-projects.png
Labels: do-not-merge, CLA

#8216 Repo sync for protected CLA branch
  docs/debugger/debugging-absolute-beginners.md
  docs/debugger/how-to-use-the-call-stack-window.md
  docs/debugger/using-dump-files.md
  docs/javascript/debug-nodejs.md
  docs/javascript/media/tutorial-nodejs-react-set-breakpoint-debug-pause.png
  docs/test/media/vs-2019/analyze-code-coverage.png
  docs/test/media/vs-2022/code-coverage-highlight.png
  docs/test/media/vs-2022/coverage-fonts-and-colors.png
  docs/test/using-code-coverage-to-determine-how-much-code-is-being-tested.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, CLA

#8218 Repo sync for protected CLA branch
  docs/test/troubleshooting-code-coverage.md
Labels: do-not-merge, CLA

#8220 Repo sync for protected CLA branch
  docs/ide/troubleshooting-broken-references.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA
