Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-09, with the labels that each got.

#9607 Update configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#9585 Update how-to-create-a-data-driven-unit-test.md
  docs/test/how-to-create-a-data-driven-unit-test.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#9609 Fixes #9608 - Wrong using directive in CalculatorLibrary.cs
  docs/get-started/csharp/tutorial-console-part-2.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#9621 Added missing </AL> in item-metadata-in-target-batching.md
  docs/msbuild/item-metadata-in-target-batching.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9622 Update outdated link on language-server-protocol.md
  docs/extensibility/language-server-protocol.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#9641 Update what-happened-to-vs-for-mac.md
  mac/what-happened-to-vs-for-mac.md
Labels: change sent to author, ready-to-merge, vs-ide-general/tech, visual-studio-mac/prod, qualifies-for-auto-merge
