Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-12, with the labels that each got.

#9853 Adding clarity where Bitmaps section is
  docs/extensibility/adding-icons-to-menu-commands.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#9875 Update LPE docs to include support for .NET MAUI
  docs/xaml-tools/inspect-xaml-properties-while-debugging.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged, vs-xaml-tools/tech, qualifies-for-auto-merge

#9856 fix typo rename gPRC to gRPC
  docs/azure/overview-connected-services.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-azure/tech, aq-pr-triaged, qualifies-for-auto-merge

#9870 Update index.yml
  docs/get-started/csharp/index.yml
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, aq-pr-triaged, needs-human-review, vs-acquisition/tech

#9890 MSBuild: updates to `UsingTask` around `TaskHostFactory`
  docs/msbuild/how-to-configure-targets-and-tasks.md
  docs/msbuild/usingtask-element-msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9898 Description in wrong column for get[Item|Property|TargetResult]
  docs/msbuild/msbuild-command-line-reference.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, qualifies-for-auto-merge
