Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-03, with the labels that each got.

#8987 Mention Private metadata for ProjectReference
  docs/msbuild/common-msbuild-project-items.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8944 Update `isolate` doc
  docs/msbuild/msbuild-command-line-reference.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8973 Update how-to-change-the-build-output-directory.md
  docs/ide/how-to-change-the-build-output-directory.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-compile/tech, aq-pr-triaged, qualifies-for-auto-merge

#8972 Update link to Roadmap for Bridge to Kubernetes project
  bridge/articles/overview-bridge-to-kubernetes.md
Labels: do-not-merge, change sent to author, visual-studio-family/prod, aq-pr-triaged, bridge/tech, qualifies-for-auto-merge

#8945 Add `inputResultsCaches` doc
  docs/msbuild/msbuild-command-line-reference.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8967 Update c-cpp-assertions.md
  docs/debugger/c-cpp-assertions.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged, qualifies-for-auto-merge

#8892 Added rm for Preview version of the VS for Mac
  mac/resources/uninstall-vsmac.sh
Labels: do-not-merge, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#9037 Update design-time-code-generation-by-using-t4-text-templates.md
  docs/modeling/design-time-code-generation-by-using-t4-text-templates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-modeling/tech, aq-pr-triaged, qualifies-for-auto-merge

#8920 Update using-microsoft-visualstudio-testtools-unittesting-members-in-…
  docs/test/using-microsoft-visualstudio-testtools-unittesting-members-in-unit-tests.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8918 Update configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#9045 MSBuild: Property functions must be public
  docs/msbuild/property-functions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9061 Update isolating-code-under-test-with-microsoft-fakes.md
  docs/test/isolating-code-under-test-with-microsoft-fakes.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#9075 Grammatical fixes
  docs/extensibility/internals/solution-dot-sln-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, qualifies-for-auto-merge

#8889 Add WindowsAppSDK/WinUI 3 related tags
  docs/ide/template-tags.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#9105 Update remote-debugging-python-code.md
  docs/python/includes/vs-2019/remote-debugging-python-code.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, qualifies-for-auto-merge
