Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-08, with the labels that each got.

#9507 Fix image indentation in bullet points
  docs/ide/work-with-github-accounts.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, qualifies-for-auto-merge

#9510 Missing ending pair for output code block
  docs/msbuild/msbuild-properties.md
Labels: do-not-merge, change sent to author, msbuild/tech, qualifies-for-auto-merge

#9526 clarifying why a user might need to obtain and build plugin from github
  gamedev/unreal/get-started/vs-tools-unreal-install.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, visual-studio/prod, qualifies-for-auto-merge

#9564 Update walkthrough-using-msbuild.md
  docs/msbuild/walkthrough-using-msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9558 update roslyn version page
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge
