Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-01, with the labels that each got.

#8788 New code coverage filters
  docs/test/using-code-coverage-to-determine-how-much-code-is-being-tested.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8812 Repo sync for protected CLA branch
  docker/tutorials/docker-tutorial.md
Labels: do-not-merge, change sent to author, CLA, vs-code/prod

#8814 Repo sync for protected CLA branch
  docs/msbuild/msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, CLA

#8815 Repo sync for protected CLA branch
  docs/msbuild/common-msbuild-project-properties.md
  docs/msbuild/customize-your-build.md
Labels: do-not-merge, change sent to author, msbuild/tech, CLA

#8818 Repo sync for protected CLA branch
  docs/ide/whats-new-visual-studio-docs.md
  docs/python/data-science-and-analytical-applications-workload.md
  docs/python/installing-python-support-in-visual-studio.md
  docs/python/managing-required-packages-with-requirements-txt.md
  docs/python/overview-of-python-tools-for-visual-studio.md
  docs/python/publish-to-app-service-windows.md
  docs/python/quickstart-03-python-in-visual-studio-project-from-repository.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-python/tech, CLA, needs-human-review

#8819 Repo sync for protected CLA branch
  .github/workflows/stale-issues.yml
  .github/workflows/stale.yml
  docs/install/create-a-network-installation-of-visual-studio.md
  docs/install/troubleshooting-installation-issues.md
  docs/install/troubleshooting-network-related-errors-in-visual-studio.md
  docs/install/update-a-network-installation-of-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA, needs-human-review

#8820 Add missing period
  docs/msbuild/walkthrough-using-msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, qualifies-for-auto-merge

#8821 Repo sync for protected CLA branch
  docs/get-started/csharp/media/vs-2022/calculator-add-project-reference.png
  docs/get-started/csharp/media/vs-2022/calculator-add-project.png
  docs/get-started/csharp/media/vs-2022/calculator-reference-manager.png
  docs/get-started/csharp/media/vs-2022/calculator-solution-explorer-with-class-library.png
  docs/get-started/csharp/media/vs-2022/calculator-solution-explorer-with-project-reference.png
  docs/get-started/csharp/tutorial-console-part-2.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA, needs-human-review

#8826 Link for "Understanding Symbol files" not entered correctly
  docs/ide/visual-studio-performance-tips-and-tricks.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#8829 Repo sync for protected CLA branch
  docs/debugger/error-the-web-server-is-not-configured-correctly.md
  docs/debugger/error-unable-to-start-debugging-on-the-web-server.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, CLA

#8830 Repo sync for protected CLA branch
  docs/ide/reference/command-prompt-powershell.md
  docs/ide/reference/settings-page-project-designer.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, CLA

#8835 Repo sync for protected CLA branch
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, CLA

#8840 Adding version specifier to paragraph on filters
  docs/test/using-code-coverage-to-determine-how-much-code-is-being-tested.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8837 Update MSTest element
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8844 Add note that the Just-In-Time component is required
  docs/debugger/debug-using-the-just-in-time-debugger.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged, qualifies-for-auto-merge

#8861 Update Django tutorial with re_path call
  docs/python/learn-django-in-visual-studio-step-02-create-an-app.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-python/tech, qualifies-for-auto-merge

#8862 Update Django tutorial with re_path call on page 3
  docs/python/learn-django-in-visual-studio-step-03-serve-static-files-and-add-pages.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-python/tech, aq-pr-triaged, qualifies-for-auto-merge

#8857 Remove References section from JavaScript tools/options documentation
  docs/ide/reference/options-text-editor-javascript-intellisense.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-javascript/tech, aq-pr-triaged, needs-human-review

#8726 Update property-functions.md
  docs/msbuild/property-functions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8804 Improve code formatting
  docs/msbuild/tutorial-custom-task-code-generation.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8832 Add information about HadAnyDuplicates output
  docs/msbuild/removeduplicates-task.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#8848 [tooltaskextension-base-params.md] std error vs. std output typo
  docs/msbuild/includes/tooltaskextension-base-params.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, aq-pr-triaged, qualifies-for-auto-merge

#8748 Fix formatting and bullet points
  docs/extensibility/internals/using-the-managed-package-framework-to-implement-a-project-type-csharp.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, needs-human-review

#8770 Promote heading
  docs/extensibility/image-service-and-catalog.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#8771 Fix formatting
  docs/extensibility/internals/image-library-viewer.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#8772 Ensure necessary include is present
  docs/extensibility/image-service-and-catalog.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#8865 Update Django tutorial 3-4: extends tag
  docs/python/learn-django-in-visual-studio-step-03-serve-static-files-and-add-pages.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-python/tech, aq-pr-triaged, qualifies-for-auto-merge

#8887 Unnecessary string interpolation in sample code
  docs/containers/tutorial-multicontainer.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged, vs-container-tools/tech, qualifies-for-auto-merge

#8899 Add missing word
  docs/javascript/tutorial-aspnet-with-typescript.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-javascript/tech, aq-pr-triaged, qualifies-for-auto-merge
