Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-02, with the labels that each got.

#8919 Update mstest-update-to-mstestv2.md
  docs/test/mstest-update-to-mstestv2.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#8878 Fix word
  docs/debugger/visualizer-advanced-scenarios.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, aq-pr-triaged, qualifies-for-auto-merge

#8886 Update to Remove extension steps
  docs/extensibility/media/remove-extension.png
  docs/extensibility/media/remove-warning.png
  docs/extensibility/walkthrough-publishing-a-visual-studio-extension.md
Labels: do-not-merge, change sent to author, vs-ide-sdk/tech, aq-pr-triaged

#8971 Correct VS 17.4.33403.182 display version number
  docs/install/visual-studio-build-numbers-and-release-dates.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged, qualifies-for-auto-merge

#8977 Fix typo in how-to-exclude-files-from-the-build.md
  docs/msbuild/how-to-exclude-files-from-the-build.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, qualifies-for-auto-merge

#8927 Add documentation for [DeploymentItem] attribute
  docs/test/using-microsoft-visualstudio-testtools-unittesting-members-in-unit-tests.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, needs-human-review

#8974 update Note section due to end users confusion
  docs/ide/file-nesting-solution-explorer.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge
