Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-05, with the labels that each got.

#9185 Remove a duplicate link.
  docs/msbuild/msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9198 Update default-keyboard-shortcuts-in-visual-studio.md
  docs/ide/default-keyboard-shortcuts-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#9206 updating AssemblyResolution description as it's not supported in netcore/net versions of MSTest
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#9212 Added roslyn 4.5.0 and 4.6.0 to version support list.
  docs/extensibility/roslyn-version-support.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#9213 Update DIA SDK filepaths and DLL names
  docs/debugger/debug-interface-access/getting-started-debug-interface-access-sdk.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged, needs-human-review

#9230 Fix Typo in XML sample
  docs/ide/how-to-change-the-build-output-directory.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-compile/tech, aq-pr-triaged, qualifies-for-auto-merge

#9247 Typo "GitHub Action workflows"→"GitHub Actions workflows"
  docs/deployment/azure-deployment-using-github-actions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-deployment/tech, qualifies-for-auto-merge

#9255 MSBuild: Missing word in note
  docs/msbuild/target-build-order.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, qualifies-for-auto-merge

#9245 Update roslyn versions for 17.6 GA
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#9266 Remove /FailWhenNoTestsFound that was not shipped
  docs/test/vstest-console-options.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#9273 Typo "Excute" → "Execute"
  docs/extensibility/changing-the-text-of-a-menu-command.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, qualifies-for-auto-merge
