Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-07, with the labels that each got.

#9350 MSBuild: CLI switch -low
  docs/msbuild/msbuild-command-line-reference.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9392 Update dialog.md
  docs/extensibility/visualstudio.extensibility/dialog/dialog.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#9403 Fix vs. abbreviation
  docs/ide/visual-cpp-code-snippets.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, qualifies-for-auto-merge, docs-editor-pilot

#9408 Update tutorial-asp-net-core-with-react.md
  docs/javascript/tutorial-asp-net-core-with-react.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-javascript/tech, aq-pr-triaged, qualifies-for-auto-merge

#9389 Update install-and-use-visual-studio-behind-a-firewall-or-proxy-serve…
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-installation/tech, aq-pr-triaged, qualifies-for-auto-merge

#9410 Fix typo in how-to-create-a-data-driven-unit-test.md
  docs/test/how-to-create-a-data-driven-unit-test.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-test/tech, qualifies-for-auto-merge

#9333 Update usingtask-element-msbuild.md to fix link
  docs/msbuild/usingtask-element-msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9373 Update property-functions.md
  docs/msbuild/property-functions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9400 Update docker-tutorial.md
  docker/tutorials/docker-tutorial.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, vs-code/prod, qualifies-for-auto-merge

#9385 The Exec task calls /bin/sh on Linux
  docs/msbuild/exec-task.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9308 Add missing options to CompileAs MSBuild Property
  docs/msbuild/cl-task.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9382 Update RunConfiguration with TestCaseFilter info
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-test/tech, aq-pr-triaged, qualifies-for-auto-merge

#9431 Fix typo: `clangformat.exe` -> `clang-format.exe`
  docs/ide/reference/options-text-editor-c-cpp-formatting.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged, qualifies-for-auto-merge

#9463 Update dotnet-alloc-tool.md (Typo correction)
  docs/profiling/dotnet-alloc-tool.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, aq-pr-triaged, qualifies-for-auto-merge

#9430 Update incremental builds docs
  docs/msbuild/incremental-builds.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9394 Add note about supporting state for WinUI 3
  docs/xaml-tools/creating-a-ui-by-using-xaml-designer-in-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, aq-pr-triaged, vs-xaml-tools/tech, qualifies-for-auto-merge
