Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2023-04, with the labels that each got.

#9051 Update update-visual-studio-extension.md
  docs/extensibility/migration/update-visual-studio-extension.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#8925 Update walkthrough-publishing-a-visual-studio-extension.md
  docs/extensibility/walkthrough-publishing-a-visual-studio-extension.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#9143 Update navigating-through-code-with-the-debugger.md
  docs/debugger/navigating-through-code-with-the-debugger.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, qualifies-for-auto-merge

#9136 MSBuild: specify TaskHostFactory is short-lived
  docs/msbuild/how-to-configure-targets-and-tasks.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9183 Update project-element-msbuild.md
  docs/msbuild/project-element-msbuild.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, qualifies-for-auto-merge

#9146 Update tutorial-console-part-2.md
  docs/get-started/csharp/tutorial-console-part-2.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge
