Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2024-06, with the labels that each got.

#10265 Update how-to-report-a-problem-with-visual-studio.md
  docs/ide/how-to-report-a-problem-with-visual-studio.md
Labels: do-not-merge, change sent to author, visual-studio-windows/svc, general-ide/subsvc

#10269 Update framework version on signing
  docs/ide/how-to-sign-application-and-deployment-manifests.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, deployment/subsvc

#10258 Update tutorial-multicontainer.md
  docs/containers/tutorial-multicontainer.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, container-tools/subsvc

#10272 Update Roslyn package versions.
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10284 Code formatting and syntax highlighting
  docs/extensibility/internals/command-implementation.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10251 Update list of known word wrap issues
  docs/ide/reference/how-to-manage-word-wrap-in-the-editor.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#10287 Fix errors in code samples
  docs/extensibility/internals/command-implementation.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc
