Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2024-11, with the labels that each got.

#10470 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: do-not-merge

#10485 Fix description of get_modifierValues
  docs/debugger/debug-interface-access/idiasymbol-get-modifiervalues.md
Labels: change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10484 Fix incorrect enum value name in extended documentation.
  docs/debugger/debug-interface-access/cv-modifier-e.md
Labels: change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10488 Update msbuild - less is more
  docs/msbuild/msbuild.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10478 Fix project name in adding-a-tool-window.md
  docs/extensibility/adding-a-tool-window.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10491 correct text
  docs/extensibility/visualstudio.extensibility/index.yml
Labels: do-not-merge, change sent to author, needs-human-review, visual-studio-windows/svc, extensibility-integration/subsvc

#10495 Add CV_MOD_UNALIGNED to examples
  docs/debugger/debug-interface-access/cv-modifier-e.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10493 Update example usage for IDiaSymbol::get_value
  docs/debugger/debug-interface-access/idiasymbol-get-value.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10507 fixed casing for -consoleLoggerParameters example
  docs/msbuild/msbuild-command-line-reference.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10509 Fix typo in vs-tools-unreal-install.md
  gamedev/unreal/get-started/vs-tools-unreal-install.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio/svc, unreal-engine-tools/subsvc
