Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2024-04, with the labels that each got.

#10162 Fix code example not appearing under the bullet point
  docs/msbuild/msbuild-best-practices.md
Labels: do-not-merge, change sent to author, needs-human-review, visual-studio-windows/svc, msbuild/subsvc

#10181 Update index.yml
  docs/extensibility/visualstudio.extensibility/index.yml
Labels: do-not-merge, change sent to author, aq-pr-triaged, needs-human-review, visual-studio-windows/svc, extensibility-integration/subsvc

#10135 Improve input validation message
  docs/get-started/csharp/tutorial-console.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, visual-studio-windows/svc, general-ide/subsvc

#10182 Fix a few typos
  docs/debugger/debug-interface-access/idiasymbol-get-issafebuffers.md
  docs/debugger/debug-interface-access/idiasymbol-get-sealed.md
  docs/debugger/debugger-tips-and-tricks.md
  docs/extensibility/debugger/reference/idebugcodecontext2-getdocumentcontext.md
  docs/extensibility/debugger/reference/idebugcomplussymbolprovider-loadsymbols.md
  docs/extensibility/debugger/reference/idebugsettingscallback2-geteelocalobject.md
  docs/extensibility/project-element-visual-studio-templates.md
  docs/extensibility/walkthrough-creating-a-view-adornment-commands-and-settings-column-guides.md
  docs/modeling/customizing-the-properties-window.md
  docs/modeling/understanding-the-dsl-code.md
  docs/msbuild/msbuild-targets.md
  docs/test/live-unit-testing.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, needs-human-review, visual-studio-windows/svc, test-tools/subsvc

#10189 Fix a few misspellings, aricle mismatches
  bridge/articles/bridge-to-kubernetes-vs-code.md
  docs/azure/vs-azure-tools-cloud-service-project-managing-roles.md
  docs/debugger/exception-helper.md
  docs/debugger/not-in-toc/snapshot-debugger-start-page.md
  docs/deployment/dependency-element-clickonce-application.md
  docs/extensibility/adding-a-toolbar-to-a-tool-window.md
  docs/extensibility/adding-and-removing-property-pages.md
  docs/extensibility/creating-a-software-development-kit.md
  docs/extensibility/debugger/reference/idebugcomplussymbolprovider-getattributedclassesforlanguage.md
  docs/extensibility/debugger/reference/idebugsettingscallback2-geteelocalobject.md
  docs/extensibility/debugger/reference/idebugsettingscallback2-geteemetricguid.md
  docs/extensibility/debugger/reference/idebugsymbolsearchevent2-getsymbolsearchinfo.md
  docs/extensibility/how-to-use-rule-based-ui-context-for-visual-studio-extensions.md
  docs/extensibility/internals/microsoft-help-viewer-sdk.md
  docs/extensibility/internals/test-area-7-share.md
  docs/extensibility/persisting-the-property-of-a-project-item.md
  docs/extensibility/ux-guidelines/ui-text-and-help-for-visual-studio.md
  docs/extensibility/visualstudio.extensibility/visualstudio-extensibility.md
  docs/ide/file-nesting-solution-explorer.md
  docs/ide/walkthrough-creating-a-multiple-computer-build-environment.md
  docs/install/automated-installation-with-response-file.md
  docs/install/update-a-network-installation-of-visual-studio.md
  docs/install/visual-studio-administrator-guide.md
  docs/javascript/tutorial-asp-net-core-with-vue.md
  docs/modeling/customizing-tools-and-the-toolbox.md
  docs/modeling/design-time-code-generation-by-using-t4-text-templates.md
  docs/modeling/integrating-models-by-using-visual-studio-modelbus.md
  docs/modeling/properties-of-domain-roles.md
  docs/msbuild/item-element-msbuild.md
  docs/msbuild/msbuild-targets.md
  docs/msbuild/xsltransformation-task.md
  docs/python/learn-django-in-visual-studio-step-05-django-authentication.md
  docs/python/using-python-cookiecutter-templates.md
  docs/sharepoint/designing-a-business-data-connectivity-model.md
  docs/sharepoint/how-to-include-a-custom-assembly-in-a-bdc-feature.md
  docs/test/intellitest-manual/static-helper-classes.md
  docs/vsto/how-to-add-commands-to-shortcut-menus.md
  docs/vsto/walkthrough-creating-your-first-vsto-add-in-for-project.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, needs-human-review, visual-studio-windows/svc, office-development/subsvc

#10210 Fixed typo in tutorial-test-custom-task.md
  docs/msbuild/tutorial-test-custom-task.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10203 Removed duplicate entries in a table under "Docker Compose MSBuild properties"
  docs/containers/docker-compose-properties.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, container-tools/subsvc

#10215 Clarify ProjectReference Targets metadata
  docs/msbuild/common-msbuild-project-items.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10202 Directory.Build.props and Directory.Build.targets work with C++ projects
  docs/msbuild/customize-by-directory.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10161 Fix typo for Static Class Usage 'calculator'
  docs/get-started/csharp/tutorial-console.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#10163 Added missing Step in the Complete Code
  docs/get-started/csharp/tutorial-console-part-2.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#10218 Fix a couple of typos
  docs/ide/how-to-create-multi-project-templates.md
  docs/test/intellitest-manual/exploration-bounds.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, test-tools/subsvc
