Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2024-09, with the labels that each got.

#10384 Add missing space before links
  docs/debugger/debugging-preparation-visual-cpp-project-types.md
  docs/extensibility/debugger/control-events.md
  docs/extensibility/debugger/implementing-and-registering-a-port-supplier.md
  docs/extensibility/debugger/reference/bp-passcount.md
  docs/extensibility/debugger/reference/debug-address-union.md
  docs/extensibility/debugger/reference/idebugbreakpointrequest2-getlocationtype.md
  docs/extensibility/internals/services-provided-source-control-vspackage.md
  docs/extensibility/walkthrough-creating-a-view-adornment-commands-and-settings-column-guides.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10347 Use ToDouble() instead of ToInt32() for double type variable
  docs/get-started/csharp/tutorial-console.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#10408 Typo in navigating-through-code-with-the-debugger.md
  docs/debugger/navigating-through-code-with-the-debugger.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10398 Update roslyn-analyzers-and-code-aware-library-for-immutablearrays.md
  docs/extensibility/roslyn-analyzers-and-code-aware-library-for-immutablearrays.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10416 Fix validation issue
  gamedev/unreal/get-started/vs-tools-unreal-add-class-module-plugin.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio/svc, unreal-engine-tools/subsvc
