Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2024-03, with the labels that each got.

#10097 Update customize-by-directory.md
  docs/msbuild/customize-by-directory.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10101 Disambiguate from-scratch project from csproj
  docs/msbuild/walkthrough-creating-an-msbuild-project-file-from-scratch.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10116 Make it clear that you cannot filter the list of tests that get displayed
  docs/test/vstest-console-options.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, test-tools/subsvc

#10049 Update attaching-directly-to-a-program.md
  docs/extensibility/debugger/attaching-directly-to-a-program.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10048 Update ca2211-non-constant-fields-should-not-be-visible_1.cs
  docs/code-quality/codesnippet/CSharp/ca2211-non-constant-fields-should-not-be-visible_1.cs
Labels: do-not-merge, change sent to author, aq-pr-triaged, needs-human-review

#10138 Update how-to-provide-brokered-service.md
  docs/extensibility/how-to-provide-brokered-service.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10143 Add SOH and UOH to psuedovariables
  docs/debugger/pseudovariables.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10121 Fix XAML samples in Advanced Remote UI page
  docs/extensibility/visualstudio.extensibility/inside-the-sdk/advanced-remote-ui.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc
