Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2024-01, with the labels that each got.

#9922 Fix the wrong template function name pattern.
  docs/debugger/just-my-code.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-debug/tech, aq-pr-triaged, qualifies-for-auto-merge

#9905 Update designing-and-viewing-classes-and-types.md
  docs/ide/class-designer/designing-and-viewing-classes-and-types.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-general/tech, aq-pr-triaged, qualifies-for-auto-merge

#9918 Add return type to `GetDirectoryNameOfFileAbove` property function
  docs/msbuild/property-functions.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged, qualifies-for-auto-merge

#9866 Update image-service-and-catalog.md
  docs/extensibility/image-service-and-catalog.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged, qualifies-for-auto-merge

#9900 User config file description update
  docs/msbuild/customize-your-local-build.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, msbuild/tech, aq-pr-triaged

#9914 Update command-flag-element.md
  docs/extensibility/command-flag-element.md
Labels: do-not-merge, change sent to author, visual-studio-windows/prod, vs-ide-sdk/tech, aq-pr-triaged

#9966 docs: making correcting about the test explorer location
  docs/test/run-unit-tests-with-test-explorer.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, test-tools/subsvc

#9983 Update code-snippets.md
  docs/ide/code-snippets.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#9958 Mention ResolveAssemblyReferenceIgnoreTargetFrameworkAttributeVersionMismatch
  docs/msbuild/errors/msb3274.md
  docs/msbuild/errors/msb3275.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10000 Update idiainjectedsource.md
  docs/debugger/debug-interface-access/idiainjectedsource.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc
