Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2024-08, with the labels that each got.

#10329 Fix a bunch of mistakes around backticks
  docs/data-tools/query-datasets.md
  docs/data-tools/update-data-by-using-a-tableadapter.md
  docs/debugger/debug-interface-access/lexical-hierarchy-of-symbol-types.md
  docs/deployment/localizing-clickonce-applications.md
  docs/deployment/trustinfo-element-clickonce-application.md
  docs/deployment/walkthrough-downloading-assemblies-on-demand-with-the-clickonce-deployment-api.md
  docs/extensibility/debugger/evaluating-a-watch-window-expression.md
  docs/extensibility/debugger/reference/const-guid-array.md
  docs/extensibility/debugger/reference/field-kind.md
  docs/extensibility/error-handling-and-return-values.md
  docs/extensibility/internals/project-configuration-object.md
  docs/extensibility/internals/property-pages.md
  docs/extensibility/sccaddfromscc-function.md
  docs/extensibility/scccreatesubproject-function.md
  docs/extensibility/sccgetparentprojectpath-function.md
  docs/extensibility/sccopenproject-function.md
  docs/extensibility/sccsetoption-function.md
  docs/extensibility/visual-cpp-project-extensibility.md
  docs/get-started/csharp/tutorial-debugger.md
  docs/modeling/text-template-utility-methods.md
  docs/msbuild/how-to-select-the-files-to-build.md
  docs/msbuild/msbuild-tasks-specific-to-visual-cpp.md
  docs/msbuild/resolvecomreference-task.md
  docs/msbuild/troubleshoot-assembly-references.md
  docs/msbuild/tutorial-rest-api-client-msbuild.md
  docs/sharepoint/walkthrough-profiling-a-sharepoint-application.md
  docs/test/live-unit-testing-start.md
  docs/vsto/how-to-cache-data-for-use-offline-or-on-a-server.md
  docs/vsto/how-to-programmatically-save-documents.md
Labels: do-not-merge, change sent to author, needs-human-review, visual-studio-windows/svc, office-development/subsvc

#10353 Update windows-forms-designer-overview.md
  docs/designers/windows-forms-designer-overview.md
Labels: change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-studio-windows/svc, ui-designers/subsvc

#10352 Add missed close-column pipe
  docs/msbuild/generateresource-task.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10356 Update visual-studio-github-copilot-chat.md
  docs/ide/visual-studio-github-copilot-chat.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, ai-tools/subsvc

#10358 Update copilot-chat-context.md
  docs/ide/copilot-chat-context.md
Labels: change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-studio-windows/svc, ai-tools/subsvc

#10357 Update visual-studio-github-copilot-install-and-states.md
  docs/ide/visual-studio-github-copilot-install-and-states.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, ai-tools/subsvc

#10339 Update remote-debugging-azure-app-service.md
  docs/debugger/remote-debugging-azure-app-service.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10330 Update dotnet-sign-cli-reference-vsix.md
  docs/extensibility/dotnet-sign-cli-reference-vsix.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10362 Fix malformed anchor in headers
  docs/ide/optimize-visual-studio-startup-time.md
  docs/ide/walkthrough-creating-a-multiple-computer-build-environment.md
  docs/modeling/analyze-and-model-your-architecture.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, modeling/subsvc

#10360 Update xaml-hot-reload.md
  docs/xaml-tools/xaml-hot-reload.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, xaml-tools/subsvc
