Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2024-12, with the labels that each got.

#10515 Add new option (-i or --interactive)
  docs/extensibility/dotnet-sign-cli-reference-vsix.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10530 Update how-to-change-fonts-and-colors-in-visual-studio.md
  docs/ide/how-to-change-fonts-and-colors-in-visual-studio.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#10531 Remove VS 2017 from description metadata
  docs/ide/code-styles-and-code-cleanup.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#10517 Update developer-community-privacy.md
  docs/ide/developer-community-privacy.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-studio-windows/svc, general-ide/subsvc
