Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2025-03, with the labels that each got.

#10647 Add keyboard shortcuts to the completions documentation
  docs/ide/visual-studio-github-copilot-extension.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, visual-studio-windows/svc, ai-tools/subsvc

#10656 Fix typo
  docs/azure/vs-azure-tools-connected-services-storage.md
  docs/azure/vs-key-vault-add-connected-service.md
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, visual-studio-windows/svc, installation/subsvc

#10634 Include Roslyn 4.13 in the table.
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10653 Update create-portable-custom-editor-options.md
  docs/ide/create-portable-custom-editor-options.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, visual-studio-windows/svc, general-ide/subsvc

#10673 Fix MSB8088 message in blockquotes
  docs/msbuild/errors/msb8088.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/svc, msbuild/subsvc

#10682 Fix typo
  docs/test/customizing-code-coverage-analysis.md
  docs/test/how-to-create-a-data-driven-unit-test.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/svc, test-tools/subsvc

#10683 Change inline code to code block for better copy friendliness
  docs/msbuild/customize-by-directory.md
Labels: do-not-merge, change sent to author, visual-studio-windows/svc, msbuild/subsvc

#10684 C++ debugging quickstart, potentially confusing section about creating a new project
  docs/debugger/quickstart-debug-with-cplusplus.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, visual-studio-windows/svc, debug-diagnostics/subsvc
