Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2025-01, with the labels that each got.

#10520 Link to non-deprecated package
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10523 Update roslyn-version-support.md
  docs/extensibility/roslyn-version-support.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, extensibility-integration/subsvc

#10528 Change `master` to `main` for GitHub links
  README.md
  docs/code-quality/automatic-feature-suspension.md
  docs/data-tools/create-a-simple-data-application-with-wpf-and-entity-framework-6.md
  docs/debugger/create-custom-views-of-managed-objects.md
  docs/debugger/debug-interface-access/idiaenumsourcelink.md
  docs/debugger/debug-interface-access/idiaenumsourcelink2.md
  docs/debugger/debug-interface-access/idiasessionex-getsourcelinkinfo.md
  docs/debugger/debug-interface-access/idiasymbol10-get-sourcelink.md
  docs/debugger/debug-interface-access/idiasymbol10.md
  docs/debugger/debugging-linq.md
  docs/debugger/project-settings-for-csharp-debug-configurations-dotnetcore.md
  docs/debugger/supported-code-changes-csharp.md
  docs/debugger/viewing-data-in-the-debugger.md
  docs/debugger/visual-cpp-custom-visualizer-compatibility.md
  docs/extensibility/adding-an-lsp-extension.md
  docs/extensibility/best-practices-design-brokered-service.md
  docs/extensibility/getting-started-with-roslyn-analyzers.md
  docs/extensibility/how-to-diagnose-ui-delays-caused-by-extensions.md
  docs/extensibility/roslyn-analyzers-and-code-aware-library-for-immutablearrays.md
  docs/extensibility/visual-cpp-project-extensibility.md
  docs/extensibility/walkthrough-displaying-light-bulb-suggestions.md
  docs/extensibility/workspaces.md
  docs/ide/build-actions.md
  docs/ide/how-to-increase-chances-of-performance-issue-being-fixed.md
  docs/ide/how-to-view-save-and-configure-build-log-files.md
  docs/ide/reference/advanced-build-settings-dialog-box-csharp.md
  docs/ide/reference/project-designer-dotnet-csharp.md
  docs/ide/report-a-problem-perfview-minidumps.md
  docs/ide/visual-cpp-intellisense-configuration.md
  docs/ide/visual-studio-performance-tips-and-tricks.md
  docs/python/defining-custom-python-project-commands.md
  docs/python/python-interactive-repl-in-visual-studio.md
  docs/python/using-python-cookiecutter-templates.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/how-to-use-google-test-for-cpp.md
  docs/test/live-unit-testing-start.md
  docs/test/migrate-testsettings-to-runsettings.md
  docs/test/mstest-update-to-mstestv2.md
  docs/test/vstest-console-options.md
  docs/test/writing-unit-tests-for-c-cpp.md
  docs/xaml-tools/creating-a-ui-by-using-xaml-designer-in-visual-studio.md
Labels: do-not-merge, aq-pr-triaged, review-team-triage, needs-human-review

#10546 Update firewall page to remove outdated reference to incredibuild CDN
  docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, installation/subsvc

#10551 Fix bad command to fix dev drive support
  docs/test/live-unit-testing-faq.yml
Labels: change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-studio-windows/svc, test-tools/subsvc

#10562 Clean up superfluous semicolons
  docs/debugger/debug-interface-access/idiaenumframedata.md
  docs/snippets/cpp/VS_Snippets_Misc/NVC_MFC_VisualStudioDemo/cpp/AppLookDlg.cpp
  docs/snippets/cpp/VS_Snippets_Misc/NVC_MFC_WordPad/cpp/wordpvw.cpp
Labels: change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-studio-windows/svc, debug-diagnostics/subsvc

#10567 Tweaks for Tutorial ASP.NET Core with Angular
  docs/javascript/tutorial-asp-net-core-with-angular.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, javascript-typescript/subsvc

#10568 Update code sample on configure-unit-tests-by-using-a-dot-runsettings-file.md
  docs/test/configure-unit-tests-by-using-a-dot-runsettings-file.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, test-tools/subsvc

#10578 Fix typo
  docker/tutorials/docker-tutorial.md
  docs/extensibility/ux-guidelines/visual-language-dictionary-for-visual-studio.md
  docs/get-started/visual-studio-ide.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#10579 Fix typo
  docs/azure/azure-deployment-using-github-actions.md
  docs/python/overview-of-python-tools-for-visual-studio.md
  docs/version-control/git-resolve-conflicts.md
  gamedev/unity/application-lifecycle-management-alm-with-unity-apps.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio/svc, unity-tools/subsvc

#10558 Update create-portable-custom-editor-options.md
  docs/ide/create-portable-custom-editor-options.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-studio-windows/svc, general-ide/subsvc

#10582 Fix typo
  docs/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger.md
  docs/extensibility/installing-the-visual-studio-sdk.md
  docs/extensibility/the-experimental-instance.md
  docs/extensibility/walkthrough-creating-a-view-adornment-commands-and-settings-column-guides.md
  docs/install/update-visual-studio.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, installation/subsvc

#10583 Fix typo
  docs/javascript/compile-typescript-code-npm.md
  docs/javascript/create-application-with-vuejs.md
  docs/javascript/tutorial-aspnet-with-typescript.md
  docs/javascript/tutorial-nodejs-with-react-and-jsx.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, javascript-typescript/subsvc

#10588 Fix typo
  docs/ide/javascript-intellisense.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, javascript-typescript/subsvc

#10587 Fix typo
  docs/debugger/configure-the-windows-firewall-for-remote-debugging.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, debug-diagnostics/subsvc

#10590 Fix typo
  docs/javascript/create-application-with-vuejs.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, javascript-typescript/subsvc

#10589 Fix typo
  docs/javascript/create-application-with-vuejs.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, javascript-typescript/subsvc

#10591 Fix typo
  docs/msbuild/tutorial-rest-api-client-msbuild.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, msbuild/subsvc

#10594 Fix typo
  docs/ide/reference/options-text-editor-javascript-linting.md
Labels: do-not-merge, change sent to author, qualifies-for-auto-merge, visual-studio-windows/svc, javascript-typescript/subsvc
