Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2025-04, with the labels that each got.

#10688 Adding default note for IncludeTestAssembly in code coverage documentation
  docs/test/customizing-code-coverage-analysis.md
Labels: change sent to author, ready-to-merge, visual-studio-windows/svc, test-tools/subsvc

#10667 Typo in binding-keyboard-shortcuts-to-menu-items.md
  docs/extensibility/binding-keyboard-shortcuts-to-menu-items.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, visual-studio-windows/svc, extensibility-integration/subsvc

#10687 Update `METADATA_ADDRESS_FIELD` struct reference
  docs/extensibility/debugger/reference/metadata-address-field.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, visual-studio-windows/svc, debug-diagnostics/subsvc

#10693 Fix URL
  .openpublishing.redirection.json
  docs/snippets/csharp/VS_Snippets_VSSDK/creatingansdkusingwinrt/cs/winrtmathvsix/sdkmanifest.xml
  docs/snippets/visualbasic/VS_Snippets_VSSDK/creatingansdkusingwinrt/vb/winrtmathvsix/sdkmanifest.xml
Labels: do-not-merge, aq-pr-triaged, review-team-triage, needs-human-review

#10702 Doc update to help with trouble shooting
  docs/javascript/tutorial-asp-net-core-with-react.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, visual-studio-windows/svc, javascript-typescript/subsvc

#10721 Update publish-page-project-designer.md
  docs/ide/reference/publish-page-project-designer.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, visual-studio-windows/svc, deployment/subsvc

#10725 Fix typo
  docs/azure/azure-deployment-using-github-actions.md
  docs/azure/end-to-end-deployment-entity-framework-core-github-actions.md
  docs/containers/container-tools-react.md
  docs/containers/container-tools.md
  docs/containers/hosting-web-apps-in-docker.md
  docs/containers/includes/vs-2019/container-tools.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, visual-studio-windows/svc, container-tools/subsvc
