Repository MicrosoftDocs/visualstudio-docs, pull requests merged in 2025-08, with the labels that each got.

#10983 Update solution-dot-sln-file.md
  docs/extensibility/internals/solution-dot-sln-file.md
Labels: do-not-merge, change sent to author, aq-pr-triaged, visual-studio-windows/svc, extensibility-integration/subsvc

#11009 Fix spelling in `customize-by-directory.md`
  docs/msbuild/customize-by-directory.md
Labels: do-not-merge, change sent to author, visual-studio-windows/svc, msbuild/subsvc

#10977 Enhance MCP server setup instructions in documentation
  docs/ide/mcp-servers.md
Labels: change sent to author, ready-to-merge, aq-pr-triaged, visual-studio-windows/svc, ai-tools/subsvc
